<div class="upgrade-prompt-dialog" style="width: 560px; height: 370px; padding-top:20px">
  <div class="content-wrapper" style="width: 424px; height: 330px; margin-bottom:15px; background-size: contain;">
    <!--<div class="badge escrow-account-safe-upgrade"></div>-->
    <!--<div class="text">您的账户已升级为上海华瑞银行存管账户，请您激活账户</div>-->
  </div>
  <!--<div class="blank-area"></div>-->
  <div class="btns-wrapper" style="width: 380px;">
    <div class="left" style="width: 150px; height: 45px; line-height: 45px; font-size: 16px;" ng-click="onAbout()">了解银行存管</div>
    <div class="right" style="width: 150px; height: 45px; line-height: 45px; font-size: 16px;" ng-click="onActivate()">激活存管账户</div>
  </div>
</div>