<div class="dialog recharge-dialog" ng-class="{true: 'recharge-gift-dialog'}[giftFlag]">
	<div class="success-content">
		<i class="dialog-{{status}}"></i>
		<div class="{{status}}-text">
			<span>{{type}}{{text}}</span>
			<p>{{msg}}<b ng-show="showForgetPwd == true">，请一小时后再试，或<a href="" ng-click="forgetTradeCode()" class="forget">找回密码</a>解锁</b>。</p>
			<a href="" ng-click="closeDialog()">返回</a>
		</div>
	</div>
	<div class="gift-bg">
		<a href="" class="close" ng-click="closeDialog()">×</a>
		<a href="/main/myAccount/myCoupon" class="check" ng-click="closeDialog()">立即查看</a>
	</div>
</div>