@import "../../../../common/style/global.scss";
.wqq-body{
	background: #faf6f2;
	.wqq-header{@include contain('../images/header.jpg');background-position:center center;}
	.wqq-tap-box{width:100%; height: auto;
		.wqq-tap-list-box{width: 100%;background: #cfa972;
			.wqq-tap-list{height:rem-calc(122px,1080);// padding:0 rem-calc(34px,1080);background: #cfa972;
				.wqq-tap-item{
					@include font-size(16px);
					text-align: center;
					float: left;
					font-weight:bold;
					@include size(border-bottom-width,6px);
				    border-bottom-style: solid;
				    border-bottom-color: #6c4409;
					color: #6c4409;
					width:25%;
				}
				.wqq-tap-item-1{
					text-align: center;
					float: left;
					cursor:pointer;
					border-bottom:none;
					color: #fff;
					width:25%;
				}
			}
		}
		.wqq-tap-list-img{width:100%;height:auto;
			img{width:100%;height:100%;margin:0;display: block;}
		}
	}
	.wqq-footer{@include contain('../images/foot.png');background-position:center center;}
}