/* height */
/* public */
body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td {
  margin: 0;
  padding: 0; }

address, cite, em, i {
  font-style: normal; }

html, body, root {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0 auto;
  color: #fff;
  -webkit-appearance: none;
  background: #fff;
  overflow-y: scroll;
  font-family: 'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  color: #878C92; }

li {
  list-style: none; }

html, body {
  max-width: 750px;
  margin: 0 auto; }

a {
  color: #535862;
  text-decoration: none; }

a:hover {
  color: #c40000;
  text-decoration: underline; }

img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"], input[type="submit"], input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: none; }

/* close commented backslash hack */
::-webkit-input-placeholder {
  font-size: .75rem; }

body {
  height: 100%;
  background: #f8f8f8; }

/* public */
input {
  outline: none; }

#app {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #app .child-transition {
    height: 100%;
    -webkit-perspective: 600px; }
  #app .module-scroll {
    height: 100%;
    overflow-y: scroll; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease; }

.fade-enter, .fade-leave-active {
  opacity: 0; }

.child-view {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1); }

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0); }

.main-section {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }
  .main-section.left-endter, .main-section.left-leave-active, .main-section.left-enter-active {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .main-section.left-enter-to, .main-section.left-leave-active {
    position: absolute;
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  .main-section.left-leave-to {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 0; }

.module1, .module2, .module3, .module4, .module5, .child-transition {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }
  .module1.left-leave-active, .module1.left-enter-active, .module2.left-leave-active, .module2.left-enter-active, .module3.left-leave-active, .module3.left-enter-active, .module4.left-leave-active, .module4.left-enter-active, .module5.left-leave-active, .module5.left-enter-active, .child-transition.left-leave-active, .child-transition.left-enter-active {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%); }
  .module1.left-enter-to, .module1.left-leave-active, .module2.left-enter-to, .module2.left-leave-active, .module3.left-enter-to, .module3.left-leave-active, .module4.left-enter-to, .module4.left-leave-active, .module5.left-enter-to, .module5.left-leave-active, .child-transition.left-enter-to, .child-transition.left-leave-active {
    position: absolute;
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  .module1.left-leave-to, .module2.left-leave-to, .module3.left-leave-to, .module4.left-leave-to, .module5.left-leave-to, .child-transition.left-leave-to {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    opacity: 0; }
/* height */
/* public */
.main-section {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul,
ol,
li,
div {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.ft-carousel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ft-carousel .carousel-inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.ft-carousel .carousel-inner .carousel-item {
	float: left;
	height: 100%;
}

.ft-carousel .carousel-item img {
	width: 100%;
}

.ft-carousel .carousel-indicators {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.ft-carousel .carousel-indicators span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	margin: 0 4px;
	border-radius: 50%;
	cursor: pointer;
}

.ft-carousel .carousel-indicators span.active {
	background-color: #de3a3a;
}

/*
.ft-carousel .carousel-btn {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 45px;
	margin-top: -25px;
	cursor: pointer;
}

.ft-carousel .carousel-prev-btn {
	left: 0;
	background: url(../images/prev.png) no-repeat;
}

.ft-carousel .carousel-next-btn {
	right: 0;
	background: url(../images/next.png) no-repeat;
}*/
/* height */
/* public */
.main-box[data-v-35997445] {
  background: url(src/images/bg.jpg?9a16dc63) no-repeat;
  background-size: contain;
  position: relative;
}
.main-box .prize-title[data-v-35997445],
  .main-box .prize-detail[data-v-35997445],
  .main-box .prize-slide[data-v-35997445],
  .main-box .nav[data-v-35997445], .main-box .prev[data-v-35997445], .main-box .next[data-v-35997445],
  .main-box .infulence[data-v-35997445],
  .main-box .spot-slide[data-v-35997445],
  .main-box .program[data-v-35997445] {
    position: absolute;
}
.main-box .prize-title[data-v-35997445] {
    color: #ba1c1d;
}
.main-box .prize-detail[data-v-35997445],
  .main-box .infulence[data-v-35997445] {
    color: #333;
}
.main-box .prize-slide .carousel-item[data-v-35997445] {
    position: relative;
    text-align: center;
}
.main-box .prize-slide .carousel-item div[data-v-35997445] {
      display: inline-block;
      vertical-align: middle;
}
.main-box .prize-slide .carousel-item .pic-1[data-v-35997445] {
      background: url(src/images/slide-1/1.jpg?4baff120) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .prize-slide .carousel-item .pic-2[data-v-35997445] {
      background: url(src/images/slide-1/2.jpg?d68195b4) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .prize-slide .carousel-item .pic-3[data-v-35997445] {
      background: url(src/images/slide-1/3.jpg?e8032064) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .prize-slide .carousel-item .pic-4[data-v-35997445] {
      background: url(src/images/slide-1/4.jpg?90668fde) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .prize-slide .carousel-item .pic-5[data-v-35997445] {
      background: url(src/images/slide-1/5.jpg?103baca9) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .prize-slide .carousel-item[data-v-35997445]:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 100%;
}
.main-box .spot-slide .carousel-item[data-v-35997445] {
    position: relative;
    text-align: center;
}
.main-box .spot-slide .carousel-item div[data-v-35997445] {
      display: inline-block;
      vertical-align: middle;
}
.main-box .spot-slide .carousel-item .pic-1[data-v-35997445] {
      background: url(src/images/slide-2/1.jpg?bcb8cca1) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .spot-slide .carousel-item .pic-2[data-v-35997445] {
      background: url(src/images/slide-2/2.jpg?9e7aab4e) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .spot-slide .carousel-item .pic-3[data-v-35997445] {
      background: url(src/images/slide-2/3.jpg?b83602d8) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .spot-slide .carousel-item .pic-4[data-v-35997445] {
      background: url(src/images/slide-2/4.jpg?4ad1ee45) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .spot-slide .carousel-item .pic-5[data-v-35997445] {
      background: url(src/images/slide-2/5.jpg?128119a1) no-repeat;
      background-size: contain;
      background-position: top center;
      position: relative;
}
.main-box .spot-slide .carousel-item[data-v-35997445]:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 100%;
}
.main-box .nav[data-v-35997445], .main-box .prev[data-v-35997445], .main-box .next[data-v-35997445] {
    background: url(src/images/btn-nav.png?844f1d1a) no-repeat;
    background-size: contain;
}
.main-box .prev[data-v-35997445] {
    transform: rotate(180deg);
}
.main-box .program .title[data-v-35997445] {
    color: #ba1c1d;
}
.main-box .program .detail[data-v-35997445] {
    color: #333;
}
