{% extends "common/main.njk" %}
{% block body %}
<link href="/style/about/drgk.css" rel="stylesheet" type="text/css" inline/>
<link href="/style/about/menu.css" rel="stylesheet" type="text/css" inline/>
<div id='APP' class='about'>
    {% include "./menu.njk" %}
    <div  class="wqq-ysbm-box us">
        <div class="top">
            <div class="icons-box">
                <div><a href="#one">
                    <img src="/images/about/gsjj/icon-one.png" alt=""></a>
                    <p>国资背景</p>
                </div>
                <div><a href="#two">
                    <img src="/images/about/gsjj/icon-two.png" alt=""></a>
                    <p>票据资产</p>
                </div>
                <div><a href="#three">
                    <img src="/images/about/gsjj/icon-three.png" alt=""></a>
                    <!--<p>管理团队</p>-->
                    <p>员工风采</p>
                </div>
                <div><a href="#four">
                    <img src="/images/about/gsjj/icon-fore.png" alt=""></a>
                    <p>多重保障</p>
                </div>
                <div><a href="#five">
                    <img src="/images/about/gsjj/icon-five.png" alt=""></a>
                    <p>公司荣誉</p>
                </div>
                <div style="margin-right: 0"><a href="#six">
                    <img src="/images/about/gsjj/icon-six.png" alt=""></a>
                    <p>合作单位</p>
                </div>
            </div>
        </div>
        <div class="content">
            <ul>
                <!-- 国资背景 -->
                <li id="one">
                    <h1>国资+上市背景</h1>
                    <p>　　多融财富（www.duorongcf.com），隶属于上海银砖金融信息服务有限公司，成立于2015年1月，注册资金1.5亿，总部位于国际金融中心上海。</p><br>
                    <p>　　2016年9月, 中商沪深产业投资有限公司战略入股银砖金融，占股比例为99%。</p>
                    <br>
                    <p>　　2017年12月，成功获得南京银河生物技术有限公司增资控股，占股比例为33.33%，中商沪深产业投资有限公司占股比例调整为66.67%，这标志着多融财富正式跨入“国资+上市控股”理财平台的行列。</p>
                    <br>
                    <p>　　多融财富以专业、严谨、健全的风控体系为基础，对接投融资双方，致力于服务中国实体经济和小微企业，为其发展解决资金需求的同时，满足广大个人用户的投资需求，打造一个安全、透明、专业、高效的综合性投资信息中介服务平台。</p>
                    <!--<div class="img"><img src="/images/about/gsjj/jc.png" alt=""></div>-->
                    <div class="fenge"></div>
                </li>
                <li>
                    <h1>背景介绍</h1>
                    <div class="SANJIAO"><img src="/images/about/gsjj/sanjiao.PNG" alt="">中商沪深产业投资有限公司</div>
                    <p>中商沪深产业投资有限公司是中商沪深资本控股有限公司（隶属于国务院国资委的司局级国家事业单位——商业网点建设开发中心的全资子公司）的全资子公司。中商沪深产业涵盖投资兴办实业、金融服务、供应链管理、保理、贸易等领域，实力雄厚。</p>
                    <br>
                    <div class="SANJIAO"><img src="/images/about/gsjj/sanjiao.PNG" alt="">南京银河生物技术有限公司</div>
                    <p>　南京银河生物技术有限公司为上市公司银河生物全资子公司。银河生物创建于1993年，1998年股票发行上市（股票代码SZ000806），旗下拥有十多家控股公司，业务遍及全国二十多个省市、自治区，多类产品荣获国家、省市科技进步奖和新产品奖，并出口到东南亚及欧美地区。</p>
                    <div class="fenge"></div>
                </li>
                <li id="two">
                    <h1>票据资产</h1>
                    <p>　　银行承兑汇票是由银行开具的到期兑付的书面凭证。根据《票据法》第四十三条、第四十四条规定：付款人承兑汇票，不得附有条件；付款人承兑汇票后，应当承担到期付款的责任。</p>
                    <br>
                    <p>　　商业承兑汇票是由企业签发，委托付款企业在到期日无条件支付给收款人或持票人的票据。根据《票据法》第四十三条、第四十四条、第四十五条规定：付款人承兑汇票，不得附有条件；付款人承兑汇票后，应当承担到期付款的责任；汇票的债务可以由保证人承担保证责任。</p>
                    <div class="img"><img src="/images/about/gsjj/bz.png" alt=""></div>
                    <div class="fenge"></div>
                </li>
                <!-- 管理团队 -->
                <!--<li id="three">
                    <h1>管理团队</h1>
                    <div class="gltd-box">
                            <div class="gltd-desc">
                                <p>　　多融财富高管团队主要来自大型金融控股集团、国内知名互联网金融企业以及国内外一流互联网企业。金融及风控团队均为行业内高水准知名团队成员，对项目的风险评估、项目管控等拥有银行级水准，并与大型金融机构有着良好的战略合作关系。</p>
                                <h2>CEO寄语</h2>
                                <br>
                                <p>　　在多融财富CEO王会敏看来，“互联网+金融“必须以大数据为基础，发展产融结合的互联网金融服务体系将成为未来的主要发展趋势；随着监管体系的完善以及行业自律的提升，“互联网+金融“将会发展的更为强大、稳健。</p>
                                <br>
                                <p>　　作为互联网金融低风险理财市场的新生力量，多融财富背靠大型国企，深挖供应链金融需求，整合国企供应链资源，多行业核心业务。</p>
                                <br>
                                <p>　　根据，“十三五规划”纲要中明确指出的方向&#45;&#45;深化国企改革的根本目的是增强国有经济活力、控制力、影响力、抗风险能力。遵循这一原则，身处2016“互联网+金融“的规范之年，多融财富致力于更好的建立、健全企业责任清单制度，用心打造互联网金融行业的卓越品牌。</p>
                            </div>
                            <div class="gltd-photo">
                                <div class="ceo">
                                    <img src="/images/about/gsjj/ceo.png" alt="">
                                </div>
                                <div class="team">
                                    <img src="/images/about/gsjj/gltd.png" alt="">
                                </div>
                            </div>
                    </div>
                    <div class="fenge"></div>
                </li>-->
                <!-- 管理团队 -->
                <!--<li id="three">
                    <h1>员工风采</h1>
                    <div class="staff-box">
                        <div class="pic-1"></div>&lt;!&ndash;
                     &ndash;&gt;<div class="pic-2"></div>&lt;!&ndash;
                     &ndash;&gt;<div class="pic-3"></div>
                    </div>
                    <div class="fenge"></div>
                </li>-->
                <li id="three">
                    <h1>员工风采</h1>
                    {%include "./staff.njk"%}
                    <div class="fenge"></div>
                </li>
                <!-- 多重保障 -->
                <li id="four">
                    <h1>多重保障</h1>
                    <div class="bz-bigbox">
                        <div class="bz-box">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-one.png" alt=""></div>
                        <div class="bz-con"><h3>背景实力雄厚</h3><p>国资委下属机构控股，专注国企供应链金融。</p></div>
                    </div>
                    <div class="bz-box">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-two.png" alt=""></div>
                        <div class="bz-con"><h3>项目优质安全</h3><p>专注于大型国企商业汇票、银行承兑汇票，均由实力机构进行无条件承兑保证。</p></div>
                    </div>
                    <div class="bz-box" style="margin-right: 0;">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-three.png" alt=""></div>
                        <div class="bz-con"><h3>银行级别风控</h3><p>成熟的风控系统，风控团队对融资企业进行尽职调查，通过国企央企等核心企业确认其上下游供应商的应收账款的真实性及企业经营状况，对融资企业进行严格审核评级。</p></div>
                    </div>
                    <div class="bz-box">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-four.png" alt=""></div>
                        <div class="bz-con"><h3>隐私安全保障</h3><p>设有严格的安全系统以防止未经授权的任何人包括本公司的职员获取客户信息。</p></div>
                    </div>
                    <div class="bz-box">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-five.png" alt=""></div>
                        <div class="bz-con"><h3>技术安全保障</h3><p>应用防火墙和入侵检测系统，系统之间隔离部署、多机房数据备份和容灾，保障系统数据安全；敏感数据采用银行级技术加密，保障用户数据安全；架设多层防火墙，并采用安全套接字（SSL/TLS）技术，切实保障网络传输信道安全高效。</p></div>
                    </div>
                    <div class="bz-box" style="margin-right: 0;">
                        <div class="bz-img"><img src="/images/about/gsjj/dc-six.png" alt=""></div>
                        <div class="bz-con"><h3>法律保障</h3><p>金茂律师事务所作为多融财富战略合作伙伴，将协助多融财富审核、起草、修改相关法律文件，对公司的业务模式进行合规性审查，为公司的合法发展提供法律服务支持，更好的保障借贷双方的合法权益，保障平台的持续健康发展。</p></div>
                    </div>
                    </div>
                    
                    <div class="fenge"></div>
                </li>
                <li id="five">
                    <h1>公司荣誉</h1>
                    <p>多融财富是一家以银行承兑汇票、知名国企商票为主营业务的低风险、高收益的P2B互联网金融资产投资理财服务平台背靠大型国有企业，深入挖掘供应链金融需求，为客户搭建了一个公开透明的创新型互联网金融服务平台。</p>
                    {%include "./honor.njk"%}
                    <div class="fenge"></div>
                </li>
                 
                <li id="six">
                    <h1>合作单位</h1>
                    {%include "./partnerD.njk" %}
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/plug/superSlide.js" inline></script>
<script src='../js/about/drgk.js' inline></script>
<script>
$(".slideBox").slide({
    mainCell:".bd ul",
    autoPlay:true,
    prevCell: '.left-btn',
    nextCell: '.right-btn'
});
</script>
{% endblock %}
