{% extends "common/main.njk" %}
{% block body %}
<link href="style/home/index.css" rel="stylesheet" type="text/css" inline/>
<link href="style/home/hover.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="newHomePage">
    <div id="Wapper">
        <div style="box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);">
            {# banner #}
            {% include "home/banner.njk" %}
            {# 用户相关信息 #}
            {% include "home/userInfo.njk" %}
            {# 保障 #}
            {% include "home/guarantee.njk" %}
            <div class="module gray clearfix" style="background: #f3f3f3;padding-bottom: 22px;border-top: 2px solid #ececec;">
                <div class="middle">
                    {# 公告 #}
                    {% include "home/notice.njk" %}

                    {# 新手产品 #}
                    {% if rookieList.length > 1 %}
                      <div class="bank-box cplist clearfix" style="margin-bottom: 20px;height: 349px;overflow:hidden">                  
                    {% else %}
                      <div class="bank-box cplist clearfix" style="margin-bottom: 20px;height: 174px;overflow:hidden">
                    {% endif %}
                        <div class="leftside">
                          {% if rookieList.length > 1 %}
                            <div class="img1">
                                <div class="fir"></div>
                                <div class="fir-hover"></div>
                            </div>
                             {% else %}
                            <div class="img1-alt">
                                <div class="fir-alt"></div>
                                <div class="fir-hover-alt"></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="rightside">
                            <div class="list clearfix">
                                <div style="height: 348px;border:0px;position:relative">
                                    {# 新手保 #}
                                    {#{% include "home/novice_bao.njk" %}#}
                                    {# 新手体验标{% include "home/novice_experience.njk" %} #}
                                    {# end 新手体验标 #}
                                    {# 新手专享标 #}
                                    {% include "home/new_vip.njk" %}
                                    <div class="right-aside" style="position:absolute;right:0;top:0;">
                                        {% if rookieList.length > 1 %}
                                        <div class="ad hvr-grow" style="height: 349px;">
                                            <a href="{{http}}/other/noviceOnlyEnjoy.html" target="_blank">
                                            <img src='../images/home/ad-big.png'>
                                            </a>
                                        </div>
                                        {% else %}
                                        <div class="ad hvr-grow" style="height: 173px;">
                                            <a href="{{http}}/other/noviceOnlyEnjoy.html" target="_blank">
                                            <img src='../images/home/ad.jpg'>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>                                    
                                    {# end 新手专享标 #}
                                </div>
                            </div>
                        </div>
                    </div>
                    {# end 新手产品 #}
                    {# 定期产品 #}
                    {# % include "home/fixed_product.njk" % #}
                    {# end 定期产品 #}
                    {# p2p #}
                    {% include "home/p2p.njk" %}
                    {# end p2p #}
                </div>
            </div>
            {# 用户心声 #}
            {% include "home/user_voice.njk" %}
            {# 公司新闻 #}
            {% include "home/news.njk" %}

            <div class="module gray clearfix">
                <div class="middle" id="middle">
                    {# 合作单位 #}
                    {% include "home/company.njk" %}
                    {# 友情链接 #}
                    {% include "home/link.njk" %}
                </div>
            </div>
        </div>
    </div>
    {# float-window弹窗 #}
    {% include "home/float_window.njk" %}
</div>
<script>
    var rookieList = {{rookieListString}},
    termHot = {{termHotString}},
    termList = {{termListString}},
    p2pHot = {{p2pHotString}},
    p2pList = {{p2pListString}};

</script>
<script src="js/plug/superSlide.js" inline></script>
<script src="js/plug/highcharts.js" inline></script>
{% include "common/layui.njk" %}
<script src="js/home/index.js" inline></script>
{% endblock %}