<div ng-controller="mainCtrl">
    <!-- 新版欢迎栏 -->
  <div id="Topbar" ng-hide="isLoginPage">
    <div class="middle">
      <div class="sideright">
        <a ng-if="!(a | isRegister).register" href="/zhuce">新人注册</a>
        <a ng-if="!(a | isRegister).register" href="/dl">用户登录</a>
        <a ng-if="(a | isRegister).register" ng-click="gotoLoginPage('myAccount')">{{(a | isRegister).user.userName}}，</a>
        <a ng-show="(a | isRegister).register" ng-click="userOut()" href="#" class="top-quit">退出</a>
        <div class="follow">
          <div class="follow-mod">
            <a ui-sref="appdownload">手机APP</a>
            <div class="con">
              <div class="common-appcode"></div>
              <p>APP下载</p>
            </div>
          </div>
        </div>
        <a href="{{a|webIE8}}help/XSZY.html">新人指引</a>
        <a href="{{a|webIE8}}help/CJWT.html">帮助中心</a>
      </div>
      <div class="sideleft">
        <span>客服热线：<em>{{(a|web).phone}}</em></span>
        <span class="line">|</span>
        <div class="follow">
          <div class="follow-mod">
            <i class="topsina"></i>
            <div class="con">
              <div class="common-dr-sina"></div>
              <p>多融财富</p>
              <a target="_blank" href="http://weibo.com/u/5866519482">加关注</a>
            </div>
          </div>
          <div class="follow-mod">
            <i class="topwechat"></i>
            <div class="con">
              <div class="code-bg"><img src="/main/images/wechat-code.png"></div>
              <div class="tip">扫一扫<br>关注微信号</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 欢迎栏结束 -->

    <!-- 导航 -->
    <div class="header-wrapper">
      <div class="header-wrap">
        <div class="logo-wrap">
          <img src="/main/images/logo.png" ng-click="$state.go('main.home');">
          <span></span>
          <a target="_blank" style="display: block;float: left;cursor: default;">
            <img src="../../main/images/logoo.jpg" alt="">
          </a>
        </div>
        <div class="nav-box">
          <div>
            <ul>
              <li><a ng-class="{true: 'active'}[activeNav == 'home']" ng-click="activeNav = 'home'" href="/main/welcome">首页</a></li>
              <li><a ng-class="{true: 'active'}[activeNav == 'bill']" ng-click="activeNav = 'bill'" href="/main/bankBillList" ng-click="gotoLoginPage('AX')">票据理财</a></li>
              <li><a ng-class="{true: 'active'}[activeNav == 'new']" ng-click="activeNav = 'new'" href="{{a|webIE8}}main/jt2/XSZY?menuName=XSZY">新手指引</a></li>
              <li><a ng-class="{true: 'active'}[activeNav == 'help']" ng-click="activeNav = 'help'" href="{{a|webIE8}}main/jt/guarantee?menuName=guarantee">安全保障</a></li>
              <li><a ng-class="{true: 'active'}[activeNav == 'aboutus']" ng-click="activeNav = 'aboutus'" href="{{a|webIE8}}main/jt/DRGK?menuName=DRGK">关于我们</a></li>
              <li class="account"><a href="/dl" ng-if="!(a | isRegister).register">我的账户</a><a href="/main/myAccount/accountHome" ng-class="{true: 'active'}[activeNav == 'account']" ng-click="activeNav = 'account'" ng-if="(a | isRegister).register"><i class="drop"></i>我的账户</a><div class="con" ng-show="(a | isRegister).register"><div><a href="/main/myAccount/myAssets" ng-click="activeNav = 'account'">我的资产</a><a href="/main/myAccount/myInvest" ng-click="activeNav = 'account'">我的投资</a><a href="/main/myAccount/myCoupon" ng-click="activeNav = 'account'">我的优惠券</a><a href="/main/myAccount/myMsg" ng-click="activeNav = 'account'">我的消息</a></div></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="breakthroughOneBillion-wrapper">
  <div class="one"></div>
  <div class="two"></div>
  <div class="three"></div>
  <div class="four"></div>
  <div class="five"></div>
  <div class="six"></div>
</div>