<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>
        多融财富—专注大型国企供应链金融的互联网金融平台
    </title>
    <style>
        body,html{margin:0;padding:0;background:#f8f8f8}
        a,div,h1,h2,h3,h4,h5,img,li,ul,ul li{margin:0;padding:0;border:none}
        li,ul,ul li{list-style:none}
        .content{padding-top:100px}
        h2{padding:10px;font-size:20px;color:#333;text-align:center}
        h3{padding:10px;margin-bottom:30px;font-size:18px;font-weight:400;color:#333;text-align:center}
        .i-logo{ width:191px; height:55px; margin:0 auto 50px; background:url(../images/logo/logo.png) no-repeat;}
        .logo{width:605px;margin:0 auto}
        .logo a{float:left;width:150px;padding:20px 0;border:1px solid #ccc;border-right:none;text-decoration:none;background:#fff;overflow:hidden}
        .logo a:hover{text-decoration:underline}
        .logo a div{display:block;margin:0 auto 10px;width:80px;height:80px}
        .logo a.last{border-right:1px solid #ccc}
        .logo a .w360{background:url(../images/browser/360.jpg)}
        .logo a .chrome{background:url(../images/browser/chrome.jpg)}
        .logo a .firefox{background:url(../images/browser/firefox.jpg)}
        .logo a .qq{background:url(../images/browser/qq.jpg)}
        .logo a h4{font-weight:400;text-align:center;color:#666;font-size:14px}
        .back{overflow:hidden;clear:both;padding-top:20px;text-align:center}
        .back .home{display:inline-block;padding:2px 15px;background:#1982f7;color:#fff;font-size:12px;text-decoration:none}
    </style>
</head>
<body>
<div class="content">
    <div class="i-logo"></div>
    <h2>
        多融财富提醒您！您的浏览器版本过低，请升级您的浏览器进行查看。
    </h2>
    <h3>
        推荐您使用以下浏览器查看网站：
    </h3>
    <div class="logo">
        <a class="first" href="http://se.360.cn/" target="_blank">
            <div class="w360">
            </div>
            <h4>
                360浏览器
            </h4>
        </a>
        <a class="li" href="http://rj.baidu.com/soft/detail/14744.html" target="_blank">
            <div class="chrome">
            </div>
            <h4>
                谷哥浏览器
            </h4>
        </a>
        <a class="li" href="http://www.firefox.com.cn/download/" target="_blank">
            <div class="firefox">
            </div>
            <h4>
                火狐浏览器
            </h4>
        </a>
        <a class="last" href="http://browser.qq.com/" target="_blank">
            <div class="qq">
            </div>
            <h4>
                QQ浏览器
            </h4>
        </a>
    </div>
    <div class="back">
        <a class="home" href="/">
            回首页
        </a>
    </div>
</div>
</body>
</html>