/* line 2, ../sass/publicity.scss */
.publicity-wrap .loginpage {
  height: 127px;
  background: #e7e7e7;
}
/* line 6, ../sass/publicity.scss */
.publicity-wrap .header-wrap {
  height: auto;
}
/* line 8, ../sass/publicity.scss */
.publicity-wrap .header-wrap .logo-wrap {
  padding-top: 41px;
  cursor: default;
}
/* line 12, ../sass/publicity.scss */
.publicity-wrap .header-wrap .publicity-slogo {
  float: right;
  margin: 32px 10px 0 0;
}
/* line 17, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap {
  width: 100%;
  height: 441px;
  background: #e84a43;
  min-height: auto;
}
/* line 22, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper {
  padding: 0;
  width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 441px;
  background: url('../../images/publicity/banner.png?1462779869');
}
/* line 29, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod {
  position: absolute;
  width: 378px;
  background: #fff;
  border: none;
  border-radius: 0;
  right: 14px;
  top: 14px;
}
/* line 37, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box {
  padding: 0 23px;
}
/* line 39, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .newtitle {
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fe7634;
  font-size: 20px;
  border-bottom: 1px dashed #5f5f5f;
  margin-bottom: 21px;
}
/* line 49, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .input-wrap .name {
  width: 75px;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #383636;
}
/* line 57, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .input-wrap .input-box {
  width: 255px;
  float: left;
}
/* line 60, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .input-wrap .input-box .text {
  width: 233px;
  border-radius: 0;
  border-color: #ddd;
}
/* line 64, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .input-wrap .input-box .text.small-text {
  width: 127px;
}
/* line 70, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .sub-btn {
  width: 332px;
  height: 53px;
  background: #fe7836;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0;
  border: none;
}
/* line 79, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .gotolog {
  font-size: 16px;
  color: #817d7d;
  text-align: right;
  height: 45px;
  line-height: 50px;
  padding-right: 20px;
}
/* line 86, ../sass/publicity.scss */
.publicity-wrap .quick-register-wrap .quick-register-wrapper .quick-register-mod .quick-register-box .gotolog a {
  color: #343434;
  text-decoration: underline;
}
/* line 96, ../sass/publicity.scss */
.publicity-wrap .why-wrap {
  width: 100%;
  background: #ffc989;
  padding: 33px 0 36px;
}
/* line 100, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why {
  width: 1198px;
  background: #fff;
  height: 342px;
  margin: 0 auto;
  border: 1px solid #e6ded6;
}
/* line 106, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why .title {
  width: 379px;
  height: 59px;
  text-align: center;
  line-height: 59px;
  background: #ff9314;
  margin: -1px auto 0;
  position: relative;
  font-size: 24px;
  color: #ffe8cd;
  border-radius: 0 0 18px 18px;
}
/* line 118, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul {
  padding: 19px 0 0 75px;
}
/* line 120, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li {
  float: left;
  width: 549px;
  overflow: height;
  margin-bottom: 29px;
}
/* line 125, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li i {
  float: left;
  width: 108px;
  height: 108px;
  background: url('../../images/publicity/icons.png?1461041928');
  margin-right: 8px;
}
/* line 131, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li i.icon2 {
  background-position: -108px 0;
}
/* line 134, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li i.icon3 {
  background-position: 0 -108px;
}
/* line 137, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li i.icon4 {
  background-position: -108px -108px;
}
/* line 141, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li div {
  float: left;
  padding-top: 13px;
}
/* line 144, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li div span {
  font-size: 26px;
  color: #b36101;
}
/* line 148, ../sass/publicity.scss */
.publicity-wrap .why-wrap .why ul li div p {
  padding-top: 10px;
  font-size: 14px;
  color: #6e6e6e;
}
/* line 159, ../sass/publicity.scss */
.publicity-wrap .mylist {
  width: 100%;
  background: #ffe5c6;
}
/* line 162, ../sass/publicity.scss */
.publicity-wrap .mylist .list-wrap {
  width: 1300px;
  overflow: hidden;
}
/* line 166, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box {
  width: 1200px;
  margin: 0 auto;
}
/* line 169, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list {
  width: 393px;
  height: 587px;
  background: url('../../images/publicity/bg.png?1461052564');
  float: left;
  margin-right: 11px;
}
/* line 175, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .title {
  width: 379px;
  height: 59px;
  margin: 1px auto 0;
  background: #ff4a4a;
  color: #fff;
  font-size: 43px;
  border-radius: 0 0 18px 18px;
  text-align: center;
  line-height: 59px;
}
/* line 186, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list p {
  padding-top: 38px;
  line-height: 36px;
  color: #0d2230;
  font-size: 29px;
  text-align: center;
}
/* line 193, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .rate {
  font-size: 24px;
  text-align: center;
  color: #f00;
  padding-top: 42px;
}
/* line 198, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .rate b {
  font-size: 87px;
}
/* line 200, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .rate b i {
  font-size: 58px;
}
/* line 205, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .limit {
  font-size: 25px;
  color: #000;
  text-align: center;
}
/* line 209, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .limit b {
  font-size: 52px;
  color: #595555;
}
/* line 212, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list .limit b i {
  font-size: 24px;
  color: #777;
}
/* line 218, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list a {
  display: block;
  width: 272px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  color: #ffc65d;
  font-size: 27px;
  background: #fd2626;
  border-radius: 8px;
  margin: 60px auto 0;
}
/* line 229, ../sass/publicity.scss */
.publicity-wrap .mylist .list-box .list a:hover {
  background: #eb1818;
  text-decoration: none;
}
/* line 238, ../sass/publicity.scss */
.publicity-wrap .media-wrap {
  padding: 39px 0 86px;
  width: 100%;
  background: #ffc989;
}
/* line 242, ../sass/publicity.scss */
.publicity-wrap .media-wrap .media {
  width: 1174px;
  margin: 0 auto;
  padding: 0 12px;
  border: 1px solid #e2e1e1;
  background: #fff;
  height: 284px;
}
/* line 249, ../sass/publicity.scss */
.publicity-wrap .media-wrap .media .title {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e3e2e2;
  font-size: 24px;
  color: #0d2230;
  padding-left: 10px;
}
/* line 257, ../sass/publicity.scss */
.publicity-wrap .media-wrap .media .box {
  padding-top: 11px;
  overflow: hidden;
  width: 1200px;
}
/* line 261, ../sass/publicity.scss */
.publicity-wrap .media-wrap .media .box .mod {
  float: left;
  width: 271px;
  margin-right: 29px;
}
/* line 265, ../sass/publicity.scss */
.publicity-wrap .media-wrap .media .box .mod p {
  font-size: 16px;
  color: #313131;
  font-weight: bold;
  text-align: center;
  margin: 0 -20px;
  position: relative;
  padding-top: 6px;
}
/* line 278, ../sass/publicity.scss */
.publicity-wrap .bot {
  height: 107px;
  width: 1200px;
  margin: 35px auto 0;
  background: #61503c;
  position: relative;
}
/* line 284, ../sass/publicity.scss */
.publicity-wrap .bot a {
  position: absolute;
  width: 212px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 21px;
  background: #ff961b;
  border-radius: 4px;
  box-shadow: 3px 3px 0 #ed5c16;
  right: 50px;
  top: 26px;
}
/* line 297, ../sass/publicity.scss */
.publicity-wrap .bot a:hover {
  background: #f18200;
  text-decoration: none;
}
/* line 302, ../sass/publicity.scss */
.publicity-wrap .bot p {
  height: 107px;
  font-size: 35px;
  color: #fff;
  line-height: 107px;
  padding-left: 39px;
}
/* line 308, ../sass/publicity.scss */
.publicity-wrap .bot p span {
  float: left;
}
/* line 311, ../sass/publicity.scss */
.publicity-wrap .bot p i {
  float: left;
  color: #ffd9ad;
  font-style: italic;
  font-size: 36px;
  line-height: 136px;
  margin-right: 20px;
}
/* line 317, ../sass/publicity.scss */
.publicity-wrap .bot p i span {
  font-size: 75px;
  line-height: 107px;
}
/* line 323, ../sass/publicity.scss */
.publicity-wrap .bot p b {
  float: left;
  font-size: 80px;
  color: #ffd9ad;
  margin: 0 5px;
}
/* line 331, ../sass/publicity.scss */
.publicity-wrap .code-wrapper {
  width: 100%;
  height: 200px;
  background: #ffc989;
  margin-top: -50px;
  padding-bottom: 20px;
}
/* line 337, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 20px;
}
/* line 344, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .appcode {
  float: left;
  margin: 25px 0 0 44px;
}
/* line 348, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .wechatcode {
  float: left;
  margin: 25px 0 0 98px;
}
/* line 352, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .tel {
  float: left;
  margin: 60px 0 0 353px;
}
/* line 356, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .tel .number img {
  float: left;
}
/* line 359, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .tel .number div {
  float: left;
  color: #f46e00;
  padding-left: 13px;
  margin-top: -5px;
}
/* line 364, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .tel .number div span {
  font-size: 32px;
}
/* line 367, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .tel .number div p {
  font-size: 12px;
  margin-top: -3px;
}
/* line 374, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .title {
  font-size: 16px;
  color: #333;
  padding-top: 6px;
  width: 106px;
  text-align: center;
}
/* line 381, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box {
  overflow: hidden;
}
/* line 383, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box .app-code-icon {
  float: left;
}
/* line 385, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box .app-code-icon img {
  display: block;
  border: 1px solid #f46e00;
}
/* line 390, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box .app-code-word {
  float: left;
  padding: 29px 0 0 18px;
}
/* line 393, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box .app-code-word p {
  width: 102px;
  height: 23px;
  border: 1px solid #f46e00;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #f46e00;
  line-height: 23px;
}
/* line 402, ../sass/publicity.scss */
.publicity-wrap .code-wrapper .code .code-box .app-code-word p img {
  float: left;
  margin: 3px 5px 0 20px;
}
