{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/CP157-gqSpecial.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="gqSpecial-wrapper">
    <div class="banner">
        <img src="/images/other/CP157-gpSpecial/CP157banner.jpg" alt="" style="width:100%;height:100%;">
        <a href="#one" class="pull"></a>
    </div>
    <div class="content-box" id="one">
        <h2>中商沪深</h2>
        <p>多融财富控股企业母公司简介</p>
        <div class="con-step" >
            <ul>
                <li style="padding-top: 18px;box-sizing: border-box;">
                    <p style="font-size: 20px;">国务院国有资产</p>
                    <p style="font-size: 20px;">监督管理委员会</p>
                </li>
                <div class="step"></div>
                <li style='line-height: 91px;'>中国商业网点建设中心</li>
                <div class="step"></div>
                <li class="bg2" style="padding-top: 24px;box-sizing: border-box;">
                    <p>沪深控股</p>
                    <p>有限公司</p>
                </li>
                <div class="step"></div>
                <li class="bg2" style="padding-top: 24px;box-sizing: border-box;">
                    <p>中商沪深产业投资</p>
                    <p>有限公司</p>
                </li>
                <div class="step"></div>
                <li class="bg2" style="color: #eecf64;font-size: 24px;line-height: 91px;">多融财富</li>
            </ul>
            <p class="step-info">1993年10月11日<br>经中央机构编制委员会办公室批准成立<br>隶属于国务院国有资产监督管理委员会<a href="http://www.china-hshc.com" target="_blank">查看沪深控股官网></a></p>
        </div>
        <div class="con-btm">
            <div class="title">
                <h3>背景介绍</h3>
                <i class="tip"></i>
                <i class="tip rt"></i>
                <span class="line lt"></span>
                <span class="line"></span>
            </div>
            <ul class="text" style="width:1130px;">
                <li style="padding-bottom: 14px;"><span class="start"></span>沪深控股有限公司</li>
                <li style="padding-bottom: 24px;margin-left: 34px;">沪深控股有限公司（原中商沪深资本控股有限公司）是国务院国资委下属商业网点建设开发中心发起设立的全资子公司。主营业务涵盖供应链管理、产业投资及金融服务三大板块。</li>
                <li style="padding-bottom: 14px;"><span class="start"></span>中商沪深产业投资有限公司</li>
                <li style="margin-left: 34px;">中商沪深产业投资有限公司是中商沪深全资子公司，专注于清洁能源、现代农业、健康医疗、文化传媒等领域的产业投资运营。</li>
            </ul>
        </div>
        <a href="#two" class="pull"></a>
    </div>
    <!-- 直击现场轮播图 -->
    <div class="live-photo" id="two">
        <h2>直击现场</h2>
        <p class="title-tip">中商沪深战略控股多融财富新闻发布会</p>
        <div class="photo-box">
            <div class="swiper-container big-img-box  gallery-top bd">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live1.png" alt=""><p>新闻发布会现场-嘉宾签到</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live2.png" alt=""><p>与会嘉宾在主席台落座</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live5.png" alt=""><p>中商沪深资本控股有限公司行政总裁刘琦致辞</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live3.png" alt=""><p>多融财富CEO王会敏致辞</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live4.png" alt=""><p>中商沪深资本控股有限公司风控总监严文强致辞</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live6.png" alt=""><p>冰雕注酒仪式进行中</p></li>
                    <li class="swiper-slide"><img src="/images/other/CP157-gpSpecial/live7.png" alt=""><p>嘉宾在雕刻中商沪深和多融财富Logo的冰雕前合影</p></li>
                </ul>
            </div>
            <div class="img-box hd">
                <span class="prev"></span>
                <div class="gallery-thumbs">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <span class="nt next"></span>
            </div>
        </div>
        <a href="#three" class="pull"></a>
    </div>
    <!-- 媒体提问 -->
    <div class="mediaQA-box" id="three">
        <h2 class="title">媒体提问</h2>
        <p class="title-tip">中商沪深战略控股多融财富新闻发布会</p>
        <div class="QandA">
            <span></span>
            <span class="qq"></span>
            <ul>
                <li class="question">
                    <p>人民网记者问</p>问：刘总，您好，我来自人民网。请问中商沪深为何选择多融财富作为合作伙伴？
                </li>
                <li class="answer">答：这个问题，我想从中商沪深的三个业务板块这个角度谈一谈。中商沪深主营业务涵盖供应链管理、产业投资以及金融服务三大板块。<br>第一、供应链管理的实践，已经超越了管理理论的发展。中商沪深在管理实践的基础上发现，要实现在这一领域的长足发展，必须吸纳新的要素，这个要素就是供应链金融。而多融财富正是一家专注于供应链金融服务的企业。<br>第二、中商沪深是一家资本型企业，在产业投资方面有着广泛布局。互联网金融作为次新兴业态，正从乱象走向规范。我们在这个阶段控股一家互金企业，符合企业的战略布局。<br>第三、中商沪深在金融服务领域的布局和多融财富的业务有较强的互补性，我们在B端拥有大量要素，而多融财富在C端口碑优异。二者的合作，是符合双发发展要求和根本利益的。</li>
                <li class="question">
                    <p>腾讯大申网记者问</p>问:王总，您好，我来自腾讯大申网。能否请您谈一谈中商沪深的控股对多融财富的战略规划有何影响。
                </li>
                <li class="answer" style="margin-bottom: 0">答：市场环境是不断变化的，相关政策也是与时俱进的，因而，多融财富的发展会不断地进行自我调整，但大的发展方向不会改变。多融财富仍将延续既定的发展战略。<br>产品方面，我们仍将专注于国企供应链产品，并依托中商沪深的资源，进一步深耕供应链金融这块沃土；扩大资产来源范围和更深入地融入供应链中去，更好的服务相关企业。 <br>业务方面，我公司将继续专注于线上平台，并根据国家的相关要求，积极进行各种业务的调整与优化，从而做到紧跟国家政策，严守国家规定，做一个健康、合规、安全的平台。<br>无论发展过程中市场发生怎样的变化，为投资人提供安全的交易环境、为客户企业提供优质的服务，将一直是我们企业的宗旨！</li>
            </ul>
        </div>
        <div class="QAimg">
            <ul>
                <li><img src="/images/other/CP157-gpSpecial/qa1.png" alt=""></li>
                <li><img src="/images/other/CP157-gpSpecial/qa2.png" alt=""></li>
                <li><img src="/images/other/CP157-gpSpecial/qa3.png" alt=""></li>
                <li style="margin-right: 0"><img src="/images/other/CP157-gpSpecial/qa4.png" alt=""></li>
            </ul>
        </div>
        <a href="#four" class="pull"></a>
    </div>
    <!-- 媒体报道 -->
    <div class="report-box" id="four" style="width: 100%;height:757px;">
        <h2>媒体报道</h2>
        <p>中商沪深战略控股多融财富新闻发布会</p>
        <div class="media-box">
            <ul>
                <li><a href="http://business.sohu.com/20161010/n469927718.shtml"  target="_blank"><img src="/images/other/CP157-gpSpecial/sohu.png" alt="" style="margin: 68px auto 0;"><br>沪深控股战略控股多融财富 领跑供应链金融</a></li>
                <li><a href="http://sh.qq.com/a/20161011/024493.htm"  target="_blank"><img src="/images/other/CP157-gpSpecial/tx.png" alt=""  style="margin: 100px auto 0;"><br>沪深控股战略控股多融财富 领跑供应链金融</a></li>
                <!--<li><a href="http://economy.china.com/jykx/news/11179727/20161017/23779322.html"  target="_blank"><img src="/images/other/CP157-gpSpecial/zg.png" alt=""  style="margin: 52px auto 0;"><br>沪深控股战略控股多融财富 领跑供应链金融</a></li>-->
                <li style="margin-right: 0"><a href="http://www.sh.chinanews.com/swzx/2016-10-10/12123.shtml"  target="_blank"><img src="/images/other/CP157-gpSpecial/xw.png" alt="" style="width:252px;margin: 85px auto 0;"><br>沪深控股战略控股多融财富 领跑供应链金融</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer-box">
            <div class="lt-info">
                <p>多融财富-国资委下属事业单位控股</p>
                <span>每几分钟就有一个人在多融财富获取超过8%的收益</span>
            </div>
            <div class="code-img"><img src="/images/other/CP157-gpSpecial/erweima.png" alt=""></div>
            <div class="rt-info">
                <a href="/zhuce">立即注册</a>
                <p class="phone-box">
                    <i class="icon"></i>
                    <span>热线电话：</span>
                    <i class="num">4006-908-896</i>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/plug/superSlide.js" inline></script>
<script src="/js/other/CP157-gqSpecial.js" inline></script>
{% endblock %}
