{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/escrowAdv.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="escrowAdv">
    <div class="page-wrapper">
        <div class="top-bar"></div>
        <div class="advocate"></div>
        <div class="diagram"></div>
        <div class="what-adv"></div>
        <div class="detail-adv"></div>
        <div class="background">
            <div class="row-1">
                <div class="left">
                    <span>● 资质雄厚：</span><br><br>上海华瑞银行是我国首批、上海首家民营银行<br><br>上海华瑞银行是上海自贸区首家法人银行<br><br>上海华瑞银行是全国最早开展平台存管业务的银行
                </div>
                <div class="right">
                    <span>● 优质体验：</span><br><br>操作方便快捷、系统扩展力强、资金安全稳定、提现快速高效
                </div>
            </div>
            <div class="row-2">
                <div class="blk-1">
                    <span>● 国资委下属事业单位控股：</span><br><br><div>　多融财富由国资委旗下-沪深控股战略控股，占股比例为99%</div>
                </div>
                <div class="blk-2">
                    <span>● 优质资产：</span><br><br><div>　多融财富的项目均为国企签发的商票或银行承兑汇票，通过多方严格审核，确保票据真实、合规、有效，票据资产由银行或国企承诺无条件兑付。</div>
                </div>
                <div class="blk-3">
                    <span>● 严格风控：</span><br><br><div>　多融财富自上线以来，一直保持着 0 坏账、 0 逾期的记录，是超过34万用户的放心之选。</div>
                </div>
            </div>
        </div>
        <div class="news-report"></div>
        <div class="link-box">
            <a class="one" href="http://focus.21cn.com/society/a/2017/0720/15/32515999.shtml" target="_blank"></a>
            <a class="two" href="http://invest.china.com.cn/quyu/2017/zhihuichengshi_0720/123553.html" target="_blank"></a>
            <a class="three" href="http://info.finance.hc360.com/2017/07/201513377154.shtml" target="_blank"></a>
        </div>
        <div class="qa-header"></div>
        <div class="qa-box">
            <div class="center-area">
                <div class="tab-row">
                    <div class="tab-item t0" @click="onGetFocus(0)">存管攻略</div>
                    <div class="tab-item t1" @click="onGetFocus(1)">常规问题</div>
                    <div class="tab-item t2" @click="onGetFocus(2)">充值问题</div>
                    <div class="tab-item t3" @click="onGetFocus(3)">投资问题</div>
                    <div class="tab-item t4" @click="onGetFocus(4)">提现问题</div>
                </div>
                <div class="qa t0">
                    <div class="qa-item">
                        <div class="q"><span>●</span>银行存管模式</div>
                        <p>银行存管模式下，实现资金与交易的分离、信息流与现金流的分离。借款人和投资人之间的交易发生在双方的银行账户之间，并由上海华瑞银行对用户资金进行监督管理。<br>平台的每一位用户都将在上海华瑞银行的存管系统内拥有一个专属的交易资金管理账户，实现分账管理，用户网贷交易过程资金通过银行存管系统进行结算，标的信息也会在存管银行进行登记。
                        </p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>银行存管优势</div>
                        <p>1、没有资金池<br>　　用户在资金存管银行有专门的独立资金存管帐户，由资金存管银行对资金进行管理与监督，平台无法触碰用户资金。<br>2、不触碰用户资金<br>　　用户账户信息由资金存管银行进行管理，资金交易均由用户授权银行才可操作执行。<br>3、交易信息报送银行<br>　　资金交易环节均在银行系统中进行，银行根据合同约定及用户发出的交易指令，对交易流程进行管理并记录用户资金流水。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>银行存管意义</div>
                        <p>1、积极拥抱监管<br>　　《网络借贷信息中介机构业务活动管理暂定办法》以及《网络借贷资金存管业务指引》发布后，银行存管成为衡量网贷平台合规性的首要标准。<br>2、资金安全升级<br>　　接入存管实现了用户资金与平台隔离，进一步保证资金安全。<br>3、提升平台实力<br>　　多融财富与华瑞银行成功对接存管，全方位保障了用户的资金安全，进一步提升了平台的实力。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>为什么选择上海华瑞银行</div>
                        <p>上海华瑞银行股份有限公司，简称“上海华瑞银行”，是我国首批、上海首家民营银行。为了有效保障用户的资金安全，同时给用户提供优质的产品体验，多融财富经过综合考虑，选择与技术能力突出、注重用户体验的上海华瑞银行进行战略合作。</p>
                    </div>
                </div>
                <div class="qa t1">
                    <div class="qa-item">
                        <div class="q"><span>●</span>银行存管上线后，有哪些银行卡支持绑定？</div>
                        <p>可支持15家银行进行绑卡或网银充值。包含：工商银行、农业银行、中国银行、建设银行、邮储银行、招商银行、兴业银行、广发银行、平安银行、中信银行、华夏银行、光大银行、浦发银行、民生银行、交通银行。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>我现在绑定的卡不是上海华瑞银行支持的银行，怎么办？</div>
                        <p>如您绑定的卡不是上海华瑞银行所支持的银行卡，则请您联系客服提供资料，为您审核后解绑银行卡，更改成功后您可以继续进行开户/激活操作。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>为什么我开户不成功？</div>
                        <p>开户过程中，由于银行存管与公安系统联网，将需要您提供实名身份信息，如实名身份信息不一致会导致无法通过。可能的原因包含但不限于：<br>（1）曾经改过名字；<br>（2）名字中带有繁体字；<br>（3）做过户籍变动；<br>（4）军人转业、复员换的身份证；<br>（5）港澳台用户；<br>（6）18周岁以下用户；<br>如开户未通过，请在08:30—20:30联系在线客服或拨打客服热线4006-908-896由客服人员为您查询确认。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>如果操作过程中提示信息有误怎么办？</div>
                        <p>对接银行存管之后，多融财富和上海华瑞银行会对接您的信息，信息正确才可正常开通存管账户，若您的个人信息存在填写有误或不完善的情况，系统会提示您进行信息完善。若您的问题得不到解决，请在08:30—20:30联系在线客服或拨打客服热线400-690-8896由客服人员为您查询确认。</p>
                    </div>
                </div>
                <div class="qa t2">
                    <div class="qa-item">
                        <div class="q"><span>●</span>为什么充值失败？</div>
                        <p>以下情况将会造成充值失败：<br>（1）您输入的银行卡号或交易密码错误；<br>（2）您的银行卡的余额不足导致充值失败；<br>（3）您的银行卡或已过期、作废、挂失；<br>（4）您的银行卡未开通网上银行，请前往银行柜台或通过银行官网进行开通；<br>（5）您的账户状态异常也可能失败，建议您完善您的账户信息；<br>（6）银行数据传输异常，导致订单超时等情况，需要刷新页面重新操作；<br>（7）超过银行充值限额，请联系银行查询及更改支付额度；<br>如非以上情况，请在08:30—20:30联系客服为您核查具体原因。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>为什么PC上点击充值提现跳转到了其他网站？</div>
                        <p>接入上海华瑞银行后，多融财富不触碰用户资金，充值、提现交易是在上海华瑞银行存管的体系中完成。</p>
                    </div>
                </div>
                <div class="qa t3">
                    <div class="qa-item">
                        <div class="q"><span>●</span>投资后什么时候开始计息？</div>
                        <p>从投资成功后的第二天开始计息。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>存管上线后，还能使用优惠券吗？</div>
                        <p>可以正常使用。</p>
                    </div>
                </div>
                <div class="qa t4">
                    <div class="qa-item">
                        <div class="q"><span>●</span>银行存管上线后，提现会有什么影响？</div>
                        <p>上海华瑞银行会在收到申请的当日受理，次日到账。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>我刚申请提现，可以撤销吗？</div>
                        <p>由于提现申请是交给银行处理的，您成功提交提现申请后，暂不支持撤销提现申请。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>提现申请显示：提现待处理是什么意思？</div>
                        <p>提现待处理可能有2种情况：<br>（1）您的这笔提现已提交银行，正在为您处理中；<br>（2）您的这笔提现未提交银行，稍后解冻后您可以再次发起申请。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>为什么提现申请失败？</div>
                        <p>造成您提现失败的原因可能有以下几种：<br>
                            （1）未通过实名认证；<br>（2）未完成银行开户；<br>（3）银行卡开户人姓名和实名认证姓名不一致；<br>（4）银行开户行信息错误；<br>（5）银行账号/户名错误，或是账号和户名不符；<br>（6）使用信用卡提现；<br>（7）银行账户冻结或正在办理挂失；<br>如果遇到以上情况，银行将直接反馈转账失败的原因，您可以登录账户查询并完善您的相应信息，同时也将解除您的资金冻结，请您不必担心资金安全，稍后重新提交提现申请即可。</p>
                    </div>
                    <div class="qa-item">
                        <div class="q"><span>●</span>提现密码是什么？</div>
                        <p>提现密码是在提现时需要用到的密码，提现密码默认同您在您开户、激活时设置的交易密码。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/other/escrowAdv.js" inline></script>
{% endblock %}
