{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/guhuaDafuweng.css" rel="stylesheet" type="text/css" inline/>
<div id="APP">
    <div class="dafuweng">
        <div class="banner">
        </div>
        <div class="saosao">
        </div>

        <div class='activity'>
            <div class='middle'>
                <dl>
                    <dd><i></i><h2>活动时间：即日起</h2></dd>
                    <dt></dt>
                </dl>
                <dl>
                    <dd><i></i><h2>20天以下投资期限产品不参加本活动。</h2></dd>
                    <dt></dt>
                </dl>
                <dl>
                    <dd><i></i><h2>如何获取骰子？</h2></dd>
                    <dt>
                        1、活动期间，每日登录活动页面可免费获得1个掷骰子机会（单骰子）。<br>
                        2、单笔投资每满5000元可获得1次掷骰子机会，如单笔投资20000元即获得4次机会，以此类推。其中：投资20天≤产品期限＜90天产品，掷骰子机会为单骰子；投资产品期限≥90天的产品，掷骰子机会为双骰子。<br>
                        3、走到地图中带<i class='i-do'></i>图标的步数，获得一次机会。</dt>
                </dl>
                <dl>
                    <dd><i></i><h2>掷骰子可以获得什么奖励：</h2></dd>
                    <dt>
                        每掷一次骰子，即走对应的步数，每一步都有奖励，永不落空<br>
                        奖品包括：红包、加息券、积分，额度随机出现，具体使用条件以实际获得为准<br>
                        红包加息券将即时发放到您的多融账户，可登录多融理财APP或官网查看</dt>
                </dl>
                <dl>
                    <dd><i></i><h2>关于大富翁排行榜：</h2></dd>
                    <dt>
                        根据所有参与活动用户累计走的步数进行排名：
                        <br>
                        分周榜、月榜2类，奖品为积分、红包、加息券等，具体奖品参见 “大富翁排行榜” “积分兑换” ；<br>
                        榜单实时更新，数据仅供参考，具体奖品按每期活动公示为准，实际获奖名单以每周/每月最后1天23:59:59为准
                    </dt>
                </dl>
                <dl>
                    <dd><i></i><h2>关于积分</h2></dd>
                    <dt>
                        <h3>如何获得积分？</h3>
                        <p>
                            1、大富翁每完成1圈可获得20积分<br>
                            2、走到特定的步数获得对应积分<br>
                            3、获得大富翁排行榜周榜或月榜名次
                        </p>
                        <h3>积分有什么用？</h3>
                        <p>
                            积分可至 “积分兑换” 栏目查看并兑换奖品，兑换的奖品将于每月月初15个工作日内发放上月奖品
                        </p>
                    </dt>
                </dl>
                <dl>
                    <dd><i></i><h2>如发现并核实作弊行为，多融财富有权取消该用户获奖资格</h2></dd>
                    <dt></dt>
                </dl>
            </div>
        </div>
        <div class="activity-footer"></div>
        <div class="dafuweng-box duorongSelect ">
            <div class="title">
                为什么选择多融
            </div>
            <div class="content">
                <ul>
                    <li class="img1">
                        <div class="img">
                        </div>
                        <div class="text">
                            <h2>
                                国企控股
                            </h2>
                            <p>
                                大型国企中商沪深控股
                            </p>
                        </div>
                    </li>
                    <li class="img2">
                        <div class="img">
                        </div>
                        <div class="text">
                            <h2>
                                资金安全保障
                            </h2>
                            <p>
                                历史到期产品100%本息兑付，安全可靠
                            </p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="img3">
                        <div class="img">
                        </div>
                        <div class="text">
                            <h2>
                                票据100%承兑
                            </h2>
                            <p>
                                所有票据来源于银行与大型国企，100%无条件承兑
                            </p>
                        </div>
                    </li>
                    <li class="img4">
                        <div class="img">
                        </div>
                        <div class="text">
                            <h2>
                                专业律所全程支持
                            </h2>
                            <p>
                                专业律所全程保驾护航
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="honor-box duorongHonor ">
            <div class="title ng-binding">
                多融荣誉
            </div>
            <div class="content">
                <ul>
                    <li>
                        <div class="img">
                            <img src="/images/common/certificate/img1.png"/>
                        </div>
                        <h2>
                            多融财富荣膺
                        </h2>
                        <p>
                            “2016中国最佳诚信示范金融企业”
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/images/common/certificate/img2.png"/>
                        </div>
                        <h2>
                            多融财富荣膺
                        </h2>
                        <p>
                            “中国互联网金融行业AAA级信用企业”
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/images/common/certificate/img3.png"/>
                        </div>
                        <h2>
                            多融财富荣获
                        </h2>
                        <p>
                            “可信网站验证单位”
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/images/common/certificate/img4.png"/>
                        </div>
                        <h2>
                            多融财富荣获
                        </h2>
                        <p>
                            “中国信用企业认证体系示范单位”证书
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}