{% extends "common/main.njk"%}
{% block body%}
<link href="/style/other/open.css" rel="stylesheet" type="text/css" inline/>
<div class='wrap' id="APP">
    <div class='banner'></div>
    <div class='content'>
        <div class='winter1'>
            <p>又是一年冷冬季<br>
                有这样一群孩子 <br>
                他们身处贫困地区<br>
                家徒四壁无处御寒 <br>
                在寒冬漫漫里单衣蔽体<br>
                一个个瘦弱蜷缩的身体<br>
                一双双冻裂生痔的双手<br>
                ......<br>
                对于他们来说，冬天太难熬了<br>
            </p>
        </div>
        <div class='rightpic'></div>
        <div class='plan'></div>
        <div class='who'>
            <div class='whotitle'>他们是谁？</div>
            <div class='whocontent'>
                青海民和县满坪镇浪塘教学点的<br>
                <span class='whofont'>154名</span> 贫困儿童<br>
                其中<span class='whofont'>80%</span>为留守儿童<br>
                这里冬天平均最低温度可达到<span class='whofont'>-20°</span><br>
                最高温度仅有<span class='whofont'>-5°</span><br>
                居住地点最近的离乡镇1公里<br>
                最远的离乡镇<span class='whofont'>45公里</span><br>
            </div>
        </div>
    </div>
    <div class='wuzititle'></div>
    <div class='wuzipic'></div>
    <div class='juanzeng'>
        <div class='juanzengleft slideBox' id='slideBox'>
            <div class='prev btnLeft left-btn'></div>
            <div class='next btnRight right-btn'></div>
            <div class='bd'>
                <ul>
                    <li><img src='../images/other/openWinter/j1.jpg'></li>
                    <li><img src='../images/other/openWinter/j2.jpg'></li>
                    <li><img src='../images/other/openWinter/j3.jpg'></li>
                    <li><img src='../images/other/openWinter/j4.jpg'></li>
                    <li><img src='../images/other/openWinter/j5.jpg'></li>
                    <li><img src='../images/other/openWinter/j6.jpg'></li>
                    <li><img src='../images/other/openWinter/j7.jpg'></li>
                    <li><img src='../images/other/openWinter/j8.jpg'></li>
                    <li><img src='../images/other/openWinter/j9.jpg'></li>
                    <li><img src='../images/other/openWinter/j10.jpg'></li>
                    <li><img src='../images/other/openWinter/j11.jpg'></li>
                    <li><img src='../images/other/openWinter/j12.jpg'></li>
                </ul>
            </div>

        </div>
        <div class='juanzengright'>
            <div class='juantitle'>捐赠仪式</div>
            <div class='juanCon'>12月5日10：00，全校师生齐聚操场，“暖冬计划”捐赠仪式正式开始。在学校的组织安排下，孩子们排好队伍，井然有序的上前领取自己急需的过冬物资。</div>
            <div class='juantitle'>获赠锦旗</div>
            <div class='juanCon'>捐赠仪式结束后，校长对多融财富扶贫济困的大爱情怀表示了敬意和感谢，并将题有“捐资助学·大爱无边”的锦旗赠予多融财富。</div>
        </div>
    </div>
    <div class='zoufangtitle'></div>
    <div class='zoufangcon'>
        <div class='prev btnLeft zouleft'></div>
        <div class='next btnRight zouright'></div>
        <div class='bg'>
            <ul>
                <li><img src="../images/other/openWinter/zou1.png" alt=""/></li>
                <li><img src="../images/other/openWinter/zou2.png" alt=""/></li>
                <li><img src="../images/other/openWinter/zou3.png" alt=""/></li>
            </ul>
        </div>
        <div class='hb'>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
   <div  class='jieshi'>多融财富爱心代表向两位学生捐赠了1000元助学金以及书包、文具，芭比娃娃等礼物，鼓励她们好好学习，
       不要轻易放弃，要自强自立，热爱生活。
   </div>
    <div class='seven'>
        <div class='sevenLeft'>
            <div class='seventitle'></div>
            <div class='sevenCon'>
                学校总共有7个班级，却只有8个老师。1个老师要负责教很多课程，每个老师每天至少要上6堂课。由于学校的老师太少，而学生又太多，很多学生没有老师上课的时候只能自学。
            </div>
        </div>
        <div class='sevenright'>
            <div class='prev btnLeft sevenleftbtn'></div>
            <div class='next btnRight sevenrightbtn'></div>
            <div class='sevenimg'>
                <ul>
                    <li><img src="../images/other/openWinter/s1.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s2.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s3.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s4.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s5.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s6.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s7.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s8.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s9.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s10.jpg" alt=""/></li>
                    <li><img src="../images/other/openWinter/s11.jpg" alt=""/></li>
                </ul>
            </div>
            <div>图为一年级的孩子们暂时没有老师上课，只能搬着小板凳在操场上自学，多融财富的爱心代表和孩子们热情互动</div>
        </div>
    </div>
    <div class='mediatitle'></div>
    <div class='meda'>
        <div class='tv'>
            <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=v0517ehkjwh&auto=0" allowFullScreen="true" quality="high" width="875" height="525" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
        </div>
    </div>
    <div class='ceotitle'></div>
    <div class='ceocon'>
        <div class='ceoimg'></div>
        <div class='pco'>企业履行社会责任，不在于财力厚薄、能力大小，关键是要有这颗心，时时放在心上，时时用心尽力，当每一个人都参与其中，就能形成“人人参与扶贫，个个贡献力量”的新局面。</div>
        <div class='pco'> 在此，我们也呼吁更多的爱心企业和爱心人士加入我们，让这个社会多一份关爱，让孩子们的寒冬多一份温暖！</div>
        <div style='text-align: right'>——多融财富CEO &nbsp;&nbsp 王会敏</div>
    </div>
    <div class='footer'></div>
</div>
<script src="/js/plug/superSlide.js" inline></script>
<script src="/js/other/winter.js" inline></script>
{% endblock%}