{% extends "common/main.njk"%}
        {% block body%}
        <link href="/style/other/sense.css" rel="stylesheet" type="text/css" inline/>
        <div class='wrap' id="APP">
        <div class='banner'></div>
        <div class='content1'>
                <div class='content'>
                      <div class='titleleft'>
                              <div class='title'></div>
                              <div class='titcon'>2017年12月17日，由星空卫视、深圳市创新企业社会责任促进中心联合主办的“2017中华企业社会责任高峰论坛”在深圳召开。政府领导、学术界专家、权威媒体以及行业知名企业代表齐聚一堂，共同探讨了“新时代背景下的企业社会责任、企业扶贫攻坚”等热门话题。</div>
                              <a href="http://www.duorongcf.com/about/newsDetail/XWXQ_html_202.html?t=0" class='link' target="_blank">详情&gt;</a>
                      </div>
                      <div class='contentRight'>
                              <div class='imgbox'>
                                      <div class='box'>
                                              <ul style='margin-top: 32px;'>
                                                      <li><img src="../images/other/sense/p1.jpg" alt=""/></li>
                                                      <li><img src="../images/other/sense/p2.jpg" alt=""/></li>
                                                      <li><img src="../images/other/sense/p3.jpg" alt=""/></li>
                                                      <li><img src="../images/other/sense/p4.jpg" alt=""/></li>
                                                      <li><img src="../images/other/sense/p5.jpg" alt=""/></li>

                                              </ul>
                                      </div>
                                      <div class='page'>
                                              <ul>
                                                      <li></li>
                                                      <li></li>
                                                      <li></li>
                                                      <li></li>
                                                      <li></li>
                                              </ul>
                                      </div>
                              </div>
                      </div>
                </div>
        </div>
        <div class='content2'>
                <div class='con'>
                        <div class='rtitle'>2017中华企业社会责任榜</div>
                        <p>2017中华企业社会责任榜首次在深圳发布，多位公益界大咖携手各行业优秀企业共同见证、推动企业社会责任在中国的发展和传播。其评奖体系不仅仅关注企业的捐赠额度，而是从多个维度考量企业履行社会责任的方式，旨在通过企业在责任模式、责任制度、责任方式、责任行为等创新，全景式呈现新企业、新责任的可发展之路，寻找本年度的典范。</p>
                        <div class='chongshen'></div>
                        <div class='progress'>
                                <div class='progressline'></div>
                                <div class='progressbtitle'>榜单评选流程 </div>
                        </div>
                        <div class='plittle'>1\ 企业报名</div>
                        <div class='progressLc'>企业通过自荐、媒体或相关机构推荐并填写参选报名表的方式参与，同时，组委会将分行业向规模最大的国内企业发出参选邀请</div>
                        <div class='plittle'>2\ 问卷调查</div>
                        <div class='progressLc'>参选企业详细完整的填写调研问卷，提交的文件、政策制度、报告、公开信息。第三方评选机构将对以上资料信息进行分析和评
                                判，为榜单提供客观依据</div>
                        <div class='plittle'>3\ 入围审核</div>
                        <div class='progressLc'>专家指导委员会对拟上榜企业的名单进行审核确认后，提交组委会做最终审核。组委会审核并最终确认入选企业
                        </div>
                        <div class='plittle'>4\ 揭晓颁奖</div>
                        <div class='progressLc'>各类榜单以及奖项的最终揭晓，并举办颁奖盛典</div>
                </div>
        </div>
        <div class='content3'>
                <div class='con'>
                      <div class='gongyibig'>公益路上不停步</div>
                      <div class='gongyilittle'>不分大小  不分界限</div>
                        <div class='fonting'></div>
                        <div class='xin'></div>
                        <div class='ganyan'>
                                如果说公益是一条路<br>
                                那么所有为此付出的企业和个人都是这条路上的铺路石<br>
                                多融财富愿意做一颗平凡的铺路石<br>
                                在这条大爱的道路上踏着坚定的脚步越走越远<br>
                                为更多需要帮助的人送去温暖和爱心   <br>
                        </div>
                </div>
        </div>
        </div>
        <script src="/js/plug/superSlide.js" inline></script>
        <script src="/js/other/sense.js" inline></script>
        {% endblock%}