.breakthroughOneBillion-wrapper{ 
	background:#fff;height:500px;
	.one{
		width:100%;height:534px;
		background:url('../images/one.png') center top no-repeat;
	}
	.two{
		width:100%;height:355px;
		background:url('../images/two.png') center top no-repeat;
	}
	.three{
		width:100%;height:351px;
		background:url('../images/six.png') center top no-repeat;
	}
	.four{
		width:100%;height:480px;
		background:url('../images/three.png') center top no-repeat;
	}
	.five{
		width:100%;height:643px;
		background:url('../images/four.png') center top no-repeat;
	}
	.six{
		width:100%;height:645px;
		background:url('../images/five.png') center top no-repeat;
	}
}