@import "~antd/dist/antd.less";
@import './theme-file.less';
/*"plugins": [
[
"import",
{
"libraryName": "antd",
"libraryDirectory": "es",
"style": true
}
]
]*/

.table-vertical{
	display: flex;
	flex-direction: column;
}
@flex-auto: auto;

#root {
	&:extend(.table-vertical);
	width: 100%;
	height: 100%;
}

//头部样式
.header {
	position: relative;
	z-index: 1;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	background:#fff;
	.logo {
		width: 180px;
		height: 31px;
		line-height: 31px;
		margin: 13px 28px 0;
		float: left;
		color: #1ab394;
		text-align: center;
		font-size: 16px;
	}
	.top-silder {
		float: right;
	}
	.ant-menu-horizontal{
		border-bottom:none;
	}
}

//左侧样式
.ant-layout-sider {
	/*background:#363636;*/
	.menuNav {
		height: 60px;
		color: #fff;
		padding-left: 25px;
		font-size: 20px;
		background-color: #1a2229;
		box-sizing: border-box;
		.icon{
			float:left;
			font-size:25px;
			margin-right:15px;
			padding-top:17px;
		}
		.text{
			padding-top:11px;
			line-height: 20px;
			overflow:hidden;
			h2{
				margin:0;
				color:#fff;
				font-size:16px;
			}
			p{
				font-size:12px;
				color:rgba(255,255,255,.6);
			}
		}
	}
	.ant-menu-dark{
		.ant-menu-sub{
			box-shadow:none;
		}
	}
}

/*右侧*/
.ant-layout-content{
	&:extend(.table-vertical);
	.article-content{
		flex:@flex-auto;
		&:extend(.table-vertical);
	}
}
.breadcrumb{
	padding:10px 15px;
	line-height: 45px;
}
.top-edit{
	margin-top: 15px;
	margin-bottom: 15px;
	height: 46px;
	line-height: 46px;
}
/* 盒子 */
.horizontal-box{
	&:extend(.table-vertical);
	flex-direction: row;
	.gap{
		margin-right:15px;
	}
}
.com-box{
	flex:@flex-auto;
	&:extend(.table-vertical);
	&.fixed{
		position:fixed;
		z-index: 999;
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:100%;
		height:100%;
		&:extend(.table-vertical);
	}
	.title{
		height:40px;
		line-height:40px;
		padding:0 15px;
		color:#fff;
		background-color:#242a30;
		.edit{
			float:right;
		}
	}
	.content{
		&:extend(.table-vertical);
		overflow: hidden;
		transition-duration:.3s;
		flex:@flex-auto;
		background:#fff;
		&.plus-circle{
			height: 0;
			overflow: hidden;
		}
	}
	//table
	.table-list{
		flex:@flex-auto;
		margin: 0 15px 15px;
		overflow-y:auto;
	}
}
/*表单*/
.ant-form {
	.ant-form-item{
		.ant-btn{
			margin-top:-3px;
			vertical-align: middle;
		}
	}
}
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
	background:#f8f8f8;
}
