
//头部样式
.header{
	background:#007be8;
	.logo {
		width: 180px;
		height: 31px;
		line-height:31px;
		margin: 16px 28px 16px 0;
		float: left;
		color:#fff;
		text-align:center;
		font-size:25px;
		text-shadow: 0 0 5px #fff;
	}
	.top-silder{
		float:right;
	}
	.ant-dropdown-link{
		color:#fff;
		cursor:pointer;
	}
	.ant-menu-dark.ant-menu-horizontal{
		background:#007be8;
	}
}
//左侧样式
.ant-layout-sider{
	background:#363636;
	.menuNav{
		height:45px;
		line-height:45px;
		color:#fff;
		padding-left:25px;
		font-size:18px;
		background-color:#d20000;
		background: linear-gradient(to bottom, #353535, #232323);
		.menuNav-jian{
			float: right;
			width:0;
			height:0;
			margin-top: 10px;
			border-top:12px solid transparent;
			border-bottom:12px solid transparent;
			border-right: 15px solid #f0f2f5;
		}
	}
	.ant-layout-sider-children{
		height:auto;
	}
	.ant-menu{
		background: #363636;
		.ant-menu-submenu{
			&:not(:last-child){
				.ant-menu-submenu-title{
					box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset;
				}
			}
			.ant-menu-sub{
				background: rgba(0,0,0,.1);
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25) inset;
			}
			&.ant-menu-submenu-open{
				.ant-menu-submenu-title{
					box-shadow:none;
				}
			}
		}
	}
}