<div ng-controller="mainCtrl">
    <!-- 新版欢迎栏 -->
    <div id="Topbar" ng-hide="isLoginPage">
        <div class="middle">
            <div class="sideright">
                <a href="/zhuce" ng-if="!(a | isRegister).register">
                    新人注册
                </a>
                <a href="/dl" ng-if="!(a | isRegister).register">
                    用户登录
                </a>
                <a ng-click="gotoLoginPage('myAccount')" ng-if="(a | isRegister).register">
                    {{(a | isRegister).user.userName}}，
                </a>
                <a class="top-quit" href="#" ng-click="userOut()" ng-show="(a | isRegister).register">
                    退出
                </a>
                <div class="follow">
                    <div class="follow-mod">
                        <a ui-sref="appdownload">
                            手机APP
                        </a>
                        <div class="con">
                            <div class="common-appcode">
                            </div>
                            <p>
                                APP下载
                            </p>
                        </div>
                    </div>
                </div>
                <a href="{{a|webIE8}}help/XSZY.html">
                    新人指引
                </a>
                <a href="{{a|webIE8}}help/CJWT.html">
                    帮助中心
                </a>
            </div>
            <div class="sideleft">
                <span>
                    客服热线：
                    <em>
                        4006-908-896
                    </em>
                </span>
                <span class="line">
                    |
                </span>
                <div class="follow">
                    <div class="follow-mod">
                        <i class="topsina">
                        </i>
                        <div class="con">
                            <div class="common-dr-sina">
                            </div>
                            <p>
                                多融财富
                            </p>
                            <a href="http://weibo.com/u/5866519482" target="_blank">
                                加关注
                            </a>
                        </div>
                    </div>
                    <div class="follow-mod">
                        <i class="topwechat">
                        </i>
                        <div class="con">
                            <div class="code-bg">
                                <img src="/main/images/wechat-code.png"/>
                            </div>
                            <div class="tip">
                                扫一扫
                                <br>
                                    关注微信号
                                </br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 欢迎栏结束 -->
    <!-- 导航 -->
    <div class="header-wrapper">
        <div class="transition">
            <div class="header-wrap">
                <div class="logo-wrap">
                    <img ng-click="$state.go('main.home');" src="/main/images/logo.png">
                        <span>
                        </span>
                        <a class="logoimg" href="http://www.china-cchc.com" ng-if="activeNav == 'home' && !selMenu " target="_blank">
                        </a>
                        <a class="logoimg shouye" ng-if="activeNav != 'home'">
                        </a>
                    </img>
                </div>
                <div class="nav-box">
                    <div>
                        <ul>
                            <li>
                                <a href="/main/welcome" ng-class="{true: 'active'}[activeNav == 'home' && !selMenu ]">
                                    首页
                                </a>
                            </li>
                            <li>
                                <a href="/main/bankBillList" ng-class="{true: 'active'}[activeNav == 'bill' && !selMenu ]">
                                    票据理财
                                </a>
                            </li>
                            <li>
                                <a href="{{a|webIE8}}help/XSZY.html">新手指引</a>
                            </li>
                            <li>
                                <a href="{{a|webIE8}}main/jt/guarantee?menuName=guarantee" ng-class="{true: 'active'}[selMenu == 'guarantee']">
                                    安全保障
                                </a>
                            </li>
                            <li>
                                <a href="{{a|webIE8}}main/jt/DRGK?menuName=DRGK" ng-class="{true: 'active'}[selMenu == 'DRGK']">
                                    关于我们
                                </a>
                            </li>
                            <li class="account">
                                <a href="/dl" ng-if="!(a | isRegister).register">
                                    我的账户
                                </a>
                                <a href="{{a|webIE8}}main/myAccount/accountHome" ng-class="{true: 'active'}[activeNav == 'account']" ng-if="(a | isRegister).register">
                                    <i class="drop">
                                    </i>
                                    我的账户
                                </a>
                                <div class="con" ng-show="(a | isRegister).register">
                                    <div>
                                        <a href="{{a|webIE8}}main/myAccount/myAssets">
                                            我的资产
                                        </a>
                                        <a href="{{a|webIE8}}main/myAccount/myInvest">
                                            我的投资
                                        </a>
                                        <a href="{{a|webIE8}}main/myAccount/myCoupon">
                                            我的优惠券
                                        </a>
                                        <a href="/main/myAccount/myMsg">
                                            我的消息
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 中间容器 -->
    <div class="ng-scope ng-cloak" ng-cloak="" ui-view="">
    </div>
    <!-- 中间容器结束 -->
</div>