.body-wrapper{
    width:100%;
    .banner{
        width:100%;
        height:758px;
        background:url('../images/bannerpc.jpg') center 0 no-repeat;
        position:relative;
        .btn{
            position: absolute;
            bottom:150px;
            left:50%;
            margin-left:-255px;
        }
        a:hover{
            text-direction:none;
        }
        .tab{
            width:259px;
            height:81px;
            line-height:81px;
            color:#fff600;
            font-size:34px;
            text-align:center;
            position:absolute;
            bottom:50px;
            background:url("../images/tab.png") no-repeat;
        }
        .tabActive{
            width:259px;
            height:98px;
            color:#fff600;
            text-align:center;
            font-size:34px;
            font-weight:700;
            bottom:30px;
            position:absolute;
            background:url("../images/tabactive.png") no-repeat;
        }
    }
    .bg{
        background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fedf44), to(#ffffff));
        background:-moz-gradient(linear, 0 0, 0 bottom, from(#fedf44), to(#ffffff));
        padding-top:100px;
        .content{
            background:#fff9df;
            border:3px solid #a17afe;
            border-radius:20px;
            position:relative;
            margin:0 auto 100px;
            padding:100px 100px 40px 100px;
            .title{
                background:url("../images/titleB.png");
                width:653px;
                height:135px;
                position:absolute;
                top:-50px;
                left:290px;
                text-align:center;
                line-height:135px;
                font-size:42px;
                font-weight:bold;
                color:#fff;

            }
            .littleTitle{
                color:#ff495b;
                font-size:32px;

            }
            .nei{
                background:#fff;
                width:1080px;
                margin:0 auto;
                border-radius:5px;
                -webkit-box-shadow:inset 0 0 10px #ffe8e4;
                -moz-box-shadow:inset 0 0 10px #ffe8e4;
                .line{
                    height:1px;
                    border-top:1px dotted #cf6100;
                    margin-top:40px;
                    margin-bottom:30px;
                }
                .littleIcon{
                    list-style:url('../images/li.png') ;
                    color:#ff495b;
                    font-size:24px;
                    font-weight:bold;

                    .rate{
                        background:url("../images/rate.png");
                        width:975px;
                        height:328px;
                        margin:0 auto;
                    }
                    .myAccount{
                        width:680px;
                        margin:40px auto 0;
                        .myAccountLeft{
                            color:#ff5228;
                            float: left;
                            text-align:center;
                            margin-bottom:20px;
                        }
                        .daishou{
                           width:360px;
                           height:45px; 
                           background:#ffe5c1;
                           border-radius:5px;
                           text-align:center;
                           line-height:45px;
                           font-size:18px;
                           float: left;
                           color:#ff5228;
                           margin-bottom:5px;
                        }
                        .jian{
                            float: left;
                            width:55px;
                            text-align:center;
                            height:45px;
                            line-height:45px;
                            color:#ff5228;
                            font-weight:700;
                        }
                        .yongjinRate{
                            width:265px;
                            height:45px;
                            background:#fe9657;
                            color:#fff;
                            text-align:center;
                            line-height:45px;
                            margin-bottom:5px;
                            border-radius:5px;
                            float: right;
                        }
                    }
                }
                .neiLeft{
                    float: left;
                    color:#cf6100;
                    margin-right:25px;
                    .conTop{
                        font-size:30px;
                        line-height:45px;
                        .fon{
                            color:#ff495b;
                            font-weight:bold;
                        }
                    }
                    .conBottom{
                        border-top:1px dotted #cf6100;
                        font-size:18px;
                        line-height:30px;
                    }
                }
                .neiRight{
                    float: left;
                    .jiangli{
                        background:url("../images/jiangli.png");
                        width:693px;
                        height:252px;
                        margin-top:32px;
                    }
                    .friendInvest{
                        background:url("../images/lalalk.png");
                        width:602px;
                        height:299px;
                        margin-top:32px;
                    }
                }
            }
        }
        .con1{
           height:380px;
           width:1000px;
        }
        .con2{
            height:430px;
            width:1000px;
        } 
        .con3{
            width:1000px;
        }
    }
    .inviteTitle{
        width:615px;
        height:129px;
        background:url('../images/invite.png');
        margin:0 auto;
    }
    .what{
        width:1200px;
        margin:0 auto;
        color:#ff456f;
        text-indent:2em;
        font-size:24px;
        line-height:34px;
    }
    .example{
        width:1200px;
        margin:25px auto 50px;

        p{
            font-size:18px;
            color:#333;
            line-height:28px;
            height:28px;
        }
    }
    .content1{ 
        // background:#fffef4;
       .content{
            width:1200px;
            margin:0 auto;
            .liIcon{
                list-style:url('../images/jiangli.png') outside ;
                color:#ff456f;
                padding-left:25px;
                font-size:30px;
                margin-bottom:40px;
                .littleIcon{
                    list-style:url('../images/li.png');
                    color:#ff495b;
                    font-size:24px;
                    font-weight:bold;
                    .rate{
                        background:url("../images/rate.png");
                        width:1145px;
                        height:420px;
                        margin:0 auto;
                    }
                    .myAccount{
                        width:680px;
                        margin:40px auto 0;
                        .myAccountLeft{
                            color:#ff5228;
                            float: left;
                            text-align:center;
                            margin-bottom:20px;
                        }
                        .daishou{
                           width:360px;
                           height:45px; 
                           background:#ffe5c1;
                           border-radius:5px;
                           text-align:center;
                           line-height:45px;
                           font-size:18px;
                           float: left;
                           color:#ff5228;
                           margin-bottom:5px;
                        }
                        .jian{
                            float: left;
                            width:55px;
                            text-align:center;
                            height:45px;
                            line-height:45px;
                            color:#ff5228;
                            font-weight:700;
                        }
                        .yongjinRate{
                            width:265px;
                            height:45px;
                            background:#fe9657;
                            color:#fff;
                            text-align:center;
                            line-height:45px;
                            margin-bottom:5px;
                            border-radius:5px;
                            float: right;
                        }
                    }
                }
            }
       }
    }
    .content2{
        background:#ffe8f7;
        padding-top:80px;
        padding-bottom:114px;
        .contentTitle{
            width:615px;
            height:129px;
            background:url('../images/inviteProgress.png');
            margin:0px  auto 130px;
        }
        .progress{
            width:1199px;
            height:424px;
            background:url('../images/progress.png');
            margin:0 auto;
        }
        .progressContent{
            color:#ff5228;
            font-size:24px;
            width:1200px;
            margin:0 auto;
            margin-top:55px;
        }
    }
    .content3{
        width:1200px;
        margin:0 auto;
        .contentTitle{
            width:615px;
            height:129px;
            background:url('../images/newperson.png');
            margin:55px auto 40px;
        }
        .three{
            color:#ff456f;
            font-size:30px;
            text-align:center;
        }
        .img{
            float: left;
            margin-top:80px;
            margin-bottom:80px;
            .zu{
            width:260px;
            height:290px;
            color:#fff600;
            font-size:30px;
            text-align:center;
        }
        .zu1{
            background:url('../images/zu1.png');
            margin-right:25px;
        } 
        .zu2{
            margin-left:25px;
            background:url('../images/zu2.png');
            margin-right:25px;
        } 
        .zu3{
            background:url('../images/zu3.png');
            margin-left:25px;
        } 
        .zu4{
            margin-left:25px;
            margin-right:25px;
            background:url('../images/zu.png');
        }
        .haoli{
            color:#333;
            font-size:24px;
            text-align:center;
        }
        }
       
    }
    .footer{
        clear:both;
        width:100%;
        height:396px;
        background:url('../images/footer.png') center 0 no-repeat;
        position:relative;
        .btn{
            width:509px;
            height:99px;
            background:url('../images/bannerbutton.png');
           position:absolute;
           top:200px;
           left:50%;
           margin-left:-255px;
        }
    }
}
