<div class="body-wrapper">
  <!-- 活动未开始 -->
  <div class="pop-bg noready-popbg" style="display: none;">
    <div class="pop">
      <a class="close" href="/main/home" target="_self"></a>
      <div class="info" style="font-size: 36px;color: #e20c2e;top: 180px;">敬请谅解!</div>
      <div class="text " style="top: 262px;font-size: 30px;color: #e20c2e;font-weight: normal;left:218px;">本次活动尚未开始
      </div>
      <div class="text" style="top: 300px;font-size: 30px;color: #e20c2e;font-weight: normal;left:271px;">敬请期待</div>
      <a class="sureBtn" href="/main/home" target="_self">回到首页</a>
    </div>
  </div>
  <!-- 活动已结束 -->
  <div class="pop-bg over-popbg" style="display: none;">
    <div class="pop over-pop">
      <a class="close" href="/main/home" target="_self"></a>
      <div class="info" style="font-size: 36px;color: #e20c2e;top: 180px;">感谢关注！</div>
      <div class="text " style="top: 262px;font-size: 30px;color: #e20c2e;font-weight: normal;left:218px;">本次活动已结束</div>
      <div class="text"  style="top: 326px;font-size: 18px;color: #e20c2e;font-weight: normal;left:125px;">平台将于2月3日上午公布本次排名活动的中奖名单</div>
      <a class="sureBtn" href="/main/home" target="_self">我知道了</a>
    </div>
  </div>
  <!-- 渠道用户 -->
  <div class="pop-bg channel-popbg" style="display: none;">
    <div class="pop">
      <a class="close" href="/main/home" target="_self"></a>
      <div class="info" style="font-size: 36px;color: #e20c2e;top: 180px;">敬请谅解!</div>
      <div class="text " style="top: 262px;font-size: 30px;color: #e20c2e;font-weight: normal;left:156px;">
        亲，由于您是渠道VIP用户
      </div>
      <div class="text" style="top: 300px;font-size: 30px;color: #e20c2e;font-weight: normal;left:182px;">所以不能参与此次活动
      </div>
      <a class="sureBtn" href="/main/home" target="_self">回到首页</a>
    </div>
  </div>
  <!-- 中奖名单 -->
  <div class="pop-bg prize-popbg" style="display: none;">
    <div class="pop prize-pop">
      <a class="close" href=""></a>
      <h4></h4>
      <div class="list-box">
        <div class="piece-wrapper">
          <div class="piece thead">
            <div style="width: 105px;margin-right: 27px;" class="nums">排名</div>
            <div class="phone" style="margin-right: 55px;">手机号码</div>
            <div style="margin-right: 30px;">财富值</div>
            <div>奖品</div>
          </div>
            <div class="piece" ng-repeat="item in prizeList">
              <div class="nums" style="width: 105px;margin-right: 30px;">{{item.index}}</div>
              <div class="phone" style="margin-right: 43px;">{{item.mobilePhone}}</div>
              <div style="text-align: right;margin-right: 37px;">{{item.fortune | number :2}}</div>
              <div style="width: 120px;margin-right: 0;text-align: left;">{{item.prize}}</div>
            </div>
        </div>
      </div>
      <div class="nodata" style="display: none;">暂无数据</div>
      <div class="page-box">
        <div class="page-con">
          <div class="prev">上一页</div>
          <div class="page active"></div>
          <div class="next">下一页</div>
        </div>
        <div class="total-page">共页</div>
      </div>
    </div>
  </div>
  <div class="con-top">
  </div>
  <div class="con-cen">
    <div class="activity-wrapper">
      <div class="act-box">
        <h2>活动</h2>
        <ul>
          <li>1. 投资≥30天以上产品 即可参加排名</li>
          <li>2. 活动期间累计购买金额满2万元，赠送1张2%加息券（每人限1张）</li>
          <li class="small-tip">* 2%加息券将于活动结束后7个工作日内发放到您的多融账户，可登录多融财富APP</li>
          <li class="small-tip">或官网查看</li>
        </ul>
      </div>
      <a href="/main/bankBillList" class="invest-btn" target="_blank">立即投资</a>
      <div class="prizelist-btn">中奖名单</div>
      <div class="rule-btn">活动规则</div>
      <div class="up-to-par" style="display: none;"></div>
    </div>
    <div class="ranking-wrapper">
      <div class="user-box">
        <ul>
          <li>您的当日财富值为 {{number | number :2}}</li>
          <li>排名 ****** 名</li>
          <li>预计获得：****** 奖品</li>
        </ul>
        <a href="" class="login-btn" style="display: none;">登录查看</a>
        <h3>财富值=投资金额*投资期限/365</h3>
      </div>
      <div class="ranking-box">
        <div class="list-box">
          <div class="nodata" style="display: none;">暂无数据</div>
          <div class="taber-box">
            <div class="data-piece thead">
              <div style="width: 40px;margin-right: 70px;" class="nums">排名</div>
              <div class="phone">手机号码</div>
              <div>财富值</div>
              <div>奖品</div>
            </div>
            <div class="data-piece" ng-repeat="item in dayRank">
              <div class="nums" style="width: 40px;margin-right: 70px;">{{item.index}}</div>
              <div class="phone" style="width: 84px;text-align: left;">{{item.mobilePhone}}</div>
              <div style="text-align: right;margin-right: 64px;">{{item.fortune | number:2}}</div>
              <div style="width: 120px;margin-right: 0;text-align: left;">{{item.prize}}</div>
            </div>
          </div>
          <p>更新时间： YYYY--MM-DD- hh-mm-ss</p>
        </div>
        <div class="update">刷新</div>
        <p>*榜单实时展示，榜单结果以当天 23:59:59 最终结果为准， 其余时间仅供参考</p>
      </div>
    </div>
    <div class="rule-mode" id='rule'>
      <span class="title">活动规则</span>
      <ul>
        <li style="margin-bottom: 24px;"><i class="arrow"></i>活动时间：2017年1月27日-2017年2月2日</li>
        <li style="margin-bottom: 0;"><i class="arrow"></i>活动期间，每天进行一次排名，共7天，每天投资前6名可获得奖励；活动期间累计购买30天及以上产品金额满20000</li>
        <li style="margin-bottom: 24px;" class="mr">元，可获得2%加息券一张（每人限1张）</li>
        <li style="font-weight: bold;"><i class="arrow"></i>排名规则：</li>
        <li><i></i>排名统计时间，当天 0:00~23:59:59，以提交订单时间为准</li>
        <li><i></i>购买30天及以上期限产品，参与排名，按财富值进行排名，财富值=投资金额*投资期限/365</li>
        <li><i></i>榜单实时展示，榜单结果以当天 23:59:59 最终结果为准，其余时间仅供参考</li>
        <li style="margin-bottom: 24px;"><i></i>如遇到财富值相同的情况，按最先到达该财富值的用户优先排名</li>
        <li><i class="arrow"></i>榜单前6名依次可获得奖品：2000元京东购物卡、1000元京东购物卡、500元京东购物卡、200元京东购物卡、100元</li>
        <li style="margin-bottom: 24px;" class="mr">京东购物卡、50元京东购物卡</li>
        <li style="margin-bottom: 24px;"><i class="arrow" ></i>平台将于2月3日上午公布本次活动所有中奖名单</li>
        <li><i class="arrow"></i>京东卡奖品将统一于活动结束后15个工作日内发放，2%加息券将于活动结束后7个工作日内发放到您的多融账户，可</li>
        <li style="margin-bottom: 24px;" class="mr">登录多融财富APP或官网查看</li>
        <li style="margin-bottom: 46px;"><i class="arrow"></i>本次活动最终解释权归多融财富所有</li>
      </ul>
    </div>
    <div class="common-wrapper">
      <div class="mode">
        <div class="title">为什么选择多融</div>
        <div class="content">
          <div class="iconmode">
            <i class="olympiad-gzkg"></i>
            <div>
              <span>国企控股</span>
              <p>大型国企中商沪深控股</p>
            </div>
          </div>
          <div class="iconmode">
            <i class="olympiad-guarantee"></i>
            <div>
              <span>资金安全保障</span>
              <p>历史到期产品100%本息兑付，安全可靠</p>
            </div>
          </div>
          <div class="iconmode">
            <i class="olympiad-pjcd"></i>
            <div>
              <span>票据100%承兑</span>
              <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
            </div>
          </div>
          <div class="iconmode">
            <i class="olympiad-lszc"></i>
            <div>
              <span>专业律所全程支持</span>
              <p>专业律所全程保驾护航</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mode">
        <div class="title">多融荣誉</div>
        <ul>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=1&t=1" target="_blank">
              <img src="/main/images/honor/honor1.png">
              <p>多融财富荣膺<br>“2016中国最佳诚信示范金融企业”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=3&t=0" target="_blank">
              <img src="/main/images/honor/honor2.png">
              <p>多融财富加入<br>“上海市信息服务业行业协会”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=2&t=0" target="_blank">
              <img src="/main/images/honor/honor3.png">
              <p>多融财富加入<br>“上海金融信息行业协会”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=11&t=1" target="_blank">
              <img src="/main/images/honor/honor4.png">
              <p>多融财富荣获<br>“中国信用企业认证体系示范单位”证书</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="mode">
        <div class="title">合作单位</div>
        <div class="partners">
          <div class="swiper-button-prev"></div>
          <div class="imgs swiper-container">
            <ul class="swiper-wrapper">
              <li class="swiper-slide" style="margin-left: 30px;">
                <img src="/main/images/gua-partner/partner1.png">
              </li>
              <li class="swiper-slide">
                <img src="/main/images/gua-partner/partner2.png">
              </li>
              <li class="swiper-slide">
                <img src="/main/images/gua-partner/partner3.png">
              </li>
              <li class="swiper-slide">
                <img src="/main/images/gua-partner/partner4.png">
              </li>
              <li class="swiper-slide">
                <img src="/main/images/gua-partner/partner5.png">
              </li>
              <li class="swiper-slide">
                <img src="/main/images/gua-partner/partner11.png">
              </li>
            </ul>
          </div>
          <!-- <div class="olympiad-right swiper-button-next"></div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="code-wrapper">
    <div class="code">
      <div class="icon"></div>
      <div class="phonecode"></div>
      <div class="appcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/main/images/activity/newfriend-app.png"></div>
          <div class="app-code-word">
            <p><i class="olympiad-iphone"></i></p>
          </div>
        </div>
        <div class="title">App下载</div>
      </div>
      <div class="appcode wechatcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/main/images/activity/newfriend-wechat.png"></div>
        </div>
        <div class="title">关注公众号</div>
      </div>
      <div class="tel">
        <div class="number">
          <i class="olympiad-phone"></i>
          <div>
            <span>{{(a|web).phone}}</span>
            <p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<script type="text/html" id="DATE_BD_LIST_WP">-->
  <!--<%for(var key in data){%>-->
  <!--<h4><%=data[key].date%></h4>-->
  <!--<%}%>-->
<!--</script>-->