
.money {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  i {
    position: absolute;
    width: 145px;
    height: 110px;
    transition-duration: .3s;
    background: url('../../../../images/christmas/money/m1.png') no-repeat center;
    background-size: contain;
    &.bg2 {
      background-image: url('../../../../images/christmas/money/m2.png');
    }
    &.bg3 {
      background-image: url('../../../../images/christmas/money/m3.png');
    }
    &.bg4 {
      background-image: url('../../../../images/christmas/money/m4.png');
    }
    &.bg5 {
      background-image: url('../../../../images/christmas/money/m5.png');
    }
  }
}

.christmas-wrapper {
  width: 100%;
  background: #fff;
  .pop-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 88;
    transform-style: preserve-3d;
    &.coins-bg {
      background: rgba(0, 0, 0, .8);
    }
    .pop {
      background: url('../../../../images/christmas/noreadybg.jpg') center 0 no-repeat #fff;
      width: 660px;
      height: 470px;
      margin: 0 auto;
      margin-top: -350px;
      position: fixed;
      top: 60%;
      left: 50%;
      margin-left: -330px;
      text-align: center;
      border-radius: 12px;
      box-sizing: border-box;
      position: relative;
      opacity: 0;
      transform: scale(0);
      &.coinsdetails-pop {
        height: 548px;
      }
      &.exchangerecord-pop {
        height: 598px;
      }
      .clo-coins {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 26px;
        height: 26px;
        background: url('../../../../images/christmas/coinclose.png') center 0 no-repeat;

      }
      .addcoins {
        position: absolute;
        top: 182px;
        color: #fff443;
        right: 127px;
        font-size: 36px;
      }
      .tentimes {
        position: absolute;
        bottom: 50px;
        right: 97px;
        font-size: 18px;
        color: #fff;
      }
      .coins-details {
        position: absolute;
        bottom: 50px;
        right: 0;
        color: #00aeff;
        font-size: 18px;

      }
      &.coins-pop {
        background: url('../../../../images/christmas/1000coins.png') center 0 no-repeat;

      }
      &.openMode {
        animation: 0.5s ease-in openMove;
        animation-fill-mode: forwards;
      }
      &.closeMode {
        animation: 0.5s ease-in closeMove;
        animation-fill-mode: forwards;
      }
      &.form-pop {
        background: #fff;
        .list-mode {
          width: 526px;
          height: 417px;
          border-radius: 10px;
          border: 1px solid #a61a12;
          position: absolute;
          top: 98px;
          left: 50%;
          margin-left: -263px;
          padding: 27px 55px 0 55px;
          box-sizing: border-box;
          &.coinsdetails-mode {
            height: 376px;
          }
          .tab-body {
            .openTab {
              animation: 0.5s ease-in openTab;
              animation-fill-mode: forwards;
            }
          }
          .title-mode {
            width: 100%;
            height: 40px;
            overflow: hidden;
            border-radius: 10px 10px 0 0;

            .tab {
              float: left;
              width: 50%;
              line-height: 40px;
              text-align: center;
              font-size: 18px;
              color: #fff;
              background: #c77b5f;
              cursor: pointer;
              &.active {
                float: left;
                width: 50%;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                color: #fff;
                background: #9d3a39;
                cursor: pointer;
              }
            }
          }
          .piece {
            overflow: hidden;
            margin-bottom: 16px;
            .items {
              float: left;
              font-size: 14px;
              color: #333;
              width: 156px;
              text-align: left;

            }
            .numbers {
              float: left;
              font-size: 14px;
              color: #333;
              width: 116px;
              text-align: left;

            }
            .time {
              float: left;
              font-size: 14px;
              color: #333;
              text-align: left;

            }
          }
        }
        .pages {
          position: absolute;
          bottom: 17px;
          left: 205px;
          ul {
            float: left;
          }
          .prev {
            float: left;
            width: 66px;
            height: 34px;
            border: 1px solid #d7d7d7;
            line-height: 34px;
            text-align: center;
            cursor: pointer;
            color: #999;

          }
          .list-item {
            float: left;
            .btn {
              background: #fff;
              float: left;
              height: 36px;
              width: 36px;
              line-height: 36px;
              text-align: center;
              cursor: pointer;
              color: #999;
              &.now {
                background: #dcdcdc;
                color: #fff;
              }
            }
          }

          .next {
            float: left;
            width: 66px;
            height: 34px;
            border: 1px solid #d7d7d7;
            line-height: 34px;
            text-align: center;
            cursor: pointer;
            color: #999;

          }
        }
        .total-pages {
          position: absolute;
          bottom: 25px;
          right: 119px;
          color: #999;

        }
        .form-mode {
          position: relative;
          background: #a61a12;
          height: 360px;
          border-radius: 12px 12px 0 0;
          &.details-mode {
            height: 58px;
          }
          .info {
            font-size: 24px;
            color: #ffcccc;
            position: absolute;
            left: 18px;
            top: 15px;
            cursor: pointer;

          }
          .coins-title {
            font-size: 24px;
            color: #ffcccc;
            line-height: 58px;

          }
          .go-account {
            font-size: 24px;
            color: #ffcccc;
            position: absolute;
            left: 176px;
            top: 170px;

          }
          .success {
            font-size: 30px;
            color: #ffcccc;
            position: absolute;
            width: 180px;
            top: 105px;
            left: 50%;
            margin-left: -90px;

          }
          p {
            font-size: 24px;
            color: #ffcccc;
            position: absolute;
            top: 185px;
            left: 100px;

          }
          .costed {
            font-size: 24px;
            color: #ffcccc;
            position: absolute;
            left: 158px;
            top: 177px;

          }
          .line {
            width: 97%;
            height: 0;
            border-bottom: 1px dashed #ffcccc;
            position: absolute;
            left: 10px;
            top: 60px;
          }
          .close {
            background: url('../../../../images/christmas/closeb.png') center 0 no-repeat;
            top: 15px;
            right: 15px;
          }
          .form-box {
            position: absolute;
            top: 114px;
            left: 90px;
            .ipt-mode {
              margin-bottom: 18px;
              label {
                margin-right: 30px;
                font-size: 18px;
                color: #fcc;
              }
              input {
                width: 330px;
                height: 40px;
                background: url('../../../../images/christmas/ipt.png') center 0 no-repeat;
                border: none;
                padding-left: 10px;
                box-sizing: border-box;
                outline: none;
                color: #fff;
              }
              span {
                color: #fff;
                position: absolute;
                left: 122px;
              }
            }
          }
          .checkinfo {
            position: absolute;
            bottom: 36px;
            left: 90px;
            color: #fcc;
            font-size: 18px;

          }

        }
      }
      .prizename {
        color: #ff9;
        font-size: 36px;
        position: absolute;
        top: 135px;
        left: 228px;

      }
      .cost {
        font-size: 36px;
        color: #fff;
        position: absolute;
        top: 218px;
        left: 189px;
      }
      .text {
        color: #ffff99;
        font-size: 42px;
        top: 212px;
        left: 236px;
        position: absolute;
        &.noready {
          top: 157px;
          left: 200px;
        }
      }
      .close {
        width: 41px;
        height: 41px;
        display: block;
        position: absolute;
        background: url('../../../../images/christmas/close.png') center 0 no-repeat;
        right: 2px;
        top: 2px;
      }
      .sureBtn {
        width: 230px;
        height: 46px;
        line-height: 46px;
        color: #fff;
        background: #ff8400;
        text-align: center;
        font-size: 24px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -115px;
        border-radius: 18px;
        cursor: pointer;
        text-decoration: none;
        &.done {
          bottom: 30px;
        }
        &.submit {
          bottom: -76px;
        }
      }
      .notenough {
        font-size: 18px;
        color: #333;
        position: absolute;
        bottom: 18px;
        left: 276px;
      }

    }
  }
  .banner {
    width: 100%;
    height: 488px;
    background: url('../../../../images/christmas/banner.gif') center 0 no-repeat;
    background-size: cover;
    position: relative;
    .banner-btm {
      width: 100%;
      height: 211px;
      position: absolute;
      background: url('../../../../images/christmas/bannerbtm.png') center 0 no-repeat;
      background-size: cover;
      left: 0;
      bottom: -192px;
      z-index: 2;

    }
  }
  .con-wrapper {
    width: 100%;
    background: #86110a;
    margin-top: 31px;
    padding-bottom: 42px;
    .info-mode {
      width: 100%;
      padding-top: 72px;
      .tips {
        overflow: hidden;
        // padding-left: 430px;
        margin: 0 auto;
        width: 900px;

      }
      p {
        float: left;
        margin-right: 90px;
        color: #fff;
        font-size: 18px;
        &.longer {
          margin-right: 110px;
        }
        i {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #fff;
          display: inline-block;
          vertical-align: middle;
        }
        b {
          color: #ffcc00;
        }
      }
    }
    .rockHappy-mode {
      width: 1202px;
      height: 836px;
      background: url('../../../../images/christmas/rockbox.gif') center 0 no-repeat;
      background-size: contain;
      margin: 10px auto 0;
      position: relative;
      .login {
        padding-top: 197px;
        width: 618px;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        font-size: 30px;
        .login-btn {
          color: #00aeff;
          border-bottom: 1px solid #00aeff;
          text-decoration: none;
        }
      }
      .rock-box {
        position: relative;
        width: 836px;
        height: 318px;
        margin-left: 65px;
        margin-top: 46px;
        .rock-bg {
          width: 868px;
          height: 348px;
          background: url('../../../../images/christmas/rock-bg.png') center 0 no-repeat;
          position: absolute;
          left: 0;
          .rock-list-wrap {
            width: 172px;
            height: 243px;
            float: left;
            margin-left: 76px;
            position: relative;
            margin-top: 50px;
            overflow: hidden;
            &:nth-of-type(1) {
              margin-left: 100px;
            }
          }
          .rock-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 172px;
            height: 243px;
            font-size: 0;
            // overflow: hidden;
            &.cen {
              left: 346px;
            }
            &.third {
              left: 593px;
            }
            .prize-img {
              width: 100%;
              height: 163px;
              margin: 40px auto;
              display: inline-block;
              background: url('../../../../images/christmas/d.png') center 0 no-repeat;
              &.bg2 {
                background: url('../../../../images/christmas/f.png') center 0 no-repeat;
              }
              &.bg3 {
                background: url('../../../../images/christmas/l.png') center 0 no-repeat;
              }
              &.bg4 {
                background: url('../../../../images/christmas/q.png') center 0 no-repeat;
              }
              &.bg5 {
                background: url('../../../../images/christmas/s.png') center 0 no-repeat;
              }
              &.bg6 {
                background: url('../../../../images/christmas/y.png') center 0 no-repeat;
              }
              &.bg7 {
                background: url('../../../../images/christmas/z.png') center 0 no-repeat;
              }

            }
          }
        }
      }
      .once {
        position: absolute;
        right: 46px;
        top: 322px;
        width: 206px;
        height: 112px;
        line-height: 112px;
        background: url('../../../../images/christmas/once.png') center 0 no-repeat;
        text-align: center;
        font-size: 30px;
        font-family: "微软雅黑";
        font-weight: 600;
        color: #732300;
        cursor: pointer;

      }
      .over {
        height: 97px;
        line-height: 97px;
        background: url('../../../../images/christmas/btnover.png') center 0 no-repeat;
        cursor: auto;
      }
      .game-over {
        position: absolute;
        left: 285px;
        top: 438px;
        font-size: 36px;
        color: #ff9;
      }
      .ten-times {
        position: absolute;
        right: 46px;
        top: 466px;
        width: 206px;
        height: 112px;
        line-height: 112px;
        background: url('../../../../images/christmas/tentimes.png') center 0 no-repeat;
        text-align: center;
        font-size: 30px;
        font-family: "微软雅黑";
        font-weight: 600;
        color: #732300;
        cursor: pointer;
      }
      .over {
        height: 97px;
        line-height: 97px;
        background: url('../../../../images/christmas/btnover.png') center 0 no-repeat;
        cursor: auto;
      }
      .rule-tip {
        color: #fff;
        font-size: 18px;
        position: absolute;
        bottom: 134px;
        left: 52px;

        .rule-btn {
          padding-left: 24px;
          color: #00aeff;
          cursor: pointer;
        }

      }
      .more-invest {
        color: #ffff99;
        font-size: 18px;
        position: absolute;
        bottom: 109px;
        left: 52px;
        font-weight: bold;
      }
      .invest {
        width: 291px;
        height: 74px;
        line-height: 74px;
        font-size: 30px;
        color: #fff;
        position: absolute;
        bottom: 30px;
        text-align: center;
        text-decoration: none;
        left: 50%;
        margin-left: -145px;
        background: url('../../../../images/christmas/invest.png') center 0 no-repeat;
      }

    }
    .total-info {
      margin-top: 77px;
      width: 1200px;
      margin: 77px auto 0;
      font-size: 24px;
      color: #fff;
      .login-btn {
        color: #00aeff;
        border-bottom: 1px solid #00aeff;
        text-decoration: none;
      }
      .details {
        color: #00aeff;
        font-size: 18px;
        margin-left: 90px;

      }
    }
  }
  .introdution-mode {
    width: 100%;
    background: url('../../../../images/christmas/wave.jpg') center 0 no-repeat #fff;
    padding-top: 80px;
    .exchange-box {
      width: 1200px;
      height: 254px;
      background: #9d3a39;
      margin: 0 auto;
      .title-mode {
        width: 100%;
        height: 38px;
        background: #f1d8d7;
        overflow: hidden;
        .tab {
          float: left;
          width: 144px;
          line-height: 40px;
          text-align: center;
          font-size: 18px;
          color: #9d3a39;
          &.active {
            background: #9d3a39;
            color: #fff;

          }
        }
        .record {
          float: right;
          font-size: 14px;
          color: #333;
          border-bottom: 1px solid #333;
          line-height: 38px;
          margin-right: 10px;

        }
      }
      .tab-body {
        width: 100%;
        background: #ede2e5;
      }
      .list-box {
        width: 100%;
        background: #ede2e5;
        height: 216px;
        margin-top: 2px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 48px 22px 26px 72px;
        display: none;
        &.openTab {
          animation: 0.5s ease-in openTab;
          animation-fill-mode: forwards;
        }
        &.superprize-mode {
          .bag {
            margin-right: 15px;
          }
        }
        .bag {
          float: left;
          margin-right: 54px;
          .imgs {
            width: 222px;
            height: 90px;
            background: url('../../../../images/christmas/bag.png') center 0 no-repeat;
            text-align: center;
            padding-top: 12px;
            &.prize {
              width: 140px;
              height: 70px;
              .redbag {
                font-size: 12px;
                margin-top: 31px;
              }
            }
            &.prize1834 {
              background: url('../../../../images/christmas/iphone.jpg') center 0 no-repeat;
            }
            &.prize1838 {
              background: url('../../../../images/christmas/ipad.jpg') center 0 no-repeat;
            }
            &.prize1837 {
              background: url('../../../../images/christmas/sony.jpg') center 0 no-repeat;
            }
            &.prize1839 {
              background: url('../../../../images/christmas/bycirle.jpg') center 0 no-repeat;
            }
            &.prize1840 {
              background: url('../../../../images/christmas/borang.jpg') center 0 no-repeat;
            }
            &.prize1836 {
              background: url('../../../../images/christmas/jdcard.jpg') center 0 no-repeat;
            }
            &.prize1835 {
              background: url('../../../../images/christmas/jdcard.jpg') center 0 no-repeat;
            }
            .rmb {
              color: #ffc;
              font-size: 30px;
              margin-bottom: 8px;
            }
            .redbag {
              color: #fff;
              font-size: 20px;

            }
          }
          .coins-num {
            color: #86110a;
            font-size: 14px;
            float: left;
            margin-top: 16px;

          }
          .exchange-btn{
            float: right;
            margin-top: 8px;
            width: 60px;
            height: 24px;
            background: #f78b01;
            border-radius: 6px;
            box-shadow: 0px 2px 0px 0px #aa2f00;
            text-align: center;
            line-height: 24px;
            color: #fff;
            text-decoration: none;
          }
			.huibtn{
				float: right;
        margin-top: 8px;
        width: 60px;
        height: 24px;
        border-radius: 6px;
        text-align: center;
        line-height: 24px;
        color: #fff;
        text-decoration: none;
				background: #999;
			}
        }
      }
    }
  }
  .rule-mode {
    // background: image-url('olympiad-rule.png') center top no-repeat;
    width: 1200px;
    margin: 0 auto;
    margin-top: 85px;
    position: relative;
    border: 2px solid #deced2;
    .title {
      font-size: 30px;
      background: url('../../../../images/christmas/rule-title.png') center 0 no-repeat;
      position: absolute;
      top: -23px;
      left: 50%;
      margin-left: -142px;
      width: 284px;
      height: 47px;
      line-height: 47px;
      text-align: center;
      color: #86110a;
    }
    ul {
      margin-top: 70px;
      margin-left: 64px;
      li {
        font-size: 18px;
        line-height: 30px;
        color: #852c2c;
        position: relative;
        margin-bottom: 10px;
        line-height: normal;
        &.mr {
          margin-left: 24px;

        }
        i {
          width: 4px;
          height: 4px;
          background: #852c2c;
          vertical-align: middle;
          border-radius: 50%;
          display: inline-block;
          margin-right: 20px;
          &.arrow {
            width: 9px;
            height: 13px;
            background: url('../../../../images/christmas/arrow.png') center 0 no-repeat;
            margin-right: 16px;
          }
          &.bigCircle {
            width: 6px;
            height: 6px;
            background: #852c2c;
            vertical-align: middle;
            border-radius: 50%;
            display: inline-block;

          }
        }
        strong {
          color: #000;
        }
      }
    }
    &.investBox {
      margin-top: 68px;
      font-size: 24px;
      color: #ff557a;
      text-align: center;
      position: relative;
      height: 630px;
      .btn {
        width: 450px;
        height: 68px;
        position: absolute;
        bottom: 52px;
        left: 23%;
        background: #ce0341;
        border-radius: 6px;
        padding: 1px 1px 1px 1px;
        box-sizing: content-box;
        a {
          width: 450px;
          text-align: center;
          line-height: 67px;
          font-size: 24px;
          color: #fffefe;
          cursor: pointer;
          display: block;
          height: 68px;
          line-height: 68px;
          background: #ff557a;
          &:hover {
            text-decoration: none;
          }
        }
      }
      p {
        margin-top: 68px;
      }
      .tableBox {
        width: 100%;
        margin-left: 0;
        margin-top: 34px;
        ul {
          margin: 0 auto;
          width: 90%;
          font-size: 18px;
          background: #fc99b7;
          border-radius: 10px;
          padding: 0 1px 5px 1px;
          box-sizing: border-box;
          li {
            background: #852c2c;
            height: 52px;
            line-height: 52px;
            margin-bottom: 0;
            &.dl {
              background: #ff7ba3;
              color: #fff;
              border-radius: 6px 6px 0 0;
            }
            &.bla {
              color: #000;
            }
            &.bg {
              background: #ffe8ef;
            }
            &.radius {
              border-radius: 0 0 6px 6px;
            }
            span {
              text-align: center;
              font-weight: normal;
              width: 320px;
              display: inline-block;
              &.pl {
                padding-left: 80px;
              }
              &.cen {
                padding-left: 85px;
                box-sizing: border-box;
              }

            }
            i {
              width: 1px;
              height: 52px;
              background: #fc99b7;
              display: inline-block;
              margin-left: 487px;
              &.rt {
                margin-left: 771px;
              }
            }
          }
        }
      }
    }
  }
  .common-wrapper {
    padding-bottom: 70px;
    overflow: hidden;
    .mode {
      width: 1198px;
      margin: 70px auto 0;
      border: 1px solid #d4acac;
      position: relative;
      .title {
        width: 162px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        background: #9d3a39;
        font-size: 18px;
        color: #f0f0f0;
        float: left;
        margin: -17px 0 0 30px;
      }
      .love-icon {
        position: absolute;
        left: 53px;
        top: 140px;
      }
      .content {
        padding: 49px 0 10px 120px;
        overflow: hidden;
        clear: both;
        zoom: 1;
        .iconmode {
          width: 529px;
          float: left;
          height: 137px;
          position: relative;
          i {
            position: absolute;
            left: 0;
            top: 0;
            width: 97px;
            height: 97px;
            &.olympiad-gzkg {
              background: image-url('../../../../images/christmas/zuanshi.jpg') center center no-repeat;
            }
            &.olympiad-guarantee {

              background: image-url('../../../../images/christmas/fangzi.jpg') center center no-repeat;
            }
            &.olympiad-pjcd {

              background: image-url('../../../../images/christmas/piaoju.png') center center no-repeat;
            }
            &.olympiad-lszc {

              background: image-url('../../../../images/christmas/san.jpg') center center no-repeat;
            }

          }
          div {
            padding: 14px 0 0 112px;
            font-size: 14px;
            color: #333;
            span {
              font-size: 26px;
              color: #333;
            }
          }
        }
      }
      ul {
        padding: 40px 0 40px 33px;
        overflow: hidden;
        clear: both;
        zoom: 1;
        li {
          float: left;
          margin-right: 17px;
          width: 271px;
          text-align: center;
          a:hover {
            color: #313131;
          }
          p {
            font-size: 14px;
            color: #313131;
            line-height: 24px;
            padding-top: 16px;
          }
        }
      }
      .partners {
        padding: 50px 0 44px 30px;
        overflow: hidden;
        clear: both;
        zoom: 1;
        .olympiad-left {
          float: left;
          margin: 30px 10px 0 0;
          cursor: pointer;
        }
        .imgs {
          width: 100%;
          overflow: hidden;
          float: left;
          height: 78px;
          ul {
            padding: 0;
            li {
              float: left;
              width: auto;
              margin-right: 33px;
              img {
                width: 153px;
              }
            }
          }
        }
        .olympiad-right {
          float: left;
          margin: 30px 0 0 10px;
          cursor: pointer;
          width: 14px;
          height: 14px;
          background: image-url('olympiad/right.png') center center no-repeat;
        }
      }
    }
  }
  .code-wrapper {
    width: 100%;
    height: 200px;
    background: #9d3a39;
    .code {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      .icon {
        width: 104px;
        height: 60px;
        background: image-url('olympiad/appicon.png') center center no-repeat;
        position: absolute;
        top: 67px;
        left: 167px;
      }
      .phonecode {
        width: 62px;
        height: 62px;
        background: image-url('olympiad/phone.png') center center no-repeat;
        position: absolute;
        top: 75px;
        right: 322px;

      }
      .appcode {
        float: left;
        margin: 41px 0 0 44px;
      }
      .wechatcode {
        float: left;
        margin: 41px 0 0 172px;
      }
      .tel {
        float: left;
        margin: 76px 0 0 414px;
        .number {
          i {
            float: left;
          }
          div {
            float: left;
            color: #fff;
            padding-left: 13px;
            margin-top: -5px;
            span {
              font-size: 32px;
            }
            p {
              font-size: 12px;
              margin-top: -3px;
            }
          }
        }
      }
      .title {
        font-size: 16px;
        color: #fff;
        padding-top: 6px;
        width: 106px;
        text-align: center;
      }
      .code-box {
        overflow: hidden;
        .app-code-icon {
          float: left;
          img {
            display: block;
            border: 1px solid #008c40;
          }
        }
        .app-code-word {
          float: left;
          padding: 29px 0 0 18px;
          p {

            i {
              float: left;
              margin: 3px 5px 0 20px;
            }
          }
        }
      }
    }
  }
}

@keyframes openMove {
  0% {
    opacity: 0.2;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.2;
    transform: translateY(-1000px);
  }
}

@keyframes openTab {
  0% {
    opacity: 0.2;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


