@charset "UTF-8";
.wq-my-account-wrapper .my-account-wrap {
  font-family: '微软雅黑'; }
  .wq-my-account-wrapper .my-account-wrap .banner {
    width: 1200px;
    height: 450px;
    vertical-align: middle;
    background: url("../images/banner.jpg");
    position: relative; }
    .wq-my-account-wrapper .my-account-wrap .banner .number {
      width: 221px;
      height: 215px;
      position: absolute;
      top: 80px;
      left: 50%;
      margin-left: -130px; }
  .wq-my-account-wrapper .my-account-wrap .infomation .clearfix {
    height: 0px;
    line-height: 0px;
    content: "";
    clear: both;
    display: block; }
  .wq-my-account-wrapper .my-account-wrap .infomation .infoTitle {
    color: #ffa800;
    font-weight: 700;
    text-align: center;
    font-size: 42px;
    letter-spacing: 5px; }
  .wq-my-account-wrapper .my-account-wrap .infomation .deadline {
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px; }
    .wq-my-account-wrapper .my-account-wrap .infomation .deadline .numColor {
      color: #ffe383; }
  .wq-my-account-wrapper .my-account-wrap .infomation .totalProgress {
    color: #ffa800;
    font-size: 34px;
    text-align: center;
    margin-top: 35px; }
  .wq-my-account-wrapper .my-account-wrap .infomation .totalNumber {
    width: 810px;
    height: 92px;
    background: url("../images/totalbg.png");
    background-repeat: no-repeat;
    margin: 30px auto;
    color: #ffe383;
    font-weight: 700;
    font-size: 48px;
    padding-left: 82px;
    letter-spacing: 40px; }
  .wq-my-account-wrapper .my-account-wrap .infomation .total {
    margin: 0 auto;
    height: 200px;
    padding-left: 130px;
    position: relative; }
    .wq-my-account-wrapper .my-account-wrap .infomation .total .totalLeft {
      float: left; }
      .wq-my-account-wrapper .my-account-wrap .infomation .total .totalLeft .totalIcon {
        width: 340px;
        height: 161px;
        background: url("../images/income.png"); }
      .wq-my-account-wrapper .my-account-wrap .infomation .total .totalLeft .totalperson {
        width: 206px;
        height: 161px;
        background: url("../images/totalperson.png");
        margin-left: 270px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .total .totalLeft .iconm {
        color: #ea9b08;
        font-size: 28px; }
        .wq-my-account-wrapper .my-account-wrap .infomation .total .totalLeft .iconm .numColor {
          color: #ffe383;
          font-weight: 700; }
  .wq-my-account-wrapper .my-account-wrap .infomation .data {
    margin-top: 35px;
    overflow: hidden; }
    .wq-my-account-wrapper .my-account-wrap .infomation .data .colorqiye {
      color: #ffd800;
      text-align: center;
      font-weight: 700;
      font-size: 42px; }
    .wq-my-account-wrapper .my-account-wrap .infomation .data .bottomFont {
      color: #fff;
      text-align: center;
      font-size: 18px; }
    .wq-my-account-wrapper .my-account-wrap .infomation .data .colorbigEvent {
      color: #fff;
      text-align: center;
      font-weight: 700;
      font-size: 42px;
      margin-bottom: 35px; }
    .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo {
      width: 600px;
      float: left;
      overflow: hidden;
      position: relative; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .qiyeLeft {
        color: #f2d87e;
        text-align: center;
        font-size: 18px;
        margin-top: 50px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .qiyeRight {
        color: #45a4ed;
        text-align: center;
        font-size: 18px;
        margin-top: 50px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .dataTitle {
        font-size: 42px;
        font-weight: 700;
        text-align: center; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .datayuqi {
        background: url("../images/yuqi.png");
        width: 318px;
        margin: 50px auto 0;
        height: 395px;
        position: relative; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .yuqiFont {
        color: #ff8149;
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        left: 100px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorO {
        color: #ff4200; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorB {
        color: #00e4cc; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorQudao {
        color: #5bcbff; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorYonghu {
        color: #00be6b; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorAge {
        color: #00e4cc; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorGeili {
        color: #ffb55d; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .colorFuli {
        color: #ffe194; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .dataFont {
        color: #fff;
        font-size: 18px;
        text-align: center; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .dataFont .dataFontColor {
          color: #ffe383; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .dataFont .dataFontSize {
          font-size: 28px;
          font-weight: 700; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson {
        width: 300px;
        float: left;
        color: #fff;
        margin-top: 40px;
        font-size: 18px; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .max {
          text-align: center;
          margin-bottom: 20px; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .geiliman {
          width: 118px;
          height: 94px;
          margin: 0 auto;
          background: url("../images/man.png") no-repeat; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .woman {
          color: #ffa8c6;
          height: 28px;
          line-height: 28px;
          text-align: center; }
          .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .woman .countColor {
            color: #fff; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .man {
          color: #47aaf6;
          height: 28px;
          line-height: 28px;
          text-align: center; }
          .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .man .countColor {
            color: #fff; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .geiliperson .geiliwoman {
          width: 96px;
          height: 92px;
          margin: 0 auto;
          background: url("../images/woman.png") no-repeat; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .dataMap {
        background: url("../images/map.png") no-repeat;
        width: 407px;
        height: 340px;
        margin: 80px auto; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .chart {
        position: absolute;
        top: 100px;
        left: 50px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .top10 {
        position: absolute;
        top: 100px;
        left: 150px;
        font-size: 18px;
        color: #fff;
        text-align: center; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .top10 .top10img {
          background: url("../images/top10.png");
          width: 44px;
          height: 43px;
          float: left; }
        .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .top10 .top10num {
          color: #ffe383;
          font-size: 38px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .userPerson .personImg {
        background: url("../images/person.png");
        width: 411px;
        height: 152px;
        margin: 0 auto;
        margin-top: 100px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .userPerson .personmanFont {
        font-size: 24px;
        color: #0079d5;
        float: left;
        margin: 45px 70px 0 110px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .userPerson .personwomanFont {
        color: #eb6795;
        font-size: 24px;
        text-align: center;
        float: left;
        margin-top: 45px; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .fontFuli {
        font-size: 18px;
        color: #fff;
        text-align: center; }
      .wq-my-account-wrapper .my-account-wrap .infomation .data .dataInfo .img1 {
        width: 310px;
        height: 158px;
        margin: 10px auto 20px; }

/*# sourceMappingURL=Report.css.map */
