@charset "UTF-8";
.bill-content-wrapper {
  width: 100%;
  padding: 20px 0 30px;
  background: #f3f3f3; }
  .bill-content-wrapper .bill-list-wrap {
    background: #f3f3f3; }
    .bill-content-wrapper .bill-list-wrap .list-title {
      padding-left: 26px;
      height: 49px;
      background: #fff;
      line-height: 49px;
      margin-bottom: 20px;
      border-bottom: 1px solid #f5f5f5; }
      .bill-content-wrapper .bill-list-wrap .list-title .title {
        float: left;
        font-size: 18px;
        color: #555;
        font-weight: bold;
        margin-right: 42px; }
      .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap {
        float: left;
        font-size: 14px;
        color: #bbb; }
        .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap span {
          float: left;
          margin-right: 8px; }
        .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul {
          float: left; }
          .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul li {
            margin-right: 46px;
            cursor: pointer; }
            .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul li i {
              float: right;
              margin: 21px 0 0 5px; }
              .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul li i.down {
                margin-top: 22px; }
            .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul li.actived, .bill-content-wrapper .bill-list-wrap .list-title .filter-wrap ul li:hover {
              color: #fe7634; }
      .bill-content-wrapper .bill-list-wrap .list-title .nums {
        float: right;
        padding-right: 26px;
        color: #999;
        font-size: 14px; }
    .bill-content-wrapper .bill-list-wrap .list-box {
      padding: 0 0 17px;
      background: #f3f3f3; }
      .bill-content-wrapper .bill-list-wrap .list-box .list-mode {
        padding: 6px 0 27px;
        border-bottom: 1px solid #dedede;
        overflow: hidden; }
        .bill-content-wrapper .bill-list-wrap .list-box .list-mode:hover {
          background: #ffffff !important; }
        .bill-content-wrapper .bill-list-wrap .list-box .list-mode .hot {
          position: absolute;
          left: 0;
          top: 0;
          width: 43px;
          height: 43px;
          background: url(../../imagess/home/hot.png) no-repeat; }
        .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul {
          overflow: visible; }
          .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li {
            min-width: 82px;
            white-space: normal; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name {
              width: 223px;
              padding: 18px 17px 0 80px;
              font-size: 18px;
              color: #424242;
              position: relative; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i {
                display: inline-block;
                height: 18px;
                font-size: 12px;
                text-align: center;
                border-radius: 2px;
                color: #fff; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-jinjiaosuo, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-ziguan {
                  height: 18px;
                  position: absolute;
                  left: 15px;
                  top: 52px;
                  border-radius: 5px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-jinjiaosuo {
                  width: 44px;
                  background-color: #3a97dd; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-ziguan {
                  width: 33px;
                  background-color: #3a97dd; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-jinjiaosuoicon {
                  width: 44px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-ziguanicon {
                  width: 33px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-jinjiaosuoicon, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-name i.public-ziguanicon {
                  position: absolute;
                  left: 20px;
                  top: 26px;
                  height: 18px !important;
                  background-color: #d4d4d4; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.bill-nameAfter {
              width: 223px;
              padding: 42px 17px 0 30px;
              font-size: 18px;
              color: #979797;
              position: relative; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box {
              padding-top: 4px;
              position: absolute;
              margin-top: 30px;
              width: 223px; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box p {
                height: 100px !important; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box .honour-tip {
                background: #ffffff !important;
                border: 1px solid #fff !important;
                border-top: 1px dotted #e9e9e9 !important;
                margin-bottom: 0px;
                font-size: 12px;
                font-family: '宋体';
                color: #ccc;
                width: 1090px;
                margin-left: 15px;
                margin-top: 4px !important;
                height: 25px;
                line-height: 25px;
                padding-left: 40px !important; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box .honour-tip .common-honour-icon2 {
                  width: 17px !important;
                  height: 19px !important;
                  position: absolute;
                  top: 5px !important;
                  left: 20px !important; }
                  .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box .honour-tip .common-honour-icon2.bg {
                    background: url("../../images/common/icondui.png") !important; }
                  .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.rate-box .honour-tip .common-honour-icon2.bgpast {
                    background: url("../../images/common/iconbg.png") !important; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.term-box {
              width: 228px;
              height: 60px;
              margin-top: 70px;
              border-left: 1px dotted #e9e9e9;
              border-right: 1px dotted #e9e9e9; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.term-box p {
                height: 60px !important;
                position: relative; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.term-box p span {
                  position: absolute;
                  width: 228px;
                  top: 0px;
                  left: 0px;
                  font-size: 18px;
                  text-align: center; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.start-box {
              width: 180px; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.total-box {
              margin-top: 70px;
              width: 300px;
              border-right: 1px dotted #e9e9e9; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.total-box p {
                height: 60px !important;
                position: relative; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.total-box p span {
                  position: absolute;
                  width: 228px;
                  top: 0px;
                  left: 0px;
                  font-size: 18px;
                  text-align: center; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box {
              width: 360px;
              padding-top: 20px;
              float: right;
              padding-left: 0; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box {
                width: 320px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e9e9e9; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box .percentage {
                  width: 320px; }
                  .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box .percentage span {
                    height: 7px;
                    background: #ffa32c;
                    border-radius: 20px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    margin: 0px !important; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box .jindu {
                  font-size: 12px;
                  color: #999;
                  font-family: "宋体"; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .number {
                font-size: 12px;
                color: #999;
                position: relative;
                padding-top: 12px;
                text-align: left; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .number .ketou {
                  position: absolute;
                  bottom: 15px;
                  left: -5px;
                  font-size: 16px; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .invest-btn, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn {
                width: 129px;
                height: 38px;
                line-height: 38px;
                margin-top: 18px;
                margin-right: 20px;
                float: right;
                background: #fe7634; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .invest-btn:hover, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn:hover {
                  background: #fe651b; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn {
                background: #dccdb8;
                cursor: default; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn:hover {
                  background: #dccdb8; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box p {
                width: 130px;
                height: 59px;
                display: block;
                margin-top: 6px; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p {
              height: 100px;
              width: 255px;
              display: table-cell;
              vertical-align: bottom;
              font-size: 14px;
              color: #999;
              text-align: center; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span {
                color: #333;
                margin-right: 5px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span b {
                  font-size: 24px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span.rate {
                  font-size: 24px;
                  color: #fe7634;
                  position: absolute;
                  top: 30px;
                  left: 85px; }
                  .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span.rate b {
                    font-size: 42px;
                    font-weight: bold;
                    margin: 4px 0 -4px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span t {
                  font-size: 14px;
                  color: #ff7200;
                  position: absolute;
                  top: 38px; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li p span .rateLittle {
                  font-size: 12px;
                  color: #ff7200;
                  position: absolute;
                  top: 10px; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li .little-tip {
              color: #bbb;
              padding-top: 10px; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li .little-tip i {
                float: left;
                margin-right: 3px; }
            .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box {
              width: 360px;
              padding-top: 26px;
              float: right;
              padding-left: 0; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box {
                width: 320px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e9e9e9; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box .percentage {
                  width: 320px; }
                  .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .percentage-box .percentage span {
                    height: 7px;
                    background: #ffa32c;
                    border-radius: 20px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    margin: 0px !important; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .invest-btn, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn {
                width: 129px;
                height: 38px;
                line-height: 38px;
                margin-top: 18px;
                margin-right: 35px;
                background: #fe7634; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .invest-btn:hover, .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn:hover {
                  background: #fe651b; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn {
                background: #dccdb8;
                cursor: default; }
                .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box .nouse-btn:hover {
                  background: #dccdb8; }
              .bill-content-wrapper .bill-list-wrap .list-box .list-mode ul li.invest-btn-box p {
                width: 130px;
                height: 59px;
                display: block;
                margin-top: 6px; }
        .bill-content-wrapper .bill-list-wrap .list-box .list-mode.end-mode {
          color: #a9a9a9; }
          .bill-content-wrapper .bill-list-wrap .list-box .list-mode.end-mode ul li p span {
            color: #a9a9a9; }
      .bill-content-wrapper .bill-list-wrap .list-box .page-wrap {
        padding-top: 54px; }
    .bill-content-wrapper .bill-list-wrap .billing-list {
      border: 1px solid #f3f3f3;
      background: #f3f3f3; }
      .bill-content-wrapper .bill-list-wrap .billing-list .bill-trigger {
        height: 40px;
        border-bottom: 1px solid #fff;
        margin-right: -1px;
        background: #fff; }
        .bill-content-wrapper .bill-list-wrap .billing-list .bill-trigger p {
          float: left;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: #555;
          width: 588px;
          background: #fff;
          border-right: 1px solid #f3f3f3;
          cursor: pointer; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-trigger p.active {
            border-top: 2px solid #fe7634;
            height: 40px;
            line-height: 39px;
            margin-top: -1px;
            border-bottom: 1px solid #fff  !important;
            background: none;
            width: 1158px;
            text-align: left;
            padding-left: 20px;
            cursor: default; }
      .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box {
        background: none; }
        .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode {
          width: 1178px;
          height: 165px;
          background: #fff;
          border: 1px solid #e2e2e2;
          border-radius: 5px;
          margin: 0 auto 15px;
          padding: 0;
          position: relative;
          overflow: visible; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode:hover {
            background: #ffffff;
            box-shadow: 0px 0px 5px #e9e9e9; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode .icon {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode ul li.bill-name {
            padding: 18px 17px 0 80px;
            width: 176px;
            font-size: 18px;
            color: #555; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-name {
            font-weight: 400;
            /* color: #fe7634; */
            color: #333333;
            position: relative; }
            .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-name i.public-jinjiaosuo,
            .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-name .public-ziguan {
              position: absolute;
              left: 30px;
              top: 26px;
              margin-right: 13px; }
          .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-namepast {
            font-weight: bold;
            color: #9a9a9a;
            position: relative; }
            .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-namepast i.public-jinjiaosuo,
            .bill-content-wrapper .bill-list-wrap .billing-list .bill-mode .list-box .list-mode.hot-mode .bill-namepast .public-ziguan {
              position: absolute;
              left: 30px;
              top: 52px;
              width: 15px !important;
              height: 15px !important; }
    .bill-content-wrapper .bill-list-wrap .past-list .past-title {
      height: 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #fff;
      margin: 29px auto 2px; }
      .bill-content-wrapper .bill-list-wrap .past-list .past-title .title {
        font-size: 16px;
        color: #888;
        text-align: center;
        width: 120px;
        margin: -13px auto 0;
        background: #f1f1f1; }
    .bill-content-wrapper .bill-list-wrap .past-list .list-title {
      background: #f3f3f3; }
    .bill-content-wrapper .bill-list-wrap .past-list .list-box {
      padding: 0;
      border: none;
      overflow: hidden; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-box .tishi {
        border: 1px solid #cccccc;
        color: #cccccc; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-box .tishi:hover {
          background: #cccccc;
          color: #fff;
          cursor: pointer; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-box .tishi2 {
        border: 1px solid #cccccc;
        background: #cccccc;
        color: #fff;
        border-radius: 8px; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-box .list {
        margin-bottom: -1px; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-box .page-wrap {
        padding-bottom: 40px; }
    .bill-content-wrapper .bill-list-wrap .past-list .list-mode {
      width: 1178px;
      height: 165px;
      background: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      margin: 0 auto 15px;
      padding: 0;
      position: relative;
      overflow: visible; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.bill-name {
        padding-left: 65px !important;
        width: 188px !important; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.bill-name i {
          position: absolute;
          left: 33px;
          top: 34px; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box {
        padding-top: 34px !important;
        width: 360px !important;
        position: relative; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .number {
          width: 100px !important;
          font-size: 12px;
          color: #999;
          position: relative;
          padding-top: 12px;
          text-align: left; }
          .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .number .ketou {
            position: absolute;
            font-size: 16px;
            bottom: 10px !important;
            left: 0px; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .percentage-box .percentage {
          width: 320px; }
          .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .percentage-box .percentage span {
            height: 7px;
            background: #ffa32c !important;
            border-radius: 20px;
            position: absolute;
            left: 0px;
            top: 0px;
            margin: 0px !important; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .percentage-box .jindu {
          font-size: 12px;
          color: #999;
          font-family: "宋体"; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box .percentage-box .baifen {
          z-index: 2;
          position: absolute;
          top: 32px;
          right: 12px;
          color: #333333; }
        .bill-content-wrapper .bill-list-wrap .past-list .list-mode li.invest-btn-box p {
          right: 0;
          top: 0;
          position: absolute;
          width: 49px !important;
          height: 52px !important;
          margin: 0 !important; }
      .bill-content-wrapper .bill-list-wrap .past-list .list-mode li p {
        height: 100px; }
    .bill-content-wrapper .bill-list-wrap .past-list .detail-btn {
      width: 128px;
      height: 33px;
      text-align: center;
      line-height: 33px;
      float: right;
      margin-top: 18px;
      margin-right: 30px;
      background: #fef1ea;
      border: 1px solid #fe7634;
      border-radius: 3px;
      display: block;
      color: #fe7634;
      font-size: 15px;
      cursor: pointer; }

/*# sourceMappingURL=billList.css.map */
