@charset "UTF-8";
.ng-scope .bill-detail-wrap {
  width: 100%;
  padding: 0 0 30px; }
  .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-box .bill-detail .detail-box .title b {
    position: relative; }
    .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-box .bill-detail .detail-box .title b i {
      position: absolute;
      left: -42px;
      top: 6px;
      font-size: 12px;
      color: #fff;
      display: inline-block;
      width: 40px;
      height: 18px;
      text-align: center;
      border-radius: 5px; }
      .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-box .bill-detail .detail-box .title b i.public-jinjiaosuo {
        background-color: #3996dc; }
      .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-box .bill-detail .detail-box .title b i.public-jinjiaosuoicon {
        background-color: #ccc; }
  .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-box .bill-detail .list-wrap {
    border-bottom: none;
    padding: 40px 0 10px; }
  .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box {
    /* 项目文件 */ }
    .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi {
      width: 1095px;
      margin: 0 auto 20px; }
      .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .title {
        font-size: 18px;
        margin-bottom: 25px;
        color: #666666; }
      .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation {
        width: 1045px;
        margin: 0 auto 30px;
        font-size: 14px;
        color: #666; }
        .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .littleTitle {
          font-size: 18px;
          color: #ff9600;
          margin-bottom: 25px; }
        .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message {
          font-size: 14px;
          color: #666666; }
          .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message table {
            margin: 0 auto; }
            .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message table td {
              font-size: 14px;
              color: #666;
              padding: 16px 0;
              border: 1px solid #ccc; }
              .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message table td.c {
                width: 560px;
                padding-left: 30px;
                text-align: left;
                padding-right: 85px; }
              .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message table td.t {
                text-align: right;
                padding-right: 25px;
                width: 230px; }
          .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi .infomation .message .info {
            text-indent: 2em; }
      .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi ul {
        width: 1045px;
        margin: 0 auto;
        position: relative;
        margin-top: 20px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 80px; }
        .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi ul li {
          float: left;
          margin-right: 50px;
          margin-top: 10px;
          height: 33px;
          line-height: 33px;
          text-align: center;
          border: 1px solid #cfebfb;
          background-color: #f1faff;
          color: #45b8ef; }
          .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi ul li a {
            color: #45b8ef;
            display: block;
            height: 33px;
            line-height: 33px;
            padding: 0 25px; }
            .ng-scope .bill-detail-wrap .bill-detail-content .bill-detail-info .info-wrap .info-box .fileSpeci .xinxi ul li a:hover {
              text-direction: none; }

/*# sourceMappingURL=billDetail2.css.map */
