.mask {
  /*  background-color: rgba(0, 0, 0, 0.6);
  background: #000/9;
  filter: alpha(opacity=60); */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .mask .kong {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background: #000/9;
    filter: alpha(opacity=60);
    top: 0;
    left: 0; }
  .mask .tan {
    position: absolute;
    width: 521px;
    height: 443px;
    background: url("../../images/task/bg_success.png");
    top: 20%;
    left: 50%;
    margin-left: -260px;
    animation: openMove 1s forwards; }
    .mask .tan .title {
      color: #333;
      font-size: 36px;
      text-align: center;
      margin-top: 129px; }
    .mask .tan .content {
      margin-top: 14px; }
      .mask .tan .content .cont {
        color: #151515;
        font-size: 20px;
        text-align: center;
        height: 49px;
        line-height: 49px; }
        .mask .tan .content .cont .col {
          font-size: 48px;
          color: #F94048; }
    .mask .tan .tishi {
      margin-top: 24px;
      text-align: center;
      color: #A0A0A0;
      font-size: 20px;
      height: 20px;
      line-height: 20px; }
    .mask .tan .button {
      margin-top: 38px;
      font-size: 24px; }
      .mask .tan .button .btnleft {
        width: 165px;
        height: 50px;
        line-height: 52px;
        border: 1px solid #FC8146;
        border-radius: 6px;
        float: left;
        color: #FC8146;
        margin-left: 82px;
        text-align: center;
        display: block;
        cursor: pointer; }
      .mask .tan .button .btnright {
        width: 165px;
        height: 52px;
        line-height: 52px;
        background: #FC8146;
        color: #fff;
        float: left;
        margin-left: 27px;
        text-align: center;
        display: block;
        border-radius: 6px;
        cursor: pointer; }
  .mask .close {
    width: 28px;
    height: 28px;
    background: url("../../images/task/icon_close.png");
    position: absolute;
    top: 20%;
    left: 50%;
    cursor: pointer;
    margin-left: 240px; }
  .mask .tanRenzheng {
    position: absolute;
    width: 408px;
    background: #fff;
    top: 20%;
    left: 50%;
    margin-left: -170px;
    margin-top: 22px;
    padding-bottom: 30px;
    border-radius: 5px;
    animation: openMove 1s forwards; }
    .mask .tanRenzheng .titleTop {
      height: 56px;
      margin-left: 92px;
      margin-top: 30px;
      font-size: 36px;
      color: #FE7634;
      padding-left: 20px; }
      .mask .tanRenzheng .titleTop .image {
        width: 56px;
        height: 56px;
        float: left;
        background: url("../../images/task/ok-circle - icons.png"); }
      .mask .tanRenzheng .titleTop p {
        float: left;
        margin-left: 25px; }
    .mask .tanRenzheng .title {
      color: #333;
      font-size: 36px;
      text-align: center;
      margin-top: 15px; }
    .mask .tanRenzheng .content .cont {
      color: #151515;
      font-size: 20px;
      text-align: center;
      height: 49px;
      line-height: 49px; }
      .mask .tanRenzheng .content .cont .col {
        font-size: 48px;
        color: #F94048; }
    .mask .tanRenzheng .button {
      margin-top: 38px;
      font-size: 24px; }
      .mask .tanRenzheng .button .btnleft {
        width: 165px;
        height: 50px;
        line-height: 52px;
        border: 1px solid #FC8146;
        border-radius: 6px;
        float: left;
        color: #FC8146;
        margin-left: 25px;
        text-align: center;
        display: block;
        cursor: pointer; }
      .mask .tanRenzheng .button .btnright {
        width: 165px;
        height: 52px;
        line-height: 52px;
        background: #FC8146;
        color: #fff;
        float: left;
        margin-left: 27px;
        text-align: center;
        display: block;
        border-radius: 6px;
        cursor: pointer; }

@keyframes openMove {
  0% {
    opacity: 0;
    transform: translateZ(0px); }
  100% {
    opacity: 1;
    transform: translateZ(500px); } }

/*#  */
