/* line 1, ../sass/pcVideo.scss */
.pcVideoMain {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 6, ../sass/pcVideo.scss */
.pcVideoMain .pcVideo {
  width: 1200px;
  height: 515px;
  margin: 0 auto 20px;
}
/* line 10, ../sass/pcVideo.scss */
.pcVideoMain .pcVideo .video {
  width: 848px;
  height: 512px;
  margin-right: 20px;
  float: left;
  -webkit-box-shadow: 3px 3px 3px #e9e9e9;
  -moz-box-shadow: 3px 3px 3px #e9e9e9;
  box-shadow: 3px 3px 3px #e9e9e9;
}
/* line 21, ../sass/pcVideo.scss */
.pcVideoMain .pcVideo .dvertisement {
  float: right;
}
/* line 23, ../sass/pcVideo.scss */
.pcVideoMain .pcVideo .dvertisement .app {
  width: 330px;
  height: 300px;
  margin-bottom: 10px;
  background: url("../../images/video/download.gif") no-repeat;
}
/* line 29, ../sass/pcVideo.scss */
.pcVideoMain .pcVideo .dvertisement .yaoqing {
  width: 330px;
  display: block;
  height: 200px;
  background: url("../../images/video/yaoqing.jpg") no-repeat;
}
