@mixin center-width{
    width:1200px; margin:0 auto;
}
.duorongSelect{//为什么选择多融
    background:#fff;
    @include center-width;
    .title{
        height:50px; line-height:50px; border-bottom:1px solid #ccc;
        font-size: 20px; padding-left:25px;
    }
    .content{
        margin-bottom:20px;
        padding-bottom: 20px;
        ul{ padding:30px 30px 0px;
            overflow:hidden;
            li{ float:left; width:49.3%;
                .img{ float:left; width:97px; height:97px; margin-left:50px; }
                &.img1{
                    .img{ background:url(../images/selectDuorong/img1.png)}
                }
                &.img2{
                    .img{  background:url(../images/selectDuorong/img2.png)}
                }
                &.img3{
                    .img{ background:url(../images/selectDuorong/img3.png)}
                }
                &.img4{
                    .img{ background:url(../images/selectDuorong/img4.png)}
                }

                h2{ height:35px; line-height:35px; font-size:24px; color:#000; font-weight:bold; }
                p{ font-size:14px;}

                .text{
                    padding-left:170px; padding-top:18px;
                }
            }
        }
    }
}
.duorongHonor{//多融荣誉
    @include center-width;
    margin-bottom:20px;
    background:#fff;
    .title{
        height:50px; line-height:50px; border-bottom:1px solid #ccc;
        font-size: 20px; padding-left:25px;
    }
    .content{
        padding:20px 0;
        overflow:hidden;
        ul{ overflow:hidden; clear:both;
            li{ float:left; width:24.9%; text-align:center;}
            h2,p{ font-size:14px; line-height:25px;}
        }
    }
}
.duorongfooter{//多融底部
    background:#333; color:#fff;
     overflow:hidden;
    .bg{ padding:40px 0; overflow:hidden;}
    .content{
        @include center-width;
        .tel{ float:right; padding-top:25px;
            .img{ float:left; width:62px; height:62px; margin-top:7px; background:url(../images/tel.png) no-repeat;}
            .text{
                float:left; padding-left:20px; overflow:hidden; text-align:center;
                em{ font-size:36px; color:#ffffff;}
            }

        }
        .left-side{ float:left;
            .down{ float:left; width:107px; padding-top:115px; text-align:center; font-size:16px; background:url(../images/code/codeDown.png) no-repeat;}
            .btns{ float:left; padding:20px 100px 0 30px;
                .btn1{ width:121px; height:32px; margin-bottom:5px; background:url(../images/IOS.png) no-repeat; }
                .btn2{ width:121px; height:32px; background:url(../images/Android.png) no-repeat;  }
            }
            .add{ float:left; width:107px; padding-top:115px; text-align:center; font-size:16px; background:url(../images/code/about.png) no-repeat;}
        }
    } 
}