.octCashBack-body{
	background: #000;
	padding-bottom: rem-calc(86px,1080);
	box-sizing: border-box;
	.banner{
		img{
			width:100%;
			display: block;
		}
	}
	.themeBox{
		width:100%;
		h2{
			font-size: rem-calc(48px,1080);
			color: #3c1507;
			background: url('../../images/octCashBack/titlebg.png') no-repeat;
			text-align: center;
			width: rem-calc(684px,1080);
			height: rem-calc(95px,1080);
			margin: rem-calc(49px auto 33px,1080);
			line-height: rem-calc(96px,1080);
			background-size: contain;
		}
		.themeInfo{
			margin: 0 auto;
			position: relative;
			color: #3c1507;
			width: rem-calc(975px,1080);
			height: rem-calc(1666px,1080);
			background: url('../../images/octCashBack/conbg1.png') center center no-repeat;
			background-size: contain;
			padding: rem-calc(80px 68px 0 80px,1080);
			box-sizing: border-box;
			.icon{
				width: rem-calc(14px,1080);
				height: rem-calc(80px,1080);
				position: absolute;
				top: rem-calc(-54px,1080);
				left: rem-calc(220px,1080);
				background: url('../../images/octCashBack/icon.png') no-repeat;
				background-size: contain;
				&.rt{
					left: rem-calc(750px,1080);
				}
			}
			.title{
				text-align: left;
				margin: 0 auto;
				font-size: rem-calc(38px,1080);
				line-height: rem-calc(68px,1080);
			}
			.psText{
				font-size: 42px;
				font-size: rem-calc(42px,1080);
				color: #f52402;
				line-height: rem-calc(72px,1080);
			}
			ul{
				margin: rem-calc(60px 0 20px,1080);
				padding: rem-calc(0 104px,1080);
				box-sizing: border-box;
				li{
					width: rem-calc(599px,1080);
					height: rem-calc(288px,1080);
					position: relative;
					margin-bottom: rem-calc(80px,1080);
					background: url('../../images/octCashBack/investBg1.png') no-repeat;
					background-size: 100%;
					text-align: center;
					&.sec{
						background: url('../../images/octCashBack/investBg2.png') no-repeat;
						background-size: 100%;
					}
					&.third{
						background: url('../../images/octCashBack/investBg3.png') no-repeat;
						background-size: 100%;
					}
					span{
						position: absolute;
						bottom: rem-calc(20px,1080);
						left: rem-calc(50px,1080);
						font-size: rem-calc(34px,1080);
						color: #812f2f;
						&.text{
							left: rem-calc(110px,1080);
						}
					}
				}
			}

		}
	}
	.exampleBox{
		position: relative;
		background: url('../../images/octCashBack/conbg2.png') no-repeat;
		width: rem-calc(966px,1080);
		height: rem-calc(570px,1080);
		background-size: 100%;
		margin: rem-calc(20px auto 0,1080);
		padding: rem-calc(50px 68px 0 80px,1080);
		box-sizing: border-box;
		.icon{
			width: rem-calc(14px,1080);
			height: rem-calc(80px,1080);
			position: absolute;
			top: rem-calc(-54px,1080);
			left: rem-calc(220px,1080);
			background: url('../../images/octCashBack/icon.png') no-repeat;
			background-size: contain;
			&.rt{
				left: rem-calc(750px,1080);
			}
		}
		h2{
			color: #3c1507;
			font-size: rem-calc(42px,1080);
			text-align: center;
			margin-bottom: rem-calc(45px,1080);
		}
		p{
			font-size: rem-calc(32px,1080);
			color: #3c1507;
			text-align: left;
			line-height: rem-calc(60px,1080);
		}
	}
	.investShow{
		margin: rem-calc(20px auto 0,1080);
		background: url('../../images/octCashBack/btnbg.png') no-repeat;
		width: rem-calc(951px,1080);
		height: rem-calc(124px,1080);
		background-size: 100%;
		box-sizing: border-box;
		position: relative;
		text-align: center;
		color: #f52402;
		font-size: rem-calc(48px,1080);
		line-height: rem-calc(124px,1080);
		.icon{
			width: rem-calc(14px,1080);
			height: rem-calc(80px,1080);
			position: absolute;
			top: rem-calc(-54px,1080);
			left: rem-calc(220px,1080);
			background: url('../../images/octCashBack/icon.png') no-repeat;
			background-size: contain;
			&.rt{
				left: rem-calc(750px,1080);
			}
		}
	}
	.investBtn{
		margin: rem-calc(100px auto,1080);
		width: rem-calc(920px,1080);
		height: rem-calc(160px,1080);
		background: #ff7800;
		border-radius: rem-calc(16px,1080);
		text-align: center;
		line-height: rem-calc(160px,1080);
		font-size: rem-calc(58px,1080);
		color: #fff;
		display: block;
	}
	.ruleBox{
		width: 100%;
		h2{
		font-size: rem-calc(48px,1080);
		color: #3c1507;
		background: url('../../images/octCashBack/titlebg.png') no-repeat;
		text-align: center;
		width: rem-calc(684px,1080);
		height: rem-calc(95px,1080);
		margin: rem-calc(49px auto 33px,1080);
		line-height: rem-calc(96px,1080);
		background-size: contain;
		}
		.itemsBox{
		position: relative;
		background: url('../../images/octCashBack/conbg3.png') no-repeat;
		width: rem-calc(966px,1080);
		height: rem-calc(647px,1080);
		background-size: contain;
		margin: rem-calc(20px auto 0,1080);
		padding: rem-calc(50px 68px 0 80px,1080);
		box-sizing: border-box;
		font-size: rem-calc(36px,1080);
		color: #3c1507;
			.icon{
			width: rem-calc(14px,1080);
			height: rem-calc(80px,1080);
			position: absolute;
			top: rem-calc(-54px,1080);
			left: rem-calc(220px,1080);
			background: url('../../images/octCashBack/icon.png') no-repeat;
			background-size: contain;
				&.rt{
					left: rem-calc(750px,1080);
				}
			}
			ul{
				li{
					position: relative;
					line-height: rem-calc(60px,1080);
					font-size: rem-calc(36px,1080);
					&.circleLi{
						padding-left: rem-calc(30px,1080);
						i{
							width: rem-calc(12px,1080);
							height: rem-calc(12px,1080);
							border-radius: rem-calc(50px,1080);
							position: absolute;
							top: rem-calc(18px,1080);
							left: 0;
							background: #3c1507;
						}
					}

				}
			}
		}
	}
	.whymeBox{
		width: 100%;
		h2{
		font-size: rem-calc(48px,1080);
		color: #3c1507;
		background: url('../../images/octCashBack/titlebg.png') no-repeat;
		text-align: center;
		width: rem-calc(684px,1080);
		height: rem-calc(95px,1080);
		margin: rem-calc(49px auto 33px,1080);
		line-height: rem-calc(96px,1080);
		background-size: contain;
		}
		.content{
			position: relative;
			background: url('../../images/octCashBack/conbg4.png') no-repeat;
			width: rem-calc(966px,1080);
			height: rem-calc(711px,1080);
			background-size: 100%;
			margin: rem-calc(20px auto 0,1080);
			padding: rem-calc(96px 0 0 110px,1080);
			box-sizing: border-box;
			font-size: rem-calc(36px,1080);
			color: #3c1507;
				.icon{
				width: rem-calc(14px,1080);
				height: rem-calc(80px,1080);
				position: absolute;
				top: rem-calc(-54px,1080);
				left: rem-calc(220px,1080);
				background: url('../../images/octCashBack/icon.png') no-repeat;
				background-size: contain;
					&.rt{
						left: rem-calc(750px,1080);
					}
				}
				.iconmode{
				height: auto;
				padding-bottom: rem-calc(32px,1080);
				overflow: hidden;
				i{
					float: left;
					width: rem-calc(89px,1080);
					height: rem-calc(89px,1080);
					&.gzkg{
						// @include rem-sprite("octCashBack/*.png",icona,$spacing:4px,$rem-base:1080px);
						background: url('../../images/octCashBack/icona.png') no-repeat;

						background-size: 100%;
					}
					&.guarantee{
						// @include rem-sprite("octCashBack/*.png",iconb,$spacing:4px,$rem-base:1080px);
						background: url('../../images/octCashBack/iconb.png') no-repeat;
						background-size: 100%;
					}
					&.pjcd{
						// @include rem-sprite("octCashBack/*.png",iconc,$spacing:4px,$rem-base:1080px);
						background: url('../../images/octCashBack/iconc.png') no-repeat;
						background-size: 100%;
					}
					&.lszc{
						// @include rem-sprite("octCashBack/*.png",icond,$spacing:4px,$rem-base:1080px);
						background: url('../../images/octCashBack/icond.png') no-repeat;
						background-size: 100%;
					}
				}
				div{
					overflow: hidden;
					float: left;
					padding-left: rem-calc(30px,1080);
					width: rem-calc(638px,1080);
				}
				span{
					font-size: rem-calc(40px,1080);
					display: block;
					font-weight: bolder;
					color: #b56100;
				}
				p{
					font-size: rem-calc(28px,1080);
					color: #3c1507;
					white-space:nowrap;
				}
			}
		}
	}
	.rules-bg{
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0,0,0,0.6);
		.mask{
			height:100%;
			width:100%;
			background: rgba(0,0,0,0.6);
			z-index: 100;
			position: absolute;
			top:0;
			left:0;
		}
		.model-content{
			margin:rem-calc(500px 56px 0,1080);
			width: rem-calc(971px,1080);
			height: rem-calc(656px,1080);
			background: url('../../images/octCashBack/alertbg.png') no-repeat;
			background-size: 100%;
	    	text-align: center;
	    	z-index: 1000;
	    	&.tips{
	    		height: rem-calc(680px,1080);
	    	}
	    	&.splice-rule{
	    		li{
	    			margin-bottom: rem-calc(6px,1080);
	    		}
	    	}
	    	.title{
		    	text-align: center;
		    	font-size: rem-calc(58px,1080);
		    	position: relative;
		    	.text{
		    		color: #3c1507;
		    		padding-top: rem-calc(46px,1080);
		    	}
		    	.icon{
					background: url('../../images/guoqing-app/close.png') no-repeat;
					position: absolute;
					top: rem-calc(40px,1080);
					right: rem-calc(70px,1080);
					width: rem-calc(36px,1080);
					height: rem-calc(36px,1080);
					background-size: contain;
		    	}
			}
			ul{
		    	li{
		    		position: relative;
		    		span{
						width: rem-calc(12px,1080);
						height: rem-calc(12px,1080);
						border-radius: 50%;
						position: absolute;
						top:10%;
						left:0;
						background: #666;
					}
		    	}
		    }
			.con{
				font-size: rem-calc(42px,1080);
				line-height: rem-calc(82px,1080);
				color: #3c1507;
				text-align: center;
				padding-top: rem-calc(82px,1080);
				padding-bottom: rem-calc(62px,1080);
				.go-back{
					background: #941d01;
					color:#fff;
					text-align: center;
					margin: 30px auto 0;
					border-radius: rem-calc(60px,1080);
					font-size: rem-calc(44px,1080);
					height: rem-calc(120px,1080);
					line-height: rem-calc(120px,1080);
					width: rem-calc(328px,1080);
					display: block;
				}
			}
			ul{
				padding: rem-calc(66px 40px,1080);
				background: #fff;
				border-radius: rem-calc(0 0 6px 6px,1080);
				font-size: 0;
				li{
					font-size: rem-calc(34px,1080);
					color:#666;
					//background: url('../../images/guoqing-app/dian2.png') no-repeat left 4px ;
					padding-left: rem-calc(48px,1080);
					text-align: start;
					position: relative;
					&.margin{
						margin-bottom: rem-calc(20px,1080);
					}
				}
			}
		}
	}
}
