body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
h1, h2, h3, h4, h5, h6{ font-weight: normal;}
body{ margin:0 auto; color:#333; -webkit-appearance: none; font-family:'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif; }
li { list-style: none; }
html, body{ max-width:46.875rem; margin:0 auto;}
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: none; }
img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer;-webkit-appearance: none; }
/* close commented backslash hack */
::-webkit-input-placeholder{ font-size:.75rem;  }
body{ background:#feeda7;-webkit-overflow-scrolling: touch; }
/* public */
input{outline: none;}
a{-webkit-tap-highlight-color:rgba(255,0,0,0);}
i{ display:block; }
#app{
	width:100%;
	position:relative;
	z-index: 1;
	-webkit-transform:initial;
	        transform:initial;
	opacity:1;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	transition-duration:.3s;
	box-sizing: border-box;
}
#app .container{}
#app .child-transition{ width:100%; box-sizing: border-box; }
#app.cur { -webkit-transform: translateY(18.75rem); transform: translateY(18.75rem); opacity: 0; }
.no-data{ padding:1.25rem; text-align:center; font-size:0.75rem; }
.btn{/*filter: grayscale(100%);*/
}
.btn:hover { -webkit-filter: brightness(1.2); }
.btn.gray { background: #ddd; }
.btn.gray:hover { -webkit-filter: brightness(1.2); }

.fade-enter-active, .fade-leave-active {
    position: absolute;
            width:100%;
            opacity:1;
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
position: absolute;
        width:100%;
  opacity: 0
}