{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/brand/noRun.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="noRun">
    <div class="banner"></div>
    <div class="content1">
        <div class="title"></div>
        <div class="road">
            <div class="littleTitle"><span class="icon"></span>银行存管</div>
            <div class="explain">平台已上线银行存管系统，平台只是一个中介，不直接涉及资金，没有资金池，你的钱投去了哪里，清清楚楚</div>
            <div class="littleTitle"><span class="icon"></span>三级等保</div>
            <div class="explain">平台已通过国家公安部核准颁发的“信息安全等级保护三级备案”认证，信息安全达非银行机构最高级别</div>
            <div class="littleTitle"><span class="icon"></span>国资+上市背景</div>
            <div class="explain">平台已获得大型国企和上市公司的控股，股东背景强大，资本实力雄厚</div>
        </div>
    </div>
    <div class="user"></div>
  <!--  <div class="xinsheng">
        <div class="xinshengBox">
            <div class="leftBtn"></div>
            <div class="rightBtn"></div>
            <div class="xinshengContent">
                <ul>
                    <li>
                        <div><img src='../../images/other/brand/noRun/zu1.png' style='width:100%;height:100%'></div>
                    </li>
                    <li>
                        <div><img src='../../images/other/brand/noRun/zu2.png' style='width:100%;height:100%'></div>
                    </li>
                    <li>
                        <div><img src='../../images/other/brand/noRun/zu3.png' style='width:100%;height:100%'></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
<!--<script src="/js/plug/superSlide.js" inline></script>
<script src="/js/other/brand/noRun.js" inline></script>-->
{% endblock %}
