{# 顶部导航 #}
<div class="wq-my-account-wrapper" id="aboutusMenu">
    <div class="my-account-wrap">
        <div class="my-account-side">
            <div class="side-mode-list">
                <div class='side-mode'>
                    <a :class='{actived:tag.DRGK}' href='/about/DRGK.html'>公司简介</a>
                </div> 
                <div class='side-mode'>
                    <a :class='{actived:tag.AQBZ}' href='/about/AQBZ.html'>安全保障</a>
                </div> 
                <div class='side-mode'>
                    <a :class='{actived:tag.YYBG}' :href='linkUrl'>运营报告</a>
                </div>
                <div class='side-mode'>
                    <a :class='{actived:tag.NEWS}' href='/about/NEWS.html'>公司新闻</a>
                </div>
                <div class='side-mode'>
                    <a :class='{actived:tag.GSDT}' href='/about/GSDT.html'>公司动态</a>
                </div>
                <div class='side-mode'>
                    <a :class='{actived:tag.QYHF}' href='/about/QYHF.html'>企业回访</a>
                </div>
                <div class='side-mode'>
                    <a :class='{actived:tag.LXWM}' href='/about/LXWM.html'>联系我们</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/about/aboutCommon.js'></script>
