body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td {
  margin: 0;
  padding: 0; }

address, cite, em, i {
  font-style: normal; }

html, body, root {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0 auto;
  color: #fff;
  -webkit-appearance: none;
  background: #fff;
  overflow-y: scroll;
  font-family: 'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  color: #878C92; }

li {
  list-style: none; }

html, body {
  max-width: 750px;
  margin: 0 auto; }

a {
  color: #535862;
  text-decoration: none; }

a:hover {
  color: #c40000;
  text-decoration: underline; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"], input[type="submit"], input[type="reset"] {
  cursor: pointer; }

.clearfix:after, .wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.middle * {
  display: inline-block;
  vertical-align: middle; }

::-webkit-input-placeholder {
  font-size: .75rem; }

/* height */
/* public */
/* link color */
.red {
  color: #f42b13; }

.green {
  color: #16c154; }

.black {
  color: black; }

.gray {
  color: #666; }

.blue {
  color: #2899f2; }

.orange {
  color: #cb420c; }

/* public */
.flex {
  flex-shrink: 0;
  -webkit-flex-shrink: 0; }

input {
  outline: none; }

/* layout */
.hide {
  display: none; }

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  opacity: 0;
  overflow: hidden; }

.container.cur {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1; }

.effect {
  float: left;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 600px;
  -webkit-perspective: 600px;
  background: #EFEFF4; }

.effect .option {
  float: left;
  min-height: 6.25rem;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  overflow: hidden;
  background: #fff; }

.swiper-container .swiper-wrapper .swiper-slide {
  background: #161f34;
  position: relative;
  color: #fff; }
  .swiper-container .swiper-wrapper .swiper-slide .alcenter {
    text-align: center; }
  .swiper-container .swiper-wrapper .swiper-slide .colorWhite {
    color: #fff; }
  .swiper-container .swiper-wrapper .swiper-slide .colorYellow {
    color: #ffe383; }
  .swiper-container .swiper-wrapper .swiper-slide .fongBlod {
    font-weight: 700; }
  .swiper-container .swiper-wrapper .swiper-slide .numTitle {
    font-size: 1.375rem;
    font-weight: 700; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .numTitle {
        font-size: 1.17857rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .numTitle {
        font-size: 1.17857rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .numTitle {
        font-size: 1.51938rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .title1Color {
    color: #ffa800; }
  .swiper-container .swiper-wrapper .swiper-slide .title2Color {
    color: #ff4200; }
  .swiper-container .swiper-wrapper .swiper-slide .title3Color {
    color: #00e4cc; }
  .swiper-container .swiper-wrapper .swiper-slide .title4Color {
    color: #00be6b; }
  .swiper-container .swiper-wrapper .swiper-slide .title5Color {
    color: #ffb55d; }
  .swiper-container .swiper-wrapper .swiper-slide .title6Color {
    color: #ffd800; }
  .swiper-container .swiper-wrapper .swiper-slide .title7Color {
    color: #ffe194; }
  .swiper-container .swiper-wrapper .swiper-slide .jiezhi {
    font-size: 0.75rem; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .jiezhi {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .jiezhi {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .jiezhi {
        font-size: 0.82875rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .totalIcon {
    margin: 0 auto; }
  .swiper-container .swiper-wrapper .swiper-slide .totalFont {
    font-size: 1rem;
    color: #ea9b08; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .totalFont {
        font-size: 0.85714rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .totalFont {
        font-size: 0.85714rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .totalFont {
        font-size: 1.105rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .top10 {
    margin: 0 auto; }
    .swiper-container .swiper-wrapper .swiper-slide .top10 .top10Img {
      background: url("../images/top10.png") no-repeat;
      background-size: contain;
      display: inline-block; }
    .swiper-container .swiper-wrapper .swiper-slide .top10 .ten {
      font-weight: 700;
      font-size: 1.375rem;
      color: #ffe383; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .swiper-container .swiper-wrapper .swiper-slide .top10 .ten {
          font-size: 1.17857rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .swiper-container .swiper-wrapper .swiper-slide .top10 .ten {
          font-size: 1.17857rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .swiper-container .swiper-wrapper .swiper-slide .top10 .ten {
          font-size: 1.51938rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .map {
    background: url("../images/map.png") no-repeat;
    background-size: contain;
    position: absolute; }
  .swiper-container .swiper-wrapper .swiper-slide .chart {
    position: absolute;
    margin: 0 auto; }
  .swiper-container .swiper-wrapper .swiper-slide .person {
    font-size: 0.75rem;
    color: #fff; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .person {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .person {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .person {
        font-size: 0.82875rem; } }
    .swiper-container .swiper-wrapper .swiper-slide .person .manImg {
      background: url("../images/bigman.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .swiper-container .swiper-wrapper .swiper-slide .person .womanImg {
      background: url("../images/bigwoman.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .swiper-container .swiper-wrapper .swiper-slide .person .manFont {
      font-size: 1rem;
      color: #63bcff;
      text-align: center; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .swiper-container .swiper-wrapper .swiper-slide .person .manFont {
          font-size: 0.85714rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .swiper-container .swiper-wrapper .swiper-slide .person .manFont {
          font-size: 0.85714rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .swiper-container .swiper-wrapper .swiper-slide .person .manFont {
          font-size: 1.105rem; } }
    .swiper-container .swiper-wrapper .swiper-slide .person .womanFont {
      font-size: 1rem;
      color: #ff91b7;
      text-align: center; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .swiper-container .swiper-wrapper .swiper-slide .person .womanFont {
          font-size: 0.85714rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .swiper-container .swiper-wrapper .swiper-slide .person .womanFont {
          font-size: 0.85714rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .swiper-container .swiper-wrapper .swiper-slide .person .womanFont {
          font-size: 1.105rem; } }
    .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson {
      float: left;
      text-align: center; }
      .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .littleWoman {
        background: url("../images/littlewoman.png") no-repeat;
        background-size: contain;
        margin: 0 auto; }
      .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .littleMan {
        background: url("../images/littleman.png") no-repeat;
        background-size: contain;
        margin: 0 auto; }
      .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .womanFontLittle {
        font-size: 0.75rem;
        color: #ff91b7;
        text-align: center; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .womanFontLittle {
            font-size: 0.64286rem; } }
        @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .womanFontLittle {
            font-size: 0.64286rem; } }
        @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .womanFontLittle {
            font-size: 0.82875rem; } }
        .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .womanFontLittle .spanColor {
          color: #fff; }
      .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .manFontLittle {
        font-size: 0.75rem;
        color: #63bcff;
        text-align: center; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .manFontLittle {
            font-size: 0.64286rem; } }
        @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .manFontLittle {
            font-size: 0.64286rem; } }
        @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
          .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .manFontLittle {
            font-size: 0.82875rem; } }
        .swiper-container .swiper-wrapper .swiper-slide .person .littlePerson .manFontLittle .spanColor {
          color: #fff; }
  .swiper-container .swiper-wrapper .swiper-slide .jiekuan {
    font-size: 0.75rem;
    text-align: center;
    color: #f2d87e; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .jiekuan {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .jiekuan {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .jiekuan {
        font-size: 0.82875rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .maxTen {
    font-size: 0.75rem;
    text-align: center;
    color: #0069c2; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .maxTen {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .maxTen {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .maxTen {
        font-size: 0.82875rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .bank {
    font-size: 0.75rem;
    text-indent: 2em; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .bank {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .bank {
        font-size: 0.64286rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .bank {
        font-size: 0.82875rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .fuliFont {
    font-size: 1rem;
    text-align: center; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
      .swiper-container .swiper-wrapper .swiper-slide .fuliFont {
        font-size: 0.85714rem; } }
    @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
      .swiper-container .swiper-wrapper .swiper-slide .fuliFont {
        font-size: 0.85714rem; } }
    @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
      .swiper-container .swiper-wrapper .swiper-slide .fuliFont {
        font-size: 1.105rem; } }
  .swiper-container .swiper-wrapper .swiper-slide .fuliImg {
    margin: 0 auto; }
.swiper-container .swiper-wrapper .p1 .month {
  position: absolute;
  top: 35%;
  left: 50%; }

/*# sourceMappingURL=report.css.map */
