{#法律法规#}
{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/protocol/index.css" rel="stylesheet" type="text/css" inline/>
<link href="/style/other/protocol/lawProtocol.css" rel="stylesheet" type="text/css" inline/>
<meta charset='UTF-8'>
<div id="APP" class="lawprotocal">
    <div class='container'>
        <div>
            <h1>法律声明</h1>
            <h3>最后更新时间是2018/05/09</h3>
            <p>1.	本网站只为符合中华人民共和国法律规定的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人提供产品及服务。所发布的信息无意提供给不符合上述限定的人士。</p>
            <p>2.	除非另外约定，本网站所刊载所有内容（包括但不限于商标、标志、文本、图片、数据等）及网站设计的版权均归多融财富及其权利人依法拥有。未经多融财富或其权利人书面同意，任何人不得擅自使用、修改、复制、公开发布多融财富程序或内容。</p>
            <p>3.	本网站为用户提供借贷交易居间服务时，会根据实际情况进行评估。本网站不承诺所有用户都能享受所有的产品和服务。对于用户是否符合享受产品和服务的条件，本网站具有最终的解释权。</p>
            <p>4.	本网站尊重并保护所有用户的个人隐私权，并严格依照国家法律法规的规定保护用户的个人信息。下列情况上海银砖金融信息服务有限公司有权披露用户的个人信息。</p>
            <p>
                <h4>1）事先经过用户的明确授权时；</h4>
                <h4>2）相关机构依照法定程序要求本网站进行披露时；</h4>
                <h4>3）为维护本网站其他用户及社会公众合法权益而有必要披露时。</h4>
            </p>
            <p>5.	用户通过本网站发布的交易信息，及本网站提供的评价信息均仅供参考。用户应在独立判断后作出交易决策。</p>
            <p>6.	本网站力求发布客观真实的信息，但无法保证所有资料准确无误。由完全信赖该资料而产生的法律后果，本网站不承担任何责任。</p>
            <p>7.	为了方便用户，本网站允许用户通过链接访问其他站点。但本网站无法保证其他站点的安全性和可靠性。用户由网站链接访问到其他站点而造成的损失，本网站不承担任何责任。</p>
            <p>8.	本网站合作机构提供的服务由该合作单位负责。用户享用相关服务时产生的争议、纠纷及损失，本网站不承担任何责任。</p>
            <p>9.	本网站特定产品及服务可能包含单独条款，作为对本声明的补充。如有任何冲突，该条款仅对相关服务适用。</p>
            <p>10.	鉴于互联网传输的特殊性，本网站无法保证所有交易的准确性及及时性。由本网站不可控因素而导致的任何法律后果，本网站不承担任何责任。</p>
            <p>11.	本声明及其他附属协议的修改权、更新权及最终解释权均归本网站所有。</p>
        </div>
    </div>
</div>
<script src="/js/plug/jquery-1.11.1.min.js"></script>
<script src="/js/plug/vue.2.4.2.min.js"></script>
<script src="/js/common/global.js"></script>
<script src="/js/other/protocol/baoliCtr.js" inline></script>
{% endblock %}
