{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/downloadApp.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="download">
	<div class="wrap">
		<div class="content">
			<div class="title"></div>
			<div class="bott">
				<div class="code"></div>
				<div class="btns">
					<a href="https://itunes.apple.com/cn/app/duo-rong-li-cai-guo-qi-kong/id1095192150?mt=8" class="iphone" rel="nofollow"></a>
					<a href="http://app.duorongcf.com/html/2weima.html" class="android"></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
