{% extends "common/main.njk" %}
{% block body %}
<style>
    body{
        background:#fff;
    }
    .banner{
        height:705px;
        background:url("/images/other/zhongjianerju_chongqing/banner.png") center 0 no-repeat;
    }
    .img1{
        height:275px;
        margin:-160px 0 0;
        background:url("/images/other/zhongjianerju_chongqing/img2.png") center 0 no-repeat;
    }
    .module{
        padding:50px 0;
    }
    .module.blue{ background:#e8f2fb; }
    .center{
        width:1100px; margin:0 auto;
    }
    .module dl{}
    .module dt{
        clear:both;
        width:350px;
        height:65px;
        line-height:65px;
        text-align:center;
        font-size:30px;
        border-radius:50px;
        background:#116dc0;
        color:#fff;
    }
    .module dd{
        padding:20px 0;
        line-height:33px;
        text-indent:2em;
        color:#333;
        font-size:18px;
    }
    .img3{
        float:right;
        width:417px;
        height:314px;
        margin-top:-120px;
        background:url("/images/other/zhongjianerju_chongqing/img3.png");
    }
    .img4{
        clear:both;
        height:234px;
        padding-top:60px;
        background:url("/images/other/zhongjianerju_chongqing/img4.png") center 60px no-repeat;
    }
    .text1{
        line-height:55px;
        border-radius:20px;
        padding:30px;
        color:#fff;
        font-size:18px;
        background:#116dc0;
        overflow:hidden;
    }
    .text1 b{
        font-size:48px;
    }
    .text1 .img{
        float:right;
        width:415px; height:321px;
        margin-left:20px;
        text-align: center;
        line-height: 708px;
        background:url("/images/other/zhongjianerju_chongqing/img5.png") center 0 no-repeat;
    }
    .text-sm{
        padding:30px 0;
        line-height:33px;
        color:#333;
        font-size:18px;
    }
    .img6{
        height:791px;
        background:url("/images/other/zhongjianerju_chongqing/img6.png") center 0 no-repeat;
    }
    .img7{
        height:875px;
        background:url("/images/other/zhongjianerju_chongqing/img7.png") center 0 no-repeat;
    }
</style>
<div class="wapper">
    <div class="banner"></div>
    <div class="img1"></div>
    <div class="module">
        <div class="center">
            <dl>
                <dt>企业简介</dt>
                <dd>中建二局隶属于中国建筑股份有限公司，2007年12月，中国建筑工程总公司整体改制上市，公司改制成为一人有限责任公司（法人独资），中建二局名称由中国建筑第二工程局变更为中国建筑第二工程局有限公司。中建二局总部设在北京，注册资本人民币50亿元，净资产115.92亿元。</dd>
            </dl>
            <dl>
                <dt>经营业绩</dt>
                <dd>公司拥有良好的社会信誉，被评为“全国优秀施工企业”、“全国竞争力百强企业第二名”和首批“AAA企业信用等级”等称号。现已形成以北京、上海、深圳、郑州、重庆、沈阳六大中心城市及辐射区为重点的经营区域。同时积极实施国际化经营战略，先后在伊拉克、约旦、阿联酋、博茨瓦纳、越南、文莱、阿尔及利亚等地开拓了海外施工任务。</dd>
            </dl>
            <dl>
                <dt>代表项目</dt>
                <dd>
                    <div class="img3"></div>
                    公司优质已完工程有：大亚湾核电站、岭澳核电站（一期、二期）、深圳赛格广场、郑州国际会展中心、深圳市民中心、南京万科上坊保障房、宁波罗蒙环球城、上海迪斯尼、新疆油页岩开发等。在国内外都颇具影响。</dd>
            </dl>
        </div>
        <div class="img4"></div>
    </div>
    <div class="module blue">
        <div class="center">
            <div class="text1">
                <div class="img">图为金融街•金悦锦城项目部分照片</div>
                <b>首</b>先考察的是位于重庆沙坪坝区的金融街•金悦锦城项目，上游供应商为此项目提供各类钢材量为3万多吨。此项目为高品质住宅楼，总共分为三期，地段非常好，与重庆磁器口古镇相邻（国家AAAA级景区），建筑面积约为40万平方米，楼层均为33层符合当地最高楼层建筑标准。金融街•金悦锦城项目起初房价预定售价为九千一平方米，由于楼品偏高周围环境良好，现一期售价为一万一/每平方米，二期售价为一万二/每平方米，三期售价为一万四/每平方米，目前二期尚未竣工，但一二三期均已销售完毕，非常火爆。
            </div>
            <div class="text-sm">下图为中建二局物资部谭经理和同事为多融财富人员介绍项目情况：</div>
            <div class="img6"></div>
            <div class="text-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;之后参观的是位于重庆九龙坡区的鲁能九龙花园•东郡项目，此项目为高档住宅楼，上游供应商为此项目提供钢材量为4万多吨，建筑面积约为60万平方米，楼层均为33层，小区正对轻轨，交通便利，房价售价为每平方米约为一万五左右。鲁能九龙花园•东郡项目分为两期，一期建筑时间约为一年多，二期已经挖好地基。</div>
            <div class="img7"></div>
            <div class="text-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上游供应商所供应的钢材均按照与中建二局所签采购合同的要求进行供应。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;参观的两个项目都是中建二局与多融财富正在合作的，这些项目均在正常施工，各项采购、施工工作正在进行中。而且多融财富与中建二局合作的第一笔业务也在今年4月28日正常回款，目前正在合作的几笔业务也在正常进行。除了这些项目需要供应钢材，中建二局还有一些路和桥的项目也在开展中，这些项目也需要上游供应商进行钢材供应，预计每年需提供钢材量为几十万吨，这些业务也会陆陆续续进行落地实施。中建二局所有项目各个环节都需要各种材料的采购：建材、钢材、水泥、混凝土、机械设备等，大部分业务都有赊账采购的需求，希望未来可以和中建二局展开更多的业务合作。
            </div>
        </div>
    </div>
</div>
<script src="../js/other/huifang.js" inline></script>
{% endblock %}
