@import "./global.scss";
.support {
  font-family: "PingFangSC Light";
  .banner1 {
    @include contain("../images/banner_01.png");
    background-size: 100% auto;
  }
  .banner2 {
    @include contain("../images/banner_02.png");
    background-size: 100% auto;
  }
  .banner3 {
    @include contain("../images/banner_03.jpg");
    background-size: 100% auto;
  }
  .content1 {
    background: url("../images/bg1.png") repeat;
    position:relative;
    .xingcheng{
        @include contain("../images/xingcheng.png");
        margin:0 auto;
    }
    .videoTitle{
      @include contain("../images/videoTitle.png");
      margin:0 auto;
      position:absolute;
    }
    .videoCon{
      @include font-size(9px);
      font-family:"PingFangSC Light";
      color:#4693cb;
      text-align:center;
      position:absolute;

    }
    .videoImg{
      @include contain("../images/videoImg.png");
      position:absolute;
      margin:0 auto;
    }
    .mediaTitle{
      @include contain("../images/meitiTitle.png");
      margin:0 auto;
      position:absolute;
    }
    .mediaImg1{
      @include contain("../images/mediaImg_03.png");
      position:absolute;
    } 
    .mediaImg2{
      @include contain("../images/mediaImg_06.png");
      position:absolute;
    } 
    .mediaImg3{
      @include contain("../images/mediaImg_08.png");
      position:absolute;
    }
    .mediaCon{
      position:absolute;
      a{
        @include font-size(10px);
        font-family:"PingFangSC Regular";
        color:#000;
        text-decoration:none;
        position:absolute;
      }
    }
    .line{
        @include contain("../images/line_01.png");
        position:absolute;
    }
    .conTitle{
        @include font-size(9px);
        text-align:center;
        color:#fff;
        border-radius:$s30;
        position:absolute;
    }
    .conC{
        border-radius:$s20;
        border:$s1 dashed #c8c8c8;
        @include font-size(11px);
        text-indent:2em;
        position:absolute;
         font-family: "PingFangSC Light";
        color:#333;
        .link{
           color:#4693cb;
        }
    }
    .day1Img{
      @include contain("../images/img1.png");
      position:absolute;
    }
     .day2Img{
      @include contain("../images/img2.png");
      position:absolute;
    } 
    .day3Img{
      @include contain("../images/img3.png");
      position:absolute;
    } 
    .day4Img{
      @include contain("../images/img4.png");
      position:absolute;
    }
    .bg1{
        background:#9cbe5b;
    }
    .bg2{
        background:#bebebe;
    }
  }
  .content2 {
    background: url("../images/bg2.png") repeat;
    .content2Title {
      @include contain("../images/appgongyi.png");
      margin: 0 auto;
    }
    .con {
      /*  border-radius: $s30;
            border:$s2 dashed #c8c8c8;
            @include font-size(11px);
            line-height:$s20;
            text-indent:2em; */
      @include contain("../images/con123.png");
      margin: 0 auto;
    }
    .prevIU {
      @include contain("../images/titleIcon1.png");
      margin: 0 auto;
    }
    .box {
      position: relative;
      .slideBox {
        z-index: 0;
        margin: 0 auto;
        .bd {
          overflow: hidden;
          margin: 0 auto;
          position:relative;
          .imgbox{
            margin:0 auto;

          }
          li {
            zoom: 1;
            vertical-align: middle;
            margin: 0 auto;
          }
          img {
            display: block;
          }
        }
      }
      .btnRight {
        @include contain("../images/btn_05.png");
        position: absolute;
      }
      .btnLeft {
        @include contain("../images/btn_03.png");
        position: absolute;
      }
    }
    .ceoIcon {
      @include contain("../images/titleIcon2.png");
      margin: 0 auto;
    }
    .ceo{
        @include contain("../images/ceo.png");
        margin:0 auto;
    }
  }
}
