<!-- 登录 -->
<!-- tou -->
<div ng-controller="dlCtrl">
	<div class="loginpage">
		<div class="header-wrap">
			<div class="logo-wrap">
				<img src="/main/images/logo.png" ng-click="$state.go('main.home');">
				<span></span>
				<a target="_blank" style="display: block;float: left;cursor: default;"><img src="../../main/images/logoo.jpg" alt=""></a>
			</div>
		</div>
		<!-- <i class="bot"></i> -->
	</div>
	<!-- tou over -->

	<!-- zhong -->
	<div class="quick-register-wrap" style="min-height:596px;background-color: #EBF8FF;">
	  <div class="wqq-quick-register-wrap-box" style="width: 1200px;height: 578px;margin: 0 auto;position: relative;">
		<i class="register-banner"  style="left:0"></i>
		<div class="quick-register-wrapper" style="padding: 20px 0 0 1140 px;float: left;position: absolute;right: 0;">
			<form class="login_form" ng-model="userLogin" name="userLoginform">
				<input style="display:none">
				<input type="password" style="display:none">
				<div class="quick-login-mod">
					<div class="title">
								<!-- <span class="choose-box">没有账号？
									<a href="" ng-click="onGotoLoginClick('zhuCe')" class="change-btn">快速注册</a>
								</span> -->
								<!-- <span class="choose-box">没有账号？
									<a href="{{hrefUrl}}zhuce" class="change-btn">快速注册</a>
								</span> -->
								<div class="throung"></div>
								<div class="p-box">
									<p  ng-cloak class="ng-cloak">会员登录</p>
								</div>
							</div>
					<div class="quick-register-box">

						<!-- 登录用户名 -->  
						<div class="input-box">
							<div class="input-mod">
								<!--<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码"  ng-mouseOut="userNameShowError=true" ng-mouseOver="userNameShowError=fasle" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " class="text"  ng-model="userLogin.mobilephone" name="userName" required minlength="11" maxlength="11" autocomplete="off" />-->
								<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码"  ng-mouseOut="userNameShowError=true" ng-mouseOver="userNameShowError=fasle" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " class="text"  ng-model="userLogin.mobilePhone" name="userName" required minlength="11" maxlength="11" autocomplete="off" />
								<i ng-cloak ng-show="userLoginform.userName.$valid && userNameShowError" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.userName.$dirty || userLoginform.userName.$error.serverError]"></i>
								<span ng-show="userLoginform.userName.$valid && userNameShowError" ng-cloak class="error"><font color="red">{{userLoginform.userName | denLuUserNameError:serverErrorCode}}</font></span>
							</div>
						</div>
						<!-- 图文验证 -->
						<div ng-show="isPicYanZhen" class="input-box">
							<div class="img-box">
								<img ng-click="clickInput('changePic',$event)" src="login/validateCode.do">
							</div>
							<div class="input-mod">
								<input type="text" placeholder="请输入验证码" ng-pattern="/[a-zA-Z|0-9]{4}/" ng-maxlength="4"  onkeyup="this.value=this.value.replace(/[^\d|a-zA-Z]/gi,'').substr(0,5)" ng-mouseOver="picShowError=fasle" class="text small-text" ng-model="userLogin.picCode" name="picCode" autocomplete="off" />
							</div>
							<i ng-show="userLoginform.picCode.$valid && picShowError" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.picCode.$error.serverError]"></i>
							<span class="error" ng-show="userLoginform.picCode.$valid && picShowError"><font color="red">{{userLoginform.picCode | denLuPicCodeNameError:serverErrorCode}}</font></span>
						</div>
						<!-- 密码 -->
						<div ng-hide='isShowUserPsw' class="input-box passwd-box">
							<div class="input-mod">
								<input placeholder="请输入密码" type="password" ng-model="userLogin.passWord" class="text" name="passWord"   autocomplete="off" required />
							</div>
							<i ng-show="userLoginform.passWord.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[userLoginform.passWord.$valid]"></i>
							<span class="error" ng-show="userLoginform.passWord.$valid"><font color="red">{{userLoginform.passWord | denLuPassWordError:serverErrorCode}}</font></span>
						</div>
						<!-- 登录/注册 按钮 -->
						<div class="sub-box" ng-click="LoginClick('denLu',userLoginform)">
							<input  style="background:#E8A22B;" ng-disabled="userLoginform.$invalid" class="sub-btn sub" type="submit" value="登 录"/>
						</div>
						<!-- 服务条款/切换状态 -->
						<div class="agreement-box">
							<div class="forget">
							    <span class="choose-box">没有账号？
									<a href="{{hrefUrl}}zhuce" class="change-btn">快速注册</a>
								</span>
								<a href="" ng-click="$state.go('main.resetPasswd')" class="reset-passwd">忘记密码</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	  </div>
	</div>
	<!-- zhong over -->

	<!-- buttom -->
	<div id="footer">
		<div class="footer-wrapper">
			<div class="foot-wrap">
				<div class="foot-nav">
					<div class="nav-mod">
						<!-- <i class="common-fot-home"></i> -->
						<p>关于多融</p>
						<ul>
							<li><a href="{{a|webIE8}}about/DRGK.html" target="_blank">多融概况</a></li>
							<li><a href="{{a|webIE8}}about/LXWM.html" target="_blank">联系我们</a></li>
							<li><a href="{{a|webIE8}}about/AQBZ.html" target="_blank">安全保障</a></li>
						</ul>
					</div>
					<div class="nav-mod">
						<!-- <i class="common-fot-qa"></i> -->
						<p>帮助中心</p>
						<ul>
							<li><a href="{{a|webIE8}}help/CJWT.html" target="_blank">常见问题</a></li>
							<li><a href="{{a|webIE8}}help/LCKT.html" target="_blank">理财课堂</a></li>
							<li><a href="{{a|webIE8}}help/XSZY.html" target="_blank">新手指引</a></li>
							<li><a href="{{a|webIE8}}help/MZSM.html" target="_blank">免责声明</a></li>
						</ul>
					</div>
				</div>
				<div class="modeline"></div>
				<div class="foot-code">
					<div class="mode">
						<div class="box">
							<img src="/main/images/common/footwechat.png">
						</div>
						<p>关注官方微信号<br>最新理财资讯，投资领先一步</p>
					</div>
					<div class="mode">
						<div class="box">
							<img src="/main/images/common/footapp.png">
						</div>
						<p>下载多融APP<br>开启理财护航之路</p>
					</div>
				</div>
				<div class="modeline"></div>                                                                
				<div class="contact-wrap">
					<div class="title">
						<p>客服热线</p>
					</div>
					<strong ng-cloak>{{(a | web).phone}}</strong>
					<span>工作时间:08:30 — 20:30<br>法定节假日除外<br>客服QQ:4006908896</span>
				</div>
			</div>
		</div>
		<div class="right-wrapper">
			<div class="foot-right">
				<!--<div class="right-text" style="padding: 0;">市场有风险 投资需谨慎；平台建议的预期年化收益率仅供参考，不代表未来实际收益</div>-->
				<div class="right-text" style="padding: 0;">市场有风险 投资需谨慎；平台建议的历史年化收益率仅供参考，不代表未来实际收益</div>
				<div class="right-text" style="padding: 0;">沪ICP备15011207号-5 | Copyright Reserved © 上海银砖金融信息服务有限公司 {{v}}</div>
				<div class="right-text" style="padding-top: 0;">公司电话：021-80312696 | 公司地址：上海市虹口区四川北路859号中信广场41楼</div>
				<ul>
					<li><a class="spread-partners-hu" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.duorongcf.com&lang=zh_cn" target="_blank"><img src="/main/images/spread-partners/hu.png"></a></li>
					<li><a id='___szfw_logo___' class="spread-partners-kexin" href="https://credit.szfw.org/CX20170123033101030377.html" target="_blank"><img src="/main/images/spread-partners/kexin.png"></a></li>
					<li><a class="spread-partners-aliyun" href="https://www.aliyun.com/" target="_blank"><img src="/main/images/spread-partners/aliyun.png"></a></li>
					<li><a class="spread-partners-zdcy" href="https://www.yunaq.com/cyd/" target="_blank"><img src="/main/images/spread-partners/zdcy.png"></a></li>
					<li><a  key ="570e15dfefbfb02ee9d6f567"  logo_size="83x30"  logo_type="business"  href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.duorongcf.com&at=business" target="_black" ><img style="background: #fff;" src="//static.anquan.org/static/outer/image/hy_83x30.png" alt="安全联盟认证" width="83" height="30" style="border: none;"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
	<!-- 底部结束 -->
  <!-- 弹框 -->
  <div class="mask" ng-show='isShow' >
    <div class="kong" style='width: 100%;
    height: 100%;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.6);
     background:#000\9;
    filter:alpha(opacity=60);
    top: 0;
    left: 0;'></div>
   <!--  中间内容部分 -->
      <div class="tan">
      		<div class="title">恭喜你获得</div>
      		<div class="content" ng-repeat='item in result'>
      			<div class="cont" ng-show='item.gainedPoints != 0'><span class="col">+{{item.gainedPoints}}</span>积分</div>
      			<div class="cont" ng-show='item.gainedEXP != 0'><span class="col">+{{item.gainedEXP}}</span>经验</div>
      		</div>
      		<div class="tishi">
      			{{tips}}
      		</div>
      		<div class="button">
      			<a class="btnleft" ng-click="tiao()" target="_blank">积分兑换</a>
      			<a class="btnright" ng-click="close()" target="_blank">确定</a>
      		</div> 		
      </div>
      <div class="close" ng-click="close()"></div> 
      </div>
 
</div>

