<!-- 用户注册 -->
<div ng-controller="zhuceCtrl" class="publicity-wrap">

	<!-- tou -->
	<div class="loginpage">
		<div class="header-wrap">
			<img class="publicity-slogo" src="/main/images/publicity/slogo.png">
			<div class="logo-wrap">
				<img src="/main/images/publicity/logo.png">
			</div>
		</div>
	</div>
	<!-- tou over -->

	<!-- zhong -->
	<div class="quick-register-wrap" style="background: none">
	  <div cl ass="wqq-quick-register-wrap-box">
		<div class="quick-register-wrapper">
			<form class="login_form" ng-model="login" name="loginform">
				<input style="display:none">
				<input type="password" style="display:none">
				<div class="quick-register-mod">
					<div class="quick-register-box">

						<div class="newtitle">
							立领10000元体验金
						</div>
						
						<!-- 注册登录名 -->
						<div class="input-wrap">
							<div class="name">手机号码:</div>
							<div class="input-box">
								<div class="input-mod">
									<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/"  placeholder="请输入手机号码" ng-blur="blurID('focusMobilephone',loginform)" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text" ng-model="login.mobilephone" name="mobilephone" required minlength="11" maxlength="11" id="mobilephone" />
									<i ng-show="loginform.mobilephone.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.mobilephone.$valid]"></i>
					                <span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
								</div>
							</div>
						</div>	
						<!-- 图文验证 -->
						<div class="input-wrap">
							<div class="name">验 证 码:</div>
							<div class="input-box">
								<div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
								<div class="input-mod">
									<input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off"/>
								</div>
								<i ng-show="loginform.picCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.picCode.$valid]"></i>
								<span class="error" ng-show="loginform.picCode.$valid"><font color="red">{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
							</div>
						</div>
						<!-- 短信验证 -->
						<div class="input-wrap">
							<div class="name">手机验证:</div>
							<div class="input-box">
								<a href="" ng-click="clickInput('phonecodeMSG',$event,null,loginform,0)" class="get-code">{{nowTimer}}获取验证码</a><!--  nouse-btn -->
								<div class="input-mod">
									<input ng-disabled="!loginform.mobilephone.$dirty || !loginform.picCode.$dirty || loginform.mobilephone.$valid || loginform.picCode.$valid" placeholder="请输入短信验证码"  type="text" ng-model="login.smsCode"  name="smsCode" class="text small-text" maxlength="4" required/>
								</div>
								<i ng-show="loginform.smsCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.smsCode.$valid]"></i>
								<span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
							</div>
						</div>
						<!-- 密码 -->
						<div class="input-wrap">
							<div class="name">设置密码:</div>
							<div class="input-box passwd-box">
								<div class="input-mod">
									<input autocomplete="off" ng-show="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text" name="passWord" required />
									<input autocomplete="off" ng-hide="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord" ng-model="login.passWord" class="text" name="passWord" required/>
								</div>
								<i ng-class="{true:'login-icons-eyehide',false:'login-icons-eye'}[passwordText]" ng-click="showPassword(passwordText)" ></i>

								<i ng-show="loginform.passWord.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.passWord.$valid]"></i>
								<span  class="error" ng-show="loginform.passWord.$valid"><font color="red">{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
							</div>
						</div>
						<!-- 登录/注册 按钮 -->
						<div class="sub-box" ng-if="loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
							<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
						</div><!-- 登录/注册 按钮 -->
						<div class="sub-box" ng-if="!loginform.$invalid" >
							<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
						</div>
						<div class="gotolog"><!-- 已有账号 <a href="/dl" target="_blank">请登录</a> --></div>
					</div>
				</div>
			</form>
		</div>
	  </div>
	</div>
	<!-- zhong over -->
	
	<div class="why-wrap">
		<div class="why">
			<div class="title">为什么选择多融财富？</div>
			<ul>
				<li>
					<i class="icon1"></i>
					<div>
						<span>国企控股</span>
						<p>知名国企控股</p>
					</div>
				</li>
				<li>
					<i class="icon2"></i>
					<div>
						<span>本息保障计划</span>
						<p>历史到期产品100%本息兑付，安全可靠</p>
					</div>
				</li>
				<li>
					<i class="icon3"></i>
					<div>
						<span>票据100%承兑</span>
						<p>所有票据来源于银行与大型国企，100%无条件承兑</p>
					</div>
				</li>
				<li>
					<i class="icon4"></i>
					<div>
						<span>顶级律所全程支持</span>
						<p>顶级律所全程保驾护航</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="mylist">
		<div class="list-box">
			<div class="list-wrap">
				<div class="list">
					<div class="title">新手专享</div>
					<p>专享超高收益<br>体验投资乐趣</p>
					<!--<div class="rate">预期年化收益率：<b>15<i>%</i></b></div>-->
					<div class="rate">历史年化收益率：<b>15<i>%</i></b></div>
					<div class="limit">产品期限：<b>1<i>天</i></b></div>
					<a href="" ng-click="focusMobile()">立即赚钱</a>
				</div>
				<div class="list">
					<div class="title">商票</div>
					<p>大型国企<br>100%无条件承兑</p>
					<!--<div class="rate">预期年化收益率：<b>8.2<i>%</i></b></div>-->
					<div class="rate">历史年化收益率：<b>8.2<i>%</i></b></div>
					<div class="limit">产品期限：<b>15<i>天</i></b></div>
					<a href="" ng-click="focusMobile()">立即赚钱</a>
				</div>
				<div class="list">
					<div class="title">银票</div>
					<p>银行<br>100%无条件承兑</p>
					<!--<div class="rate">预期年化收益率：<b>7<i>%</i></b></div>-->
					<div class="rate">历史年化收益率：<b>7<i>%</i></b></div>
					<div class="limit">产品期限：<b>57<i>天</i></b></div>
					<a href="" ng-click="focusMobile()">立即赚钱</a>
				</div>
			</div>
		</div>
	</div>

	<div class="media-wrap">
		<div class="media">
			<div class="title">媒体报道</div>
			<div class="box">
				<div class="mod">
					<a href="" ng-click="focusMobile()"><img src="/main/images/publicity/img-1.png"></a>
					<p>多融财富<br>CEO接受东方卫视专访</p>
				</div>
				<div class="mod">
					<a href="" ng-click="focusMobile()"><img src="/main/images/publicity/img-2.png"></a>
					<p>多融财富加入<br>“上海市信息服务业行业协会”</p>
				</div>
				<div class="mod">
					<a href="" ng-click="focusMobile()"><img src="/main/images/publicity/img-3.png"></a>
					<p>多融财富加入<br>“上海金融信息行业协会”</p>
				</div>
				<div class="mod">
					<a href="" ng-click="focusMobile()"><img src="/main/images/publicity/img-4.png"></a>
					<p>多融财富荣获<br>“中国信用企业认证体系示范单位”证书</p>
				</div>
			</div>
		</div>
		<div class="bot">
			<p><span>平台最高收益率</span><i><span>15</span>%</i><span>注册送</span><b>10000</b><span>体验金</span></p>
			<a href="" ng-click="focusMobile()">立即领取</a>
		</div>
	</div>

	<div class="code-wrapper">
		<div class="code">
			<div class="appcode">
				<div class="code-box">
					<div class="app-code-icon"><img src="/main/images/activity/newfriend-app.png"></div>
					<div class="app-code-word">
						<p><img class="iphone" src="/main/images/publicity/iphone.png"><span>iPhone</span></p>
						<p><img class="android" src="/main/images/publicity/android.png"><span>Android</span></p>
					</div>
				</div>
				<div class="title">APP下载</div>
			</div>
			<div class="appcode wechatcode">
				<div class="code-box">
					<div class="app-code-icon"><img src="/main/images/activity/newfriend-wechat.png"></div>
				</div>
				<div class="title">关注公众号</div>
			</div>
			<div class="tel">
				<div class="number">
					<img class="phone-icon" src="/main/images/publicity/phone.png">
					<div>
						<span>4006-908-896</span>
						<p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>