{% extends "common/main.njk"%}
{% block body%}
<!--<link href="/style/activity/ft-carousel.css" rel="stylesheet" type="text/css" inline/>-->
<style>
    .bg{
        background: #000;
        width: 100%;
        padding-bottom: 160px;
        position: relative;
    }
    .top-light{
        margin: 0 auto 50px;
        background: url("../../images/activity/fiveBillion/top-light.png") center no-repeat;
        width: 1280px;
        height: 246px;
    }
    .sunrise{
        margin: 0 auto;
        background: url("../../images/activity/fiveBillion/sunrise.png");
        width: 1440px;
        height: 352px;
    }
    .title-box{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .title{
        margin: 0 auto;
        background: url("../../images/activity/fiveBillion/title.png") center no-repeat;
        width: 1280px;
        height: 485px;
    }
    .sentence-1{
        margin: 10px auto 28px;
        background: url("../../images/activity/fiveBillion/sentence-1.png") center no-repeat;
        width: 1280px;
        height: 63px;
    }
    .steps{
        margin: 0 auto;
        background: url("../../images/activity/fiveBillion/steps.png") center no-repeat;
        width: 1280px;
        height: 308px;
    }
    .sentence-2{
        margin: 183px auto 76px;
        background: url("../../images/activity/fiveBillion/sentence-2.png") center no-repeat;
        width: 1280px;
        height: 63px;
    }
    .profits{
        margin: 0 auto;
        background: url("../../images/activity/fiveBillion/profits.png") center no-repeat;
        width: 1280px;
        height: 117px;
    }
    .property{
        margin: 180px auto 80px;
        background: url("../../images/activity/fiveBillion/property.png") center no-repeat;
        width: 1280px;
        height: 667px;
    }
    .speech{
        margin: 0 auto;
        background: url("../../images/activity/fiveBillion/speech.png") center no-repeat;
        width: 1280px;
        height: 645px;
    }
</style>
<div class='bg'>
    <div class="top-light"></div>
    <div class="sunrise"></div>
    <div class="title-box">
        <div class="title"></div>
    </div>
    <div class="sentence-1"></div>
    <div class="steps"></div>
    <div class="sentence-2"></div>
    <div class="profits"></div>
    <div class="property"></div>
    <div class="speech"></div>
</div>
{% endblock%}