.bg{
    background: #FFF;
}
.bg .top-bar{
    width: 100%;
    min-width: 1158px;
    height: 650px;
    background: url("../../images/other/escrowAccount/topbar.jpg") center no-repeat;
    background-size: cover;
}
.bg .part-2{
    width: 100%;
    padding: 90px 0;
}
.center-area{
    width: 1158px;
    margin: 0 auto;
}
.title{
    color: rgb(232, 162, 43);
    font-size: 60px;
    line-height: 125px;
    width: 100%;
    text-align: center;
}
.title span{
    font-size: 24px;
    line-height: 125px;
    position: relative;
    top: -12px;
}
.sub-title{
    margin: -30px auto 0;
    border: 1px dashed #000;
    border-radius: 20px;
    color: rgb(33, 48, 71);
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    padding: 0 23px;
}
.bg .part-2 .content-wrapper{
    height: 385px;
    margin: 0 auto;
    background: url("../../images/other/escrowAccount/treasure-box.png") center right no-repeat;
    background-size: contain;
}
.bg .part-2 .content-wrapper .words-box{
    width: 652px;
    padding: 0 20px; 
}
.bg .part-2 .content-wrapper .words-box p{
    font-size: 24px;
    color: #666;
    line-height: 38px;
}
.bg .part-2 .content-wrapper .words-box .btn{
    margin: 20px 0 5px 0;
    width: 402px;
    height: 37px;
    background: url("../../images/other/escrowAccount/trade-steps-btn.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
}

.bg .radian-sep{
    width: 100%;
    height: 180px;
    background: url("../../images/other/escrowAccount/radian.png") center no-repeat;
    background-size: cover;
}
.bg .part-3{
    width: 100%;
    /*height: 300px;*/
    background: rgb(233, 236, 241);
}
.bg .part-3 .content{
    text-align: center;
    margin: 0 auto;
}
.bg .part-3 .content .main{
    padding: 77px 0 156px;
    width: 100%;
}
.bg .part-3 .content .main p{
    line-height: 30px;
    font-size: 18px;
    color: #333;
}
.bg .part-3 .content .main > div{
    display: inline-block;
    /*height: 508px;*/
    vertical-align: bottom;
}
.bg .part-3 .content .main .side{
    width: 25%;
}
.bg .part-3 .content .main .side .left{
    width: 200px;
    margin: 0 auto;
}
.bg .part-3 .content .main .side .right{
    width: 235px;
    margin: 0 auto;
}
.bg .part-3 .content .main .mid{
    width: 46%;
}
.bg .part-3 .content .main .mid .half{
    display: inline-block;
    width: 48%;
    margin: 0 auto;
}
.bg .part-3 .content .main .mid .foot{
    width: 82%;
    margin: 66px auto 0;
    background: #FFF;
    border-radius: 20px;
    padding: 24px 20px;
}
.bg .part-3 .content .main .mid .foot .logo{
    width: 100%;
    height: 37px;
    background: url("../../images/other/escrowAccount/logo-joint.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main .mid .foot .btn{
    width: 246px;
    margin: 25px auto 0;
    border: 1px solid #000;
    color: rgb(57, 83, 115);
    font-size: 18px;
    padding: 2px 0 4px;
    cursor: pointer;
}
.bg .part-3 .content .main .mid .foot .btn .arrow{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    width: 30px;
    height: 22px;
    background: url("../../images/other/escrowAccount/arrow-r-d.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main .my-icon{
    height: 140px;
    width: 140px;
    margin: 0 auto 25px;
}
.bg .part-3 .content .main .my-icon.safe{
    background: url("../../images/other/escrowAccount/icon-safe.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main .my-icon.auth{
    background: url("../../images/other/escrowAccount/icon-auth.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main .my-icon.acct{
    background: url("../../images/other/escrowAccount/icon-acct.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main .my-icon.bank{
    background: url("../../images/other/escrowAccount/icon-bank.png") center no-repeat;
    background-size: contain;
}
.bg .part-3 .content .main h3{
    font-size: 30px;
    color: rgb(57, 83, 115);
    line-height: 40px;
}
.bg .part-4{
    width: 100%;
    background: url("../../images/other/escrowAccount/bg-rpt.png") repeat;
    padding: 50px 0;
    color: #FFF;
    text-align: center;
}
.bg .part-4 .center-area .process-wrapper{
    /*height: 1014px;*/
    height: 792px;
    width: 100%;
    /*padding: 109px 0;*/
    padding: 80px 0;
}
.bg .part-4 .center-area .process-wrapper .topic-box{
    margin: 60px auto 50px;
    width: 567px;
}
.bg .part-4 .center-area .process-wrapper .topic-box .line{
    width: 26%;
    height: 1px;
    border-top: 2px solid #FFF;
    display: inline-block;
    position: relative;
    top: -8px;
}
.bg .part-4 .center-area .process-wrapper .topic-box .detail{
    display: inline-block;
    width: 46%;
    font-size: 30px;
    line-height: 32px;
}
.bg .part-4 .center-area .process-wrapper .display{
    background: url("../../images/other/escrowAccount/pc.png") center no-repeat;
    background-size: contain;
    /*width: 100%;*/
    /*height: 903px;*/
    width: 80%;
    height: 718px;
    padding-top: 25px;
    /*margin-bottom: 60px;*/
    margin: 0 auto 60px;
}
.bg .part-4 .center-area .process-wrapper .display .screen{
    margin: 17px auto 40px;
    position: relative;
}
.slideBox,.slideBox2,.slideBox3{
    width: 845px;
    height: 598px;
    overflow: hidden;
    position: relative;
    margin: 16px auto 0;
    .bd{
        position: relative;
        height: 100%;
        z-index: 0;
        li{
            zoom: 1;
            vertical-align: middle;
        }
    }
    img{
        width: 845px;
        height: 476px;
    }
}
.prev{
    width:61px;
    height:58px;
    z-index:10;
    position: absolute;
    top:34%;
    left: 30px;
    background: url("../../images/other/escrowAccount/icon-nav-l.png") no-repeat;
}
.next{
    width:61px;
    height:58px;
    z-index:10;
    position: absolute;
    top:34%;
    background: url("../../images/other/escrowAccount/icon-nav-r.png") no-repeat;
    right: 30px;
}
.bg .part-4 .center-area .process-wrapper .display .step-box{
    width: 100%;
    /*padding: 26px 0;*/
    padding: 50px 0;
    font-size: 26px;
}
.bg .part-5{
    with: 100%;
    background: #FFF;
    padding: 50px 0 100px;
}
.bg .part-5 .tab-row{
    margin-top: 80px;
    width: 100%;
    border-bottom: 1px solid #999;
}
.bg .part-5 .tab-row .tab-item{
    display: inline-block;
    border-right: 1px solid #CCC;
    padding: 0 24px 15px;
    color: #999;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}
.bg .part-5 .tab-row .tab-item:focus{
    color: #FF9A01;
}
.bg .part-5 .tab-row .tab-item:last-child{
    border-right: none;
}
.bg .part-5 .qa-item{
    margin: 50px 0;
}
.bg .part-5 .qa-item .q{
    color: #E8A22B;
    font-size: 24px;
    margin-bottom: 8px;
}
.bg .part-5 .qa-item .q span{
    display: inline-block;
    padding: 0 10px;
    line-height: 36px;
    font-size: 24px;
    vertical-align: top;
}
.bg .part-5 .qa-item p{
    margin-left: 36px;
    color: #000;
    font-size: 18px;
    line-height: 36px;
}
.bg .foot{
    width: 100%;
    background: #000000;
    color: #FFF;
    text-align: center;
    padding: 70px 0 80px;
}
.bg .foot .about-hotline{
    font-size: 30px;
    line-height: 30px;
}
.bg .foot .qrcd{
    width: 128px;
    margin: 60px auto 0;
    font-size: 18px;
    line-height: 36px;
}
.layer-anim{
    width: 787px!important;
    background-color: transparent!important;
    left: 50%!important;
    margin-left: -400px!important;
}
.dialog-bg{
    width: 787px;
}
.dialog-bg.process .content{
    width: 787px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 10%;
    background: url("../../images/other/escrowAccount/trade-process.jpg") center no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.dialog-bg.huarui-bank .content{
    /*width: 1012px;*/
    /*height: 770px;*/
    width: 787px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 10%;
    background: url("../../images/other/escrowAccount/why-huarui-bank.jpg") center no-repeat;
    background-size: cover;
    border-radius: 20px;
}