body{ background:#fff; }
.middle{ width:950px; margin:0 auto; overflow: hidden; color:#fff; }
.dafuweng .banner{ height:487px; background:url("../../images/other/guhuaDafuweng/img_02.jpg") center 0 no-repeat; }
.dafuweng .saosao{ height:647px; background:url(../../images/other/guhuaDafuweng/img_03.jpg) center 0 no-repeat; }
.dafuweng .activity{ background:url(../../images/other/guhuaDafuweng/img_04.jpg) #1d81d7 center 0 no-repeat; }
.dafuweng .activity dl{ padding-bottom:10px; overflow:hidden; line-height: 25px; }
.dafuweng .activity dl dt{ display:block; overflow: hidden; padding:10px 0; padding-left:55px;  }
.dafuweng .activity dl dt h3{ font-size:16px; }
.dafuweng .activity dl dt p{ padding:5px 0; }
.dafuweng .activity dl dd{ display:block; clear:both; overflow: hidden;
    font-size: 18px; }
.dafuweng .activity dl dd h2{ float:left; padding-left:20px; }
.dafuweng .activity dl dd i{ display:block; float:left; width:23px; height:22px; margin-top:1px; background:url(../../images/other/guhuaDafuweng/star.png) no-repeat; }
.dafuweng .activity-footer{ height:85px; background:url(../../images/other/guhuaDafuweng/img_06.jpg) center 0 no-repeat; }

.activity i.i-do{
    width:25px; height:26px;
    vertical-align: middle; margin:0 5px;
    animation:do infinite 5s linear;
    -webkit-animation:do infinite 5s linear;
    -moz-animation:do infinite 5s linear;

    background:url(../../images/other/guhuaDafuweng/do.png) no-repeat;

}
@keyframes do{
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-webkit-keyframes do{
    from{ -webkit-transform:rotate(0deg); }
    to{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes do{
    from{ -moz-transform:rotate(0deg); }
    to{ -moz-transform:rotate(360deg); }
}
.duorongSelect,.duorongHonor{
    border:1px solid #e9e9e9;
    overflow:hidden;
    background: #fff;
    width: 1200px;
    margin: 0 auto 20px;
}
.duorongSelect .title,.duorongHonor .title{
    margin:0 10px;
    border-bottom:1px solid #e9e9e9;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 25px;
}
.duorongSelect .content{
    margin-bottom: 20px;
    padding-bottom: 20px;
    ul {
        padding: 30px 30px 0;
        overflow: hidden;
        li{
            float: left;
            width: 49.3%;
            .text {
                padding-left: 170px;
                padding-top: 18px;
                h2{
                    height: 35px;
                    line-height: 35px;
                    font-size: 24px;
                    color: #000;
                    font-weight: bold;
                }
            }
            p{
                font-size: 14px;
            }

        }
        .img1,.img2,.img3,.img4{
            .img{
                float: left;
                width: 97px;
                height: 97px;
                margin-left: 50px;
            }
        }
        .img1 .img{
            background: url(../../images/other/guhuaDafuweng/selectDuorong/img1.png) no-repeat;
        }
        .img2 .img{
            background: url(../../images/other/guhuaDafuweng/selectDuorong/img2.png) no-repeat;
        }
        .img3 .img{
            background: url(../../images/other/guhuaDafuweng/selectDuorong/img3.png) no-repeat;
        }
        .img4 .img{
            background: url(../../images/other/guhuaDafuweng/selectDuorong/img4.png) no-repeat;
        }
    }
}
.duorongHonor {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
}
.duorongHonor .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding-left: 25px;
}
.duorongHonor .content {
    padding: 20px 0;
    overflow: hidden;
}
.duorongHonor .content ul {
    overflow: hidden;
    clear: both;
}
.duorongHonor .content ul li {
    float: left;
    width: 24.9%;
    text-align: center;
}
.duorongHonor .content ul h2, .duorongHonor .content ul p {
    font-size: 14px;
    line-height: 25px;
}

