/* line 1, ../sass/jiaXi.scss */
.body-wrapper {
  width: 100%;
}
/* line 4, ../sass/jiaXi.scss */
.body-wrapper .bannerTop {
  width: 100%;
  height: 617px;
  background: url("../images/banner.jpg") center 0 no-repeat;
}
/* line 9, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle {
  background: url("../images/background.png") center 0 repeat-x;
  height: 774px;
}
/* line 13, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .rule {
  margin: 0 auto;
  width: 407px;
  height: 104px;
  background: url("../images/rule.png") center 0 no-repeat;
}
/* line 20, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .ruleContent {
  width: 1306px;
  margin: 0 auto;
}
/* line 23, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .ruleContent p {
  font-size: 30px;
  color: #fff;
}
/* line 26, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .ruleContent p span {
  color: #ffaf00;
  font-size: 24px;
}
/* line 31, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .ruleContent .image {
  width: 1178px;
  height: 318px;
  margin: 55px 0 55px 0;
  background: url("../images/image.png");
}
/* line 39, ../sass/jiaXi.scss */
.body-wrapper .contentMiddle .bottomBG {
  background: url("../images/bgBottom.jpg");
  height: 42px;
}
/* line 44, ../sass/jiaXi.scss */
.body-wrapper .contentBottom {
  margin-top: 60px;
  margin-bottom: 30px;
}
/* line 47, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode {
  width: 1200px;
  margin: 30px auto 0;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  padding: 20px 25px;
  position: relative;
}
/* line 54, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .title {
  font-size: 20px;
  color: #333333;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f3f3f3;
}
/* line 61, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content {
  padding: 49px 0 10px 120px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 66, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode {
  width: 529px;
  float: left;
  height: 137px;
  position: relative;
}
/* line 71, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode a {
  position: absolute;
  left: 0;
  top: 0;
  width: 98px;
  height: 98px;
}
/* line 77, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode a.olympiad-gzkg {
  background: url("../images/duorong1.png") center center no-repeat;
}
/* line 81, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode a.olympiad-guarantee {
  background: url("../images/duorong2.png") center center no-repeat;
}
/* line 85, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode a.olympiad-pjcd {
  background: url("../images/duorong3.png") center center no-repeat;
}
/* line 89, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode a.olympiad-lszc {
  background: url("../images/duorong4.png") center center no-repeat;
}
/* line 93, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode div {
  padding: 14px 0 0 112px;
  font-size: 14px;
  color: #333;
}
/* line 97, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode .content .iconmode div span {
  font-size: 26px;
  color: #333;
}
/* line 104, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode ul {
  padding: 40px 0 40px 33px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 109, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode ul li {
  float: left;
  margin-right: 17px;
  width: 272px;
  text-align: center;
}
/* line 114, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode ul li a:hover {
  color: #313131;
  text-decoration: none;
}
/* line 118, ../sass/jiaXi.scss */
.body-wrapper .contentBottom .mode ul li p {
  font-size: 14px;
  color: #313131;
  line-height: 24px;
  padding-top: 16px;
}
/* line 128, ../sass/jiaXi.scss */
.body-wrapper .code-wrapper {
  background: url("../images/footer.jpg");
  height: 202px;
}
