body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td {
  margin: 0;
  padding: 0; }

address, cite, em, i {
  font-style: normal; }

html, body, root {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0 auto;
  color: #fff;
  -webkit-appearance: none;
  background: #fff;
  overflow-y: scroll;
  font-family: 'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  color: #878C92; }

li {
  list-style: none; }

html, body {
  max-width: 750px;
  margin: 0 auto; }

a {
  color: #535862;
  text-decoration: none; }

a:hover {
  color: #c40000;
  text-decoration: underline; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"], input[type="submit"], input[type="reset"] {
  cursor: pointer; }

.clearfix:after, .wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.middle * {
  display: inline-block;
  vertical-align: middle; }

::-webkit-input-placeholder {
  font-size: .75rem; }

/* height */
/* public */
/* link color */
.red {
  color: #f42b13; }

.green {
  color: #16c154; }

.black {
  color: black; }

.gray {
  color: #666; }

.blue {
  color: #2899f2; }

.orange {
  color: #cb420c; }

/* public */
.flex {
  flex-shrink: 0;
  -webkit-flex-shrink: 0; }

input {
  outline: none; }

/* layout */
.hide {
  display: none; }

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  opacity: 0;
  overflow: hidden; }

.container.cur {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1; }

.effect {
  float: left;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 600px;
  -webkit-perspective: 600px;
  background: #EFEFF4; }

.effect .option {
  float: left;
  min-height: 6.25rem;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  overflow: hidden;
  background: #fff; }

.support {
  font-family: "PingFangSC Light"; }
  .support .banner {
    background: url("../images/bannerapp.jpg") no-repeat;
    background-size: contain;
    background-size: 100% auto; }
  .support .content1 {
    background: url("../images/bg1.jpg") repeat;
    position: relative; }
    .support .content1 .number1 {
      background: url("../images/con3.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .support .content1 .number0 {
      background: url("../images/con1.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .support .content1 .number2 {
      background: url("../images/con2.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
  .support .content2 {
    background: url("../images/bg2.png") repeat;
    position: relative; }
    .support .content2 .contitle {
      font-size: 0.9375rem;
      color: #eb6100;
      border-bottom: 1px solid #eb6100;
      margin: 0 auto; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .support .content2 .contitle {
          font-size: 0.80357rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .support .content2 .contitle {
          font-size: 0.80357rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .support .content2 .contitle {
          font-size: 1.03594rem; } }
    .support .content2 .concon {
      font-size: 0.625rem;
      color: #834e00;
      margin: 0 auto; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .support .content2 .concon {
          font-size: 0.53571rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .support .content2 .concon {
          font-size: 0.53571rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .support .content2 .concon {
          font-size: 0.69063rem; } }
    .support .content2 .juanimg {
      position: relative; }
      .support .content2 .juanimg .slideBox {
        z-index: 0;
        margin: 0 auto; }
        .support .content2 .juanimg .slideBox .bd {
          overflow: hidden;
          margin: 0 auto;
          position: relative; }
          .support .content2 .juanimg .slideBox .bd .imgbox {
            margin: 0 auto; }
          .support .content2 .juanimg .slideBox .bd li {
            zoom: 1;
            vertical-align: middle;
            margin: 0 auto; }
          .support .content2 .juanimg .slideBox .bd img {
            display: block; }
      .support .content2 .juanimg .btnRight {
        background: url("../images/rightbtn.png") no-repeat;
        background-size: contain;
        position: absolute; }
      .support .content2 .juanimg .btnLeft {
        background: url("../images/leftbtn.png") no-repeat;
        background-size: contain;
        position: absolute; }
  .support .content3 {
    background: url("../images/bg1.jpg") repeat;
    position: relative; }
    .support .content3 .zoufang {
      background: url("../images/zoufang.png") no-repeat;
      background-size: contain;
      margin: 0 auto;
      position: relative; }
      .support .content3 .zoufang .hb {
        position: absolute; }
        .support .content3 .zoufang .hb li {
          border-radius: 50%;
          background: #bda99f;
          margin-right: 10px;
          float: left; }
        .support .content3 .zoufang .hb .on {
          background: #eb6100; }
      .support .content3 .zoufang .zu {
        margin: 0 auto; }
    .support .content3 .seventitle {
      background: url("../images/seven.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .support .content3 .sevenc {
      font-size: 0.625rem;
      color: #834e00;
      margin: 0 auto; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
        .support .content3 .sevenc {
          font-size: 0.53571rem; } }
      @media only screen and (min-device-width: 240px) and (max-device-width: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0.75) and (-webkit-max-device-pixel-ratio: 1.9) {
        .support .content3 .sevenc {
          font-size: 0.53571rem; } }
      @media only screen and (min-device-width: 410px) and (max-device-width: 500px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (-webkit-max-device-pixel-ratio: 4) {
        .support .content3 .sevenc {
          font-size: 0.69063rem; } }
    .support .content3 .sevenimg {
      position: relative; }
      .support .content3 .sevenimg .imgbox {
        z-index: 0;
        margin: 0 auto; }
        .support .content3 .sevenimg .imgbox .bd {
          overflow: hidden;
          margin: 0 auto;
          position: relative; }
          .support .content3 .sevenimg .imgbox .bd .slideBox {
            margin: 0 auto; }
          .support .content3 .sevenimg .imgbox .bd li {
            zoom: 1;
            vertical-align: middle;
            margin: 0 auto; }
          .support .content3 .sevenimg .imgbox .bd img {
            display: block; }
      .support .content3 .sevenimg .btnRight {
        background: url("../images/rightbtn.png") no-repeat;
        background-size: contain;
        position: absolute; }
      .support .content3 .sevenimg .btnLeft {
        background: url("../images/leftbtn.png") no-repeat;
        background-size: contain;
        position: absolute; }
  .support .content4 {
    background: url("../images/bg1.jpg") repeat;
    position: relative; }
    .support .content4 .ceo {
      background: url("../images/ceotitle.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
    .support .content4 .ceocon {
      background: #f8c2c5;
      margin: 0 auto;
      border-radius: 5px; }
      .support .content4 .ceocon .ceoimg {
        background: url("../images/ceocon.png") no-repeat;
        background-size: contain;
        margin: 0 auto; }
    .support .content4 .bottom {
      background: url("../images/bottom.png") no-repeat;
      background-size: contain;
      margin: 0 auto; }
  .support .content5 {
    background: url("../images/bg2.png") repeat; }
    .support .content5 .medis {
      background: url("../images/meedia.png") no-repeat;
      background-size: contain;
      position: relative;
      margin: 0 auto; }
      .support .content5 .medis .tv {
        position: absolute; }

/*# sourceMappingURL=openwinter.css.map */
