<div class="newYearRegister-wrapper cp66-wrapper">
  <!-- 导航条 -->
  <div class="header-wrapper">
    <div class="header-wrap">
      <div class="logo-wrap">
        <img src="/main/images/logo.png" ng-click="$state.go('main.home');">
        <span></span>
        <a target="_blank" style="display: block;float: left;cursor: default;"><img src="../../main/images/logoo.jpg" alt=""></a>
      </div>
      <div class="nav-box" style="padding-top: 23px">
        <div>
          <ul>
            <li><img src="/main/images/cp66/rightLogo.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="newYearRegister-wrap">
    <div class="banner">
      <div class="bannerbg"></div>
      <div class="bannerfloor"></div>
      <div class="bannerprizes">
        <div class="prizeone"></div>
        <div class="prizetwo"></div>
        <div class="prizethree"></div>
      </div>
    </div>
    <div class="gamebox">
      <ul class="text">
        <li>每天<span>免费一次</span>机会　　　</li>
        <li>"双旦"送<span>100万</span>金币　　　</li>
        <li>"圣诞/元旦"送<span>1万</span>金币</li>
      </ul>
      <div class="gametop"></div>
      <div class="gamecenter">
        <div class="prizebox">
          <div class="prize">
            <ul>
              <li class="bg1"></li>
              <li class="bg2"></li>
              <li class="bg3"></li>
              <li class="bg4"></li>
              <li class="bg5"></li>
              <li class="bg6"></li>
              <li class="bg7"></li>
            </ul>
          </div>
        </div>
        <div class="yaobtn" ng-click="oneBtnCallback()"></div>
        <div class="notice">您有一次免费摇奖机会</div>
        <div class="startbtn" ng-click="oneBtnCallback()"></div>
      </div>
    </div>
    <div class="rulebox">
      <div class="ruletitle">活动规则</div>
      <div class="rule">
        <ul>
          <li><span class="jiantou"></span>活动时间：2016年12月20号-2017年1月5号；<br>30天以下投资期限产品不参加本次活动；</li>
          <li><span class="jiantou"></span>摇摇乐摇奖：</li>
          <li><span class="dian"></span>活动期间，每天免费1次机会；单笔投资满1000元（除30天以下产品），再获1次摇摇乐机会；如单笔满2000元，即获得2次机会，以此类推；</li>
          <li><span class="dian"></span>摇出3个相同的“双蛋”图案，直接获得100万金币，圣诞树或元旦日历图案，直接获得1万金币，其他图案，随机获得50-1000金币；<br>摇出3个图案不相同，获得10金币；</li>
          <li><span class="dian"></span>累计每玩60次，必出“圣诞树”，得1万金币；</li>
          <li><span class="jiantou"></span>投资得金币：<br>投资90天及以上期限产品，可额外获得一笔金币，投资多少，即获得多少金币，如：投资1000元得1000金币，以此类推；</li>
          <li><span class="jiantou"></span>金币换壕礼：</li>
          <li><span class="dian"></span>奖品兑换可通过首页顶部广告进入页面进行兑换，兑换时间顺延至2017年1月13号，请在此期间进行兑换，逾期作废；</li>
          <li><span class="jiantou"></span>优惠券奖品兑换后即时发放至您的账户，登录后可在”我的账户—优惠券”中查看”。实物奖品将于活动结束后15个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品，若15个工作日内未能成功与用户取得联系，则视为该用户自动放弃本次获奖奖品（奖品颜色随机发货）；</li>
          <li><span class="dian"></span>奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
          <li><span class="dian"></span>如有疑问，欢迎咨询客服热线4006-908-896；</li>
          <li><span class="dian"></span>本次活动最终解释权归多融财富所有。</li>
        </ul>
      </div>
    </div>
    <div class="bottom"></div>
    <div class="common-wrapper">
      <div class="mode">
        <div class="title">为什么选择多融</div>
        <div class="content">
          <div class="iconmode">
            <div class="iconbox">
              <div class="wai"><div class="nei"><div class="icon gzkg"></div></div></div>
            </div>
            <div class="text">
              <span>国企控股</span>
              <p>大型国企中商沪深控股</p>
            </div>
          </div>
          <div class="iconmode">
            <div class="iconbox">
              <div class="wai"><div class="nei"><div class="icon zjaq"></div></div></div>
            </div>
            <div class="text">
              <span>资金安全保障</span> 
              <p>历史到期产品100%本息兑付，安全可靠</p>
            </div>
          </div>
          <div class="iconmode">
            <div class="iconbox">
              <div class="wai"><div class="nei"><div class="icon pjcd"></div></div></div>
            </div>
            <div class="text">
              <span>票据100%承兑</span>
              <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
            </div>
          </div>
          <div class="iconmode">
            <div class="iconbox">
              <div class="wai"><div class="nei"><div class="icon zyls"></div></div></div>
            </div>
            <div class="text">
              <span>专业律所全程支持</span>
              <p>专业律师事务所，全程提供法律支持</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mode">
        <div class="title">多融荣誉</div>
        <ul>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=1&t=1" target="_blank">
              <img src="/main/images/honor/honor1.png">
              <p>多融财富荣膺<br>“2016中国最佳诚信示范金融企业”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=3&t=0" target="_blank">
              <img src="/main/images/honor/honor2.png">
              <p>多融财富加入<br>“上海市信息服务业行业协会”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=2&t=0" target="_blank">
              <img src="/main/images/honor/honor3.png">
              <p>多融财富加入<br>“上海金融信息行业协会”</p>
            </a>
          </li>
          <li>
            <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=11&t=1" target="_blank">
              <img src="/main/main/images/honor/honor4.png">
              <p>多融财富荣获<br>“中国信用企业认证体系示范单位”证书</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="mode">
        <div class="title">合作单位</div>
        <div class="cooperation clearfix">
          <div class="content2">
            <div class="left-btn"></div>
            <div cdlass="right-btn"></div>
            <div class="swiper-img">
              <ul class="partent">
                <li><a href=''><img src="/main/images/gua-partner/partner1.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner2.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner3.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner4.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner5.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner6.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner7.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner8.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner9.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner10.png"></a></li>
                <li><a href=''><img src="/main/images/gua-partner/partner11.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="code-wrapper">
      <div class="code">
        <div class="appcode">
          <div class="code-box">
            <div class="app-code-icon"><img src="/main/images/activity/newfriend-app.png"></div>
            <div class="app-code-word">
              <p><i class="olympiad-iphone"></i></p>
            </div>
          </div>
          <div class="title">App下载</div>
        </div>
        <div class="appcode wechatcode">
          <div class="code-box">
            <div class="app-code-icon"><img src="/main/images/activity/newfriend-wechat.png"></div>
          </div>
          <div class="title">关注公众号</div>
        </div>
        <div class="tel">
          <div class="number">
            <i class="olympiad-phone"></i>
            <div>
              <span>4006-908-896</span>
              <p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 弹窗1     -->
  <div class="newFirTan newSecTan" ng-if="isNewAlert">
    <div class="isQD isNewSec">
      <div class="ltBox" style="padding-left: 36px;">
        <div class="topText">
          <p class="title">恭喜你获得大礼包</p>
          <p class="cash">
            <strong>100,000</strong>
            <span>元理财金</span>
            <!-- <i class="icon"></i> -->
          </p>
          <p class="double">+翻倍券+<em>3%</em>加息券</p>
        </div>
        <ul style="padding-top: 30px;border-top:1px dashed #ccc;margin-top: 54px;">
          <li style="width:80px;margin-left: 30px;margin-right: 30px;"><img src="/main/images/cp167/alertd.png" alt=""><span
            style="white-space: nowrap;">国企中商沪深控股</span></li>
          <li style="margin-left: 30px;margin-right: 30px;"><img src="/main/images/cp167/alerte.png" alt=""><span>实力雄厚<br>千万保障金</span>
          </li>
          <li style="margin-right: 30px;margin-left: 30px;"><img src="/main/images/cp167/alertf.png" alt=""><span>百元起投<br>预期年化收益12%</span>
          </li>
        </ul>
      </div>
      <div class="rtBox" >
        <form class="login_form" ng-model="login" name="loginform">
          <!-- 注册登录名 -->
          <div class="input-wrap">
            <div class="name">手机号码:</div>
            <div class="input-box">
              <div class="input-mod">
                <input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码"
                       ng-blur="blurID('focusMobilephone',loginform)"
                       onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text"
                       ng-model="login.mobilephone" name="mobilephone" required minlength="11" maxlength="11"
                       id="mobilephone"/>
                <span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
              </div>
            </div>
          </div>
          <!-- 图文验证 -->
          <div class="input-wrap">
            <div class="name">验 证 码:</div>
            <div class="input-box">
              <div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
              <div class="input-mod">
                <input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login.picCode"
                       name="picCode" minlength="4" maxlength="4" required autocomplete="off"/>
              </div>
              <span class="error" ng-show="loginform.picCode.$valid"><font color="red">{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
            </div>
          </div>
          <!-- 短信验证 -->
          <div class="input-wrap">
            <div class="name">手机验证:</div>
            <div class="input-box">
              <a href="" ng-click="clickInput('phonecodeMSG',$event,null,loginform,0)" class="get-code">{{nowTimer}}获取验证码</a>
              <!--  nouse-btn -->
              <div class="input-mod">
                <input
                  ng-disabled="!loginform.mobilephone.$dirty || !loginform.picCode.$dirty || loginform.mobilephone.$valid || loginform.picCode.$valid"
                  placeholder="请输入短信验证码" type="text" ng-model="login.smsCode" name="smsCode" class="text small-text"
                  maxlength="4" required/>
              </div>
              <span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
            </div>
          </div>
          <!-- 密码 -->
          <div class="input-wrap">
            <div class="name">设置密码:</div>
            <div class="input-box passwd-box">
              <div class="input-mod">
                <input autocomplete="off" ng-show="passwordText" placeholder="请设置密码"
                       ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/"
                       ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text"
                       name="passWord" required/>
                <input autocomplete="off" ng-hide="passwordText" placeholder="请设置密码"
                       ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord"
                       ng-model="login.passWord" class="text" name="passWord" required/>
              </div>
              <span class="error" ng-show="loginform.passWord.$valid"><font color="red">{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
            </div>
          </div>              
          <a href="" class="close" ng-click="onClick('关闭新人专享注册')"></a>
          <!-- 登录/注册 按钮 -->
          <div ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
            <input ng-disabled="loginform.$invalid || !login.checkbox" class="register btn sub-btn sub" type="submit"
                   value="立即注册"/>
          </div>
          <div ng-if="loginform.$invalid">
            <input ng-disabled="loginform.$invalid || !login.checkbox" class="register btn sub-btn sub" type="submit"
                   value="立即注册"/>
          </div>
          <div class="sub-box" >
            注册即为同意
            <a href="/zc" target="_blank" class="server-agreement">《用户协议》</a>
            <a href="/dl" target="_blank" class="sub-btn sub" style="text-decoration: underline;">立即登录</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 弹窗2 -->
  <div class="newSecTan" ng-if="isNewBackAlert">
    <div class="isQD isNewSec">
      <div class="ltBox">
        <h3>你还有新手礼品未领取</h3>
        <ul>
          <li style="width:80px;"><img src="/main/images/cp167/alerta.png" alt=""><span>12%高收益</span></li>
          <li><img src="/main/images/cp167/alertb.png" alt=""><span>100,000元体检金</span></li>
          <li style="margin-right: 42px;"><img src="/main/images/cp167/alertc.png" alt=""><span>翻倍券+3%加息券</span></li>
        </ul>
      </div>
      <div class="rtBox">
        <p>你真得要走了吗？<br>请再多给我一次机会吧！</p>
        <img src="/main/images/cp167/face.png" alt="">
        <b>你还有10万元大礼包未领取</b>
        <a href="" class="register btn" ng-click="onClick('新人专享注册')">注册领取</a>
        <a href="" class="miss btn" ng-click="onClick('关闭再给新人一次机会')">遗憾错过</a>
      </div>
      <a href="" class="close" ng-click="onClick('关闭再给新人一次机会')"></a>
    </div>
  </div>
</div>