{# 底部 #}
<div id="footer">
    <div class="footer-wrapper">
        <div class="foot-wrap">
            <div class="foot-nav">
                <div class="nav-mod">
                    <p class="sml">移动端下载</p>
                    <ul class="fir">
                        <a href="{{http}}/other/downloadApp.html"><li class="ios icon-ios" onmouseover="this.className='ios icon-ios-hover'" onmouseout="this.className='ios icon-ios'"></li></a>
                        <a href="{{http}}/other/downloadApp.html"><li class="and icon-and" onmouseover="this.className='ios icon-and-hover'" onmouseout="this.className='ios icon-and'"></li></a>
                        <!--<a href="http://app.duorongcf.com"><li class="pho"></li></a>-->
                    </ul>
                </div>
                <div class="nav-mod mod2">
                    <p class="sml">手机APP二维码</p>
                    <ul class="fir">
                        <li class="apper"><div class="icon-foot-app"></div> </li>
                    </ul>
                </div>
                <div class="nav-mod  mod2">
                    <p class="sml">关注微信服务号</p>
                    <ul class="fir">
                        <li class="weier"><div class="icon-foot-weixin"></div></li>
                    </ul>
                </div>
            </div>
            <div class="modeline"></div>
            <div class="contact-wrap">
                <div class="nav-mod mod3">
                    <i class="icon-about"></i>
                    <p>关于多融</p>
                    <ul>
                        <li><a href="{{http}}/about/DRGK.html" target="_blank">多融概况</a></li>
                        <li><a href="{{http}}/about/LXWM.html" target="_blank">联系我们</a></li>
                        <li><a href="{{http}}/about/AQBZ.html" target="_blank">安全保障</a></li>
                    </ul>
                </div>
                <div class="nav-mod mod3">
                    <i class="icon-help"></i>
                    <p>帮助中心</p>
                    <ul>
                        <li><a href="{{http}}/help/CJWT.html" target="_blank">常见问题</a></li>
                        <li><a href="{{http}}/help/LCKT.html" target="_blank">理财课堂</a></li>
                        <li><a href="{{http}}/help/XSZY.html" target="_blank">新手指引</a></li>
                        <li><a href="{{http}}/help/MZSM.html" target="_blank">免责声明</a></li>
                    </ul>
                </div>
                <div class="nav-mod mod3 three">
                    <i class="icon-ask"></i>
                    <strong ng-cloak>{{contactPhone}}</strong>
                    <span>工作时间<em>：{{workTime}}</em><br>法定节假日除外<br>客服<em>QQ：{{contactQq}}</em></span>
                </div>
            </div>
        </div>
    </div>
    <div class="right-wrapper">
        <div class="foot-right">
            <div class="right-text" style="padding: 0;">市场有风险 投资需谨慎；平台建议的历史年化收益率仅供参考，不代表未来实际收益</div>
            <div class="right-text" style="padding: 0;">{{company.ICP}} | Copyright Reserved © {{company.name}} {{version}}</div>
            <div class="right-text" style="padding-top: 0;">公司电话：{{company.phone}} | 公司地址：{{company.address}}</div>
            <ul>
                <li><a class="spread-partners-hu" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.duorongcf.com&lang=zh_cn" target="_blank" rel="nofollow"><img src="/main/images/spread-partners/hu.png"></a></li>
                <li><a id='___szfw_logo___' class="spread-partners-kexin" href="https://credit.szfw.org/CX20170123033101030377.html" target="_blank" rel="nofollow"><img src="/main/images/spread-partners/kexin.png"></a></li>
                <li><a class="spread-partners-aliyun" href="https://www.aliyun.com/" target="_blank" rel="nofollow"><img src="/main/images/spread-partners/aliyun.png"></a></li>
                <li><a class="spread-partners-zdcy" href="https://www.yunaq.com/cyd/" target="_blank" rel="nofollow"><img src="/main/images/spread-partners/zdcy.png"></a></li>
                <li><a  key ="570e15dfefbfb02ee9d6f567"  logo_size="83x30"  logo_type="business"  href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.duorongcf.com&at=business" target="_black" rel="nofollow"><img style="background: #fff;" src="//static.anquan.org/static/outer/image/hy_83x30.png" alt="安全联盟认证" width="83" height="30" style="border: none;"></a></li>
            </ul>
        </div>
    </div>
</div>
{# 底部结束 #}
<script type='text/javascript'>
    (function(){
        try{
            document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}
        }catch(e){}
    })();

    //mediav
    /*var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-223965-0']);
    _mvq.push(['$logConversion']);
    (function () {
	    var mvl = document.createElement('script');
	    mvl.type = 'text/javascript';
	    mvl.async = true;
	    mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(mvl, s);
    })();*/

    //百度统计
    var _hmt = _hmt || [];
    (function () {
	    var hm = document.createElement("script");
	    hm.src = "https://hm.baidu.com/hm.js?f7c570071c5e4a0cf001fac7a2152cae";
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(hm, s);
    })();

</script>
</body>
</html>
