<link rel="stylesheet" type="text/css" href="/js/plug/layui/css/layui.css">
<script src="/js/plug/layui/layui.js"></script>
<script>
    layui.config({
        dir: '/js/plug/layui/'
        ,version: false
    });
</script>