.body-wrapper {
  background: #ffd9d6;
  width: 100%; }
  .body-wrapper .banner {
    width: 100%;
    height: 692px;
    background: url("../images/banner.png") center 0 no-repeat; }
  .body-wrapper .content {
    width: 1200px;
    background: #fff1ea;
    margin: 0 auto;
    padding-top: 90px;
    font-size: 16px;
    line-height: 36px;
    color: #333; }
    .body-wrapper .content .qianyan {
      background: url("../images/qianyan.png");
      width: 1072px;
      height: 269px;
      position: relative;
      margin: 0 auto;
      padding-top: 100px;
      padding-left: 40px; }
      .body-wrapper .content .qianyan .qianyanfont {
        color: #333;
        width: 460px;
        font-size: 16px;
        line-height: 36px; }
    .body-wrapper .content .shuoming1 {
      width: 1070px;
      height: 190px;
      border-radius: 40px;
      background: #fd787d;
      margin: 50px auto 0;
      color: #fff;
      padding: 25px; }
      .body-wrapper .content .shuoming1 p {
        line-height: 36px;
        font-size: 16px; }
    .body-wrapper .content .top {
      width: 23px;
      height: 19px;
      background: url("../images/top.png");
      display: inline-block; }
    .body-wrapper .content .lefticon {
      width: 19px;
      height: 23px;
      background: url("../images/lefticon.png");
      display: inline-block; }
    .body-wrapper .content .bor {
      border-radius: 20px;
      border: 5px solid #d70a2a; }
    .body-wrapper .content .picture1 {
      background: url("../images/picture1.png");
      width: 1086px;
      height: 675px;
      margin: 40px auto 0;
      position: relative; }
      .body-wrapper .content .picture1 .shuoming {
        border-radius: 20px;
        border: 5px solid #d70a2a;
        width: 485px;
        height: 135px;
        position: absolute;
        bottom: -45px;
        left: 0;
        padding: 20px; }
    .body-wrapper .content .picture2 {
      background: url("../images/picture2.png");
      width: 1018px;
      height: 407px;
      margin: 140px auto 0; }
    .body-wrapper .content .shuoming3 {
      width: 350px;
      height: 60px;
      padding: 20px;
      margin-left: 105px;
      margin-top: 80px;
      float: left; }
    .body-wrapper .content .shuoming4 {
      width: 400px;
      height: 135px;
      padding: 20px;
      float: right;
      margin-right: 90px;
      margin-top: 40px; }
    .body-wrapper .content .picture3 {
      background: url("../images/picture3.png");
      width: 1136px;
      height: 478px;
      margin: 300px auto 0; }
    .body-wrapper .content .shuoming5 {
      width: 675px;
      padding: 20px;
      height: 70px;
      margin: 60px auto 0; }
    .body-wrapper .content .picture4 {
      background: url("../images/picture4.png");
      width: 438px;
      height: 380px;
      float: left;
      margin-left: 50px;
      margin-top: 85px; }
    .body-wrapper .content .shuoming6 {
      width: 485px;
      height: 100px;
      padding: 20px;
      float: left;
      margin-left: 125px;
      margin-top: 220px; }
    .body-wrapper .content .picture5 {
      background: url("../images/bottom1.png");
      width: 1200px;
      height: 810px;
      margin: 540px auto 0px; }
  .body-wrapper .bottom {
    background: url("../images/bottom.png") center 0 no-repeat;
    width: 100%;
    height: 429px;
    margin-top: -429px; }

/*# sourceMappingURL=fosterGarden.css.map */
