<div class="newSecTan">
  <div class="isQD isNewSec">
    <div class="ltBox">
      <h3>你还有新手礼品未领取</h3>
      <ul>
        <li style="width:80px;"><img src="/main/images/cp167/alerta.png" alt=""><span></span></li>
        <li><img src="/main/images/cp167/alertb.png" alt=""><span></span></li>
        <li style="margin-right: 42px;"><img src="/main/images/cp167/alertc.png" alt=""><span></span></li>
      </ul>
    </div>
    <div class="rtBox">
      <p>你真得要走了吗？<br>请再多给我一次机会吧！</p>
      <img src="/main/images/cp167/face.png" alt="">
      <b></b>
      <a href="" class="register btn" ng-click="open()">注册领取</a>
      <a href="" class="miss btn" ng-click="close()">遗憾错过</a>
    </div>
    <a class="close" ng-click="close()"></a>
  </div>
</div>