/* line 1, ../sass/blewCard.scss */
.body-wrapper {
  width: 100%;
  background: #ff847d;
}
/* line 4, ../sass/blewCard.scss */
.body-wrapper .pop-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 88;
  transform-style: preserve-3d;
}
/* line 13, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop {
  background: url("../images/pop.png") center 0 no-repeat;
  width: 661px;
  height: 560px;
  margin: 0 auto;
  margin-top: -210px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -287px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  animation: openMove 1s forwards;
}
/* line 28, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop.close-pop {
  animation: closeMove 1s forwards;
}
/* line 31, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop.prize-pop {
  width: 664px;
  height: 630px;
  margin-top: -310px;
  top: 48%;
  background: url("../images/pop2.png") center 0 no-repeat;
}
/* line 38, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box {
  width: 618px;
  height: 340px;
  padding-top: 196px;
  padding-left: 89px;
}
/* line 44, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box .piece-wrapper .piece {
  overflow: hidden;
  font-size: 18px;
  color: #333;
  margin-bottom: 22px;
}
/* line 49, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box .piece-wrapper .piece.thead {
  margin-bottom: 12px;
}
/* line 51, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box .piece-wrapper .piece.thead div {
  float: left;
  width: 100px;
  margin-right: 60px;
  text-align: center;
}
/* line 58, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box .piece-wrapper .piece div {
  float: left;
  width: 100px;
  margin-right: 60px;
  text-align: center;
}
/* line 66, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .list-box p {
  margin-top: 33px;
  font-size: 18px;
  color: #fce3e3;
  text-align: center;
}
/* line 74, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box {
  position: absolute;
  bottom: 92px;
  left: 35%;
  overflow: hidden;
}
/* line 79, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .page-con {
  float: left;
  margin-right: 30px;
}
/* line 82, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .page-con .prev {
  border: 1px solid #ffd4b4;
  color: #ffb680;
  font-size: 18px;
  width: 72px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  float: left;
  cursor: pointer;
}
/* line 93, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .page-con .next {
  border: 1px solid #ffd4b4;
  color: #ffb680;
  font-size: 18px;
  width: 72px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  float: left;
  cursor: pointer;
}
/* line 104, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .page-con .page {
  color: #ffb680;
  font-size: 18px;
  width: 42px;
  height: 38px;
  line-height: 38px;
  float: left;
  cursor: pointer;
}
/* line 112, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .page-con .page.active {
  color: #ffffff;
  background: #ffb680;
}
/* line 119, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .page-box .total-page {
  color: #ffb680;
  font-size: 18px;
  float: left;
  line-height: 36px;
}
/* line 126, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .close {
  position: absolute;
  width: 64px;
  height: 64px;
  opacity: 0;
  top: 6px;
  right: 6px;
}
/* line 134, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop h4 {
  position: absolute;
  left: 68px;
  top: 174px;
  font-size: 20px;
  color: #e20c2e;
}
/* line 141, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .nodata {
  padding-top: 220px;
  text-align: center;
  font-size: 30px;
  text-align: center;
  color: #e20c2e;
}
/* line 148, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .text {
  color: #fd8325;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 23%;
  top: 65px;
}
/* line 157, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .info {
  color: #fd8325;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 36%;
  top: 114px;
}
/* line 166, ../sass/blewCard.scss */
.body-wrapper .pop-bg .pop .sureBtn {
  position: absolute;
  bottom: 110px;
  left: 50%;
  width: 242px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  margin-left: -120px;
  color: #fff;
  font-size: 30px;
  background: #fd8325;
  border-radius: 30px;
  text-decoration: none;
}
/* line 183, ../sass/blewCard.scss */
.body-wrapper .con-top {
  width: 100%;
  height: 566px;
  background: url("../images/banner.gif") center 0 no-repeat;
}
/* line 188, ../sass/blewCard.scss */
.body-wrapper .con-cen {
  width: 1254px;
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
}
/* line 193, ../sass/blewCard.scss */
.body-wrapper .con-cen h2 {
  width: 100%;
  height: 409px;
  background: url("../images/h2.png") center 0 no-repeat;
}
/* line 198, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode {
  width: 100%;
  position: absolute;
  top: 167px;
  overflow: hidden;
  padding-top: 20px;
  margin: 0 auto;
}
/* line 206, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode p {
  font-size: 30px;
  color: #000000;
  float: left;
  margin-left: 98px;
}
/* line 211, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode p i {
  font-weight: bold;
}
/* line 215, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .invest-btn {
  margin-left: 60px;
  margin-top: 6px;
  float: left;
  width: 242px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fe5100;
  font-size: 30px;
  background: url("../images/invest-btn.jpg") center 0 no-repeat;
}
/* line 227, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box {
  margin-top: 99px;
  margin-left: 67px;
  width: 1065px;
  height: 263px;
  background: url("../images/progress-bg.png") center 0 no-repeat;
  position: relative;
}
/* line 234, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box p {
  margin-top: 43px;
  color: #ffffff;
  font-size: 24px;
  width: 100%;
}
/* line 241, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box p span {
  display: inline-block;
  width: 150px;
  height: 42px;
  background: #ffcd3f;
  font-size: 24px;
  color: #fe5100;
  text-align: center;
  line-height: 42px;
  margin-left: 40px;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 3px #e03025;
}
/* line 256, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .total {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -436px;
  width: 895px;
  height: 10px;
  background: url("../images/total.png") center 0 no-repeat;
}
/* line 264, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .total .now {
  background: #ffff66;
  height: 5px;
  width: 2px;
  margin-top: 2px;
  margin-left: 4px;
  float: left;
}
/* line 272, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .total .add {
  background: #8666ff;
  height: 6px;
  width: 0px;
  margin-top: 2px;
  float: left;
}
/* line 280, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .num-box {
  overflow: hidden;
  position: absolute;
  bottom: 52px;
  left: 50%;
  margin-left: -436px;
  width: 895px;
}
/* line 287, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .num-box div {
  float: left;
  margin-right: 361px;
}
/* line 290, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .num-box div i {
  color: #ffff66;
  font-size: 24px;
  display: block;
}
/* line 294, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .num-box div i span {
  width: 42px;
  height: 27px;
  float: left;
  background: url("../images/jd.png") center 0 no-repeat;
}
/* line 305, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode .progress-box .num-box div.rt {
  margin-right: 0;
}
/* line 311, ../sass/blewCard.scss */
.body-wrapper .con-cen .jd-card-mode p {
  color: #000000;
  font-size: 18px;
  margin-top: 25px;
}
/* line 318, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode {
  width: 100%;
  margin: 220px auto 0;
  position: relative;
}
/* line 322, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode h3 {
  width: 1197px;
  height: 133px;
  background: url("../images/h3.png") center 0 no-repeat;
}
/* line 327, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .line {
  width: 3px;
  height: 764px;
  background: url("../images/line.png") center 0 no-repeat;
}
/* line 332, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box {
  position: absolute;
  top: 132px;
  left: 3px;
  width: 1115px;
  height: 322px;
  background: url("../images/cardbox.png") center 0 no-repeat;
  overflow: hidden;
  padding-left: 80px;
}
/* line 341, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .lt {
  padding-top: 72px;
  float: left;
  margin-right: 84px;
}
/* line 345, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .lt p {
  font-size: 30px;
  color: #000000;
}
/* line 348, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .lt p b {
  font-weight: bold;
}
/* line 352, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .lt .invest2 {
  width: 240px;
  height: 64px;
  color: #fe5100;
  font-size: 30px;
  text-align: center;
  line-height: 64px;
  background: url("../images/invest2.png") center 0 no-repeat;
  display: block;
  text-decoration: none;
  margin-top: 38px;
  margin-left: -20px;
}
/* line 366, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt {
  float: left;
  width: 519px;
  height: 265px;
  background: url("../images/cardbg.jpg") center 0 no-repeat;
  position: relative;
  margin-top: 35px;
}
/* line 373, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt p {
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 30px;
}
/* line 380, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt .go-login {
  width: 262px;
  height: 54px;
  background: url("../images/invest3.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 393, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt .invest {
  width: 262px;
  height: 54px;
  background: url("../images/invest3.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 406, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt .now-blew {
  width: 262px;
  height: 54px;
  background: url("../images/invest3.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 419, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box .rt .invest-again {
  width: 262px;
  height: 54px;
  background: url("../images/invest3.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 432, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch {
  float: left;
  height: 265px;
  width: 519px;
  margin-top: 35px;
  position: relative;
}
/* line 438, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize {
  float: left;
  width: 519px;
  height: 265px;
  background: url("../images/cardbg3.png") center 0 no-repeat;
  position: relative;
}
/* line 444, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .remain {
  font-size: 24px;
  color: #333333;
  padding-top: 30px;
  margin-bottom: 22px;
  display: inline-block;
  margin-left: 27px;
}
/* line 451, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .remain b {
  color: #ff3333;
}
/* line 454, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .remain i {
  display: inline-block;
  width: 10px;
  height: 21px;
  background: url("../images/sanjiao.png") center 0 no-repeat;
  margin-left: 8px;
  margin-right: 8px;
}
/* line 463, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .prize-tip {
  font-size: 23px;
  text-align: center;
}
/* line 466, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .prize-tip b {
  color: #ff3333;
}
/* line 471, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .check-tip {
  font-size: 18px;
  text-align: center;
  margin-bottom: 26px;
}
/* line 476, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .game-over {
  font-size: 18px;
  text-align: center;
  margin-bottom: 26px;
}
/* line 481, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .invest3 {
  width: 262px;
  height: 54px;
  background: url("../images/invest4.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 494, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .invest4 {
  width: 262px;
  height: 54px;
  background: url("../images/invest4.png") center 0 no-repeat;
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: #8b2c00;
  margin-left: 132px;
  text-align: center;
  line-height: 54px;
}
/* line 507, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .refresh {
  color: #a633ff;
  text-decoration: underline;
  font-size: 18px;
  position: absolute;
  left: 328px;
  top: 34px;
  cursor: pointer;
}
/* line 515, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box #scratch .get-prize .refresh b {
  font-size: 20px;
}
/* line 523, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .card-box canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 529, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .record {
  font-size: 24px;
  color: #a633ff;
  cursor: pointer;
  position: absolute;
  right: 54px;
  top: 490px;
}
/* line 537, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box {
  position: absolute;
  left: 0;
  top: 525px;
}
/* line 541, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box ul {
  overflow: hidden;
  width: 100%;
  padding-left: 40px;
}
/* line 546, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box ul li {
  float: left;
  margin-right: 20px;
  width: 171px;
}
/* line 550, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box ul li img {
  float: left;
  width: 171px;
  height: 171px;
  margin-bottom: 17px;
}
/* line 556, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box ul li p {
  margin-top: 28px;
  font-size: 18px;
  color: #000000;
  text-align: center;
}
/* line 565, ../sass/blewCard.scss */
.body-wrapper .con-cen .blew-card-mode .prize-box h4 {
  font-size: 30px;
  color: #000000;
  padding-left: 20px;
}
/* line 573, ../sass/blewCard.scss */
.body-wrapper .con-btm {
  width: 100%;
  background: #fff0e5;
}
/* line 576, ../sass/blewCard.scss */
.body-wrapper .con-btm .lover {
  width: 100%;
  height: 270px;
  background: url("../images/lover.png") center 0 no-repeat;
  margin-top: -160px;
  margin-bottom: 60px;
}
/* line 583, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper {
  width: 100%;
  height: 200px;
  background: #aa2b35;
}
/* line 587, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* line 591, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .icon {
  width: 104px;
  height: 60px;
  background: url('/images/olympiad/appicon.png') center center no-repeat;
  position: absolute;
  top: 67px;
  left: 167px;
}
/* line 599, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .phonecode {
  width: 62px;
  height: 62px;
  background: url('/images/olympiad/phone.png') center center no-repeat;
  position: absolute;
  top: 75px;
  right: 322px;
}
/* line 608, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .appcode {
  float: left;
  margin: 41px 0 0 44px;
}
/* line 612, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .wechatcode {
  float: left;
  margin: 41px 0 0 172px;
}
/* line 616, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .tel {
  float: left;
  margin: 76px 0 0 414px;
}
/* line 620, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .tel .number i {
  float: left;
}
/* line 623, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .tel .number div {
  float: left;
  color: #fff;
  padding-left: 13px;
  margin-top: -5px;
}
/* line 628, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .tel .number div span {
  font-size: 32px;
}
/* line 631, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .tel .number div p {
  font-size: 12px;
  margin-top: -3px;
}
/* line 638, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .title {
  font-size: 16px;
  color: #fff;
  padding-top: 6px;
  width: 106px;
  text-align: center;
}
/* line 645, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .code-box {
  overflow: hidden;
}
/* line 647, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .code-box .app-code-icon {
  float: left;
}
/* line 649, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .code-box .app-code-icon img {
  display: block;
  border: 1px solid #008c40;
}
/* line 654, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .code-box .app-code-word {
  float: left;
  padding: 29px 0 0 18px;
}
/* line 659, ../sass/blewCard.scss */
.body-wrapper .con-btm .code-wrapper .code .code-box .app-code-word p i {
  float: left;
  margin: 3px 5px 0 20px;
}
/* line 668, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode {
  width: 1254px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #d55d62;
  border-radius: 12px;
}
/* line 675, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode .title {
  font-size: 32px;
  background: url("../images/title.png") center 0 no-repeat;
  position: absolute;
  top: -33px;
  left: 50%;
  margin-left: -268px;
  width: 537px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  color: #e20c2e;
}
/* line 688, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul {
  margin-top: 70px;
  margin-left: 64px;
}
/* line 691, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li {
  font-size: 18px;
  line-height: 30px;
  color: #333;
  position: relative;
  margin-bottom: 14px;
  line-height: normal;
}
/* line 698, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li.mr {
  margin-left: 24px;
}
/* line 702, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li i {
  width: 4px;
  height: 4px;
  background: #333;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
/* line 710, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li i.arrow {
  width: 9px;
  height: 13px;
  background: url("../images/arrow.png") center 0 no-repeat;
  margin-right: 16px;
}
/* line 716, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li i.bigCircle {
  width: 6px;
  height: 6px;
  background: #852c2c;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
}
/* line 726, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode ul li strong {
  color: #000;
}
/* line 731, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox {
  margin-top: 68px;
  font-size: 24px;
  color: #ff557a;
  text-align: center;
  position: relative;
  height: 630px;
}
/* line 738, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .btn {
  width: 450px;
  height: 68px;
  position: absolute;
  bottom: 52px;
  left: 23%;
  background: #ce0341;
  border-radius: 6px;
  padding: 1px 1px 1px 1px;
  box-sizing: content-box;
}
/* line 748, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .btn a {
  width: 450px;
  text-align: center;
  line-height: 67px;
  font-size: 24px;
  color: #fffefe;
  cursor: pointer;
  display: block;
  height: 68px;
  line-height: 68px;
  background: #ff557a;
}
/* line 759, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .btn a:hover {
  text-decoration: none;
}
/* line 764, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox p {
  margin-top: 68px;
}
/* line 767, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox {
  width: 100%;
  margin-left: 0;
  margin-top: 34px;
}
/* line 771, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul {
  margin: 0 auto;
  width: 90%;
  font-size: 18px;
  background: #fc99b7;
  border-radius: 10px;
  padding: 0 1px 5px 1px;
  box-sizing: border-box;
}
/* line 779, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li {
  background: #852c2c;
  height: 52px;
  line-height: 52px;
  margin-bottom: 0;
}
/* line 784, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li.dl {
  background: #ff7ba3;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
/* line 789, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li.bla {
  color: #000;
}
/* line 792, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li.bg {
  background: #ffe8ef;
}
/* line 795, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li.radius {
  border-radius: 0 0 6px 6px;
}
/* line 798, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li span {
  text-align: center;
  font-weight: normal;
  width: 320px;
  display: inline-block;
}
/* line 803, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li span.pl {
  padding-left: 80px;
}
/* line 806, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li span.cen {
  padding-left: 85px;
  box-sizing: border-box;
}
/* line 812, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li i {
  width: 1px;
  height: 52px;
  background: #fc99b7;
  display: inline-block;
  margin-left: 487px;
}
/* line 818, ../sass/blewCard.scss */
.body-wrapper .con-btm .rule-mode.investBox .tableBox ul li i.rt {
  margin-left: 771px;
}
/* line 827, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper {
  padding-bottom: 70px;
  overflow: hidden;
}
/* line 830, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode {
  width: 1254px;
  margin: 70px auto 0;
  border: 1px solid #e89f9d;
  position: relative;
}
/* line 835, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .title {
  width: 162px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  background: #c52532;
  font-size: 18px;
  color: #f0f0f0;
  float: left;
  margin: -17px 0 0 30px;
}
/* line 846, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .love-icon {
  position: absolute;
  left: 53px;
  top: 140px;
}
/* line 851, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content {
  padding: 49px 0 10px 120px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 856, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode {
  width: 529px;
  float: left;
  height: 137px;
  position: relative;
}
/* line 861, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode i {
  position: absolute;
  left: 0;
  top: 0;
  width: 98px;
  height: 98px;
}
/* line 867, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode i.olympiad-gzkg {
  background: url("../images/l1.jpg") center center no-repeat;
}
/* line 870, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode i.olympiad-guarantee {
  background: url("../images/l2.jpg") center center no-repeat;
}
/* line 874, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode i.olympiad-pjcd {
  background: url("../images/l3.jpg") center center no-repeat;
}
/* line 878, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode i.olympiad-lszc {
  background: url("../images/l4.png") center center no-repeat;
}
/* line 884, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode div {
  padding: 14px 0 0 112px;
  font-size: 14px;
  color: #333;
}
/* line 888, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .content .iconmode div span {
  font-size: 26px;
  color: #333;
}
/* line 895, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode ul {
  padding: 40px 0 40px 33px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 900, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode ul li {
  float: left;
  margin-right: 17px;
  width: 271px;
  text-align: center;
}
/* line 905, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode ul li a:hover {
  color: #313131;
}
/* line 908, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode ul li p {
  font-size: 14px;
  color: #313131;
  line-height: 24px;
  padding-top: 16px;
}
/* line 916, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners {
  padding: 50px 0 44px 30px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 921, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .olympiad-left {
  float: left;
  margin: 30px 10px 0 0;
  cursor: pointer;
}
/* line 926, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .imgs {
  width: 100%;
  overflow: hidden;
  float: left;
  height: 78px;
}
/* line 931, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .imgs ul {
  padding: 0;
}
/* line 933, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .imgs ul li {
  float: left;
  width: auto;
  margin-right: 33px;
}
/* line 937, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .imgs ul li img {
  width: 153px;
}
/* line 943, ../sass/blewCard.scss */
.body-wrapper .con-btm .common-wrapper .mode .partners .olympiad-right {
  float: left;
  margin: 30px 0 0 10px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url('/images/olympiad/right.png') center center no-repeat;
}

@keyframes openMove {
  0% {
    opacity: 0.2;
    transform: translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translateZ(500px);
  }
}
@keyframes closeMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.2;
    transform: translateY(1000px);
  }
}
