{% extends "common/main.njk" %}
{% block body %}
<link href="/style/help/index.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="help">
	<article class="container">
		{% include "./left.njk" %}
		<div class="right cur" style="display:block;">
			<h1>免责声明</h1>
			<div class="content">
				<div class="mzsm-ysbm">
					<p><b>1、</b>本网站不能保证网站内容的充分性、及时性、可靠性、完整性和有效性，并且免除任何由此引起的法律责任。</p>

					<p><b>2、</b>本网站可能含有第三方内容或与第三方网站的链接。这些内容与链接仅为您提供方便，并供您参考。对于第三方的任何内容和网站，包括但不限于其准确性、主题、质量或及时性，多融财富既无法控制，也不为其承担任何责任，并不作任何保证或陈述。上海银砖金融信息服务有限公司对第三方的内容或网站或与上海银砖金融信息服务有限公司网站链接或配合的网站一律免责。</p>

					<p><b>3、</b>上海银砖金融信息服务有限公司在任何情况下（无论是在任何形式的法律行动中）都无需为您访问本网站及/或使用在线服务有关的任何运行故障、系统、服务器或连接故障、错误、遗漏、中断、安全系统破坏、电脑病毒、恶意代码、资料损坏、操作或传送延误、传送错误或无法访问等问题承担任何责任（即使上海银砖金融信息服务有限公司已事先得知出现问题的可能性）。</p>

					<p><b>4、</b>上海银砖金融信息服务有限公司在任何情况下都不应对您或任何其他方与使用本网站或依赖本网站提供的任何信息、资料或在线服务有关而产生的任何损害、损失、开支或费用承担责任，包括但不限于任何直接、间接、特定、附带或后果性的损失、利润损失或机会损失（无论是在任何形式的法律行动中，且即使上海银砖金融信息服务有限公司已事先得知遭到损失的可能性）。</p>

					<p><b>5、</b>凡通过多融财富在上海银砖金融信息服务平台选择交易的均禁止委托多融财富代收现金，凡因代收现金所造成的一切损失由该用户自行承担，上海银砖金融信息服务有限公司不承担任何责任。</p>
					<div class="gs">上海银砖金融信息服务有限公司</div>
				</div>
			</div>
		</div>
	</article>
</div>
<script src="/js/help/index.js" inline></script>
{% endblock %}