{% extends "common/main.njk" %}
{% block body %}
<link href="/style/help/index.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="help">
	<article class="container">
		{% include "./left.njk" %}
		<div class="right cur" style="display:block;">
			<h1>新手指引</h1>
			<div class="content">
				<section>
					<div class="guide-wrap">
						<div class="guide-mode">
							<div class="stitle">第一步：注册</div>
							<div class="guide-con">
								<p>打开多融财富首页 <a href="https://www.duorongcf.com">https://www.duorongcf.com</a>, 点击页面右上角【注册】或首页焦点图右侧【立即注册】按钮</p>
								<div class="img-box">
									<img src="/images/help/guide1.jpg">
								</div>
								<ul>
									<li>1.进入注册页面，在【手机号码】框里填写有效的手机号码；</li>
									<li>2.输入【验证码】框右侧图片上显示的字母或数字；</li>
									<li>3.点击【获取验证码】，输入手机收到的短信验证码；</li>
									<li>4.设置密码，密码必须为6位到18位字符，字母区分大小写且不能为纯数字；</li>
									<li>5.如有好友推荐注册，请在【邀请码】框中输入推荐人的手机号码或邀请码（没有推荐人可以不填）；</li>
									<li>6.详细阅读《注册服务协议》后，勾选确认；</li>
									<li>7.完成以上步骤后，点击【注册】按钮，完成注册。</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/guide2.jpg">
								</div>
							</div>
						</div>
						<div class="guide-mode">
							<div class="stitle">第二步：开户流程</div>
							<div class="guide-con">
								<ul>
									<li>1.仅支持银行借记卡绑定；</li>
								</ul>
								<ul>
									<li>2.支持银行列表。</li>
								</ul>
								<table>
									<tr>
										<td>工商银行</td>
										<td>兴业银行</td>
										<td>浦发银行</td>
									</tr>
									<tr>
										<td>农业银行</td>
										<td>光大银行</td>
										<td>中信银行</td>
									</tr>
									<tr>
										<td>建设银行</td>
										<td>广发银行</td>
										<td>邮储银行</td>
									</tr>
									<td>中国银行</td>
									<td>平安银行</td>
									<td>华夏银行</td>
									<tr>
										<td>招商银行</td>
										<td>民生银行</td>
										<td>交通银行</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="guide-mode">
							<div class="stitle">第三步：完善信息</div>
							<div class="guide-con">
								<ul>
									<li>1.完善用户信息</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/userinfo1.jpg">
								</div>
								<ul>
									<li>2.完善银行信息</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/userinfo2.jpg">
								</div>
								<ul>
									<li>3.设置交易密码，点击确定</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/userinfo3.jpg">
								</div>
							</div>
						</div>
						<div class="guide-mode">
							<div class="stitle">第四步：充值</div>
							<div class="guide-con">
								<ul>
									<li>1.选择支付方式：快捷支付；</li>
									<li>2.填写绑定银行卡预留的手机号，完成支付；</li>
									<li>3.充值成功。</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/guide5.jpg">
								</div>
							</div>
						</div>
						<div class="guide-mode">
							<div class="stitle">第五步：投资</div>
							<div class="guide-con">
								<ul>
									<li>1.选择“我要投资”；</li>
									<li>2.选择投资产品类型；</li>
									<li>3.选择投资标的；</li>
									<li>4.输入购买金额；</li>
									<li>5.点击“立即投资”，进行投资。</li>
								</ul>
								<div class="img-box">
									<img src="/images/help/guide6.jpg">
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</article>
</div>
<script src="/js/help/index.js" inline></script>
{% endblock %}