.page-wrapper{
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    .top-bar{
        background: url(../../images/other/escrowAdv/top-bar.jpg) center no-repeat;
        background-size: cover;
        height: 558px;
    }
    .advocate{
        width: 1134px;
        height: 245px;
        margin: 80px auto;
        background: url(../../images/other/escrowAdv/advocate.png) center no-repeat;
        background-size: cover;
    }
    .diagram{
        height: 724px;
        background: url(../../images/other/escrowAdv/diagram.jpg) center no-repeat;
        background-size: cover;
    }
    .what-adv{
        margin: 77px auto;
        width: 502px;
        height: 45px;
        background: url(../../images/other/escrowAdv/escrow-adv.png) no-repeat;
    }
    .detail-adv{
        margin: 0 auto 70px;
        width: 1040px;
        height: 270px;
        background: url(../../images/other/escrowAdv/advantage.png) no-repeat;
    }
    .background{
        height: 844px;
        padding-top: 208px;
        background: url(../../images/other/escrowAdv/background.png) center no-repeat;
        background-size: cover;
        .row{
            margin: 0 auto;
            color: #FFF;
            font-size: 18px;
            line-height: 18px;
            span{
                font-size: 24px;
                line-height: 24px;
            }
        }
        /*.row{
            div{
                display: inline-block;
                vertical-align: middle;
                padding: 22px;
                height: 145px;
                border: 1px dashed #FFF;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
        }*/
        .row-1{
            width: 1063px;
            height: 189px;
            margin:0 auto 330px;
            font-size: 18px;
            line-height: 18px;
            color:#fff;
            span{
                font-size: 24px;
                line-height: 24px;
            }
            .left{
                display: inline-block;
                vertical-align: middle;
                padding: 22px;
                height: 145px;
                border: 1px dashed #FFF;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                float: left;
                width: 408px;
            }
            .right{
                display: inline-block;
                vertical-align: middle;
                padding: 22px;
                height: 145px;
                border: 1px dashed #FFF;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                float: right;
                width: 490px;
            }
        }
        .row-2{
            clear: both;
            width: 1128px;
            height: 210px;
            line-height: 18px;
            font-size:18px;
            color:#fff;
            margin:0 auto;
            span{
                line-height: 22px;
                font-size: 22px;
            }
            .block{
                float: left;
                margin-right: 20px;
                height: 165px;
                div{
                    line-height: 32px;
                }
            }
            .blk-1,.blk-2,.blk-3{
                display: inline-block;
                vertical-align: middle;
                padding: 22px;
                border: 1px dashed #FFF;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                float: left;
                margin-right: 20px;
                height: 165px;
                width: 317px;
                div{
                    line-height: 32px;
                }
            }
            .blk-2{
                width: 314px;
            }
            .blk-3{
                width: 316px;
                margin-right:0;
            }
        }
    }
    .news-report{
        margin: 76px auto;
        height: 50px;
        width: 680px;
        background: url(../../images/other/escrowAdv/news-report.png) center no-repeat;
        background-size: cover;
    }
    .link-box{
        margin: 0 auto;
        width: 961px;
        a{
            display: inline-block;
            height: 100px;
            width: 255px;
            margin-right: 94px;
        }
        a:last-child{
            margin-right: 0;
        }
        a.one{
            background: url(../../images/other/escrowAdv/21cn.jpg) center no-repeat;
        }
        a.two{
            background: url(../../images/other/escrowAdv/invest-china.jpg) center no-repeat;
        }
        a.three{
            background: url(../../images/other/escrowAdv/hc360.jpg) center no-repeat;
        }
    }
    .qa-header{
        margin: 110px auto 130px;
        height: 43px;
        width: 389px;
        background: url(../../images/other/escrowAdv/qa.png) center no-repeat;
    }
    .qa-box{
        with: 100%;
        .center-area{
            width: 1158px;
            margin: 0 auto;
            .tab-row{
                margin-top: 80px;
                width: 100%;
                border-bottom: 1px solid #999;
                .tab-item{
                    display: inline-block;
                    border-right: 1px solid #CCC;
                    padding: 0 24px 15px;
                    color: #999;
                    font-size: 30px;
                    line-height: 30px;
                    cursor: pointer;
                }
                .tab-item:focus{
                    color: #FF9A01;
                }
                .tab-item:last-child{
                    border-right: none;
                }
            }
            .qa-item{
                margin: 50px 0;
                .q{
                    color: #E8A22B;
                    font-size: 24px;
                    margin-bottom: 8px;
                    span{
                        display: inline-block;
                        padding: 0 10px;
                        line-height: 36px;
                        font-size: 24px;
                        vertical-align: top;
                    }
                }
                p{
                    margin-left: 36px;
                    color: #000;
                    font-size: 18px;
                    line-height: 36px;
                }
            }
        }
    }
    .foot{
        width: 100%;
        background: #000000;
        color: #FFF;
        text-align: center;
        padding: 70px 0 80px;
        .about-hotline{
            font-size: 30px;
            line-height: 30px;
        }
        .qrcd{
            width: 128px;
            margin: 60px auto 0;
            font-size: 18px;
            line-height: 36px;
            .img{
                margin: 0 auto;
                height: 122px;
                width: 121px;
                background: url(../../images/other/escrowAdv/qrcd-wx.jpg) center no-repeat;
            }
        }
    }
}