.noviceOnlyEnjoy{
    width: 100%;
    .main {
        background: url("../../images/other/noviceOnlyEnjoy/bg.jpg") center no-repeat;
        width: 100%;
        //height: 3480px;
        height: 2266px;
        min-width: 960px;
        background-size: cover;
        margin: 0 auto;
        position: relative;

        /* 新手宝下架新增 */
        padding-top: 1289px;
      /*  .product{
            margin: 0 auto;
            width: 550px;
            height: 456px;
            position: relative;
            background: url("../../images/other/noviceOnlyEnjoy/product.png");
            .time{
                position: relative;
                top: 317px;
                margin: 0 auto;
                width: 256px;
                height: 64px;
            }
            .on{
                background: url("../../images/other/noviceOnlyEnjoy/invest-on.png");
                cursor: pointer;
            }
            .off{
                background: url("../../images/other/noviceOnlyEnjoy/invest-off.png");
            }
        }*/
      /*  .btn-area{
            background:url("../../images/other/noviceOnlyEnjoy/xin1_03.png") no-repeat;
            position: relative;
            display: flex;
            width:900px;
            margin:0 auto;
            justify-content: center;
        }*/
        .btn-area{
            background:url("../../images/other/noviceOnlyEnjoy/xin2_03.png") no-repeat;
            margin: 0 auto;
            width: 1165px;
            height:500px;
            position: relative;
        }
        .btn-area > div{
            width: 256px;
            height: 64px;
        }
        .current{
            //float: left;
            position: absolute;
            bottom:121px;
            left:150px;
        }
        .time{
            position: absolute;
            bottom:121px;
            right:150px;
        }
    }
    .main .btn-area .current.on{
        background: url("../../images/other/noviceOnlyEnjoy/invest-on.png") center 0 no-repeat;
        cursor: pointer;
    }
    .main .btn-area .time.on{
        background: url("../../images/other/noviceOnlyEnjoy/invest-on.png") center 0 no-repeat;
        cursor: pointer;
    }
    .rule-area{
        clear: both;
        position: relative;
        /*top: 2955px;*/
        top: 1289px;    /* 新手宝下架 */
        width: 1119px;
        margin: 0 auto;
        padding: 20px;
        color: #0F2541;
        font-size: 20px;
        line-height: 36px;
        background: #FFF;
        border-radius: 10px;
        text-align: left;
    }
    .main .btn-area .current.off {
        background: url("../../images/other/noviceOnlyEnjoy/invest-off.png") center no-repeat;
    }
    .main .btn-area .time.off{
        background: url("../../images/other/noviceOnlyEnjoy/invest-off.png") center no-repeat;
    }
}