@import "../../../common/style/global.scss";
.huarui{
    .banner{
        @include contain('../images/banner.jpg');
        background-position:center center;
    }
    .content{
        background:#fff;
        @include font-size(12px);
        color:#000000;
        .title{
            color:#3b3154;
            text-align:center;
            @include font-size(21px);
            .titleColor{
              color:#ff7200;
            }
        }
        .title2{
            @include font-size(15px);
            color:#666666;
            text-align:center;
            letter-spacing: $s5;
        }
        .tabs{
           .tabtitle{
            float: left;
            @include font-size(15px);
            border-bottom:$s5 solid #ccc;
            a{
               color:#999999;
               @include font-size(15px); 
            }
            .active{
                color:#ff7200;
                border-bottom:$s5 solid #ff7200;
                text-decoration:none;
            }
           } 
        }
        .tabCainer{
            .tab_content{
                @include font-size(12px);
                color:#666666;
                .titleIcon{
                    background:#ff7200;
                    color:#fff;
                    float: left;
                    width:$s15;
                    height:$s15;
                    text-align:center;
                }
                .titleContent{
                    color:#000;
                }
                .answer{
                    @include font-size(12px);
                }
            }
        }
        .letter{
            @include contain('../images/letter.png');
            float: left;
            margin-right:$s10;
            color:#fff;
            text-align:center;
            font-style:italic;
            @include font-size(12px);
        }
        .letterContent{
            @include font-size(12px);
            float: left;
        }
        .bankyiyi{
            @include font-size(18px);
            color:#ff7100;
            .san{
                @include contain('../images/san.png');
                float: left;
            }
        }
        .jiandu{
            .jiandu1{
               @include contain('../images/circle1.png');
               float: left; 
            }
             .jiandu2{
               @include contain('../images/circle2.png');
               float: left; 
            } 
            .jiandu3{
               @include contain('../images/circle3.png');
               float: left; 
            }
            .jianduTitle{
                @include font-size(18px);
                color:#3a2f5a;
            }
            .jianduContent{
                color:#333333;
                @include font-size(12px);
            }
        }
        .douLeft{
            @include contain('../images/douLeft.png');
            float: left;
        }
        .douRight{
            @include contain("../images/douRight.png");
            float:right;
        }
        .progress{
            @include contain('../images/progressLine.png');
            margin:0 auto;
        }
        .progressContent{
            position: relative;
            .progressLeft{
                float: left;
                .icon{
                    background:#32256d;
                    @include font-size(10px);
                    font-style: italic;
                    color:#fff;
                    display:inline-block;
                    border-radius:$s15;
                    text-align:center;
                    margin-right:$s20;
                }
            }
            .progressRight{
                float: left;
                    .icon{
                    background:#32256d;
                    @include font-size(10px);
                    font-style: italic;
                    color:#fff;
                    display:inline-block;
                    border-radius:$s15;
                    text-align:center;
                    margin-right:$s20;
                }
            }
        }
    }
    .moshi{
       background: -webkit-gradient(linear,0 0 , 100% 0, from(#3a1e69), to(#152d72));
       color:#ffffff;
       .title{
        @include font-size(18px);
        text-align:center;
        .titleColor{
            color:#ff7100;
        }
       }
       .title2{
        color:#cccccc;
        @include font-size(15px);
        text-align:center;
       }
          .douLeft{
            @include contain('../images/douLeft.png');
            float: left;
        }
        .douRight{
            @include contain("../images/douRight.png");
            float:right;
        }
        .why{
            @include contain('../images/why.png');
            margin:0 auto;
        }
        .liucheng{
            margin:0 auto;
            @include contain('../images/liucheng.png')
        } 
        .cunguan{
            color:#ffaf1b;
            @include font-size(12px);
        } 
    }
    .footer{
        @include contain('../images/footer.png');
    }
}
