{% extends "common/main.njk" %}
{% block body %}
<link href="/style/other/brand/hopeLibrary.css" rel="stylesheet" type="text/css" inline/>
<div id="APP" class="sub-hopeLibrary">
    <div class="banner-img">
        <img src="/images/other/brand/hopeLibrary/banner.gif" alt="">      
    </div>
    <div class='banner-text'>
        <div class='contain'>
            <p>当城里孩子们的书柜堆满着童话故事书、科普小说等各类读物</p> 
            <p>甚至手握电子阅读工具时</p>
            <p>那些贫困山区的留守儿童们手中能读的却只有几本已被翻烂的课本</P>
            <p>深度贫困地区与城市之间教育环境的反差</p> 
            <p>让人有一种说不出的心酸</p>     
        </div>  
    </div> 
    <div class='contain box'>
        <!-- 希望图书室由来 -->
        <section>
            <div class='title-img'style='padding-top:30px'>
                <img src="/images/other/brand/hopeLibrary/title_01.gif" alt="“多融财富希望工程图书室”之由来">
            </div>
            <p class='frame'>国家级贫困县洛宁县陈吴乡大原小学，受当地经济条件的限制，基础设施非常落后且严重不足，学校只有一间简陋的图书室，陈列图书破旧不堪、数量稀少、内容陈旧、种类单一，且早已被学生们翻烂。</p>
            <p class='frame'>多融财富了解到这一情况后，于2018年4月10日正式联合中国青少年发展基金会发起实施“希望工程图书室”公益项目，让大原小学的小朋友们也能够沐浴到知识的阳光雨露，拥有多彩的梦想。</p>
            <div class='original'>
                <img src="/images/other/brand/hopeLibrary/original.gif" alt="">
            </div>
        </section>
        <!-- 希望图书室亮相 -->
        <section>
            <div>
                <div class='title-img'><img src="/images/other/brand/hopeLibrary/title_02.gif" alt="“多融财富希望工程图书室”之亮相"></div>
                <p class='frame'>经过近2个月紧锣密鼓的筹备和搭建，“多融财富希望工程图书室”终于于6月初顺利建成。所赠图书均是参照教育部中小学图书馆装备用书目录选编并经过有关专家精心审定、标准配置，融思想性、知识性、科学性、艺术性、趣味性于一体。</p>
                <div class='pose'>
                    <img src="/images/other/brand/hopeLibrary/pose.gif" alt="">
                </div>
            </div>
        </section>
        <!-- 希望图书室揭牌 -->
        <section class='ceremony-body'>
            <div class='title-img'>
                <img src="/images/other/brand/hopeLibrary/title_03.gif" alt="“多融财富希望工程图书室”之揭牌">
            </div>
            <p class='frame'>2018年6月12日，“多融财富希望工程图书室”揭牌仪式于洛宁县陈吴乡大原小学隆重举行。多融财富副总经理孙振、品牌总监高婷、县政府副县长陈路楠、洛宁县食品药品监督管理局局长王景阳、洛宁县教育局副局长段笑波、大原小学校长韦淑娟等一行人参加了此次揭牌仪式。</p>
            <div class='ceremony-box'>
                <div class='imgbox'>
                    <div class='prev btn'></div>
                    <div class='next btn'></div>
                    <div class='box'>
                        <ul class='box-ul' style='margin-top: 100px;'>
                            <li class="swiper-slide">
                                <p>多融财富爱心代表及嘉宾们为孩子们分发图书</p>
                                <img src="/images/other/brand/hopeLibrary/ceremony_01.jpg" alt=""></li>
                            <li class="swiper-slide">
                                <P>大原小学校长将题有“书籍助成长•美德昭世人”的锦旗赠予多融财富</P>
                                <img src="/images/other/brand/hopeLibrary/ceremony_02.jpg" alt="">
                            </li>
                            <li class="swiper-slide">
                                <P>县政府副县长陈路楠：“感谢多融财富为大原小学注入更多的知识养分”</P>
                                <img src="/images/other/brand/hopeLibrary/ceremony_03.jpg" alt="">
                            </li>
                            <li class="swiper-slide">
                                <P>多融财富副总经理孙振：“教育可以改变孩子的未来，也能够改变一个家庭的未来”</P>
                                <img src="/images/other/brand/hopeLibrary/ceremony_04.jpg" alt="">
                            </li>
                            <li class="swiper-slide">
                                <p>大原小学学生代表：“珍惜每一次阅读课，让缕缕书香传遍校园的每一个角落”。</p>
                                <img src="/images/other/brand/hopeLibrary/ceremony_05.jpg" alt=""></li>
                            <li class="swiper-slide">
                                <p>学生们为嘉宾们亲手戴上红领巾，表达最真挚的感谢和最崇高的敬意</p>
                                <img src="/images/other/brand/hopeLibrary/ceremony_06.jpg" alt="">
                            </li>
                            <li class="swiper-slide">
                                <p>大原小学的学生们声情并茂地朗诵诗歌</p>
                                <img src="/images/other/brand/hopeLibrary/ceremony_07.jpg" alt="">
                            </li>
                            <li class="swiper-slide">
                                <p>大原小学的学生们展现活力四射的舞蹈</p>
                                <img src="/images/other/brand/hopeLibrary/ceremony_08.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class='hopeLibrary-foot'>
            <p>用一本书打开一个孩子的世界</p>
            <p> 用一本书点亮一个孩子的梦想</p>
            <p  class='text-bg'><span>多融财富坚信：授人以鱼，不如授人以渔</span></p>
            <p> 作为一家具有国资+上市背景的互金企业</p>
            <p> 多融财富将始终</p>
            <p> 以实际行动诠释普惠、责任与初心</p>
            <p> 以实际行动体现担当、价值与作为</p>
            <p>让企业走得更稳、更深、更远</p>
        </section>
    </div>
</div>
<script src="/js/plug/superSlide.js" inline></script>
<script src="/js/other/brand/hopeLibrary.js" inline></script>
{% endblock %}
