$love-sprite-dimensions: true;
@import "love/*.png";
@include all-love-sprites();

$financial-sprite-dimensions: true;
@import "financial/*.png";
@include all-financial-sprites();

$bgColor:#ecf0f2;
$title:#51b3e6;
$tab_title_height:45px;
$tabDl_title_height:23px;

// 弹框
.cp079-dlog-box{
	width:438px;
	height:300px;
	background:#2f80aa;
	color:#fff;
	font-size:14px;
	padding: 10px;
	.title{
		padding-top: 20px;
	}
	.body{
		padding: 20px;
		span{
			padding-top: 10px;
			float:left;
			width:10%
		}
		p{
			padding-top: 10px;
			text-align: left;
			float:left;
			width:90%
		}
	}
}
.cp079-dlog-listbox{
	width:400px;
	height:400px;
	background:#2f80aa;
	color:#fff;
	font-size:18px;
	padding: 20px;
	h1{
		margin-top: -10px;
		padding-left: 5px;
		text-align: left;
	}
	.cp079-body{
		margin-top: 10px;
		width:90%;
		height:300px;
		background:#fff;
	    -moz-border-radius: 15px;
	    -webkit-border-radius: 15px;
	    border-radius:15px;
		padding: 20px;

		span{
			padding-top: 10px;
			float:left;
			width:10%
		}
		p{
			padding-top: 10px;
			text-align: left;
			float:left;
			width:90%
		}
		h1{
			color:#999;
			text-align: center;
		}
		.cp079-list{
			color:#555;
			text-align: center;
			width:100%;
			overflow:hidden;
			tr{
				width:100%;
				th{
					font-weight: bolder;
					width:32%;
					height: $tabDl_title_height *11 / 8;
					font-size: 16px;
					text-align: center;
				}
				td{
					width:32%;
					height: $tabDl_title_height *11 / 8;
					font-size: 14px;
					text-align: center;
				}
			}
		}
	}
	.cp079-page{
		width:100%;
		margin: 10px auto;
		li{
			float:left;
			width:20%;
		}
	}
}


.cp079-body{
	width: 100%;
	// background: image-url('cp079_bg2.png') center 122px no-repeat;
	background: $bgColor;
	.cp079-top{
		width:100%;
		height:1360px;
		overflow: hidden;
		background:image-url('activity/cp079/top.png') center 0 no-repeat;
			.cp079-top-btn{
				width:400px;
				height:80px;
				margin: 1023px auto;
			}
		}
	.cp079-mode{
		width: 1180px;
		height: 1000px;
    	margin: 0 auto;
		position: relative;
 		background: image-url('activity/cp079/cp079_bg2.png') center 44px no-repeat;
 		overflow: hidden;
 		.song{
 			float:left;
 			width:50%;
 			height:835px;
 			background: image-url('activity/cp079/songli.png') center 122px no-repeat;
 			.a1{    
 				width: 100px;
    			margin: 146px 87%;
			}
			.a2{    
 				width: 100px;
    			margin: 299px 87% 0;
			}
			.a3{    
 				width: 100px;
    			margin: 62px 87%;
			}
			.a4{    
 				width: 100px;
    			margin: 146px 87% 0;
			}
			.a5{    
 				width: 100px;
 				margin: 60px 71px;
			}
 		}
 		.list{
 			float:left;
 			width:50%;
 			height:835px;
 			background: image-url('activity/cp079/phb.png') center 122px no-repeat;
 		}

	}
	.cp079-noData{
		color:#999;
		font-size:18px;
		text-align:center;
		padding-top: 100px;
	}
	// 排行
	.list{
		.cp079-tab{
			margin-top: 239px;
    		margin-left: 34px;
			overflow:hidden;
			div{
				margin: 1px;
			    float: left;
			    width: 257px;
			    height: $tab_title_height;
			    color: #fff;
			    text-align: center;
			    font-size: 24px;
			    line-height: $tab_title_height;
			    background: #51b3e6;
			}
			.tab-sel{
				background: #0193de;
			}
		}
		.cp079-tab-body{
			margin-left: 35px;
			// background: #51b3e6;
			overflow:hidden;
			width: 257px * 2;
			height: $tab_title_height *9;
			.noData{
				color:#999;
				font-size:18px;
				text-align:center;
				padding-top: 100px;
			}
			table{
				width:100%;
				tr{
					width:100%;
					td{
						width:33%;
						height: $tab_title_height *9 / 10;
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}
		.cp079-tx{
			margin-left: 35px;
			margin-top: 35px;
			p{
				font-size: 14px;
			}
		}
	}
	.mode{
		width: 1198px;
		margin: 82px auto 0;
		border: 1px solid $title;
		position: relative;
		.title{
			width: 162px;
			height: 33px;
			text-align: center;
			line-height: 33px;
			background: $title;
			font-size: 18px;
			color: #f0f0f0;
			float: left;margin: -17px 0 0 30px;
		}
		.love-icon{
			position: absolute;
			left: 53px;
			top: 140px;
		}
		.con{
			padding: 38px 0 0 282px;
			font-size: 16px;
			color: #e9447c;
			line-height: 20px;
			.modelist{
				position: relative;
			}
			div{
				padding-bottom: 11px;
				b{
					font-weight: bold;
				}
			}
			p{
				line-height: 32px;
			}
			i{
				// position: absolute;
				// left: -20px;
				// top: 5px;
				background: image-url('activity/cp079/b1.png') center 122px no-repeat;
			}
			span{
				display: block;
				padding: 18px 0 12px;
				font-size: 12px;
			}
		}
		.content{
			padding: 49px 0 10px 120px;
			overflow: hidden;
			clear: both;
			zoom: 1;
			.iconmode{
				width: 529px;
				float: left;
				height: 137px;
				position: relative;
				.love-gzkg{
					width:150px;
					height:150px;
					float: left;
					display:block;
					background: image-url('activity/cp079/b1.png') center 0 no-repeat;
				}
				.love-guarantee{
					width:150px;
					height:150px;
					float: left;
					display:block;
					background: image-url('activity/cp079/b2.png') center 0 no-repeat;
				}
				.love-pjcd{
					width:150px;
					height:150px;
					float: left;
					display:block;
					background: image-url('activity/cp079/b3.png') center 0 no-repeat;
				}
				.love-lszc{
					width:150px;
					height:150px;
					float: left;
					display:block;
					background: image-url('activity/cp079/b4.png') center 0 no-repeat;
				}
				div{
					padding: 14px 0 0 112px;
					font-size: 14px;
					color: #333;
					span{
						font-size: 26px;
						color: #333333;
					}
				}
			}
		}
		ul{
			padding: 40px 0 40px 33px;
			overflow: hidden;
			clear: both;
			zoom: 1;
			li{
				float: left;
				margin-right: 17px;
				width: 271px;
				text-align: center;
				a:hover{
					color: #313131;
				}
				p{
					font-size: 14px;
					color: #313131;
					line-height: 24px;
					padding-top: 16px;
				}
			}
		}
		.partners{
			padding: 50px 0 44px 30px;
			overflow: hidden;
			clear: both;
			zoom: 1;
			.love-left{
				float: left;margin: 30px 10px 0 0;
				cursor: pointer;
			}
			.imgs{
				width: 1099px;
				overflow: hidden;
				float: left;
				height: 78px;
				ul{
					width: 2080px;
					padding: 0;
					li{
						float: left;
						width: auto;
						margin: 0 !important;
						img{
							width: 153px;
						}
					}
				}
			}
			.love-right{
				float: left;margin: 30px 0 0 10px;
				cursor: pointer;
			}
		}
	}
	.code-wrapper{
		width: 100%;
		height: 200px;
		background: #eb6693;
		margin-top: 62px;
		.code{
			width: 1200px;
			margin: 0 auto;
			.appcode{
				float: left;
				margin: 41px 0 0 44px;
			}
			.wechatcode{
				float: left;
				margin: 41px 0 0 98px;
			}
			.tel{
				float: left;
				margin: 76px 0 0 353px;
				.number{
					i{
						float: left;
					}
					div{
						float: left;
						color: #fff;
						padding-left: 13px;
						margin-top: -5px;
						span{
							font-size: 32px;
						}
						p{
							font-size: 12px;
							margin-top: -3px;
						}
					}
				}
			}
			.title{
				font-size: 16px;
				color: #fff;
				padding-top: 6px;
			    width: 106px;
			    text-align: center;
			}
			.code-box{
				overflow: hidden;
				.app-code-icon{
					float: left;
					img{
						display: block;
						border: 1px solid #e9447c;
					}
				}
				.app-code-word{
					float: left;
					padding: 29px 0 0 18px;
					p{
						width: 102px;
						height: 23px;
						border: 1px solid #f9d0de;
						border-radius: 2px;
						margin-bottom: 10px;
						font-size: 12px;
						color: #fff;
						line-height: 23px;
						i{
							float: left;
							margin: 3px 5px 0 20px;
						}
					}
				}
			}
		}
	}
	&.financial-body{
		background: #fff;
		.financial-line{
			width: 100%;
			height: 966px;
			background: image-url('618line.png') no-repeat center top;
		}
		.banner{
			width: 100%;
			height: 513px;
			background: image-url('618banner.png') center top;
			.date{
				padding-top: 259px;
				height: 36px;
				width: 500px;
				line-height: 36px;
				text-align: center;
				font-size: 18px;
				color: #fff;
				font-weight: bold;
				margin: 0 auto;
				p{
					margin-left: -25px;
				}
			}
		}
		.package-wrap{
			width: 100%;
			background: #fff1f4;
			padding: 79px 0 0;
			overflow: hidden;
		}
		.package{
			width: 1194px;
			margin: 0 auto;
			border: 2px solid #ff2e55;
			padding-bottom: 102px;
			position: relative;
			.financial-hasget{
				position: absolute;
				right: 15px;
				top: -32px;
			}
			.financial-titlebg{
				margin: -64px auto 0;
				p{
					font-size: 24px;
					color: #ff3366;
					padding: 65px 0 0 128px;
				}
			}
			ul{
				padding: 79px 0 0 118px;
				overflow: hidden;
				li{
					float: left;
					margin: 0 50px 50px 0;
				}
			}
			.bot{
				width: 644px;
				height: 55px;
				line-height: 55px;
				font-size: 24px;
				color: #ff2e55;
				position: absolute;
				left: 140px;
				bottom: -20px;
				background: #f6c5d2;
				i{
					position: absolute;
					left: -11px;
					bottom: 1px;
				}
				p{
					padding-left: 78px;
				}
			}
		}
		.time{
			text-align: center;
			font-size: 30px;
			color: #ff2e55;
			vertical-align: middle;
			padding: 90px 0 70px;
			span{
				vertical-align: middle;
				display: inline-block;
				&.financial-time{
					margin-right: 14px;
					vertical-align: top;
				}
				&.financial-timebg{
					margin-right: 2px;
					text-align: center;
					color: #fff;
				}
			}
		}
		.btn{
			display: block;
			margin: 40px auto 46px;
		}
		.rules-wrap{
			width: 100%;
			background: image-url('618rulesbg.png') center top;
			height: 448px;
			.rules{
				width: 1120px;
				margin: 0 auto;
				.box{
					padding: 155px 0 0 56px;
					color: #333;
					p{
						font-size: 30px;
						padding-bottom: 35px;
					}
					ul{
						padding-left: 10px;
					}
					li{
						font-size: 18px;
						padding-bottom: 22px;
					}
				}
			}
		}
		.mode{
			border-color: #ffb9c1;
			.title{
				background: #ff697b;
			}
			.content .iconmode div{
				span{
					color: #333;
				}
				p{
					padding-top: 4px;
				}
			}
		}
		.code-wrapper{
			margin: 0;
			background: #ff697b;
		}
	}
}