/* $olympiad-sprite-dimensions: true;
@import "olympiad.png";
@include all-olympiad-sprites(); */

.olympiad-wrapper{
	background:#ffeff4;
	.banner{
		background: image-url('olympiad-banner.png') center top;
		width: 100%;
		height: 709px;
		.GX{
			padding-top:275px;
			color:#00534a;
			font-size:48px;
			line-height:100px;
			text-align:center;
		}
		.num-box{
			width:1200px;
			height:200px;
			margin:0 auto;
		    line-height: 120px;
		    font-size:30px;
		    color:#333;
			.jin{
				margin-left:340px;
			}
			.yin{
				margin-left:158px;
			}
			.tong{
				margin-left:143px;
			}
		}
	}
	.prize-wrapper{
		background: image-url('olympiad-prize.png') center top no-repeat;
		width: 1200px;
		height: 789px;
		margin: 32px auto 0;
		.join-btn{
			width:50%;
		    display:block;
		    float:left;
			a{
				width:450px;
				text-align:center;
				line-height:67px;
				font-size:24px;
				color:#fffefe;
				cursor: pointer;
				display:block;
				margin-top: 645px;
			    margin-left: 85px;
			    &:hover{
			    	text-decoration:none;
			    }
			}
		}
		.prize-wrapper-right{
			width:50%;
			height:755px;
			display:block;
			float: right;
			position:relative;
			.prize-box{
				height: 308px;
			    width: 518px;
			    position:absolute;
			    top: 246px;
			    left:45px;
			    overflow:hidden;
				table{
				    width: 100%;
				    margin-left: -2px;
				    tr{
				    	font-size:14px;
						color:#333;
						line-height:40px;
						text-align:center;
						td{
							text-align: center;
						}
				    }
				}
			}
			.prize-bottom{
				width: 100%;
				height:85px;
				position:absolute;
				left: 45px;
				bottom: 24px;
				p{
					font-size:14px;
					color:#000;
					display:block;
					a{
						color:#0033cc;
						text-decoration:underline;
						cursor:pointer;
					}
				}
			}
		}
	}
	.qudao-tan{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.6);
		z-index:88;
		.tan{
			background:image-url('olympiad-tan.png') center top no-repeat;
			width:800px;
			height: 450px;
			margin:0 auto;
			margin-top:-225px;
			position:fixed;
			top:50%;
			left:50%;
			margin-left:-400px;
			padding-top:72px;
			text-align:center;
			.olympiad-liangjie{
				margin:0 auto 35px;
			}
			span{
				font-size:24px;
				line-height:36px;
				color:#333;
				text-align:center;
			}
			.olympiad-btn{
				margin:126px auto 0;
				cursor: pointer;
			}


		}
	}
	.rule{
		// background: image-url('olympiad-rule.png') center top no-repeat;
		width:1200px;
		height: 552px;
		background: #ffd0dc;
		margin:0 auto;
		padding-top:43px;
		color:#fff;
		margin-top:85px;
		border: 1px solid #ff557a;
		position: relative;
		.HDGZ{
			font-size:48px;
			background: image-url('olympiad/titlebg.png') no-repeat;
			position: absolute;
			top: -37px;
			left: 256px;
			width: 674px;
			height: 109px;
			line-height: 109px;
			text-align: center;
			color: #fff;
		}
		.GQKG{
			font-size:18px;
			margin-left:393px;
		    margin-top: -10px;
		}
		div{
			width: 1004px;
			height:296px;
		    margin-left: 108px;
		    margin-top: 83px;
			ul{
				li{
					font-size:18px;
					line-height:30px;
					color: #ff557a;
					position:relative;
					margin-bottom: 10px;
					i{
						position:absolute;
						left:-15px;
					}
					strong{
						color: #000;
					}
				}
			}
		}
		&.investBox{
			    margin-top: 68px;
			    font-size: 24px;
			    color: #ff557a;
			    text-align: center;
			    position: relative;
			    height: 630px;
		    	.btn{
		    		width:450px;
					height: 68px;
					position: absolute;
				    bottom: 52px;
				    left: 23%;
				    background: #ce0341;
				    border-radius: 6px;
				    padding: 1px 1px 1px 1px;
				    box-sizing: content-box;
					a{
						width:450px;
						text-align:center;
						line-height:67px;
						font-size:24px;
						color:#fffefe;
						cursor: pointer;
						display:block;
						height: 68px;
						line-height: 68px;
						background: #ff557a;
					    &:hover{
					    	text-decoration:none;
					    }
					}
		    	}
			    p{
			    	margin-top: 68px;
			    }
			    .tableBox{
			    	width: 100%;
			    	margin-left: 0;
			    	margin-top: 34px;
			    	ul{
		    		    margin: 0 auto;
					    width: 90%;
					    font-size: 18px;
					    background: #fc99b7;
					    border-radius: 10px;
					    padding: 0 1px 5px 1px;
					    box-sizing: border-box;
					    li{
				    	    background: #fc99b7;
						    height: 52px;
						    line-height: 52px;
						    margin-bottom: 0;
						    &.dl{
				    	    background: #ff7ba3;
			    			color: #fff;
			    			border-radius: 6px 6px 0 0;
						    }
					    	    &.bla{
					    	    	color: #000;
					    	    }
					    	    &.bg{
					    	    	background: #ffe8ef;
					    	    }
					    	    &.radius{
					    	    	border-radius: 0 0 6px 6px;
					    	    }
				    	    span{
				    	    text-align: center;
						    font-weight: normal;
							width: 320px;
							display: inline-block;
								&.pl{
									padding-left: 80px;
								}
								&.cen{
								    padding-left: 85px;
									box-sizing: border-box;
								}

				    	    }
				    	    i{
				    	    	width: 1px;
				    	    	height: 52px;
				    	    	background: #fc99b7;
				    	    	display: inline-block;
				    	    	margin-left: 487px;
				    	    	&.rt{
				    	    	margin-left: 771px;
				    	    	}
				    	    }
					    }
			    	}
			    }
		}
	}
	.common-wrapper{
		padding-bottom: 70px;
		overflow: hidden;
		.mode{
			width: 1198px;
			margin: 70px auto 0;
			border: 1px solid #ffb1c3;
			position: relative;
			.title{
				width: 162px;
				height: 33px;
				text-align: center;
				line-height: 33px;
				background: #ff557a;
				font-size: 18px;
				color: #f0f0f0;
				float: left;
				margin: -17px 0 0 30px;
			}
			.love-icon{
				position: absolute;
				left: 53px;
				top: 140px;
			}
			.content{
				padding: 49px 0 10px 120px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				.iconmode{
					width: 529px;
					float: left;
					height: 137px;
					position: relative;
					i{
						position: absolute;
						left: 0;
						top: 0;
					}
					div{
						padding: 14px 0 0 112px;
						font-size: 14px;
						color: #333;
						span{
							font-size: 26px;
							color: #333;
						}
					}
				}
			}
			ul{
				padding: 40px 0 40px 33px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				li{
					float: left;
					margin-right: 17px;
					width: 271px;
					text-align: center;
					a:hover{
						color: #313131;
					}
					p{
						font-size: 14px;
						color: #313131;
						line-height: 24px;
						padding-top: 16px;
					}
				}
			}
			.partners{
				padding: 50px 0 44px 30px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				.olympiad-left{
					float: left;
					margin: 30px 10px 0 0;
					cursor: pointer;
				}
				.imgs{
					width: 1099px;
					overflow: hidden;
					float: left;
					height: 78px;
					ul{
						width: 2080px;
						padding: 0;
						li{
							float: left;
							width: auto;
							margin: 0 !important;
							img{
								width: 153px;
							}
						}
					}
				}
				.olympiad-right{
					float: left;
					margin: 30px 0 0 10px;
					cursor: pointer;
				}
			}
		}
	}
	.code-wrapper{
		width: 100%;
		height: 200px;
		background: #ff557a;
		.code{
			width: 1200px;
			margin: 0 auto;
			.appcode{
				float: left;
				margin: 41px 0 0 44px;
			}
			.wechatcode{
				float: left;
				margin: 41px 0 0 98px;
			}
			.tel{
				float: left;
				margin: 76px 0 0 353px;
				.number{
					i{
						float: left;
					}
					div{
						float: left;
						color: #fff;
						padding-left: 13px;
						margin-top: -5px;
						span{
							font-size: 32px;
						}
						p{
							font-size: 12px;
							margin-top: -3px;
						}
					}
				}
			}
			.title{
				font-size: 16px;
				color: #fff;
				padding-top: 6px;
			    width: 106px;
			    text-align: center;
			}
			.code-box{
				overflow: hidden;
				.app-code-icon{
					float: left;
					img{
						display: block;
						border: 1px solid #008c40;
					}
				}
				.app-code-word{
					float: left;
					padding: 29px 0 0 18px;
					p{

						i{
							float: left;
							margin: 3px 5px 0 20px;
						}
					}
				}
			}
		}
	}
}