.publicity-wrap{
	.loginpage{
		height: 127px;
		background: #e7e7e7;
	}
	.header-wrap{
		height: auto;
		.logo-wrap{
			padding-top: 41px;
			cursor: default;
		}
		.publicity-slogo{
			float: right;
			margin: 32px 10px 0 0;
		}
	}
	.quick-register-wrap{
		width: 100%;
		height: 441px;
		background: #e84a43;
		min-height: auto;
		.quick-register-wrapper{
			padding: 0;
			width: 1200px;
			position: relative;
			margin: 0 auto;
			height: 441px;
			background: image-url('publicity/banner.png');
			.quick-register-mod{
				position: absolute;
				width: 378px;
				background: #fff;
				border: none;
				border-radius: 0;
				right: 14px;
				top: 14px;
				.quick-register-box{
					padding: 0 23px;
					.newtitle{
						height: 48px;
						line-height: 48px;
						text-align: center;
						color: #fe7634;
						font-size: 20px;
						border-bottom: 1px dashed #5f5f5f;
						margin-bottom: 21px;
					}
					.input-wrap{
						.name{
							width: 75px;
							float: left;
							height: 36px;
							line-height: 36px;
							font-size: 14px;
							color: #383636;
						}
						.input-box{
							width: 255px;
							float: left;
							.text{
								width: 233px;
								border-radius: 0;
								border-color: #ddd;
								&.small-text{
									width: 127px;
								}
							}
						}
					}
					.sub-btn{
						width: 332px;
						height: 53px;
						background: #fe7836;
						font-size: 14px;
						font-weight: bold;
						border-radius: 0;
						border: none;
					}
					.gotolog{
						font-size: 16px;
						color: #817d7d;
						text-align: right;
						height: 45px;
						line-height: 50px;
						padding-right: 20px;
						a{
							color: #343434;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.why-wrap{
		width: 100%;
		background: #ffc989;
		padding: 33px 0 36px;
		.why{
			width: 1198px;
			background: #fff;
			height: 342px;
			margin: 0 auto;
			border: 1px solid #e6ded6;
			.title{
				width: 379px;
				height: 59px;
				text-align: center;
				line-height: 59px;
				background: #ff9314;
				margin: -1px auto 0;
				position: relative;
				font-size: 24px;
				color: #ffe8cd;
				border-radius: 0 0 18px 18px;
			}
			ul{
				padding: 19px 0 0 75px;
				li{
					float: left;
					width: 549px;
					overflow: height;
					margin-bottom: 29px;
					i{
						float: left;
						width: 108px;
						height: 108px;
						background: image-url('publicity/icons.png');
						margin-right: 8px;
						&.icon2{
							background-position: -108px 0;
						}
						&.icon3{
							background-position: 0 -108px;
						}
						&.icon4{
							background-position: -108px -108px;
						}
					}
					div{
						float: left;
						padding-top: 13px;
						span{
							font-size: 26px;
							color: #b36101;
						}
						p{
							padding-top: 10px;
							font-size: 14px;
							color: #6e6e6e;
						}
					}
				}
			}
		}
	}

	.mylist{
		width: 100%;
		background: #ffe5c6;
		.list-wrap{
			width: 1300px;
			overflow: hidden;
		}
		.list-box{
			width: 1200px;
			margin: 0 auto;
			.list{
				width: 393px;
				height: 587px;
				background: image-url('publicity/bg.png');
				float: left;
				margin-right: 11px;
				.title{
					width: 379px;
					height: 59px;
					margin: 1px auto 0;
					background: #ff4a4a;
					color: #fff;
					font-size: 43px;
					border-radius: 0 0 18px 18px;
					text-align: center;
					line-height: 59px;
				}
				p{
					padding-top: 38px;
					line-height: 36px;
					color: #0d2230;
					font-size: 29px;
					text-align: center;
				}
				.rate{
					font-size: 24px;
					text-align: center;
					color: #f00;
					padding-top: 42px;
					b{
						font-size: 87px;
						i{
							font-size: 58px;
						}
					}
				}
				.limit{
					font-size: 25px;
					color: #000;
					text-align: center;
					b{
						font-size: 52px;
						color: #595555;
						i{
							font-size: 24px;
							color: #777;
						}
					}
				}
				a{
					display: block;
					width: 272px;
					height: 64px;
					text-align: center;
					line-height: 64px;
					color: #ffc65d;
					font-size: 27px;
					background: #fd2626;
					border-radius: 8px;
					margin: 60px auto 0;
					&:hover{
						background: #eb1818;
						text-decoration: none;
					}
				}
			}
		}
	}

	.media-wrap{
		padding: 39px 0 86px;
		width: 100%;
		background: #ffc989;
		.media{
			width: 1174px;
			margin: 0 auto;
			padding: 0 12px;
			border: 1px solid #e2e1e1;
			background: #fff;
			height: 284px;
			.title{
				height: 60px;
				line-height: 60px;
				border-bottom: 1px solid #e3e2e2;
				font-size: 24px;
				color: #0d2230;
				padding-left: 10px;
			}
			.box{
				padding-top: 11px;
				overflow: hidden;
				width: 1200px;
				.mod{
					float: left;
					width: 271px;
					margin-right: 29px;
					p{
						font-size: 16px;
						color: #313131;
						font-weight: bold;
						text-align: center;
						margin: 0 -20px;
						position: relative;
						padding-top: 6px;
					}
				}
			}
		}
	}
	.bot{
		height: 107px;
		width: 1200px;
		margin: 35px auto 0;
		background: #61503c;
		position: relative;
		a{
			position: absolute;
			width: 212px;
			height: 55px;
			line-height: 55px;
			text-align: center;
			color: #fff;
			font-size: 21px;
			background: #ff961b;
			border-radius: 4px;
			box-shadow: 3px 3px 0 #ed5c16;
			right: 50px;
			top: 26px;
			&:hover{
				background: #f18200;
				text-decoration: none;
			}
		}
		p{
			height: 107px;
			font-size: 35px;
			color: #fff;
			line-height: 107px;
			padding-left: 39px;
			span{
				float: left;
			}
			i{
				float: left;
				color: #ffd9ad;
				font-style: italic;
				font-size: 36px;
				line-height: 136px;
				span{
					font-size: 75px;
					line-height: 107px;
				}
				margin-right: 20px;
			}
			b{
				float: left;
				font-size: 80px;
				color: #ffd9ad;
				margin: 0 5px;
			}
		}
	}
	.code-wrapper{
		width: 100%;
		height: 200px;
		background: #ffc989;
		margin-top: -50px;
		padding-bottom: 20px;
		.code{
			width: 1200px;
			margin: 0 auto;
			background: #fff;
			border-radius: 5px;
			overflow: hidden;
			padding-bottom: 20px;
			.appcode{
				float: left;
				margin: 25px 0 0 44px;
			}
			.wechatcode{
				float: left;
				margin: 25px 0 0 98px;
			}
			.tel{
				float: left;
				margin: 60px 0 0 353px;
				.number{
					img{
						float: left;
					}
					div{
						float: left;
						color: #f46e00;
						padding-left: 13px;
						margin-top: -5px;
						span{
							font-size: 32px;
						}
						p{
							font-size: 12px;
							margin-top: -3px;
						}
					}
				}
			}
			.title{
				font-size: 16px;
				color: #333;
				padding-top: 6px;
			    width: 106px;
			    text-align: center;
			}
			.code-box{
				overflow: hidden;
				.app-code-icon{
					float: left;
					img{
						display: block;
						border: 1px solid #f46e00;
					}
				}
				.app-code-word{
					float: left;
					padding: 29px 0 0 18px;
					p{
						width: 102px;
						height: 23px;
						border: 1px solid #f46e00;
						border-radius: 2px;
						margin-bottom: 10px;
						font-size: 12px;
						color: #f46e00;
						line-height: 23px;
						img{
							float: left;
							margin: 3px 5px 0 20px;
						}
					}
				}
			}
		}
	}
}