$spider-sprite-dimensions: true;
@import "spider/*.png";
@include all-spider-sprites();

.spider-wrapper{
	.quick-register-wrap{
		background: image-url('spider/banner.png') center top;
		height: 678px;
		.quick-register-wrapper{
			width: 1200px;
			margin: 0 auto;
			float: none;
			padding: 66px 0 0 0;
			.quick-register-mod{
				float: right;
				border: none;
				width: 410px;
				padding-top: 60px;
				padding-bottom: 48px;
				border-radius: 0;
				background: rgba(0,140,213,.34);
				.quick-register-box{
					margin: 0;
					padding: 0;
					.input-wrap{
						overflow: hidden;
						padding-bottom: 22px;
					}
					.checkbox{
						padding: 0 0 30px 45px;
						color: #fff;
						.check-box{
							float: left;
							margin: 3px 5px 0 0;
						}
						a{
							color: #fff;
						}
					}
					.sub-btn{
						margin: 0 auto;
						border-radius: 0;
						height: 46px;
						line-height: 46px;
						font-weight: normal;
					}
					.name{
						padding-left: 43px;
						width: 84px;
						float: left;
						font-size: 14px;
						color: #fff;
						line-height: 30px;
					}
					.input-box{
						float: left;
						padding: 0;
						.input-mod{
							float: left;
						}
						img{
							display: block;
						}
						.text{
							width: 218px;
							&.small-text{
								width: 112px;
							}
						}
					}
				}
			}
		}
	}
	.why-box{
		width: 1200px;
		margin: 68px auto 0;
		.spider-line{
			margin: 80px auto 30px;
		}
		ul{
			padding-bottom: 100px;
			overflow: hidden;
			padding-left: 66px;
			li{
				float: left;
				width: 212px;
				font-size: 18px;
				color: #666;
				text-align: center;
			}
		}
	}
	.work-wrapper{
		width: 100%;
		background: #f8f8f8;
		padding-top: 54px;
		overflow: hidden;
		.work{
			width: 1200px;
			margin: 0 auto;
			.spider-worktitle{
				margin-bottom: 63px;
			}
			.work-content{
				position: relative;
				i{
					position: absolute;
					left: 0;
					top: 10px;
					&.spider-doller{
						left: 52px;
					}
				}
				.con{
					padding-left: 262px;
					color: #666;
					padding-bottom: 60px;
					span{
						display: block;
						height: 58px;
						line-height: 58px;
						font-size: 24px;
					}
					p{
						font-size: 18px;
						width: 845px;
						text-indent: 2em;
						line-height: 32px;
					}
					&.doller{
						p{
							font-size: 14px;
							line-height: 26px;
						}
					}
				}
			}
			.mode{
				width: 1198px;
				margin: 0 auto;
				border: 1px solid #a0a0a0;
				position: relative;
				margin-bottom: 40px;
				.title{
					font-size: 24px;
					color: #333;
					padding: 0 19px;
					position: absolute;
					left: 60px;
					top: -21px;
					background: #f8f8f8;
				}
				div{
					padding: 48px 0 39px 20px;
					overflow: hidden;
					width: 1500px;
					img{
						float: left;
						width: 185px;
						height: 57px;
						border: 1px solid #ccc;
						margin-right: 7px;
					}
				}
				&.bigmode{

					div{
						padding-left: 46px;
						img{
							width: 272px;
							height: 67px;
						}
					}
				}
			}
		}
	}
	.newhand-wrapper{
		width: 100%;
		background: #f8f8f8;
		padding: 29px 0 184px;
		.newhand{
			width: 1200px;
			margin: 0 auto;
			.center{
				padding-top: 82px;
				ul{
					width: 1500px;
					overflow: hidden;
					li{
						float: left;
						margin-right: 80px;
						a{
							display: block;
							width: 133px;
							height: 33px;
							line-height: 33px;
							text-align: center;
							border: 1px solid #fff;
							border-radius: 4px;
							color: #fff;
							font-size: 18px;
							margin: 183px auto 0;
						}
					}
				}
			}
		}
	}
	.modeimg{
		margin: 0 auto;
	}
	.content{
		width: 1200px;
		margin: 34px auto 0;
		.spider-step{
			margin-bottom: 22px;
		}
		.rules{
			width: 1200px;
			margin: 0 auto;
			position: relative;
			padding-bottom: 84px;
			ul{
				position: relative;
				z-index: 10;
				padding: 12px 0 0 59px;
				li{
					overflow: hidden;
					padding-top: 28px;
					i{
						float: left;
						margin: 9px 9px 0 0;

					}
					p{
						float: left;
						font-size: 18px;
						color: #666;
					}
				}
			}
			.spider-bg{
				position: absolute;
				bottom: 10px;
				left: 0;
			}
		}
	}

	.safetysbottom{
		background: image-url('spider/bot.png') center top no-repeat;
		width: 100%;
		height: 150px;
		.bot{
			width: 1200px;
			margin: 0 auto;
			.login-box{
				float: left;
				width: 464px;
				text-align: right;
				padding-top: 36px;
				color: #ff9600;
				span{
					font-size: 30px;
				}
				p{
					font-size: 20px;
				}
			}
			.code{
				float: left;
				padding: 23px 33px 0 83px;
				text-align: center;
				font-size: 18px;
				color: #ccc;
			}
			.contact{
				float: left;
				padding-top: 16px;
				font-size: 14px;
				color: #d2cfca;
				padding-left: 52px;
				a{
					display: inline-block;
					width: 363px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					background: #ff9600;
					color: #000;
					font-size: 24px;
					margin: 15px 0 7px;
					&:hover{
						background: #ffa82b;
						text-decoration: none;
					}
				}
				.phone{
					font-size: 18px;
					padding-left: 10px;
					color: #ff9600;
					i{
						display: inline-block;
						vertical-align: bottom;
						margin: 0 14px 5px 0;
					}
					b{
						font-size: 30px;
					}
				}
			}
		}
	}
}