<div class="float-window">
    <div class="float-mod">
        <div class="padd"><div class="code trigger"></div></div>
        <div class="con">
            <div class="img-box">
                <div class="icon-foot-app"></div>
            </div>
            <p class="down">扫一扫<br>下载手机APP</p>
            <div class="download">iPhone 版下载<i class="home-icons-apple"></i></div>
            <div class="download">Android 版下载<i class="home-icons-android"></i></div>
        </div>
    </div>
    <div class="float-mod">
        <div class="padd"><div class="qqicon trigger"></div></div>
        <div class="con">
            <p>点击QQ咨询</p>
            <a class="qq" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4006908896&f=1&ty=1&aty=0&a=&from=5">
                <div class="home-icons-qqicon"></div>
            </a>
            <p class="s">客服热线:{{contactPhone}}</p>
            <p class="s">工作时间:{{workTime}}</p>
        </div>
    </div>
    <div class="float-mod">
        <div class="padd"><div class="phone trigger"></div></div>
        <div class="con">
            <div class="img-box">
                <div class="icon-foot-weixin"></div>
            </div>
            <p>关注微信官方微信号</p>
        </div>
    </div>
    <div class="float-mod">
        <div class="padd"><div class="up trigger" @click="goTop"></div></div>
    </div>
</div>