{# 保障 #}
<div class="module clearfix">
    <div class="placard">
        <ul class="middle">
            <li class="p1">
                <a href='javascript:void(0)' target="_blank" class="nohover">
                    <div class="placlist">
                        <i></i>
                        <div class="info">
                            <span>银行存管</span>
                            <p>账户资金由银行存管，安全有保障</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p>账户<span>资金</span><br><span>由银行存管</span>安全有保障</p>
                    </div>
                </a>
            </li>
            <li class="p2">
                <a href="{{http}}/other/powerfulShareholders.html" target="_blank" class="nohover">
                    <div class="placlist">
                        <i></i>
                        <div class="info"><span>国资委下属</span>
                            <p></p>
                            <p>国资委下属事业单位控股，雄厚的实力保障</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p><span>国资委下属事业单位</span>控股<br>雄厚的<span>实力保障</span></p>
                    </div>
                </a>
            </li>
            <li class="p3">
                <a href="{{http}}/about/AQBZ.html" target="_blank" class="nohover">
                    <div class="placlist">
                        <i></i>
                        <div class="info">
                            <span>专业风控 </span>
                            <p>步步为营 层层筛选优质项目</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p>步步为营<br>层层筛选<span>优质项目</span> </p>
                    </div>
                </a>
            </li>
            <li class="p4">
                <a href='{{http}}/about/AQBZ.html' target="_blank" class="nohover">
                    <div class="placlist">
                        <i></i>
                        <div class="info">
                            <span>安全保障</span>
                            <p>历史到期产品均已如约兑付</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p>历史到期产品均已<span>如约兑付</span><br><span>安全</span>可靠</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
