{# 新手体验标 #}
<div class="newhandZX" style="height: 180px;">
    <div class="left-list" style="border: 1px solid #e9e9e9;">
        <div class="section clearfix">
            <div class="title">
                新手体验标
            </div>
            <ul class="clearfix newh" style="height: 86px;margin-top: 10px;">
                <li class="rate">
                    <div>
                        <em>12<span>%</span></em>
                    </div>
                    <p>历史年化收益率</p>
                </li>
                <li class="info">
                    <b><span>1</span>天</b>
                    <p>产品期限</p>
                </li>
                <li class="info">
                    <b><span>10000</span>元</b>
                    <p>体验金</p>
                </li>
                <li class="submit info">
                    <a class="btn hvr-bounce-to-left nohover" style="margin-top: 0;" href="{{http}}/main/billNewhand">立即领取</a>
                </li>
            </ul>
            <div class="tag" style="padding: 8px 0; border-top: 1px dashed #efefef;">
                <span data-tips="新手首投可用体验金" class="blue tag-tips">体验金</span>
                <span data-tips="新手标额外增加3%的收益" class="yellow tag-tips">新手奖励</span>
            </div>
        </div>
    </div>
    <div class="right-aside">
        <div class="tagname" ></div>
        <div class="ad hvr-grow"><a href="{{http}}/other/noviceOnlyEnjoy.html" target="_blank"><img src='../images/home/ad.jpg'></a></div>
    </div>
</div>