{# 用户心声 #}
<div class="module clearfix usersbg">
    <div class="middle person">
        <p class="title">用户心声</p>
        <p>近几月投资，安全有保障，心理比较踏实，愿今后继续投资合作</p>
        <div class="user-box">
            <div class="user">
                <div class="userimg userimga"></div>
                <p class="username">袁小姐</p>
                <div class="userinbg">
                    <div class="info" style="line-height:18px;">在多融理财投资有一段时间了，百里挑一选择的理财平台,收益可观，有很多加息活动，提现速度快，安全保障，还有理财小哥哥的贴心指导，祝贵公司步步高升！</div>
                </div>
            </div>
            <div class="user">
                <div class="userimg userimgb"></div>
                <p class="username">卢先生</p>
                <div class="userinbg">
                    <div class="info" style="line-height:18px;">我来平台很长时间了，在二十多个同类平台里，这是我信任的一个平台，硬件很过关，软件服务也是一流，特别是我的客户经理，真正做到一对一的贴心服务，有问必答，百问不烦，很感动！</div>
                </div>
            </div>
            <div class="user userc">
                <div class="userimg userimgc"></div>
                <p class="username">郭先生</p>
                <div class="userinbg">
                    <div class="info" style="line-height:16px;">投资多融财富以来，收益稳定、安全，资金到账非常及时，从未逾期延迟。了解到多融做的标的都是百亿级的大型国企.央企开据的商业票据，承兑有保障，我们用户也更加放心，我愿与贵公司共成长，祝愿公司业绩年年长...</div>
                </div>
            </div>
        </div>
    </div>
</div>