.newYearRegister-wrapper{
	background:#1356b1;
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#1356b1), to(#528ad9));  
    background: -webkit-linear-gradient(top, #1356b1, #528ad9);  
    background: -moz-linear-gradient(top, #1356b1, #528ad9);  
    background: -o-linear-gradient(top, #1356b1, #528ad9);  
    background: -ms-linear-gradient(top, #1356b1, #528ad9);  
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #1356b1, endColorstr = #528ad9); 
	.newYearRegister-wrap{
		.banner{
			position: relative;height:720px;
			.bannerbg{
				width:100%;height:488px;
				background:url('../images/banner.jpg') center top no-repeat;
			}
			.bannerfloor{
				width:100%;height:426px;
				background:url('../images/floor.png') center top no-repeat;
				position:absolute;top:307px;
			}
			.bannerprizes{
				.prizeone{
					width:200px;height:250px;
					background:url('../images/prizeOne.png') center top no-repeat;
					position:absolute;top: 367px;left: 600px;
					animation:prizeone 3s;
				}
				.prizetwo{
					width:200px;height:250px;
					background:url('../images/prizeTwo.png') center top no-repeat;
					position:absolute;top: 387px;left: 830px;
					animation:prizetwo 3s;
				}
				.prizethree{
					width:200px;height:250px;
					background:url('../images/prizeThree.png') center top no-repeat;
					position:absolute;top: 457px;left: 1050px;
					animation:prizethree 3s;
				}
			}
		}
		@keyframes prizeone{
			0%{top:600px;left:0px;}
			100%{top:367px;left: 600px;}
		}
		@keyframes prizetwo{
			0%{top:600px;left:0px;}
			100%{top:387px;left: 830px;}
		}
		@keyframes prizethree{
			0%{top:600px;left:0px;}
			100%{top:457px;left: 1050px;}
		}
		.gamebox{
			width:1200px;margin:-35px auto 0;
			ul.text{
				display:block;height:50px;font-size:24px;color:#fff;padding-left:180px;margin-top:-80px;
				li{float: left;list-style:initial;span{color:#fff600;}}
			}
			.gametop{
				height:169px;
				background:url('../images/gametop.png') center top no-repeat;
			}
			.gamecenter{
				height:674px;
				background:url('../images/gamebg.png') center top no-repeat;
				.prizebox{
					width:780px;margin-left:207px;padding-top:179px;height:243px;
					.prize{
						width:169px;margin-right:90px;overflow:hidden;height:243px;float:left;position:relative;
						ul{position:absolute;
							li{
								width:169px;height:243px;
								&.bg1{
									background:url('../images/d.png') center center no-repeat;
								}
								&.bg2{
									background:url('../images/f.png') center center no-repeat;
								}
								&.bg3{
									background:url('../images/l.png') center center no-repeat;
								}
								&.bg4{
									background:url('../images/q.png') center center no-repeat;
								}
								&.bg5{
									background:url('../images/s.png') center center no-repeat;
								}
								&.bg6{
									background:url('../images/y.png') center center no-repeat;
								}
								&.bg7{
									background:url('../images/z.png') center center no-repeat;
								}
							}
						}
					}
				}
				.yaobtn{
					width:76px;height:70px;border-radius:50%;float: right;margin-top:-203px;
				}
				.notice{ font-size:24px;color:#000;float: left;margin:139px 0 0 166px; }
				.startbtn{
					width:293px;height:75px;
					margin:114px auto 0;cursor: pointer;
				}
			}
		}
		.rulebox{
			width:1200px;margin:35px auto 0;
			.ruletitle{
				height:40px;width:1152px;
				background:url('../images/ruletitle.png') center center no-repeat;
				font-size:30px;color:#fff;text-align:center;
			}
			.rule{
				ul{
					li{
						font-size:18px;color:#fff;position:relative;padding-left:20px;padding-top:13px;
						.jiantou{
							width:9px;height:13px;display:block;position:absolute;top:20px;left:0px;
							background: url('../images/jiantou.png') center center no-repeat;
						}
						.dian{
							width:4px;height:4px;display:block;background:#fff;
							border-radius:50%;position:absolute;top:25px;left:0px;
						}
					}
				}
			}
		}
		.bottom{
			height:147px;width:100%;background: url('../images/bottom.png') center center no-repeat;
			margin-top:50px;
		}
	}
	$waiColor: #e6f3ff;$neiColor: #3a8acf;
	.common-wrapper{padding-bottom: 70px;overflow: hidden;background:#fff;
		.mode{width: 1198px;margin: 65px auto 0;border: 1px solid $neiColor;position: relative;
			.cooperation{padding:0 40px;overflow: hidden;clear: both;zoom: 1;
				.content2{ padding:20px 0 10px; overflow:hidden;
					// .left-btn,.right-btn{ float:left; width:17px; height:26px; margin-top:15px; background:url(../../images/common/icon.png); cursor:pointer;}
					// .left-btn{ margin-right:10px; }
					// .right-btn{ float:right; background-position:0 -32px;}
					.swiper-img{ul.partent{ width:1120px;}li{ float:left; width:177px; height:100px; margin-right:9px;img{ display:block; max-width:175px;}
					}}
				}
			}
			.title{width: 162px;height: 33px;text-align: center;line-height: 33px;background: $neiColor;font-size: 18px;color: #f0f0f0;float: left;margin: -17px 0 0 30px;}
			.content{padding: 49px 0 10px 120px;overflow: hidden;clear: both;zoom: 1;
				.iconmode{width: 529px;float: left;height: 137px;position: relative;
					.iconbox{position: absolute;left: 0;top: 0;
						.wai{width:97px;height:97px;background:$waiColor;border-radius:50%;position:relative;
							.nei{width:70px;height:70px;background:$neiColor;border-radius:50%;position:absolute;left:0;right:0;margin:auto;top:13.5px;
								.icon{position:absolute;left:0;right:0;margin:auto;top:18px;
									&.gzkg{height:34px;width:38px;background:url('../images/GQKG.png') center center no-repeat;}
									&.zjaq{height:34px;width:38px;background:url('../images/ZJAQ.png') center center no-repeat;}
									&.pjcd{height:34px;width:38px;background:url('../images/PJCD.png') center center no-repeat;}
									&.zyls{height:34px;width:38px;background:url('../images/ZYLS.png') center center no-repeat;}
								}
							}
						}
					}
					.text{padding: 14px 0 0 112px;font-size: 14px;color: #333;span{font-size: 26px;color: #333;}}
				}
			}
			ul{padding: 40px 0 40px 33px;overflow: hidden;clear: both;zoom: 1;
				li{float: left;margin-right: 17px;width: 271px;text-align: center;
					a:hover{color: #333;}p{font-size: 14px;color: #333;line-height: 24px;padding-top: 16px;}
				}
			}
		}
	}
	.code-wrapper{width: 100%;height: 200px;background: $neiColor;
		.code{width: 1200px;margin: 0 auto;position:relative;
			.appcode{float: left;margin: 41px 0 0 44px;}
			.wechatcode{float: left;margin: 41px 0 0 198px;}
			.tel{float: left;margin: 76px 0 0 353px;.number{i{float: left;}div{float: left;color: #fff;padding-left: 13px;margin-top: -5px;span{font-size: 32px;}p{font-size: 12px;margin-top: -3px;}}}}
			.title{font-size: 16px;color: #fff;padding-top: 6px;width: 106px;text-align: center;}
			.code-box{overflow: hidden;.app-code-icon{float: left;img{display: block;border: 1px solid #008c40;}}.app-code-word{float: left;padding: 29px 0 0 18px;p{i{width: 104px;height: 60px;background: url('../../../../images/olympiad/appicon.png') center center no-repeat;position: absolute;top: 67px;left: 167px;}}}}
		}
	}
	.newFirTan {
	    .topText {margin-left:30px;text-align: left;
	      .title {font-size: 30px;color: #000;}
	      .cash {position: relative;strong {color: #ff6633;font-size: 58px;font-weight:bold;line-height: 1;}
	        span {font-size:36px;color: #000;}
	        .icon {position: absolute;background: image-url('cp167/alertnew.png') no-repeat;left:242px;top:-37px;width:130px;height:56px;}
	      }
	      .double {font-size:30px;color: #000;font-weight:bold;
	        em {font-size:29px;color: #ff6633;font-weight:bold;}
	      }
	    }
	    .rtBox {padding: 85px 0 0 60px !important;}
	    .register {border: 1px solid #dedede;color: #fff;background: #ff9600;margin: 20px 0 10px 75px;}
	    .input-box {width: 330px !important;input {width: 308px !important;}
	    }
	    .sub-box {font-size: 14px;color: #000;text-align: left;padding-left: 120px;
	    	.server-agreement {  color: #0099ff;}.sub-btn {border: none;background: none !important;font-size: 14px;color: #ff9600 !important;margin-left: 10px;
	      }
	    }
	  }
  .newSecTan {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .6);
    .isNewSec {background: #fff;width: 1100px;height: 500px;margin: 0 auto;margin-top: -259px;position: fixed;top: 50%;left: 50%;margin-left: -486px;text-align: center;box-sizing: border-box;position: relative;overflow: hidden;
    	.close {position: absolute;background: image-url('cp167/close.png') no-repeat;right: 10px;top: 10px;width: 27px;height: 27px;display: block;z-index:99;cursor: pointer;
      }
      .ltBox {float: left;padding-left: 84px;box-sizing: border-box;padding-top: 72px;
        h3 {font-size: 42px;color: #000;margin-bottom: 76px;text-align: left;}
        ul {overflow: hidden;
        	li {float: left;width: 116px;margin-right: 66px;
            img {margin-bottom: 16px;}
            span {display: block;color: #000;}
          }
        }
      }
      .rtBox {background: #f7f7f7;float: right;padding-top: 60px;padding-left: 80px;height: 100%;box-sizing: border-box;width: 530px;
        p {font-size: 26px;line-height: 36px;color: #000;text-align: left;margin-bottom: 28px;}
        img {width: 255px;height: 122px;display: block;margin-left: 42px;margin-bottom: 20px;}
        b {font-size: 24px;color: #ff9600;margin-left: -90px;}
        .btn {display: block;width: 326px;height: 42px;border-radius: 8px;text-align: center;text-decoration: none;line-height: 42px;font-size: 18px;margin-right: 90px;
          &.register {border: 1px solid #dedede;color: #fff;background: #ff9600;margin-top: 20px;margin-bottom: 10px;
          }
          &.miss {border: 1px solid #ff9600;color: #ff9600;}
        }
        .input-box {padding-bottom: 24px;position: relative;}
        .text {width: 306px;height: 24px;line-height: 24px;font-size: 14px;color: rgb(102, 102, 102);border-radius: 2px; padding: 7px 10px;border-width: 1px;border-style: solid;border-color: rgb(204, 204, 204);border-image: initial;}
        .input-wrap {overflow: hidden;
          .name {width: 75px;float: left;height: 36px;line-height: 36px;font-size: 14px;color: rgb(56, 54, 54);}
          .input-box {width: 255px;float: left;overflow: hidden;
            .text {width: 233px;border-radius: 0px;border-color: rgb(221, 221, 221);}
            .get-code {position: absolute;right: 0;top: 0;width: 106px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;border-radius: 0 6px 6px 0;background: #fff;border: 1px solid #e8a22b;color: #e8a22b;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
            .img-box {position: absolute;right: 0;top: 1px;margin: 0;width: 106px;height: 38px;
            	img {width: 100%;height: 100%;vertical-align: middle;margin: 0;}
            }
          }
        }
      }
    }
  }
}