/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -126px -290px;
  width: 43px;
  height: 43px;
}
.icon-aliyun {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: 0px -240px;
  width: 70px;
  height: 30px;
}
.icon-and-hover {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: 0px -140px;
  width: 140px;
  height: 30px;
}
.icon-and {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: 0px -190px;
  width: 140px;
  height: 30px;
}
.icon-ask {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -63px -290px;
  width: 43px;
  height: 43px;
}
.icon-foot-app {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.icon-foot-weixin {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -140px 0px;
  width: 120px;
  height: 120px;
}
.icon-help {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: 0px -290px;
  width: 43px;
  height: 43px;
}
.icon-hu {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -160px -140px;
  width: 70px;
  height: 30px;
}
.icon-ios-hover {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -280px -100px;
  width: 140px;
  height: 30px;
}
.icon-ios {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -280px -150px;
  width: 140px;
  height: 30px;
}
.icon-jyt {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -90px -240px;
  width: 70px;
  height: 30px;
}
.icon-kexin {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -180px -240px;
  width: 70px;
  height: 30px;
}
.icon-phon-hover {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -280px -50px;
  width: 140px;
  height: 30px;
}
.icon-phon {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -280px 0px;
  width: 140px;
  height: 30px;
}
.icon-zdcy {
  background-image: url(../../images/footer-sprites/sprite.png);
  background-position: -160px -190px;
  width: 70px;
  height: 30px;
}
