body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ margin:0 auto; color:#fff; -webkit-appearance: none; background:#fff; font-family:'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif; color: #878C92;}
li { list-style: none; }
html,body{ max-width:750px; margin:0 auto;}
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: none; }
img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer;-webkit-appearance: none; }
/* close commented backslash hack */
::-webkit-input-placeholder{ font-size:.75rem;  }
body{  background:#f3f4f8;-webkit-overflow-scrolling: touch; }
/* public */
input{outline: none;}
a{-webkit-tap-highlight-color:rgba(255,0,0,0);}
i{ display:block; }
#app{ width:100%; position:relative; z-index: 1;
     /* -webkit-perspective: 600px;  */
     transform:initial; opacity:1;
     display:flex; flex-direction:column; transition-duration:.3s;
     /*   */
     box-sizing: border-box;
    &.cur{transform:translateY(300px); opacity:0;}
    .module-scroll{overflow-y:scroll;height:100%}
    .child-transition{ width:100%;  box-sizing: border-box;}
}
.no-data{ padding:20px; text-align:center; font-size:12px; }
.btn{
    &:hover{-webkit-filter:brightness(1.2);}
    &.gray{ opacity:.3; }/*filter: grayscale(100%);*/
}

.fade-enter-active, .fade-leave-active {
    position: absolute;
            width:100%;
            opacity:1;
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
position: absolute;
        width:100%;
  opacity: 0
}
.child-view {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.child-transition,.left-sider{
    transition-duration : .5s;
    &.left-leave-active{
        position: absolute;
        width:100%;
        opacity:1;
        transform : translateX(0%);
        &.left-leave-to{
            opacity:0;
            transform : translateX(-100%);
        }
    }
    &.left-enter-active{
        position: absolute;
        width:100%;
        opacity:0;
        transform : translateX(100%);
        &.left-enter-to{
            opacity:1;
            transform : translateX(0%);
        }
    }

    &.right-leave-active{
        position: absolute;
        width:100%;
        opacity:1;
        transform : translateX(0%);
        &.right-leave-to{
            opacity:0;
            transform : translateX(100%);
        }
    }
    &.right-enter-active{
        position: absolute;
        width:100%;
        opacity:0;
        transform : translateX(-100%);
        &.right-enter-to{
            opacity:1;
            transform : translateX(0%);
        }
    }
}
.no-fade{
    transition-duration : .5s;
    width:100%; box-sizing:border-box;
    &.no-fade-enter-active{
        position: absolute;
        width:100%;
        opacity:0;
        &.no-fade-enter-to{
            opacity:1;
        }
    }

    &.no-fade-leave-active{
        position: absolute;
        width:100%;
        opacity:0;
        &.no-fade-leave-to{
            opacity:1;
        }
    }
}

/* public */
.form{
    .item{
        border-bottom: .5px solid #ddd;
        h2{ color:#666; }
        .cnt{
            display:flex;
            .tit{
                flex:1;
                display:flex;
                height:100%;
                input{ 
                    flex:1; margin:0; padding:0;
                    display:block; height:100%;
                    color:#111; border:none; background:none; 
                    &::-webkit-input-placeholder{ font-size:16px; color:#ddd; }
                }
            }
            .jian{ 
                display: flex;
                justify-content: center;
                align-items: center;
                i{ display: block; /* background: url(../images/common/jian.png) no-repeat; */ background-size:contain;}
            }
        }
        
    }
}
.form-horiznotal{

    .box{
        margin-top:10px;
        background:#fff;
        padding-left:15px;
    }
    .item{
        display:flex; border-bottom:.5px solid #ddd; overflow:hidden;
        &:last-child{ border-bottom:none;}
    }
    .tit{ display:flex; width:80px; align-items:center; font-size:15px; color:#444;}
    .cnt{
        flex:1;
        display:flex;
        padding-right:10px;
        height:100%;
        .input{ flex:1; height:100%;}
        input{
            width:100%;
            height:100%;
            display: block;
            border:none;
            padding:0;
            color:#666;
            font-size:1rem;
            text-align:right;
            box-sizing:border-box;
            &::-webkit-input-placeholder{ color:#ddd; font-size:15px;  }
        }
    }
    .jian{
        display:flex;
        justify-content:flex-end;
        align-items: center;
        i{ display: block; /* background: url(../images/common/jian.png) no-repeat; */ background-size:contain;}
    }

    .error{
        color: #E94F37;
        height:0; line-height: 33px;
        transition-duration: .3s;
        overflow:hidden;
        text-align: center;
    i{ display:inline-block; margin-right: 5px; /* background-image: url(../images/login/error.png); */ background-size: contain; background-repeat: no-repeat; vertical-align: middle; }
    &.cur{
         height:33px; font-size: 12px;
     }
    }
}
