.bankRegulators-wrapper{
	width: 100%;background: #ffffff;overflow: hidden;
	.banner{
		background: url('../../../../images/bankRegulators/banner.jpg') center center no-repeat;
		width: 100%;height:350px;position: relative;
	}
	.content-box{
		width:1200px;margin:0 auto;
		.ptitle{
			font-size:36px;color:#333333;text-align:center;
			&.stitle{
				font-size:18px;
			}
			&.htitle{
				font-size:18px;color:#e8a22b;text-align:left;padding: 54px;
			}
			&.ltitle{
				font-size:14px;color:#333333;text-align:center;
			}
		}
		.content{
			&.contentFrist{
				padding:45px 0;
				.con{
					background: url('../../../../images/bankRegulators/firstBg.png') center center no-repeat;
					width: 1091px;height:141px;position: relative;left:0;right:0;margin:auto;
				}
			}
			&.contentTwo{
				padding:45px 0;background:#f8f8f8;
				.conTwo{
					background: url('../../../../images/bankRegulators/conTwo.jpg') center center no-repeat;
					width: 100%;height:342px;
				}
			}
			&.contentThree{
				padding:45px 0;
				.conThree{
					table{
						width:1200px;margin-top:70px;
						.icon{
							&.iconOne{
								background: url('../../../../images/bankRegulators/iconOne.png') center center no-repeat;width: 110px;height:110px;position:relative;left:0;right:0;bottom:25px;margin:auto;
							}
							&.iconTwo{
								background: url('../../../../images/bankRegulators/iconTwo.png') center center no-repeat;width: 110px;height:110px;position:relative;left:0;right:0;bottom:25px;margin:auto;
							}
							&.iconThree{
								background: url('../../../../images/bankRegulators/iconThree.png') center center no-repeat;width: 110px;height:110px;position:relative;left:0;right:0;bottom:25px;margin:auto;
							}
						}
					}
				}
			}
		}
	}
}