<section class='banner'>
    <img src="" alt="" class="number" id='number' v-show='showyear'>
    <div class='month' v-show='showyear'></div>
    <img :src='yearpc' class='year'>
    <div class='niandu' v-show='!showyear'></div>
</section>
