$appdownload-sprite-dimensions: true;
@import "appdownload/*.png";
@include all-appdownload-sprites(); 
.appdownload-wrapper{
	width: 100%;
	height: 750px;
	background: image-url('appdownloadbg.png') no-repeat center top;
	.appdownload{
		width: 1200px;
		margin: 0 auto;
		.box{
			padding: 215px 0 0 610px;
			.btn-box{
				padding-top: 40px;
				div{
					float: left;
					&.btns{
						padding: 19px 0 0 24px;
						a{
							display: block;
							margin-bottom: 18px;
						} 
					}
				}
			}
		}
	}
}