$bill-sprite-dimensions: true;
@import "bill/*.png";
@include all-bill-sprites();
@import "compass/css3";
.bill-list-banner {
  background: #ffe84c;
  img {
    display: block;
    margin: 0 auto;
  }
}

.mask-imgs {
  background: rgba(0, 0, 0, .8);
  background: none \9;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000) \9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  opacity: 0;
  .imgs {
    height: 100% !important;
  }
  .close {
    font-size: 60px;
    color: #fff;
    position: absolute;
    right: 80px;
    top: 50px;
    z-index: -20;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  &.show-mask {
    opacity: 1;
    z-index: 20;
    .close {
      z-index: 30;
    }
  }
  li {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    float: none !important;
  }
}

.bill-content-wrapper {
  width: 100%;
  padding: 20px 0 30px;
  //padding-bottom: 30px;
  background: #f1f1f1;
  .billListTitle {
    width: 1180px;
    height: 55px;
    font-size: 14px;
    margin: 0 auto;
    clear: both;
    span {
      float: left;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      margin-right: 8px;
    }
    ul {
      float: left;
      li {
        float: left;
        margin-right: 34px;
        line-height: 26px;
        padding: 0 12px 0;
        cursor: pointer;
        @include border-radius(17px);
        &.actived,
        &:hover {
          color: #fff;
          background-color: #e0b25d;
        }
      }
    }
  }
  .bill-list-wrap {
    @include modestyle;
    width: 1180px;
    // border-top: 3px solid #fe7634;
    .list-title {
      padding-left: 26px;
      height: 53px;
      line-height: 53px;
      border-bottom: 1px solid #f5f5f5;
      .title {
        float: left;
        font-size: 18px;
        color: #555;
        font-weight: bold;
        margin-right: 42px;
      }
      .filter-wrap {
        float: left;
        font-size: 14px;
        color: #bbb;
        span {
          float: left;
          margin-right: 8px;
        }
        ul {
          float: left;
          @include horizontal-list(0);
          li {
            margin-right: 46px;
            cursor: pointer;
            i {
              float: right;
              margin: 21px 0 0 5px;
              &.down {
                margin-top: 22px;
              }
            }
            &.actived,
            &:hover {
              color: #fe7634;
            }
          }
        }
      }
      .nums {
        float: right;
        padding-right: 26px;
        color: #999;
        font-size: 14px;
      }
    }
    .list-box {
      padding: 0 0 17px;
     background: #fff;
      
      .list-mode {
        padding: 6px 0 27px;
        border-bottom: 1px solid #dedede;
        overflow: hidden;
        &:hover {
          background: #f6f9fc;
        }
        ul {
          @include horizontal-list(0);
          overflow: visible;
          // width: 1160px \9;
          li {
            min-width: 82px;
            // overflow: hidden;
            white-space: normal;
            &.bill-name {
              width: 223px;
              padding: 42px 17px 0 30px;
              font-size: 18px;
              color: #424242;
              position: relative;
              i {
                display: inline-block;
                // margin-right: 5px;
                //width: 33px;
                height: 18px;
                font-size: 12px;
                text-align: center;
                border-radius: 2px;
                color: #fff;
                &.public-baoli,
                &.public-piaoju {
                  width: 33px;
                  height: 18px;
                  position: absolute;
                  left: 15px;
                  top: 52px;
                  border-radius: 2px;
                }
                &.public-jinjiaosuo,
                &.public-ziguan{
                  height:18px;
                  position:absolute;
                  left:15px;
                  top:52px;
                 // padding: 0px 5px;
                  border-radius:2px;

                }
                &.public-jinjiaosuo{
                  width:44px;
                  background-color: #3a97dd;
                }
                &.public-ziguan{
                  width:33px;
                  background-color: #3a97dd;
                }
                &.public-baoli {
                  background-color: #ff9868;
                }
                &.public-piaoju {
                  background-color: #3a97dd;
                }
                &.public-baoliicon,
                &.public-piaojuicon {
                  position: absolute;
                  left: 15px;
                  top: 52px;
                  width: 33px !important;
                  height: 18px !important;
                  background-color: #d4d4d4;
                }
              }
            }
            &.bill-nameAfter {
              width: 223px;
              padding: 42px 17px 0 30px;
              font-size: 18px;
              color: #979797;
              position: relative;
            }
            &.rate-box {
              // margin-right: -125px;
              padding-top: 4px;
              position: relative;
              width: 176px;
            }
            &.term-box {
              width: 130px;
            }
            &.start-box {
              width: 180px;
            }
            &.total-box {
              width: 230px;
            }
            p {
              height: 90px;
              display: table-cell;
              vertical-align: bottom;
              font-size: 14px;
              color: #999;
              text-align: center;
              span {
                color: #555;
                margin-right: 5px;
                b {
                  font-size: 24px;
                }
                &.rate {
                  font-size: 24px;
                  color: #fe7634;
                  // font-weight: bold;
                  b {
                    font-size: 36px;
                    // vertical-align: bottom;
                    //      display: inline-block;
                    margin: 4px 0 -4px;
                  }
                }
                t {
                  font-size: 14px;
                  color: #ff7200;
                  position: absolute;
                  top: 38px;
                }
                  .rateLittle {
                  font-size: 14px;
                  color: #ff7200;
                  position: absolute;
                  top: 38px;
                }
              }
            }
            .little-tip {
              color: #bbb;
              padding-top: 10px;
              i {
                float: left;
                margin-right: 3px;
              }
            }
            &.invest-btn-box {
              width: 170px;
              // width: 140px \9;
              padding-top: 26px;
              float: right;
              // margin-right: 30px;
              padding-left: 0;
              .invest-btn {
                width: 129px;
                height: 38px;
                line-height: 38px;
                margin-top: 18px;
                background: #fe7634;
                &:hover {
                  background: darken(#fe7634, 5%);
                }
              }
              .nouse-btn {
                @extend .invest-btn;
                background: #dccdb8;
                cursor: default;
                &:hover {
                  background: #dccdb8;
                }
              }
              p {
                width: 130px;
                height: 59px;
                display: block;
                margin-top: 6px;
              }
            }
          }
        }
        &.end-mode {
          color: #a9a9a9;
          ul li p span {
            color: #a9a9a9;
          }
        }
      }
      .page-wrap {
        padding-top: 54px;
      }
    }
    //活动加息图标
    //
    .activity {    
        background-color: #ff9868;
        border: 1px solid #ff9868;
        color: #fff;
        border-radius:7px;
        cursor:pointer;
      
    }
    .bubiao {
      border: 1px solid #ff8a8a;
      color: #ff8a8a;
      &:hover {
        background-color: #ff8a8a;
        border: 1px solid #ff8a8a;
        color: #fff;
         cursor:pointer;
      }
    }
    .fanBei {
      border-color: #ffaf9a;
      color: #ffaf9a;
      &:hover {
        border: 1px solid #ffaf9a;
        color: #fff;
        background-color: #ffaf9a;
         cursor:pointer;
      }
    }
    .xianjin {
      border-color: #ffaf9a;
      color: #ffaf9a;
      &:hover {
        background-color: #ffaf9a;
        color: #fff;
         cursor:pointer;
      }
    }
    .jiaxi {
      border: 1px solid #9eb9d5;
      color: #9eb9d5;
      &:hover {
        background: #9eb9d5;
        color: #fff;
         cursor:pointer;
      }
    }
    .bgIcon {
      border-radius: 7px;
      background-color: #d1d1d1;
      color: #fff;
    }
    .Fxjicon {
      border-radius: 7px;
      border: 1px solid #d1d1d1;
      color: #d1d1d1;
    }
    #invest-btnpast {
      background-color: #ccc;
    }
    #invest-btnpast:hover {
      color: #eee;
    }
    .billing-list {
      border: 1px solid #d5d5d5;
      background: #fafafa;
      .bill-trigger {
        height: 48px;
        border-bottom: 1px solid #d5d5d5;
        margin-right: -1px;
        p {
          float: left;
          height: 48px;
          text-align: center;
          line-height: 48px;
          font-size: 18px;
          color: #555;
          width: 588px;
          background: #fff;
          border-right: 1px solid #d5d5d5;
          cursor: pointer;
          &.active {
            border-top: 2px solid #fe7634;
            height: 47px;
            line-height: 46px;
            margin-top: -1px;
            border-bottom: 1px solid #fafafa;
            background: none;
            // width: 589px;
            width: 1158px;
            text-align: left;
            padding-left: 20px;
            cursor: default;
          }
        }
      }
      .bill-mode {
        .list-box {
          background: none;
          .list-mode {
            width: 1137px;
            height: 115px;
            background: #fff;
            border: 1px solid #e2e2e2;
            border-radius: 1px;
            margin: 0 auto 9px;
            padding: 0;
            position: relative;
            overflow: visible;
            &:hover {
              background: #f6f9fc;
            }
            .icon {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
              &.bill-hoticon {
                // width: 50px;
                // height: 20px;
                // text-align: center;
                // color: #fff;
                // font-size: 12px;
                // background: #ff6256;
                // line-height: 20px;
              }
            }
            ul {
              li {
                &.bill-name {
                  padding: 46px 17px 0 57px;
                  width: 176px;
                  font-size: 18px;
                  color: #555;
                }
              }
            }
            &.hot-mode .bill-name {
              font-weight: bold;
              color: #fe7634;
              position: relative;
              i.public-yin,
              .public-shang {
                position: absolute;
                left: 15px;
                top: 52px;
                width: 15px !important;
                height: 15px !important;
              }
            }
            &.hot-mode .bill-namepast {
              font-weight: bold;
              color: #9a9a9a;
              position: relative;
              i.public-yin,
              .public-shang {
                position: absolute;
                left: 15px;
                top: 52px;
                width: 15px !important;
                height: 15px !important;
              }
            }
          }
        }
      }
    }
    .past-list {
      .past-title {
        height: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #fff;
        margin: 29px auto 2px;
        .title {
          font-size: 16px;
          color: #888;
          text-align: center;
          width: 120px;
          margin: -13px auto 0;
          background: #f1f1f1;
        }
      }
      .list-box {
        padding: 0;
        border: 1px solid #d5d5d5;
        overflow: hidden;
        .list {
          margin-bottom: -1px;
        }
        .page-wrap {
          padding-bottom: 40px;
        }
      }
      .list-mode {
        height: 99px;
        padding: 0;
        background: #fafafa;
        li {
          &.bill-name {
            // position: relative;
            padding-left: 65px !important;
            width: 188px !important;
            i {
              position: absolute;
              left: 33px;
              top: 34px;
            }
          }
          &.invest-btn-box {
            padding-top: 44px !important;
            width: 191px !important;
            position: relative;
            p {
              right: 0;
              top: 0;
              position: absolute;
              width: 49px !important;
              height: 52px !important;
              margin: 0 !important;
            }
          }
          p {
            height: 72px !important;
          }
        }
      }
      .detail-btn {
        width: 128px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        background: #fef1ea;
        border: 1px solid #fe7634;
        border-radius: 3px;
        display: block;
        color: #fe7634;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
  .jiantop {
    background: url('../../imagess/home/jian.png');
    width: 18px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 50%;
  }
  .tips {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    display: none;
    opacity: 0;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    font-family: '宋体';
    font-size: 12px;
    color: #999;
  }
}

// 票据详情
.bill-detail-wrap {
  .jiantop {
    background: url('../../imagess/home/jian.png');
    width: 18px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 50%;
  }
  .tips {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    display: none;
    opacity: 0;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    font-family: '宋体';
    font-size: 12px;
    color: #999;
  }
  width: 100%;
  padding: 0 0 30px;
  background: #f1f1f1;
  .bill-detail-content {
    @include modestyle;
    width: 1180px;
    .cpa-bg {
      width: 1180px;
      height: 636px;
      margin-top: 22px;
      background: image-url('cpa.png');
    }
    .bill-detail-box {
      background: #fff;
      // @include clearfix;
      width: 1180px;
      height: 384px;
      .bill-detail {
        width: 826px;
        height: 384px;
        border-right: 1px solid #f2f2f2;
        float: left;
        .detail-box {
          padding: 0 30px;
                   .feature{
                    .activity {
              border: 1px solid #ff9868;
              color: #ff9868;
              cursor:pointer;
              &:hover {
                background-color: #ff9868;
                border: 1px solid #ff9868;
                color: #fff;
              }
            }
            .bubiao {
              border: 1px solid #ff8a8a;
              color: #ff8a8a;
              &:hover {
                background-color: #ff8a8a;
                border: 1px solid #ff8a8a;
                color: #fff;
                cursor:pointer;
              }
            }
            .fanBei {
              border-color: #ffaf9a;
              color: #ffaf9a;
              &:hover {
                border: 1px solid #ffaf9a;
                color: #fff;
                background-color: #ffaf9a;
                cursor:pointer;
              }
            }
            .xianjin {
              border-color: #ffaf9a;
              color: #ffaf9a;
              &:hover {
                background-color: #ffaf9a;
                color: #fff;
                cursor:pointer;
              }
            }
            .jiaxi {
              border: 1px solid #9eb9d5;
              color: #9eb9d5;
              &:hover {
                background: #9eb9d5;
                color: #fff;
                cursor:pointer;
              }
            } 
            }
          .title {
            position: relative;
            padding-top: 19px;
            padding-left: 30px;
            b {
              font-size: 20px;
              color: #424242;
              margin-right: 14px;
              position: relative;
              i.public-baoli,
              i.public-piaoju {
                position: absolute;
                left: -38px;
                top: 6px;
                font-size: 12px;
                color: #fff;
                text-align: center;
                display: inline-block;
                width: 33px;
                height: 18px;
                border-radius: 2px;
              }
              i.public-baoli {
                background-color: #ff955d;
              }
              i.public-piaoju {
                background-color: #3996dc;
              }
              .bubiaoBox {
                cursor: pointer;
                position: relative;
                .bubiao {
                  border: 1px solid #ff8989;
                  padding: 0 5px;
                  color: #ff8989;
                  &:hover{
                    background-color:#ff8989;
                    color:#fff;
                  }
                }
                .bubiaoFinish {
                  border: 1px solid #858585;
                  padding: 0 5px;
                  color: #858585;
                }
                .NNSM {
                  // width: 250px;
                  // height: 79px;
                  // z-index: 999;
                  // position: absolute;
                  // left: -85px;
                  // top: 19px;
                  // display: none;
                    width: 180px;
                  height: 20px;
                  z-index: 999;
                  position: absolute;
                  left: -85px;
                  top: 19px;
                  display: none;
                  i {
                    display: block;
                    span {
                      font-size: 12px;
                      position: absolute;
                      left: 5px;
                      top: 10px;
                    }
                    a {
                      font-size: 12px;
                      position: absolute;
                      right: 5px;
                      bottom: 3px;
                      text-decoration: underline;
                    }
                  }
                }
              }
              .huodongBox {
                .huodong {
                      background-color: #ff9868;
                    border: 1px solid #ff9868;
                        color: #fff;
                        border-radius:10px;
                        cursor:pointer;
                  padding: 0px 5px;
                }
                .huodongFinish {
                  // border: 1px solid #858585;
                  // color: #858585;
                  background-color:#d2d2d2;
                   border: 1px solid #d2d2d2;
                   border-radius:10px;
                   color:#fff;
                  padding: 0px 5px;
                }
              }
            }
            span {
              font-size: 14px;
              color: #aaa;
            }
            i.bill-detail-bao {
              position: absolute;
              top: 21px;
              right: 0;
            }
            i.bill-newhand {
              position: absolute;
              top: 20px;
              left: -3px;
            }

       
          }
        }
        .list-wrap {
          padding: 40px 0 42px;
          border-bottom: 1px solid #f2f2f2;
          height: 118px;
          // overflow: hidden;
          width: 766px;
          ul {
            width: 778px;
            @include horizontal-list(0);
            overflow: visible;
            li {
              width: 258px;
              text-align: center;
              color: #777;
              font-size: 14px;
              height: 117px;
              border-right: 1px solid #f2f2f2;
              p {
                // padding-top: 15px;
              }
              &.rate-mod {
                text-align: left;
                padding-left: 30px;
                width: 218px;
              }
              div {
                height: 68px;
                line-height: 90px;
                margin-top: -5px;
              }
              b {
                font-size: 36px;
                color: #fe7634;
                margin-right: 6px;
                position: relative;
                t {
                  font-size: 18px;
                  color: #ff7200;
                  position: absolute;
                  top: 10px;
                }
              }
              span {
                font-size: 18px;
              }
              .rate {
                color: #fe7634;
                .rateBig {
                  font-size: 48px;
                  // color: #fe7634;
                  margin: 0;
                  position: relative;
                  t {
                    font-size: 18px;
                    position: absolute;
                    top: 10px;
                  }
                    .rateLittle {
                    font-size: 18px;
                    position: absolute;
                    top: -10px;
                  }
                }
                span {
                  font-size: 48px;
                }
              }
              .home-icons-expgold {
                margin: 0 auto;
              }
              &.deadline {
                position: relative;
                .explain {
                  width: 13px !important;
                  height: 17px !important;
                  position: absolute;
                  cursor: pointer;
                  position: absolute;
                  right: 17px;
                  top: 73px;
                  i {
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                  span {
                    position: absolute;
                    left: -1px;
                    top: 17px;
                    z-index: 2;
                    display: none;
                  }
                  div {
                    width: 208px;
                    // position: absolute;
                    margin: 24px 0 0 -112px;
                    font-size: 12px;
                    color: #777;
                    border: 1px solid #ff9600;
                    padding: 10px 13px 12px;
                    z-index: 1;
                    line-height: normal;
                    display: none;
                    text-align: left;
                    background: #fff;
                  }
                  &.showexplain {
                    span {
                      display: block;
                    }
                    div {
                      display: block;
                    }
                  }
                }
              }
            }
          }
          &.newhand-wrap {
            li {
              width: 196px !important;
              &.rate-mod {
                width: 147px !important;
              }
            }
          }
          &.end-list {
            b {
              color: #858585 !important;
              t {
                color: #858585 !important;
              }
            }
          }
        }
        .list-mod {
          height: 39px;
          line-height: 39px;
          color: #777;
          font-size: 14px;
          padding: 0 30px;
          &.last-list-mod {
            border: none;
            width: 500px;
            position: relative;
            overflow: visible;
            .explain {
              position: absolute;
              width: 18px;
              height: 13px;
              left: 219px;
              top: 14px;
              cursor: pointer;
              i {
                position: absolute;
                left: 0;
                top: 0;
              }
              span {
                position: absolute;
                left: 18px;
                top: 2px;
                z-index: 2;
                display: none;
              }
              div {
                width: 208px;
                height: 63px;
                position: absolute;
                left: 23px;
                font-size: 12px;
                color: #777;
                border: 1px solid #ff9600;
                padding: 10px 13px 0;
                z-index: 1;
                top: -29px;
                line-height: normal;
                display: none;
                background: #fff;
              }
              &.showexplain {
                span {
                  display: block;
                }
                div {
                  display: block;
                }
              }
            }
          }
          @include clearfix;
          border-bottom: 1px solid #f2f2f2;
          .detail1 {
            float: left;
          }
          .detail2 {
            float: right;
          }
        }
        .feature {
          margin: 14px 29px 0 0;
        }
      }
      .bill-form-wrap {
        float: left;
        .rest-wrap {
          height: 117px;
          width: 353px;
          border-bottom: 1px solid #f2f2f2;
          .rest-box {
            padding-left: 22px;
            position: relative;
            i {
              float: right;
            }
            p {
              color: red;
            }
            .percentage-box {
              width: 180px;
              padding-top: 23px;
              i {
                float: right;
                // font-size: 14px;
                // color: #777;
              }
              .percentage {
                width: 149px;
                // margin-top: 8px;
                span {
                  // width: 50%;
                }
              }
            }
            .data {
              font-size: 14px;
              color: #777;
              padding-top: 22px;
              b {
                font-weight: bold;
              }
            }
            .bill-ing {
              position: absolute;
              right: 3px;
              top: 10px;
            }
            .bill-bubiao {
              position: absolute;
              right: 3px;
              top: 10px;
            }
          }
          &.end-rest {
            height: 54px;
            .percentage-box {
              width: 292px;
              .percentage {
                width: 249px;
              }
            }
          }
        }
        .fin-box {
          position: relative;
          .fin-data {
            height: 90px;
            border-bottom: 1px solid #f2f2f2;
            .data {
              float: left;
              width: 100%;
              text-align: center;
              height: 90px;
              border-right: 1px solid #f2f2f2;
              &.date {
                border: none;
              }
              b {
                font-size: 24px;
                color: #fe7634;
                padding-top: 20px;
                display: block;
                margin-bottom: -1px;
              }
              p {
                font-size: 14px;
                color: #777;
              }
            }
          }
          span {
            position: absolute;
            top: 152px;
            left: 62px;
          }
        }
        .form-box {
          padding-left: 23px;
          .recharge-box {
            padding-top: 20px;
            @include clearfix;
            .my-rest {
              font-size: 14px;
              color: #777;
              float: left;
              margin-right: 33px;
              b {
                color: #333;
                margin: 0 3px;
                font-size: 14px;
                font-family: Arial;
                font-weight: bold;
              }
            }
            .recharge-btn {
              float: right;
              font-size: 14px;
              color: #17a9ef;
              margin-right: 35px;
            }
            .bubiao-btn {
              float: right;
              font-size: 14px;
              color: #777;
              margin-right: 10px;
              text-decoration: none;
            }
            .isbubiao-btn {
              float: right;
              font-size: 14px;
              color: #fe7634;
              margin-right: 10px;
            }
          }
          .input-box {
            padding-top: 19px;
            ul {
              @include horizontal-list(3px);
              .add {
                width: 41px;
                height: 41px;
                display: block;
                background: #f2f2f2;
                text-align: center;
                line-height: 35px;
                color: #ff9600;
                // font-family: '宋体';
                font-size: 38px;
                cursor: pointer;
                &.nouse {
                  color: #cfcfcf;
                  cursor: default;
                }
              }
              .cut {
                @extend .add;
              }
              .text {
                width: 187px;
                height: 24px;
                line-height: 24px;
                font-size: 16px;
                color: #555;
                padding: 8px 8px;
                border: 1px solid #e2e2e2;
                font-family: Arial;
                @include border-radius(4px);
              }
            }
          }
          .quan-box {
            padding-top: 21px;
            @include clearfix;
            label {
              float: left;
              color: #777;
              margin-right: 8px;
              input {
                float: left;
                margin-top: 3px;
                margin-top: -1px \9;
              }
            }
            p {
              float: left;
              color: #aaa;
            }
          }
          .profit {
            padding: 14px 0 0 4px;
            color: #777;
            b {
              color: #fe7634;
              font-weight: bold;
              margin-right: 2px;
            }
          }
          .sub-box {
            padding-top: 16px;
            .invest-btn {
              // @include modebtn;
              font-weight: normal;
              width: 300px;
              height: 40px;
              line-height: 40px;
              @include border-radius(5px);
              font-size: 19px;
              border: none;
              cursor: pointer;
            }
          }
          .checkbox-mod {
            padding-top: 7px;
            label {
              input {
                float: left;
                margin: 3px 3px 0 0;
                margin: -1px 3px 0 0 \9;
              }
              color: #999;
              a {
                color: #999;
              }
            }
          }
        }
      }
    }
    .interest-process {
      width: 1180px;
      background: #fff;
      padding: 64px 0 60px;
      margin: 20px auto 0;
      .center-wrap {
        width: 1095px;
        margin: 0 auto;
        .title {
          border-top: 2px dashed #cfcfcf;
          i {
            float: left;
            margin-top: -17px;
            position: relative;
            z-index: 2;
          }
          span {
            float: left;
            font-size: 18px;
            color: #666;
            padding: 0 24px 0 7px;
            margin-top: -15px;
            background: #fff;
          }
        }
        p {
          float: left;
          font-size: 14px;
          color: #999;
          width: 110px;
          &.set {
            padding: 12px 0 0 369px;
          }
          &.expire {
            padding: 12px 0 0 101px;
          }
        }
      }
      .process-bg {
        margin: 70px auto 0;
      }
    }
    .bill-detail-info {
      margin-top: 22px;
      padding-bottom: 65px;
      background: #fff;
      .bill-info-title {
        height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #d1d1d1;
        border-left: 1px solid #d1d1d1;
        // border-bottom: 1px solid #0b85c4;
        p {
          float: left;
          padding: 0 47px;
          cursor: pointer;
          border-right: 1px solid #d1d1d1;
          font-size: 16px;
          color: #555;
          &.actived {
            border: {
              top: 3px solid #17a9ef;
              // left: 1px solid #17a9ef;
              // right: 1px solid #17a9ef;
              bottom: 1px solid #fff;
            }
            margin: -1px;
            margin-bottom: 0;
            position: relative;
            height: 46px;
            line-height: 46px;
            cursor: default;
          }
        }
      }
      .info-wrap {
        .guarantee-box {
          // padding: 40px 0 0 40px;
          table {
            width: 1040px;
            margin: 75px auto 0;
            td {
              text-align: center;
              color: #666;
              font-size: 16px;
              vertical-align: top;
            }
            i {
              display: inline-block;
            }
            span {
              display: block;
              padding: 26px 0 15px;
              font-size: 24px;
            }
          }
          .bill-bg {
            display: block;
            margin: 60px auto 38px;
          }
          .bill-infobg {
            margin: -193px auto 75px;
            position: relative;
            z-index: 1;
          }
          .guarantee {
            width: 1095px;
            margin: 0 auto 75px;
            position: relative;
            z-index: 2;
            .list {
              overflow: hidden;
              ul {
                width: 685px;
                float: left;
                padding-top: 20px;
                li {
                  padding: 0 0 16px 77px;
                  position: relative;
                  line-height: 24px;
                  font-size: 14px;
                  color: #666;
                  i {
                    position: absolute;
                    left: 24px;
                    top: 7px;
                  }
                }
              }
              p.bill-three {
                float: left;
                margin: 24px 0 0 100px;
              }
            }
            p.stitle {
              width: 990px;
              padding: 35px 0 50px;
              font-size: 18px;
              color: #666;
              line-height: 30px;
              text-indent: 2em;
              margin: 0 auto;
            }
            .bill-safe-process {
              margin: 0 auto;
            }
            .bill-fiveguarantee {
              margin: 60px auto 0;
            }
            .title {
              border-top: 1px solid #d1d1d1;
              text-align: center;
              vertical-align: top;
              span {
                margin-top: -20px;
                display: inline-block;
                vertical-align: top;
                &.text {
                  font-size: 24px;
                  color: #ff9600;
                  padding: 0 20px;
                  background: #fff;
                  i {
                    font-size: 14px;
                    color: #666;
                    display: block;
                    margin-top: -2px;
                  }
                }
              }
              margin-bottom: 40px;
            }
            table {
              width: 1095px;
              &.process {
                td {
                  font-size: 24px !important;
                }
                margin: 16px auto 27px;
              }
              &.safety-table {
                td {
                  font-size: 18px !important;
                }
                margin: 30px auto 20px;
              }
              p {
                font-size: 18px;
                color: #666;
                padding-bottom: 20px;
              }
              img {
                width: 487px;
                height: 278px;
                border: 1px solid #d4d4d4;
                cursor: pointer;
              }
            }
          }
          .myintro-box {
            width: 1040px;
            padding: 0 29px 50px;
            margin: 0 auto 42px;
            border-bottom: 1px dashed #d1d1d1;
            &.noborder {
              border: none;
            }
            .img-intro {
              height: 314px;
              background: #f5f6f8;
              i {
                float: left;
                margin: 27px 0 0 20px;
                &.bill-process {
                  margin: 25px 0 0 77px;
                }
              }
              p {
                float: left;
                width: 340px;
                line-height: 24px;
                font-size: 14px;
                color: #666;
                margin: 104px 0 0 77px;
                text-indent: 2em;
              }
            }
            .top-intro {
              overflow: hidden;
              .intro {
                width: 730px;
                float: left;
                color: #555;
                font-size: 14px;
                .intro-title {
                  font-size: 24px;
                  color: #ff9600;
                  padding-bottom: 30px;
                }
                p {
                  line-height: 24px;
                  padding-bottom: 16px;
                  text-indent: 2em;
                }
              }
              i {
                float: left;
                &.bill-bank {
                  margin: 42px 0 0 65px;
                }
                &.bill-huipiao {
                  margin: 15px 0 0 75px;
                }
                &.bill-notiaojian {
                  margin: 10px 0 0 96px;
                }
              }
            }
          }
        }
        .intro-box {
          .center-wrap {
            width: 1095px;
            margin: 0 auto;
            .bill-infobg {
              display: block;
              margin: -118px auto 0;
              position: relative;
              z-index: 1;
            }
            table {
              margin: 0 auto;
              position: relative;
              z-index: 10;
              td {
                font-size: 14px;
                color: #666;
                padding: 16px 0;
                border: 1px solid #ccc;
                &.c {
                  width: 560px;
                  padding-left: 106px;
                  padding-right: 85px;
                }
                &.t {
                  color: #ff9600;
                  text-align: center;
                  width: 226px;
                }
              }
              tr.last {
                td {
                  color: #f00;
                  position: relative;
                  span {
                    position: absolute;
                    right: 56px;
                    top: 16px;
                    color: #00f;
                    cursor: pointer;
                    i {
                      font-weight: bold;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .past-wrap {
              width: 978px;
              margin: -1px auto 0;
              border: 1px solid #d1d1d1;
              background: #f0f8fc;
              position: relative;
              z-index: 2;
              overflow: hidden;
              padding-bottom: 13px;
              .more {
                color: #3954fb;
                right: 24px;
                font-size: 14px;
                bottom: 18px;
                position: absolute;
              }
              .past-title {
                overflow: hidden;
              }
              .stitle {
                float: left;
                width: 489px;
                border-left: 1px dashed #d1d1d1;
                margin-left: -1px;
                font-size: 14px;
                color: #333;
                height: 40px;
                text-align: center;
                margin-top: 20px;
                // line-height: 56px;
                .l {
                  width: 225px;
                  display: inline-block;
                }
                .r {
                  width: 208px;
                  display: inline-block;
                }
              }
              ul.pastlist {
                overflow: hidden;
                margin-bottom: 25px;
                li {
                  float: left;
                  width: 489px;
                  padding-bottom: 6px;
                  font-size: 14px;
                  color: #666;
                  border-left: 1px dashed #d1d1d1;
                  margin-left: -1px;
                  text-align: center;
                  &.empty {
                    height: 20px;
                  }
                  .l {
                    width: 225px;
                    display: inline-block;
                    i {
                      margin-right: 12px;
                    }
                  }
                  .r {
                    width: 208px;
                    display: inline-block;
                  }
                }
              }
            }
            .title {
              margin: 72px 0;
              border-top: 2px dashed #cfcfcf;
              i {
                float: left;
                margin-top: -17px;
                position: relative;
                z-index: 2;
              }
              span {
                float: left;
                font-size: 18px;
                color: #666;
                padding: 0 24px 0 7px;
                margin-top: -15px;
                background: #fff;
              }
            }
            ul.check-box {
              padding: 0 0 48px 43px;
              overflow: hidden;
              li {
                float: left;
                padding: 0 132px 18px 0;
                span {
                  float: left;
                  font-size: 14px;
                  color: #666;
                  width: 318px;
                }
                i {
                  float: left;
                }
                b {
                  float: left;
                  padding-left: 9px;
                  color: #999;
                  font-size: 14px;
                }
              }
            }
            .pro-detail {
              padding-top: 70px;
              background: #f5f6f8;
              .center-title {
                width: 1040px;
                margin: 0 auto;
                border-top: 1px solid #999;
                div {
                  width: 262px;
                  height: 26px;
                  border: 1px solid #999;
                  margin: -14px auto 0;
                  text-align: center;
                  background: #f5f6f8;
                  span {
                    padding: 0 16px;
                    display: inline-block;
                    margin-top: -15px;
                    font-size: 18px;
                    color: #666;
                    background: #f5f6f8;
                    vertical-align: top;
                  }
                }
              }
              .img-detail {
                padding-top: 48px;
                height: 266px;
                overflow: hidden;
                .bill-turn-left {
                  float: left;
                  margin: 65px 50px 0 32px;
                  cursor: pointer;
                  &.displaybtn {
                    background: none;
                  }
                }
                .bill-turn-right {
                  float: left;
                  margin: 65px 0 0 30px;
                  cursor: pointer;
                  &.displaybtn {
                    background: none;
                  }
                }
                .imgs {
                  width: 914px;
                  float: left;
                  text-align: center;
                  overflow: hidden;
                  ul {
                    padding-left: 5px;
                    height: 200px !important;
                    &.center-img {
                      width: 914px !important;
                      text-align: center;
                    }
                  }
                  li {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 22px;
                    width: 282px !important;
                    height: 176px !important;
                    box-shadow: 5px 5px 20px rgba(102, 102, 102, .2);
                    background: #fff;
                    cursor: pointer;
                    float: none !important;
                    div {
                      display: table-cell;
                      width: 282px;
                      height: 176px;
                      text-align: center;
                      vertical-align: middle;
                    }
                    img {
                      max-width: 282px;
                      max-height: 176px;
                    }
                  }
                }
              }
            }
          }
          ul.feature-mode {
            padding: 57px 74px 0 86px;
            li {
              overflow: hidden;
              padding-bottom: 110px;
              i {
                float: left;
                margin-right: 50px;
              }
              div {
                width: 890px;
                float: left;
                padding-top: 6px;
                .title {
                  display: block;
                  font-size: 24px;
                  color: #ff9600;
                  margin-bottom: 9px;
                }
                p {
                  font-size: 14px;
                  color: #666;
                  text-indent: 2em;
                  line-height: 20px;
                }
              }
            }
          }
        }
        .actived-box {
          display: block !important;
        }
        .record-box {
          padding: 20px 30px 0;
          .record-t {
            font-size: 13px;
            color: #555;
            b {
              font-weight: bold;
              color: #57a9f5;
              margin: 0 3px;
            }
            height: 57px;
            line-height: 60px;
            padding-left: 5px;
          }
          .record-table {
            width: 1120px;
            font-size: 14px;
            color: #555;
            td {
              height: 45px;
              // border-bottom: 1px solid #e6e6e6;
              text-align: center;
              &.nolist {
                color: #555;
              }
            }
            .active td {
              height: 43px;
              background: #f0f8fc;
            }
            th {
              height: 43px;
              line-height: 43px;
              font-weight: bold;
              text-align: center;
              background: #f0f8fc;
              border-top: 1px solid #ececec;
            }
          }
          .page-wrap {
            padding-top: 28px;
          }
        }
      }
    }
  }
}

.new-bread-wrapper {
  background: #f2f2f2;
}

.newhand-detail {
  .new-bread-wrapper {
    background: #fff;
  }
  .bill-detail-wrap {
    background: #ffbe9e;
    padding: 23px 0 0;
    .bill-detail-box {
      // height: 295px;
      overflow: hidden;
      margin-bottom: 24px;
    }
    .newhand-mode {
      width: 100%;
      overflow: hidden;
      text-align: center;
      color: #555;
      font-size: 24px;
      line-height: 36px;
      .newhand-con {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        height: 821px;
      }
      .newhand-title {
        width: 242px;
        height: 54px;
        background: image-url('newhand/title-bg.png');
        margin: 70px auto 0;
        font-size: 30px;
        text-align: center;
        line-height: 54px;
        color: #fff;
      }
      .small-title {
        font-size: 36px;
        line-height: 48px;
        padding: 30px 0;
        span {
          font-size: 42px;
          color: #fe7634;
          margin: 0 5px;
        }
      }
      i {
        position: absolute;
      }
      &.pro {
        background: #e0f1fb;
        .small-title {
          font-size: 44px;
          line-height: 50px;
          padding: 26px 0;
        }
        i {
          width: 887px;
          height: 400px;
          left: 101px;
          top: 390px;
          background: image-url('newhand/newhand-pro.jpg');
        }
      }
      &.good {
        background: #7fd9e9;
        .small-title {
          font-size: 48px;
          line-height: 48px;
          padding: 26px 0 20px;
        }
        i {
          width: 890px;
          height: 474px;
          left: 131px;
          top: 305px;
          background: image-url('newhand/good.jpg');
        }
      }
      &.benxi {
        background: #fcdd92;
        i {
          width: 959px;
          height: 394px;
          left: 69px;
          top: 409px;
          background: image-url('newhand/benxi.jpg');
        }
      }
      &.bank {
        background: #a7ffbc;
        i {
          width: 795px;
          height: 394px;
          left: 149px;
          top: 400px;
          background: image-url('newhand/bank.jpg');
        }
      }
    }
  }
}

.new-detail-wrap {
  .bill-detail-box {
    height: 265px !important;
    .feature {
      margin-top: 5px !important;
      font-size: 12px !important;
      color: #9db8d2 !important;
    }
    .bill-detail {
      height: 265px !important;
    }
    .list-wrap {
      border: none !important;
      li {
        color: #000 !important;
        span {
          color: #777;
        }
        b {
          color: #f00 !important;
          font-size: 50px !important;
        }
        &.date-mod {
          b {
            color: #595555 !important;
          }
        }
        .rate span {
          font-size: 32px !important;
          color: #f00;
        }
        div {
          height: 83px !important;
          line-height: 108px !important;
        }
      }
    }
  }
  .form-box {
    padding-top: 30px;
    position: relative;
    i.bill-hot-icon {
      position: absolute;
      left: 275px;
      top: -10px;
    }
  }
}
