$escrow-account-sprite-dimensions: true;
@import "escrow-account/*.png";
@include all-escrow-account-sprites;

.escrow-adjoin-banner{
  margin-top: 20px;
  height: 60px;
  min-width: 825px;
  background: url("../../images/escrow-account/adjoin-banner.jpg") center no-repeat;
  background-size: cover;
}

.escrow-account-topbar{
  min-width: 900px;
  height: 300px;
  margin: 0 auto;
  background: url("../../images/escrow-account/topbar-openacct.jpg") center no-repeat;
  background-size: cover;
  .center-area{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .btn{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 10px;
      cursor: pointer;
    }
  }
}

.recharge-withdraw-btn-comment{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding-left: 10px;
}
.recharge-withdraw-btn-comment:focus, .recharge-withdraw-btn-comment:hover{
  text-decoration: none;
}
.escrow-account-bg{
  background: #F4F4F4;
  padding: 21px 0 152px;
  .form-wrapper{
    width: 900px;
    background: #FFF;
    margin: 0 auto;
    .content{
      padding: 0 25px;
      .block-title{
        font-size: 20px;
        font-weight: bold;
        color: #333;
        line-height: 69px;
        border-bottom: 1px solid #DDD;
      }
      .block-detail{
        padding: 30px 0;
        .elem-row{
          margin-bottom: 22px;
          height: 40px;
          .label{
            display: inline-block;
            width: 195px;
            text-align: right;
            font-size: 16px;
            line-height: 40px;
          }
          .input-wrapper{
            display: inline-block;
            padding: 0 16px;
            .text{
              width: 248px;
              height: 24px;
              line-height: 24px;
              padding: 7px 10px;
              @include border-radius(1px);
              border: 1px solid #d9d9d9;
              font-size: 14px;
              color: #555;
              &.phonecode{
                width: 134px;
                float: left;
              }
            }
          }
        }
        .elem-row:last-child{
          margin-bottom: 0;
        }
        p.about-withdraw-pwd{
          margin-left: 200px;
          color: #666;
          font-size: 14px;
        }
      }
    }
    .submit-wrapper{
      display: block;
      padding: 0 240px 70px;
      .btn-line{
        padding: 20px 0;
        .submit{
          display: inline-block;
          height: 40px;
          width: 100px;
          background: #FD9927;
          @include border-radius(5px);
          color: #FFF;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
        }
        .submit:hover{
          background: #FEAD51;
        }
        .inactive{
          background: #BBB;
          cursor: auto;
        }
        .inactive:hover{
          background: #BBB;
        }
        .skip{
          display: inline-block;
          padding: 0 40px;
          color: #666;
          font-size: 16px;
          line-height: 40px;
          cursor: pointer;
        }
      }
      p a {
        position: relative;
        left: -5px;
        color: #81CEF2;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
.submit-return-dialog{
  width: 500px;
  min-height: 240px;
  background: #FFF;
  padding: 55px 0;
  .badge-box{
    height: 84px;
    width: 84px;
    margin: 0 auto 20px;
  }
  .title{
    font-size: 24px;
    color: #333;
    line-height: 28px;
  }
  .detail{
    margin: 20px 30px 0;
    border-top: 1px solid #DDD;
    padding: 30px 0 0;
    font-size: 16px;
    color: #666;
    line-height: 20px;
  }
  .main-btn{
    margin: 40px auto 0;
    height: 60px;
    width: 200px;
    @include border-radius(6px);
    background: #FD9939;
    font-size: 20px;
    line-height: 60px;
    color: #FFF;
    cursor: pointer;
  }
  .main-btn:hover{
    background: #FEAD53;
  }
}

.upgrade-prompt-dialog{
  background: #FFF;
  //height: 250px;
  //width: 600px;
  width: 700px;
  //height: 524px;
  height: 497px;
  //padding: 86px 0 74px;
  //padding: 36px 0 40px;
  padding: 63px 0 40px;
  /*.content-wrapper{
    padding: 0 40px 0 72px;
    .badge{
      display: inline-block;
      vertical-align: top;
    }
    .text{
      margin-left: 20px;
      display: inline-block;
      width: 380px;
      text-align: left;
      font-size: 20px;
      color: #000;
      line-height: 36px;
    }
  }*/
  .content-wrapper{
    //margin: 0 auto 33px;
    margin: 0 auto 27px;
    width: 530px;
    height: 412px;
    background: url('../../images/escrow-account/upgrade-mark.jpg') no-repeat;
  }
  .blank-area{
    height: 100px;
    width: 100%;
  }
  .btns-wrapper{
    margin: 0 auto;
    width: 476px;
    .btn{
      display: inline-block;
      width: 200px;
      height: 58px;
      @include border-radius(6px);
      border: 1px solid rgb(253, 153, 39);
      font-size: 20px;
      line-height: 58px;
      cursor: pointer;
    }
    .left{
      @extend .btn;
      float: left;
      color: rgb(253, 153, 39);
    }
    .right{
      @extend .btn;
      float: right;
      background: rgb(253, 153, 39);
      color: #FFF;
    }
    .btn:hover{
      background: rgb(254, 173, 81);
      color: #FFF;
    }
  }
}
.withdraw-result-dialog{
  background: #FFF;
  padding: 0 30px;
  width: 440px;
  height: 400px;
  .title{
    color: #333;
    font-size: 24px;
    line-height: 84px;
    border-bottom: 1px solid #DDD;
  }
  .content{
    margin: 50px auto 0;
    width: 367px;
    .bar-wrapper{
      width: 100%;
      height: 57px;
      .left{
        display: inline-block;
        float: left;
        background: url('../../images/escrow-account/launch.jpg') no-repeat;
        height: 100%;
        width: 110px;
      }
      .mid{
        position: relative;
        top: 50%;
        display: inline-block;
        border-top: 1px solid #DDD;
        width: 130px;
        height: 0;
      }/*
      .right{
        display: inline-block;
        float: right;
        background: url('../../images/escrow-account/received.jpg') no-repeat;
        height: 100%;
        width: 82px;
      }*/
      .right{
        display: inline-block;
        float: right;
        background: url('../../images/escrow-account/received.png') no-repeat;
        height: 100%;
        width: 97px;
      }
    }
    .detail{
      padding: 30px 0 40px;
      width: 100%;
      font-size: 16px;
      color: #666;
      .row{
        display: block;
        width: 100%;
        .label{
          display: inline-block;
          width: 55%;
          text-align: right;
        }
        .amt{
          display: inline-block;
          width: 43%;
          text-align: left;
          .figure{
            font-size: 20px;
          }
        }
      }
    }
    .main-btn{
      width: 100px;
      height: 40px;
      background: rgb(253, 153, 39);
      @include border-radius(6px);
      color: #FFF;
      font-size: 20px;
      line-height: 40px;
      margin: 0 auto;
      cursor: pointer;
    }
    .main-btn:hover{
      background: rgb(254, 173, 81);
    }
  }
}
.ngdialog-close{
  display: block!important;
}








