.gift-wrapper{
	background: #edd7c2;
	padding-bottom: 32px;
	.banner{
		width: 100%;
		height: 450px;
		background: image-url('gold/banner.png') no-repeat center top;
		background-color: #e84942;
	}
	.step-wrapper{
		width: 100%;
		background: #faede2;
		.step{
			width: 1200px;
			height: 194px;
			background: image-url('gold/step.png');
			margin: 0 auto; 
		}
	}
	.mode{
		width: 1200px;
		margin: 32px auto 0;
		position: relative;
		a{
			width: 259px;
			height: 56px;
			position: absolute;
			background: #fef78d;
			font-size: 24px;
			color: #e23a1f;
			text-align: center;
			line-height: 56px;
			border-radius: 30px;
			top: 117px;
			right: 120px;
			&:hover{
				background: #f7ee62;
				text-decoration: none;
			}
		}
		&.mode1{
			height: 280px;
			background: image-url('gold/mode-1.png');
		}
		&.mode2{
			height: 300px;
			background: image-url('gold/mode-2.png');
			a{
				top: 133px;
			}
		}
		&.mode3{
			height: 500px;
			background: image-url('gold/mode-3.png');
		}
		&.mode4{
			height: 439px;
			background: image-url('gold/mode-4.png');
		}
		&.mode5{
			height: 286px;
			background: image-url('gold/mode-5.png');
		}
		&.mode6{
			height: 171px;
			background: image-url('gold/mode-6.png');
		}
		&.mode-tri{
			height: 300px;
			background: image-url('gold/mode-tri.png');
		}
		&.mode-rule{
			background: #faede2;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.botbg{
				width: 100%;
				height: 46px;
				background: image-url('gold/botbg.png') repeat-x 0 0;
			}
			.rule{
				width: 1128px;
				border: 1px solid #f2a097;
				margin: 54px auto 0;
				position: relative;
				.giftbg{
					position: absolute;
					width: 106px;
					height: 132px;
					background: image-url('gold/giftbg.png') no-repeat;
					left: 55px;
					top: 87px;
				}
				ul{
					padding: 30px 14px 33px 213px;
					line-height: 30px;
					color: #9b5424;
					font-size: 16px;
					p{
						color: #e84942;
						b{
							font-weight: bold;
						}
						a{
							color: #004eff;
							text-decoration: underline;
							background: none;
							font-size: 16px;
							position: static;
							line-height: normal;
						}
					}
					span{
						font-weight: bold;
					}
					strong{
						display: block;
						height: 10px;
					}
					li{
						position: relative;
						padding: 0 0 10px 22px;
						i{
							position: absolute;
							left: 0;
							top: 10px;
							width: 8px;
							height: 8px;
							border-radius: 10px;
							background: #9b5424;
						}
					}
				}
				.title{
					position: absolute;
					top: -17px;
					left: 32px;
					padding: 0 23px;
					background: #faede2;
					span{
						display: block;
						width: 105px;
						height: 33px;
						line-height: 33px;
						text-align: center;
						color: #fff;
						background: #e84942;
						font-size: 16px;

					}
				}
			}
		}
	}
}