$safetys-sprite-dimensions: true;
@import "safetys/*.png";
@include all-safetys-sprites();

.guarantee-wrapper{
	color: #666;
	.banner{
		width: 100%;
		height: 398px;
		background: #0090d2 image-url('safetysbanner.png') center top;
	}
	.mode-wrapper{
		width: 100%;
		background: #f2f2f2;
		overflow: hidden;
	}
	.mode{
		width: 1180px;
		margin: 0 auto;
		.title{
			border-bottom: 1px solid #ccc;
			text-align: center;
			padding-top: 20px;
			&.partner-t{
				border: none;
				width: 107px;
				font-size: 18px;
				color: #333;
				margin-bottom: -15px;
				background: #fff;
				margin-left: 38px;
				padding: 0;
				position: relative;
			}
			span{
				display: inline-block;
				padding: 0 44px;
				height: 70px;
				line-height: 70px;
				border-bottom: 5px solid #ccc;
				margin-bottom: -3px;
				vertical-align: bottom;
				font-size: 24px;
				color: #333;
			}
		}
		.safetys-list{
			margin: 50px auto 0;
		}
		.safetys-step{
			margin: 30px auto 0;
		}
		table{
			width: 1180px;
			margin: 15px auto 44px;
			td{
				text-align: center;
				font-size: 24px;
			}
			&.next{
				td{
					font-size: 18px;
					color: #333;
				}
			}
		}
		p{
			text-align: center;
			padding-top: 26px;
			line-height: 24px;
			font-size: 14px;
		}
		div.tip{
			text-align: center;
			font-size: 14px;
			color: #ff9600;
			span{
				margin-left: 15px;
				font-size: 18px;
			}
		}
		ul{
			overflow: hidden;
			padding: 42px 0 50px;
			li{
				float: left;
				width: 393px;
				i{
					float: left;
				}
				div{
					float: left;
					width: 295px;
					margin-left: 8px;
					span{
						font-size: 20px;
						display: block;
						margin-top: 5px;
					}
					p{
						font-size: 14px;
						line-height: 18px;
						text-align: left;
						padding-top: 6px;
					}
				}
			}
		}
		.steps{
			position: relative;
			height: 432px;
			i{
				position: absolute;
				right: 13px;
				top: 71px;
			}
			p{
				font-size: 18px;
				color: #333;
				text-align: left;
				padding-top: 30px;
			}
			.con{
				position: relative;
				padding: 18px 0 0 89px;
				i{
					position: absolute;
					left: 21px;
					top: 25px;
				}
				ul{
					padding: 0;
					li{
						float: none;
						width: auto;
						font-size: 14px;
						line-height: 24px;
						padding-bottom: 13px;
					}
				}
			}
		}
		.imgs{
			padding: 50px 0 80px 30px;
			li{
				width: auto;
				margin-right: 14px;
			}
		}
		.partners{
			// padding: 50px 0 44px 30px;
			border: 1px solid #666;
			padding: 32px 0 17px;
			overflow: hidden;
			clear: both;
			zoom: 1;
			.safetys-left{
				float: left;margin: 36px 13px 0 15px;
				cursor: pointer;
			}
			.imgs{
				width: 1099px;
				overflow: hidden;
				float: left;
				height: 90px;
				padding: 0;
				ul{
					width: 2080px !important;
					padding: 0;
					li{
						float: left;
						width: auto;
						margin: 0 8px 0 0 !important;
						width: 176px !important;
						img{
							width: 176px;
							border: none;
							display: block;
						}
					}
				}
			}
			.safetys-right{
				float: left;margin: 36px 0 0 10px;
				cursor: pointer;
			}
		}
	}
	.myintro-box{
		padding-top: 40px;
		width: 1180px;
		// padding: 0 29px 50px;
		margin: 0 auto;
		border-bottom: 1px dashed #d1d1d1;
		&.noborder{
			border: none;
		}
		.img-intro{
			height: 314px;
			background: #f5f6f8;
			i{
				float: left;
				margin: 24px 0 0 67px;
				&.bill-process{
					margin: 25px 0 0 139px;
				}	
			}
			p{
				float: left;
				width: 474px;
				line-height: 24px;
				font-size: 14px;
				color: #666;
				margin: 104px 0 0 77px;
				text-indent: 2em;
			}
		}
		.top-intro{
			overflow: hidden;
			.intro{
				width: 760px;
				float: left;
				color: #555;
				font-size: 14px;
				padding-left: 20px;
				min-height: 160px;
				.intro-title{
					font-size: 24px;
					color: #ff9600;
					padding-bottom: 26px;
				}
				p{
					line-height: 24px;
					padding-bottom: 16px;
					text-indent: 2em;
				}
			}
			i{
				float: left;
				&.bill-bank{
					margin: 11px 0 0 109px;
				}
				&.safetys-lou{
					margin: -9px 0 26px 60px;
				}
				&.bill-notiaojian{
					margin: 10px 0 0 96px;
				}
			}
		}
	}
	.guarantee{
		width: 1180px;
		margin: 67px auto 75px;
		position: relative;
		z-index: 2;
		.title{
			border-top: 1px solid #d1d1d1;
			text-align: center;
			vertical-align: top;
			span{
				margin-top: -20px;
				display: inline-block;
				vertical-align: top;
				&.text{
					font-size: 24px;
					color: #333;
					padding: 0 20px;
					background: #fff;
					&.mytext{
						background: #f2f2f2;
					}
					i{
						font-size: 14px;
						color: #666;
						display: block;
						margin-top: -2px;
					}
				}
			}
			margin-bottom: 40px;
		}
		.contract{
			text-align: center;
			margin-right: -50px;
			img{
				width: 258px;
				height: 336px;
				border: 1px solid #ccc;
				vertical-align: top;
				margin-right: 50px;
			}
		}
		table{
			width: 1120px;
			margin: 0 auto;
			text-align: center;
			td{
				text-align: center;
			}
			p{
				font-size: 18px;
				color: #666;
				padding-bottom: 20px;
			}
			img{
				width: 504px;
				height: 318px;
				border: 1px solid #d4d4d4;
				cursor: pointer;
				display: block;
			}
			div{
				background: #e4e4e4;
				border: 1px solid #d1d1d1;
				padding: 9px 10px;
				display: inline-block;
			}
		}
		.mylist{
			width: 1300px;
			overflow: hidden;
			// padding-bottom: 45px;
			.mod{
				width: 352px;
				margin-right: 60px;
				float: left;background: #fff;
				border: 1px solid #66beed;
				border-radius: 10px;
				text-align: center;
				.innertitle{
					font-size: 30px;
					height: 78px;
					line-height: 78px;
					color: #58b4e8;
				}
				.list{
					padding-top: 53px;
					p{
						width: 248px;
						height: 45px;
						text-align: center;
						line-height: 45px;
						margin: 0 auto 23px;
						font-size: 24px;
						color: #fff;
					}
				}
				&.yellow{
					border-color: #fddc99;
					.innertitle{
						color: #f6a84d;
					}
				}
				&.red{
					border-color: #fe6388;
					.innertitle{
						color: #fe668a;
					}
					.list{
						padding-top: 74px;
					}
				}
			}
		}
	}
	.safetysbottom{
		background: image-url('safetysbottom.png') center top;
		width: 100%;
		height: 221px;
		margin-top: 39px;
		.bot{
			width: 1180px;
			margin: 0 auto;
			.login-box{
				float: left;
				width: 440px;
				text-align: right;
				padding-top: 23px;
				color: #ff9600;
				span{
					font-size: 24px;
				}
				p{
					font-size: 14px;
				}
				a{
					display: inline-block;
					width: 363px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					background: #ff9600;
					color: #000;
					font-size: 24px;
					margin: 20px 0 15px;
					&:hover{
						background: #ffa82b;
						text-decoration: none;
					}
				}
				.phone{
					font-size: 18px;
					i{
						display: inline-block;
						vertical-align: bottom;
						margin: 0 14px 5px 0;
					}
					b{
						font-size: 30px;
					}
				}
			}
			.code{
				float: left;
				width: 208px;
				padding: 43px 33px 0 43px;
				text-align: center;
				font-size: 18px;
				color: #ccc;
				.safetys-code{
					margin: 0 auto 10px;
				}
			}
			.contact{
				float: left;
				padding-top: 16px;
				font-size: 14px;
				color: #d2cfca;
				span{
					font-size: 18px;
				}
				p{
					line-height: 22px;
					font-size: 14px;
					padding-top: 8px;
				}
			}
		}
	}
}