.send-body{
	.banner{
		width: 100%;
		height: 702px;
		background: #e11c14 url('../../../images/activity/send-bg.png') no-repeat center top;
	}
	.info-wrap{
		width: 100%;
		background: #f2e24a;
		position: relative;
		height: 596px;
		.get-btn{
			width: 526px;
			height: 88px;
			text-align: center;
			line-height: 88px;
			background: #e62721;
			border-radius: 10px;
			font-size: 38px;
			font-weight: bold;
			font-family: '宋体';
			position: absolute;
			left: 50%;
			margin-left: -263px;
			top: 471px;
			color: #fff;
			&:hover{
				text-decoration: none;
				background: #f1332d;
			}
		}
		.newhand-mod{
			width: 50%;
			position: absolute;
			background: #ffa200;
			left: 50%;
			top: 0;
			height: 596px;
			.title{
				width: 395px;
				height: 89px;
				text-align: center;
				position: relative;
				border-radius: 10px;
				background: #f2e24a;
				margin: 35px 0 0 102px;
				i{
					position: absolute;
					left: -60px;
					top: -11px;
					width: 102px;
					height: 102px;
					background: url('../../../images/activity/send-title.png') no-repeat -102px 0;
				}
				span{
					font-size: 24px;
					color: #6e0a03;line-height: 36px;
					font-weight: bold;
				}
				p{
					color: #e11c14;
					font-size: 48px;
					font-weight: bold;
					margin-top: -12px;
				}
			}
			.stitle{
				padding: 20px 0 0 60px;
				font-size: 38px;
				color: #e11c14;
				font-weight: bold;
				font-family: '宋体';
			}
			.info{
				font-weight: bold;
				color: #6e0a03;
				font-size: 29px;
				padding: 5px 0 0 92px;
				span{
					font-family: '宋体';
					margin-left: 20px;
					font-size: 76px;
					color: #eb2e1f;
					font-weight: bold;
					-webkit-text-stroke:2px #fff;text-stroke:2px #fff;
					&.date{
						font-size: 52px;
						-webkit-text-stroke:1px #fff;text-stroke:1px #fff;
						i{
							font-size: 26px;
						}
					}
				}
			}
		}
		.send-mod{
			width: 50%;
			position: absolute;
			right: 50%;
			top: 0;
			.box{
				&.box-title{
					height: 126px;
				}
			}
			.title{
				width: 370px;
				height: 78px;
				float: right;
				position: relative;
				padding-left: 50px;
				font-size: 50px;
				font-weight: bold;
				color: #6e0a03;
				background: #ffa200;
				margin-top: 32px;
				i{
					width: 102px;
					height: 102px;
					position: absolute;
					background: url('../../../images/activity/send-title.png') no-repeat 0 0;
					left: -68px;
					top: -8px;
				}
			}
			.stitle{
				font-size: 48px;
				color: #e11c14;
				font-weight: bold;
				font-family: '宋体';
				margin: -12px 54px 0 0;
				height: 97px;
				p{
					float: right;
					padding: 19px 9px 0 0; 
				}
				i{
					float: right;
					width: 108px;
					height: 97px;
					background: url('../../../images/activity/send-money.png') no-repeat 0 0;
				}
			}
			.mybox{
				overflow: hidden;
			}
			.money{
				float: right;
				font-size: 40px;
				color: #e11c14;
				font-family: '宋体';
				margin-top: -45px;
				b{
					font-size: 148px;
					background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 162, 0, 1)), to(rgba(230, 39, 33, 1)));
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					-webkit-text-stroke:3px #fff;text-stroke:3px #fff;
					font-weight: bold;
					float: left;
				}
				span{
					float: right;margin: 93px 60px 0 5px;
				}
			}
			.gold{
				float: right;
				font-size: 58px;
				padding-right: 164px;
				color: #e11c14;
				margin-top: -50px;
			}
		}
	}
	.detail-wrap{
		width: 100%;
		background: #e11c14;
		.detail{
			width: 1060px;
			margin: 0 auto;
			.detail-box{
				padding: 90px 0 66px 25px;
				line-height: 28px;
				color: #fff;
				font-size: 14px;
				p{
					text-indent: 2em;
				}
			}
		}
	}
	.code-wrapper{
		width: 100%;
		height: 234px;
		background: #b10801;
		.code{
			width: 1060px;
			margin: 0 auto;
			.appcode{
				float: left;
				margin: 30px 0 0 19px;
			}
			.wechatcode{
				float: left;
				// margin: 30px 0 0 180px;
				margin: 30px 0 0 30px;
				.code-box{
					padding-left: 10px;
				}
			}
			.tel{
				float: left;
				margin: 30px 0 0 180px;
				.number{
					padding-top: 23px;
					i{
						float: left;
						width: 56px;
						height: 56px;
						background: url('../../../images/activity/send-icons.png') no-repeat 0 -33px;
					}
					div{
						float: left;
						color: #ff6c00;
						padding: 5px 0 0 9px;
						span{
							font-size: 30px;
							font-weight: bold;
						}
						p{
							font-size: 12px;
							margin-top: -3px;
						}
					}
				}
			}
			.title{
				font-size: 25px;
				color: #fff;
				font-weight: bold;
				padding-bottom: 10px;
			}
			.code-box{
				.app-code-icon{
					float: left;
				}
				.app-code-word{
					float: left;
					padding: 11px 0 0 12px;
					p{
						width: 110px;
						height: 33px;
						border: 3px solid #ff6c00;
						border-radius: 5px;
						margin-bottom: 7px;
						font-size: 16px;
						color: #ff6c00;
						font-weight: bold;
						line-height: 33px;
						i{
							float: left;
							width: 30px;
							height: 33px;
							margin: 0 5px 0 3px;
							background: image-url('activity/send-icons.png');
							&.android{
								background-position: -30px 0;
							}
						}
					}
				}
			}
		}
	}
}