$zhongqiu-sprite-dimensions: true;
@import "zhongqiu/*.png";
@include all-zhongqiu-sprites(); 
.zhongQiu-warpper{
	.banner{
		width:100%;
		height:912px;
		background:image-url('zhongqiuBanner.png') center top no-repeat;
		// img{
		// 	width:100%;
		// 	display:block;
		// }
	}
	.rule-box{
		width:100%;
		height:364px;
		background:image-url('zhongqiuOnepic.png') center top no-repeat;
		position:relative;
    	.rule{
    		width:1200px;
    		height:364px;
    		max-width:1200px;
    		position:absolute;
    		top:0;
    		left:0;right:0;
    		margin:0 auto;
    		font-size:24px;
    		color:#baefff;
    		.title{
    			width:376px;height:65px;
    			margin:0 auto;
    			margin-top:20px;
    			span{
    				text-align:center;
    				color:#d1fefe;
    				display:block;
    				font-size:30px;
    				line-height:65px;
    			}
    		}
    		ul{
				position:absolute;
				left:80px;
				padding-top:28px;
    			li{
					.zhongqiu-jiantou{
						display:inline-block;
					}
					span{
						color:#ffea00;
						font-weight:bold;
					}
				}
    		}
    		.btn{
    			display:block;
    			margin:0 auto;
    			position:absolute;
    			bottom:40px;
    			left:0;right:0;
	    		margin:auto;
	    		cursor:pointer;
				span{
					text-align:center;
    				color:#e23a1f;
    				display:block;
    				font-size:24px;
    				line-height:78px;
				}
    		}
    	}
	}
	.common-wrapper{
		padding-bottom: 70px;
		overflow: hidden;
		background:image-url('zhongqiuTwopic.png') center top no-repeat;
		.mode{
			width: 1198px;
			margin: 65px auto 0;
			border: 1px solid #004c86;
			position: relative;
			.title{
				width: 162px;
				height: 33px;
				text-align: center;
				line-height: 33px;
				background: #004c86;
				font-size: 18px;
				color: #f0f0f0;
				float: left;
				margin: -17px 0 0 30px;
			}
			.love-icon{
				position: absolute;
				left: 53px;
				top: 140px;
			}
			.content{
				padding: 49px 0 10px 120px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				.iconmode{
					width: 529px;
					float: left;
					height: 137px;
					position: relative;
					i{
						position: absolute;
						left: 0;
						top: 0;
					}
					div{
						padding: 14px 0 0 112px;
						font-size: 14px;
						color: #c5fff7;
						span{
							font-size: 26px;
							color: #c5fff7;
						}
					}
				}
			}
			ul{
				padding: 40px 0 40px 33px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				li{
					float: left;
					margin-right: 17px;
					width: 271px;
					text-align: center;
					a:hover{
						color: #c5fff7;
					}
					p{
						font-size: 14px;
						color: #c5fff7;
						line-height: 24px;
						padding-top: 16px;
					}
				}
			}
			.partners{
				padding: 50px 0 44px 30px;
				overflow: hidden;
				clear: both;
				zoom: 1;
				.zhongqiu-left{
					float: left;
					margin: 30px 10px 0 0;
					cursor: pointer;
				}
				.imgs{
					width: 1099px;
					overflow: hidden;
					float: left;
					height: 78px;
					ul{
						width: 2080px;
						padding: 0;
						li{
							float: left;
							width: auto;
							margin: 0 !important;
							img{
								width: 153px;
							}
						}
					}
				}
				.zhongqiu-right{
					float: left;
					margin: 30px 0 0 10px;
					cursor: pointer;
				}
			}
		}
	}
	.code-wrapper{
		width: 100%;
		height: 200px;
		background: #00213a;
		.code{
			width: 1200px;
			margin: 0 auto;
			.appcode{
				float: left;
				margin: 41px 0 0 44px;
			}
			.wechatcode{
				float: left;
				margin: 41px 0 0 98px;
			}
			.tel{
				float: left;
				margin: 76px 0 0 353px;
				.number{
					i{
						float: left;
					}
					div{
						float: left;
						color: #fff;
						padding-left: 13px;
						margin-top: -5px;
						span{
							font-size: 32px;
						}
						p{
							font-size: 12px;
							margin-top: -3px;
						}
					}
				}
			}
			.title{
				font-size: 16px;
				color: #fff;
				padding-top: 6px;
			    width: 106px;
			    text-align: center;
			}
			.code-box{
				overflow: hidden;
				.app-code-icon{
					float: left;
					img{
						display: block;
						border: 1px solid #008c40;
					}
				}
				.app-code-word{
					float: left;
					padding: 29px 0 0 18px;
					p{
						
						i{
							float: left;
							margin: 3px 5px 0 20px;
						}
					}
				}
			}
		}
	}
}