.account-myfriend-wrap {
    .myFriendTab {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        font-size: 14px;
        .level {
            width: 23px;
            height: 22px;
            background-image: url("../../images/inviteFriend/level2.png");
            background-repeat: no-repeat;
            color: #fff;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
            display: inline-block;
        }
        p {
            cursor: pointer;
            padding: 0 30px;
            float: left;
        }
        .fontColor {
            color: #ff7200;
        }
        .active {
            color: #fe7634;
            border-bottom: 2px solid #fe7634;
        }
    }
    .content-list {
        font-size: 14px;
        color: #333;
        .contentMode {
            padding: 35px 25px;
            .fanxianTitle{
                font-size:18px;
                // color:#333;
                color:red;
                margin-bottom:30px;
            }
            .todayCount {
                padding: 0px;
                position: relative;
                .explain {
                    color: #cccccc;
                    font-size: 12px;
                    font-family: "宋体";
                }
                .icon {
                    width: 17px;
                    height: 17px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-top: 5px;
                    margin-left: 15px;
                    margin-right: 5px;
                    cursor: pointer;
                    vertical-align: bottom;
                }
                .question {
                    background-image: url('../../images/inviteFriend/question.png');
                }
                .answer {
                    background-image: url('../../images/inviteFriend/answer.png')
                }
            }
            .table-title {
                height: 70px;

                margin: 0 -39px 0 -59px;
                div {
                    float: left;
                    font-size: 24px; // color: #333;
                    color: #333;
                    ;
                    line-height: 70px;
                    padding-left: 40px;
                } // border-left: 1px solid #dedede;
                border-bottom: 1px solid #e4e4e4;
                span {
                    font-size: 14px;
                    color: #999;
                    font-weight: normal;
                    margin-left: 10px;
                    b {
                        color: #fe905b;
                    }
                }
                .icon {
                    width: 17px;
                    height: 17px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-top: 5px;
                    margin-left: 15px;
                    margin-right: 5px;
                    cursor: pointer;
                    vertical-align: bottom;
                }
                .question {
                    background-image: url('../../images/inviteFriend/question.png');
                }
                p {
                    float: right;
                    padding: 19px 70px 0 0;
                    font-size: 14px;
                    color: #333;
                    span {
                        font-size: 24px;
                        color: #ff7200;
                        margin: 0 3px;
                    }
                    i {
                        float: left;
                        margin: 11px 7px 0 0;
                    }
                }
            }
            .leveIcon {
                background-image: url('../../images/inviteFriend/level.png');
                width: 34px;
                height: 32px;
                background-repeat: no-repeat;
                margin-left: 20px;
                margin-top: 20px;
                color: #fff;
                text-align: center;
            }
            .yongjinBox {
                .input-box {
                    .startEnd {
                        color: #666666;
                        font-size: 14px;
                        height: 30px;
                        line-height: 30px;
                        float: left;
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
                .search-btn {
                    width: 74px;
                    height: 30px;
                    text-align: center;
                    line-height: 28px;
                    border: 1px solid #ec6726;
                    background: #fe7634;
                    font-size: 14px;
                    color: #fff;
                    margin-left: 5px;
                    cursor: pointer;
                }
                .commissionRecord {
                    .recordTitle {
                        border-top: 1px solid #e4e4e4;
                        clear: both;
                        height: 35px;
                        background: red;
                        padding-left: 35px;
                        padding-right: 35px;
                        line-height: 35px;
                        background: #f9f9f9;
                        .total {
                            float: right;
                        }
                    }
                    .tableCount {
                        margin-top: 18px;
                        .tablelist {
                            padding-top: 20px;
                            width: 100%;
                            th {
                                height: 36px;
                                text-align: center;
                                font-size: 14px;
                                color: #333333;
                                padding: 0 24px;
                            }
                            td {
                                padding: 16px 24px;
                                text-align: center;
                                font-size: 14px;
                                color: #666666;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
            .fontColor {
                color: #ff7200;
            }
            .count {
                font-size: 24px;
                font-weight: 700;
            }
            .received {
                font-size: 18px;
            }
            .commissionRate {
                font-size: 12px;
            }
            .promote {
                color: #00a8ff;
            }
            .countCent {
                overflow: hidden;
                float: left;
                padding-bottom: 12px;
                margin-left: -30px;
                .showList {
                    padding-top: 30px;
                    height: 60px;
                    li {
                        float: left;
                        padding: 0 30px;
                        border-right: 1px solid #e4e4e4;
                        text-align: center;
                        p {
                            color: #999999;
                        }
                        .gonglue {
                            background-image: url('../../images/inviteFriend/strategy.png');
                            width: 26px;
                            height: 24px;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .benjin {
                //margin-top:50px;
                clear: both;
            }
            .taskMode {
                .taskTitle {
                    font-size: 18px;
                    color: #333333;
                    line-height: 40px;
                    .titleExplain {
                        font-size: 12px;
                        color: #999999;
                        font-family: '宋体';
                        padding-left: 20px;
                    }
                }
                .taskexplain {
                    background: #f9f9f9;
                    color: #ff9e50;
                    padding: 20px;
                    margin-top: 25px;
                }
            }
            .table-wrap {
                .table-rate {
                    font-size: 14px;
                    border-left: 1px solid #dedede;
                    border-right: 1px solid #dedede;
                    th {
                        height: 36px;
                        text-align: center;
                        background: #fff7f1;
                        color: #ff9e50;
                        padding: 0 36px;
                        border: 1px solid #fff7f1;
                    }
                    td {
                        border-bottom: 1px solid #dedede;
                        padding: 16px 50px;
                        text-align: center;
                        font-size: 14px;
                        color: #999999;
                        line-height: 24px;
                        .tdIcon {
                            margin: 0 auto;
                            background: url('../../images/inviteFriend/level2.png');
                            width: 23px;
                            height: 22px;
                            color: #fff;
                            display: block;
                            text-align: center;
                            line-height: 22px;
                        }
                        .tdicon {
                            margin: 0 auto;
                            background: url('../../images/inviteFriend/bei.png');
                            width: 23px;
                            height: 22px;
                            color: #fff;
                            display: block;
                            text-align: center;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    .tips {
        background: #fff;
        border: 1px solid #e4e4e4;
        color: #999999;
        font-size: 12px;
        width: 280px;
        padding: 20px 20px 20px 40px;
        li {
            list-style: square;
            margin-bottom: 10px;
        }
    }
    .jiantop {
        background: url('../../imagess/home/jian.png');
        width: 18px;
        height: 8px;
        position: absolute;
        top: -8px;
        left: 50%;
    }
}

.myFriendMask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; // z-index: 4;
    //background-color: rgba(0, 0, 0, 0.6);
    //background:#000\9;
    //filter:alpha(opacity=60);
    font-family: 'Microsoft yaHei';
    font-size: 18px;
    .tan {
        width: 500px;
        height: 320px;
        background-color: #FFF;
        position: absolute;
        animation: openMove 1s forwards;
        top: 50%;
        left: 30%;
        margin-top: -250px;
        margin-left: -160px;
        padding-left: 30px;
        padding-right: 30px;
        .tanTop {
            width: 100%;
            height: 70px;
            line-height: 60px; // background-color: #ff7200;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            text-align: left;
            color: #333;
            font-size: 18px;
            .close {
                position: absolute;
                display: block;
                right: 10px;
                top: -8px;
                font-size: 14px;
                color: #ccc;
            }
        }
        .table-titler {
            margin-bottom: 50px;
            p {
                float: left;

                color: #333;
                font-size: 14px;
                margin-right: 70px;
                span {
                    font-size: 24px;
                    color: #ff7200;
                    margin: 0 3px;
                }
                i {
                    margin: 0px 7px 0 0;
                }
            }
        }
        .table-wraper {
            // width: 863px;
            margin-top: 18px; // border-top: 1px solid #5b8dfe;
            .table-list {
                border: 1px solid #dedede; // border-top: none;
                width: 100%;
                th {
                    height: 36px;
                    text-align: center;
                    background: #f9f9f9;
                    font-size: 14px;
                    color: #9399a3;
                    padding: 0 24px;
                    &:nth-child(3) {
                        border-right: 1px solid #dedede;
                    }
                }
                td {
                    // border-bottom: 1px solid #dedede;
                    padding: 5px 24px;
                    text-align: center;
                    font-size: 14px;
                    color: #555;
                    line-height: 24px;
                }
                .left {
                    text-align: left;
                }
                tr {
                    cursor: default; // &:hover{
                    //  background: #fbfdfe;
                    // }
                    &.actived {
                        background: #fbfdfe;
                    }
                }
            }
            .page-wrap {
                padding-top: 20px;
            }
        }
        .closeTan {
            animation: closeMove 1s forwards;
        }
    }
}

@keyframes openMove {
    0% {
        opacity: 0;
        transform: translateZ(0px);
    }
    100% {
        opacity: 1;
        transform: translateZ(500px);
    }
}

@keyframes closeMove {
    0% {
        opacity: 1;
        transform: translateZ(500px);
    }
    100% {
        opacity: 0;
        transform: translateZ(0px);
    }
}
