<!DOCTYPE html>
<html ng-app="someApp" id='ng-app' xmlns:ng="http://angularjs.org"  lang="zh_CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=8" />
    <meta content="always" name="referrer"><meta name="theme-color" content="#2932e1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title >剁手节，提“钱”补血</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheets/swiper.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/newapp.css">
    <script type="text/javascript" src="../../vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="../../vendor/swiper.min.js"></script>
    <!-- <script type="text/javascript" src="../../vendor/qtip.js"></script> -->
    <script type="text/javascript" src="../../js/activity/olympic.js"></script>
</head><!--15a57c-->
<body class="summerwin-body">
<div class="olympic-app-wrapper appbody" ng-controller="summerCtrl"><!--  ng-init="flag=true;activeList=true" -->
	<div class="banner"><img src="../../images/olympicapp/banner.png"></div>
	<div class="greenmode-box olympic-box">
		<div class="olympic-title"><img src="../../images/olympicapp/title.png"></div>
		<p class="title-rule">活动期间内投资≥90天的产品，累计投资总额<br>排名前5的用户可获得对应奖品</p>
		<div class="mode-two mode">
			<div class="titletw">
				<p>　</p>
				<p>该活动以及活动礼品与设备生产商Apple Inc.公司无关</p>
			</div>
			<table class="gift-table">
				<tr>
					<td width="27%"><div class="air"></div></td>
					<td width="20%"><span>第1名</span></td>
					<td width="53%">iPhone7plus（128G）</td>
				</tr>
				<tr>
					<td><div class="galaxy"></div></td>
					<td><span>第2名</span></td>
					<td>iPhone7 (32G)</td>
				</tr>
				<tr>
					<td><div class="ipad"></div></td>
					<td><span>第3名</span></td>
					<td>iPad mini 4（32G)</td>
				</tr>
				<tr>
					<td><div class="watch"></div></td>
					<td><span>第4名</span></td>
					<td>美旅万向轮撞色旅行箱<br>29寸</td>
				</tr>
				<tr>
					<td><div class="juicer"></div></td>
					<td><span>第5名</span></td>
					<td>京东E卡1000元</td>
				</tr>
			</table>
			<div class="join">
				<a href="http://app.duorongcf.com/bankBillList" class="btn" ng-if="wap">立即补血</a>
				<!-- <a href="http://192.168.1.248/bankBillList" class="btn" ng-if="wap">立即补血</a> -->
				<a href="jump://page=2?" class="btn" ng-if="!wap">立即补血</a>
			</div>
			<p>*图片仅供参考</p>
		</div>
		<div class="olympic-title"><img src="../../images/olympicapp/titleF.png"></div>
		<p class="title-rule">活动期间内投资≥90天的产品，累计投资总额<br>达到指定的区间即可获得对应的现金奖励</p>
		<div class="mode-two mode">
			<div class="titleONE"></div>
			<div class="rank-box prize">
				<div class="con">
					<table class="rank-table">
						<tr>
							<th width="50%">累计投资总额≥90天产品</td>
							<!-- <th width="25%">奖品份数</td> -->
							<th width="25%">现金奖励</td>
						</tr>
					</table>
					<div class="show-list" style="max-height: none">
						<table class="rank-table my-list">
							<tr>
								<td width="50%">≥100万以上（90天）</td>
								<td width="25%">2500元</td>
							</tr>
							<tr>
								<td width="50%">≥90万以上（90天）</td>
								<td width="25%">2250元</td>
							</tr>
							<tr>
								<td width="50%">≥80万以上（90天）</td>
								<td width="25%">2000元</td>
							</tr>
							<tr>
								<td width="50%">≥70万以上（90天）</td>
								<td width="25%">1750元</td>
							</tr>
							<tr>
								<td width="50%">≥60万以上（90天）</td>
								<td width="25%">1500元</td>
							</tr>
							<tr>
								<td width="50%">≥50万以上（90天）</td>
								<td width="25%">1250元</td>
							</tr>
							<tr>
								<td width="50%">≥40万以上（90天）</td>
								<td width="25%">1000元</td>
							</tr>
							<tr>
								<td width="50%">≥30万以上（90天）</td>
								<td width="25%">750元</td>
							</tr>
							<tr>
								<td width="50%">≥20万以上（90天）</td>
								<td width="25%">500元</td>
							</tr>
							<tr>
								<td width="50%">≥10万以上（90天）</td>
								<td width="25%">248元</td>
							</tr>
							<tr>
								<td width="50%">≥6万以上（90天）</td>
								<td width="25%">150元</td>
							</tr>
							<tr>
								<td width="50%">≥4万以上（90天）</td>
								<td width="25%">100元</td>
							</tr>
							<tr>
								<td width="50%">≥2万以上（90天）</td>
								<td width="25%">50元</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="join">
				<a href="http://app.duorongcf.com/bankBillList" class="btn" ng-if="wap">立即补血</a>
				<!-- <a href="http://192.168.1.248/bankBillList" class="btn" ng-if="wap">立即补血</a> -->
				<a href="jump://page=2?" class="btn" ng-if="!wap">立即补血</a>
			</div>
			<a class="CKGZ" ng-click="onClick('查看活动规则')">活动规则></a>
		</div>
	</div>

	<div><img src="../../images/olympicapp/titlemoddle.png" alt=""></div>

	<!-- 最新排行榜 -->
	<div class="redmode-box PHB">
		<div class="mode-four mode">
			<div class="titlefour"></div>
			<div class="rank-box">
				<div class="con">
					<table class="rank-table">
						<tr>
							<th width="25%">名次</td>
							<th width="40%">手机号码</td>
							<th width="35%">投资金额</td>
						</tr>
					</table>
					<div class="show-list show-list2 ">
						<table class="rank-table my-list prizList">
						<!-- ng-show="phList.investList.length > 0" -->
							<tr ng-repeat="item in phList.investList" style="background: none">
								<td width="25%">第{{$index+1}}名</td>
								<!-- <td width="40%">{{item.mobilePhone | limitTo:3}}****{{item.mobilePhone | limitTo:-4}}</td> -->
								<td width="40%">{{item.mobilePhone}}</td>
								<td width="35%">{{item.total}}元</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<strong ng-show="isLogin == false">登录后可查看您的投资金额</strong>
			<strong ng-show="isLogin == true">
				<p>截止{{phList.readTime | date: 'yyyy-MM-dd HH:mm:ss'}}<br>您累计投资金额<span>{{phList.memberInvest | currency:'':2}}</span>元</p>
			</strong>
			<a href="" ng-show="isLogin == true" ng-click="refresh()" class="btn">刷新</a>
			<!-- <a href="http://192.168.1.248/dl" ng-show="isLogin == false&&wap" class="btn">登录</a> -->
			<a href="http://app.duorongcf.com/dl" ng-show="isLogin == false&&wap" class="btn">登录</a>
			<a href="jump://page=4?" ng-show="isLogin == false&&!wap" class="btn">登录</a>
		</div>
		<div class="linebg"><img src="../../images/summer-app/linebg.png"></div>
	</div>

	<!-- 为什么选择多融 -->
	<div class="redmode-box">
		<div class="mode-six mode">
			<div class="titlesix"></div>
			<div class="content">
				<div class="iconmode">
					<i class="gzkgo"></i>
					<div>
						<span class="olySpan">国企控股</span>
						<p>大型国企中商沪深控股</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="guaranteeo"></i>
					<div>
						<span class="olySpan">资金安全保障</span> 
						<p>历史到期产品100%本息兑付<br>安全可靠</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="pjcdo"></i>
					<div>
						<span class="olySpan">票据100%承兑</span>
						<p>所有票据来源于银行与大型国企<br>100%无条件承兑</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="lszco"></i>
					<div>
						<span class="olySpan">专业律所全程支持</span>
						<p>专业律所全程保驾护航</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 尾部 -->
	<div class="code-wrapper oly">
		<div class="code">
			<div class="tel">
				<table class="number">
					<tr>
						<td>
							<i class="boat-phone-icon"></i>
							<div>
								<span>4006-908-896</span>
								<p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
							</div>
						</td>
					</tr>
				</table>
					<p class="ZRDB">　</p>
			</div>
		</div>
	</div>

	<!-- 渠道用户-->
	<div class="mask"  ng-show="phList.isJoin == false"></div>
	<div class="vipbox" ng-show="phList.isJoin == false">
		<div class="JQLJ"></div>
		<p class="title">亲，您属于特殊渠道用户<br>不能参加此次活动，敬请谅解！</p>
		<a ng-if="wap" href="http://app.duorongcf.com/home" class="return"><i></i></a>
		<!-- <a ng-if="wap" href="http://192.168.1.248/home" class="return"><i></i></a> -->
		<a ng-if="!wap" href="jump://page=1?" class="return"><i></i></a>
	</div>
	<!-- 活动规则 -->
	<div class="mask" ng-if="isShowGZ" ng-click="onClick('关闭活动规则')"></div>
	<div class="rules-bg" ng-if="isShowGZ">
		<div class="model-content splice-rule" >
			<div class="titleRule"></div>
			<ul>
				<li><span></span>活动时间：2016年11月5日-2016年11月12日；</li>
				<li><span></span>活动期间内用户投资≥90天产品，累计投资总额排名前5的用户可获得对应奖品。如遇多名用户累计投资总额相同时，则以最后一笔投资时间为准，先投者排前；</li>
				<li><span></span>冲榜赢壕礼奖励与投资送现金奖励可同时获得；</li>
				<li><span></span>投资送现金奖励将于活动结束后3个工作日内直接发放至个人账户，登录后可在“我的账户—我的资产”中查看；</li>
				<li><span></span>关于实物奖励：活动结束后两个工作日内公布获奖名单，客服在公布后的5个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品，若5个工作日内未能与用户取得联系，则视为该用户自动放弃本次获奖奖品；</li>
				<li><span></span>奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
				<li><span></span>如有疑问，欢迎咨询客服热线4006-908-896；</li>
				<li><span class="dian"></span>本次活动部分渠道不参加，请谅解，谢谢！</li>
				<li><span class="dian"></span>本次活动最终解释权归多融财富所有。</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>