<div class="CP167-warpper cp66-wrapper" ng-controller="zhuceCtrl">
  <!-- 导航条 -->
  <div class="header-wrapper cp66-header">
    <div class="header-wrap">
      <div class="logo-wrap">
        <img src="/main/images/logo.png" ng-click="$state.go('main.home');">
        <span></span>
        <a target="_blank" style="display: block;float: left;cursor: default;"><img src="../../main/images/logoo.jpg" alt=""></a>
      </div>
      <div class="nav-box" style="padding-top: 23px">
        <div>
          <ul>
            <li><img src="/main/images/cp66/rightLogo.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- banner 注册框 -->
  <div class="quick-register-wrap">
    <div class="quick-register-wrapper CP167-wrapper">
      <form class="login_form" ng-model="login" name="loginform">
        <input style="display:none">
        <input type="password" style="display:none">
        <div class="quick-register-box" style="width: 1200px; margin: 0 auto; position: relative;">
          <!-- quick-register-mod -->
          <div class="quick-register-mod cp167-register-mode" style="right: 0; top:10px;">
            <div class="quick-register-box" style="padding:20px 0;border-top:0">
              <!-- 注册登录名 -->
              <div class="input-wrap">
                <div class="input-box">
                  <div class="input-mod">
                    <input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码" ng-blur="blurID('focusMobilephone',loginform)" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text" ng-model="login.mobilePhone" name="mobilePhone" required minlength="11" maxlength="11" id="mobilePhone" />
                    <span class="error" ng-show="loginform.mobilePhone.$valid">{{loginform.mobilePhone | zhuCePhoneError:serverErrorCode}}</span>
                  </div>
                </div>
              </div>
              <!-- 图文验证 -->
              <div class="input-wrap">
                <div class="input-box">
                  <div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
                  <div class="input-mod">
                    <input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login.picCode" name="picCode"  required autocomplete="off" />
                  </div>
                  <span class="error" ng-show="loginform.picCode.$valid"><font color="red">{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
                </div>
              </div>
              <!-- 短信验证 -->
              <div class="input-wrap">
                <div class="input-box">
                  <a href="" ng-click="clickInput('phonecodeMSG',$event,null,loginform,0)" class="get-code">{{nowTimer}}获取验证码</a>
                  <!--  nouse-btn -->
                  <div class="input-mod">
                    <input ng-disabled="!loginform.mobilePhone.$dirty || !loginform.picCode.$dirty || loginform.mobilePhone.$valid || loginform.picCode.$valid" placeholder="请输入短信验证码" type="text" ng-model="login.smsCode" name="smsCode" class="text small-text" maxlength="4" required/>
                  </div>
                  <span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
                </div>
              </div>
              <!-- 密码 -->
              <div class="input-wrap">
                <div class="input-box passwd-box">
                  <div class="input-mod">
                    <input autocomplete="off" ng-show="passwordText" placeholder="请设置密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text" name="passWord" required/>
                    <input autocomplete="off" ng-hide="passwordText" placeholder="请设置密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord" ng-model="login.passWord" class="text" name="passWord" required/>
                  </div>
                  <span class="error" ng-show="loginform.passWord.$valid"><font color="red">{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
                </div>
              </div>
              <!--  邀请码 -->
              <div class="input-wrap">
           <!--      <div class="input-box recommend-box" style="padding-bottom: 20px;"> -->
                <div class="input-box recommend-box" style="padding-bottom: 10px;">
                  <div class="show-mod" ng-click="onClickReferee()">
                    <a href="" style='color:#ff9600;'>推荐人（选填）<i ng-class="{true: 'loginUP', false: 'loginDown'}[isShowReferee]"></i></a>
                  </div>
                  <div class="input-mod">
                    <input ng-value='login.recommPhone' placeholder="请输入推荐人手机号码/推荐码"  ng-show="isShowReferee"  type="text" class="text" ng-model="login.recommPhone" name="recommPhone" autocomplete="off" maxlength="11"/>
                  </div>
                  <i ng-show="loginform.recommPhone.$valid && isShowReferee" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.recommPhone.$valid]||{false: '', true: 'ng-hide'}[isZhuCe]"></i>
                  <span class="error" ng-show="loginform.recommPhone.$valid && isShowReferee"><font color="red">{{loginform.recommPhone | zhuCeRefereeError:serverErrorCode}}</font></span>
                </div>
              </div>
             <!--  协议文字 -->
              <div class="input-wrap">
                <div class="input-box">
                  <div style="padding:0px 20px;color: #fff;" class="agree">
                    <label for="agreement" style="float: left;    margin-top: 3px; ">
                      <input type="checkbox" ng-model="login.checkbox" ng-true-value="true" name="checkbox" id="agreement" class="check-box ng-pristine ng-untouched ng-valid" checked="">
                    </label>
                    我已阅读并同意遵守
                    <a href="/zc" target="_blank" class="server-agreement">《用户协议》</a>
                  </div>
                </div>
              </div>
              <div class="input-wrap">
                <div class="input-box">
                  <!-- 登录/注册 按钮 -->
                  <div class="sub-box" ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
                    <input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
                  </div>
                  <div class="sub-box" ng-if="loginform.$invalid">
                    <input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
                  </div>
                  <div class="dl">
                    <span>已有账号,</span>
                    <a href="/dl" target="_blank">立即登录</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 新人专享四重礼 -->
  <div class="newRegisterBox">
    <div class="title">
      <h2>多融财富--国资委下属事业单位控股，您的安心之选</h2>
      <p>新人专享四重礼</p>
    </div>
    <div class="fourGift">
      <ul>
        <li class="newCash">
          <b style="left: 74px;top: 22px;">
            <div>活期理财</div>
          </b>
          <i style="top: 54px;left: 32px;">历史年化收益率10%</i>
          <span style="left: 32px">新手专享，首周收益翻倍</span>
        </li>
        <li class="Doubleticket">
          <b style="left:53px;top:35px;">2%加息券</b>
          <span>专享加息，福利升级</span>
        </li>
        <li class="interestTicket">
          <b style="left:53px;top:42px;font-size: 22px;line-height: 24px;">1588元红包</b>
          <span>组合红包，立即到账</span>
        </li>
        <li class="service">
          <b>VIP客服</b>
          <span>私人定制，贴心服务</span>
        </li>
      </ul>
    </div>
    <div class="fourTip">
      <ul>
        <li>
          <div class="person"></div>
          <div class="info">
            <i>免费注册</i>
            <span>30秒快速注册</span>
          </div>
        </li>
        <li>
          <div class="line"></div>
        </li>
        <li>
          <div class="safety"></div>
          <div class="info">
            <i>安全认证</i>
            <span>实名身份认证</span>
          </div>
        </li>
        <li>
          <div class="line"></div>
        </li>
        <li>
          <div class="invest"></div>
          <div class="info">
            <i>充值投资</i>
            <span>在线支付，同卡进出</span>
          </div>
        </li>
        <li>
          <div class="line"></div>
        </li>
        <li>
          <div class="earnings"></div>
          <div class="info">
            <i>新手活期体验</i>
            <span>历史年化收益率10%</span>
          </div>
        </li>
      </ul>
    </div>
    <a href="" class="ruleBtn" ng-click="onClick('活动规则')">查看活动规则></a>
  </div>
  <!-- 多种理财展示 -->
  <div class="investBox">
    <h2 style="padding-top: 72px;padding-bottom: 58px;">精选优质票据资产 满足多样理财需求</h2>
<!-- 中间盒子 -->
    <style>
      .num{margin-bottom: 10px;}
    </style>
    <!-- cd-256 删除 -->
    <!-- <div class="centerTitle" style="margin: 0 auto 15px;height:150px;background: none;background-color: #fff">
      <div class="ltBox" style="padding-top: 28px;">
        <div class="thir">
          <div class="num" style="font-size: 36px;color: #000;line-height: 46px;">新手宝</div>
          <div class="text colText" style="margin-left:0px;border-radius: 20px;padding: 0 11px;">仅限新手</div>
        </div>
        <div class="fir" style="margin-left: 100px;">
          <div class="num">10<i>%</i></div>
          <div class="text">预期年化收益</div>
          <div class="text">历史年化收益率</div>
        </div>
        <div class="fou" style="margin-left: 100px;margin-right: 100px;">
          <div class="num">100元</div>
          <div class="text blaText">起投金额</div>
        </div>
        <div class="fou" style="margin-left: 15px;">
            <div class="num">随时可取</div>
            <div class="text blaText">投资期限</div>
        </div>
      </div>
      <div class="rtBox" style="height: 140px;padding: 51px 0 60px 36px;">
        <a href="" class="get" ng-click="onClick('新人专享注册')">立即投资</a>
      </div>
    </div> -->
    <div class="centerTitle" style="margin: 0 auto 58px;height:150px;background: none;background-color: #fff">
      <div class="ltBox" style="padding-top: 28px;">
        <div class="thir">
          <div class="num" style="font-size: 36px;color: #000;line-height: 46px;">新手月标</div>
          <div class="text colText" style="margin-left:0px;border-radius: 20px;padding: 0 11px;">仅限新手</div>
        </div>
        <div class="fir" style="margin-left: 63px;">
          <div class="num">12<i>%</i></div>
          <div class="text">历史年化收益率</div>
        </div>
        <div class="fou" style="margin-left: 100px;margin-right: 100px;">
          <div class="num">100元</div>
          <div class="text blaText">起投金额</div>
        </div>
        <div class="fou" style="margin-left: 15px;">
            <div class="num">28天起</div>
            <div class="text blaText">投资期限</div>
        </div>
      </div>
      <div class="rtBox" style="height: 140px;padding: 51px 0 60px 36px;">
        <a href="" class="get" ng-click="onClick('新人专享注册')">立即投资</a>
      </div>
    </div>
    <!-- 理财盒子 -->
    <div class="listBox">
      <ul>
        <!-- 朝朝盈 -->
        <li style="height: 390px;">
          <div class="title">
            <p>朝朝盈</p>
            <i>活期理财，随时可取</i>
          </div>
          <div class="con">
            <p>5%</p>
            <i>历史年化收益率</i>
          </div>
          <div class="btm">
            <!--<p>1万元收益:<span>11.5</span>元</p>-->
            <p>万元每日收益:1.36元</p>
            <p class="bla">*新用户首周收益翻倍:<span class="colr">2.73</span>元</p>
          </div>
          <div class="btn" ng-click="onClick('新人专享注册')">马上理财</div>
        </li>
        <!-- 月月盈 -->
        <li style="height: 390px;">
          <div class="title">
            <p>月月盈</p>
            <i>投资期限 <span>30天</span></i>
          </div>
          <div class="con">
            <p>8%</p>
            <i>历史年化收益率</i>
          </div>
          <div class="btm">
            <p>1万元收益:<span>65.75</span>元</p>
            <p class="bla">使用加息券收益:<span class="colr">82.19</span>元</p>
          </div>
          <div class="btn" ng-click="onClick('新人专享注册')">马上理财</div>
        </li>
        <!-- 季季盈 -->
        <li style="margin-right: 0;height: 390px;">
          <div class="title">
            <p>季季盈</p>
            <i>投资期限 <span>90天</span></i>
          </div>
          <div class="con">
            <p>9.5%</p>
            <i>历史年化收益率</i>
          </div>
          <div class="btm">
            <p>1万元收益:<span>234.24</span>元</p>
            <p class="bla">使用加息券收益:<span class="colr">283.56</span>元</p>
          </div>
          <a href="" class="btn" ng-click="onClick('新人专享注册')" style="text-decoration: none;">马上理财</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="btmBox">
    <h3>　</h3><h3>　</h3><h3>　</h3><h3>　</h3><h3>　</h3>
    <ul>
      <li style="margin-right: 78px;">
        <a href="" class="btma" style="margin: 0 auto;"><img src="" alt=""></a>
        <p class="title">国资委下属事业单位控股</p>
        <p>多融财富由国资委旗下</p>
        <span>沪深控股战略控股占股比例为99%</span>
      </li>
      <li style="margin-right: 125px;">
        <a href="" class="btmb"><img src="" alt=""></a>
        <p class="title">资金安全</p>
        <p>资金流转透明</p>
        <span>上海华瑞银行资金存管</span>
      </li>
      <li style="margin-right: 125px;">
        <a href="" class="btmc"><img src="" alt=""></a>
        <p class="title">实力雄厚</p>
        <p>注册资金1亿元</p>
        <span>千万风险保障金</span>
      </li>
      <li style="margin-right: 0;">
        <a href="" class="btmd"><img src="" alt=""></a>
        <p class="title">收益可观</p>
        <p>百元起投</p>
        <span>历史年化收益率12%</span>
      </li>
    </ul>
  </div>
  <div class="btmZc">
    <a href="" ng-click="onClick('新人专享注册')">立即注册</a>
  </div>
  <div style="width:100%;height:58px;background: #333333;color: #b4b4b4;text-align: center;padding-top:20px;">
    <p>沪ICP备15011207号-5 | Copyright Reserved © 上海银砖金融信息服务有限公司 v2.0.1</p>
    <p>公司电话：021-80312696 | 公司地址：上海市虹口区四川北路859号中信广场41楼</p>
  </div>
  <!-- 活动规则弹窗 -->
  <div class="qudao-tan newSecTan" ng-if="isRuleAlert">
    <div class="isQD isNewSec">
      <a class="close" ng-click="onClick('关闭活动规则')"></a>
      <div class="title">
        <h2>活动规则</h2>
        <span class="line lt">
          <i class="tip"></i>
        </span>
        <span class="line rt">
          <i class="tip"></i>
        </span>
      </div>
      <ul>
        <li>活动结束时间待定，如需停止将提前3天以上告知用户。</li>
        <li>新用户完成注册即获得1588元红包+2%加息券，首投专享：历史年化收益率10%活期理财+12%新手专享月标。</li>
        <li>用户可在我的账户-优惠红包中查看理财金、加息券。</li>
        <li>本活动现金红包不可与其他活动理财金，红包，加息券同时使用。</li>
        <li>活动解释权在法律允许范围内归多融财富所有。</li>
      </ul>
      <a href=""></a>
    </div>
  </div>
  <!-- 弹窗2 -->
  <div class="newSecTan" ng-if="isNewBackAlert">
    <div class="isQD isNewSec">
      <div class="ltBox">
        <h3>你还有新手礼品未领取</h3>
        <ul>
          <li style="width:90px;margin-right: 47px;"><img src="../../main/images/cp167/alerta.png" alt=""><span>10%高活期收益</span></li>
          <li><img src="../../main/images/cp167/alertb.png" alt=""><span>1588元红包</span></li>
          <li style="margin-right: 42px;"><img src="../../main/images/cp167/alertc.png" alt=""><span>2%加息券</span></li>
        </ul>
      </div>
      <div class="rtBox">
        <p>你真得要走了吗？
          <br>请再多给我一次机会吧！</p>
        <img src="../../main/images/cp167/face.png" alt="">
        <b>你还有1588元红包未领取</b>
        <a href="" class="register btn" ng-click="  onClick('新人专享注册')">注册领取</a>
        <a href="" class="miss btn" ng-click="onClick('关闭再给新人一次机会')">遗憾错过</a>
      </div>
      <a href="" class="close" ng-click="onClick('关闭再给新人一次机会')"></a>
    </div>
  </div>
  <!-- 弹窗1 -->
  <div class="newFirTan newSecTan" ng-if="isNewAlert">
    <div class="isQD isNewSec">
      <div class="ltBox" style="padding-left: 36px;">
        <div class="topText">
          <p class="title">注册多融财富即送</p>
          <p class="cash">
            <strong>1588</strong>
            <span>元红包+2%加息券</span>
            <i class="icon"></i>
          </p>
          <p style="font-size: 18px;">新手再享: <em style="color: #ff9600;">10%</em>活期理财+<em style="color: #ff9600;">12%</em>专享月标</p>
        </div>
        <ul style="padding-top: 30px;border-top:1px dashed #ccc;margin-top: 54px;">
          <li style="width:132px;margin-left: 30px;margin-right: 30px;"><img src="/main/images/cp167/alertd.png" alt=""><span style="white-space: nowrap;">国资委下属事业单位控股</span></li>
          <li style="margin-left: 20px;margin-right: 20px;"><img src="/main/images/cp167/alerte.png" alt=""><span>实力雄厚<br>千万保障金</span>
          </li>
          <li style="margin-right: 30px;margin-left: 30px;"><img src="/main/images/cp167/alertf.png" alt=""><span>华瑞银行资金存管</span>
          </li>
        </ul>
      </div>
      <div class="rtBox">
        <!-- 注册登录名 -->
        <form class="login_form" ng-model="login1" name="loginform1">
          <div class="input-wrap">
            <div class="name">手机号码:</div>
            <div class="input-box">
              <div class="input-mod">
                <input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号码" ng-blur="blurID('focusMobilephone',loginform1,'phone')" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text" ng-model="login1.mobilePhone" name="mobilePhone" minlength="11" maxlength="11" id="mobilePhone" />
                <span class="error" ng-show="loginform1.mobilePhone.$valid">{{loginform1.mobilePhone | zhuCePhoneError:serverErrorCode}}</span>
              </div>
            </div>
          </div>
          <!-- 图文验证 -->
          <div class="input-wrap">
            <div class="name">验 证 码:</div>
            <div class="input-box">
              <div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
              <div class="input-mod">
                <input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login1.picCode" name="picCode" minlength="4" maxlength="4" />
              </div>
              <span class="error" ng-show="loginform1.picCode.$valid"><font color="red">{{loginform1.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
            </div>
          </div>
          <!-- 短信验证 -->
          <div class="input-wrap">
            <div class="name">手机验证:</div>
            <div class="input-box">
              <button href="" ng-click="clickInput('phonecodeMSG',$event,null,loginform1,0,'zhuCe1')" class="get-code">
                {{nowTimer}}获取验证码
              </button>
              <div class="input-mod">
                <input placeholder="请输入短信验证码" style="width: 300px !important;" type="text" ng-model="login1.smsCode" name="smsCode" class="text small-text" maxlength="4" />
              </div>
              <span class="error" ng-show="loginform1.smsCode.$valid"><font color="red">{{loginform1.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
            </div>
          </div>
          <!-- 密码 -->
          <div class="input-wrap">
            <div class="name">设置密码:</div>
            <div class="input-box passwd-box">
              <div class="input-mod">
                <input autocomplete="off" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord" ng-model="login1.passWord" class="text" name="passWord" />
              </div>
              <span class="error" ng-show="loginform1.passWord.$valid"><font color="red">{{loginform1.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
            </div>
          </div>
          <a href="" class="close" ng-click="onClick('关闭新人专享注册') && onClick('再给新人一次机会')"></a>
          <input class="register btn sub-btn sub" ng-if="!loginform1.$invalid" ng-click="LoginClick('zhuCe1',loginform1) " type="submit" value="立即领取大礼包" />
          <input class="register btn sub-btn sub" ng-if="loginform1.$invalid" type="submit" value="立即领取大礼包" />
          <div class="sub-box">
            注册即为同意
            <a href="/zc" target="_blank" class="server-agreement">《用户协议》</a>
            <a href="/dl" target="_blank" class="sub-btn sub" style="text-decoration: underline;">立即登录</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

