<div class="cp66-wrapper " ng-controller="zhuceCtrl">

	<!-- 导航 -->
	<div class="header-wrapper cp66-header">
		<div class="header-wrap">
			<div class="logo-wrap">
				<img src="/images/logo.png" ng-click="$state.go('main.home');">
				<span></span>
				<a target="_blank" style="display: block;float: left;cursor: default;"><img src="../../images/logoo.jpg" alt=""></a>
			</div>
			<div class="nav-box" style="padding-top: 23px">
				<div>
					<ul>
						<li><img src="/images/cp66/rightLogo.png"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- zhong -->
	<div class="quick-register-wrap">
		<div class="quick-register-wrapper" style="float:none;">
			<div class="bot">
				<div class="con" >
					<div class="connn" style="margin-right:113px;" ng-click="focusMobile()"></div>
					<div class="connn" style="margin-right:112px;" ng-click="focusMobile()"></div>
					<div class="connn" style="margin-right:112px;" ng-click="focusMobile()"></div>
					<div class="connn" style="margin-right:111px;" ng-click="focusMobile()"></div>
					<div class="connn" style="margin-right: 0px;" ng-click="focusMobile()"></div>
				</div>
			</div>
			<div class="bot" style="top: 1660px;">
				<div class="con" style="width:1126px;height: 50px;">
					<div class="connn2" style="margin-right:140px;" ng-click="focusMobile()"></div>
					<div class="connn2" style="margin-right:130px;" ng-click="focusMobile()"></div>
					<div class="connn2" style="margin-right:0px;" ng-click="focusMobile()"></div>
				</div>
			</div>
			<form class="login_form" ng-model="login" name="loginform">
				<input style="display:none">
				<input type="password" style="display:none">
				<div class="quick-register-box" style="width: 1200px; margin: 0 auto; position: relative;">
					<div class="quick-register-mod" style="right: 0;">
						<div class="quick-register-box" style="padding:41px 0;border-top:0">
							
							<!-- 注册登录名 -->
							<div class="input-wrap">
								<div class="name">手机号码:</div>
								<div class="input-box">
									<div class="input-mod">
										<input type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/"  placeholder="请输入手机号码" ng-blur="blurID('focusMobilephone',loginform)" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text" ng-model="login.mobilephone" name="mobilephone" required minlength="11" maxlength="11" id="mobilephone" />
						                <span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
									</div>
								</div>
							</div>	
							<!-- 图文验证 -->
							<div class="input-wrap">
								<div class="name">验 证 码:</div>
								<div class="input-box">
									<div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
									<div class="input-mod">
										<input type="text" placeholder="请输入验证码" class="text small-text" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off"/>
									</div>
									<span class="error" ng-show="loginform.picCode.$valid"><font color="red">{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
								</div>
							</div>
							<!-- 短信验证 -->
							<div class="input-wrap">
								<div class="name">手机验证:</div>
								<div class="input-box">
									<a href="" ng-click="clickInput('phonecodeMSG',$event,null,loginform,0)" class="get-code">{{nowTimer}}获取验证码</a><!--  nouse-btn -->
									<div class="input-mod">
										<input ng-disabled="!loginform.mobilephone.$dirty || !loginform.picCode.$dirty || loginform.mobilephone.$valid || loginform.picCode.$valid" placeholder="请输入短信验证码"  type="text" ng-model="login.smsCode"  name="smsCode" class="text small-text" maxlength="4" required/>
									</div>
									<span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
								</div>
							</div>
							<!-- 密码 -->
							<div class="input-wrap">
								<div class="name">设置密码:</div>
								<div class="input-box passwd-box">
									<div class="input-mod">
										<input autocomplete="off" ng-show="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text" name="passWord" required />
										<input autocomplete="off" ng-hide="passwordText" placeholder="请输入密码" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" type="passWord" ng-model="login.passWord" class="text" name="passWord" required/>
									</div>

									<span  class="error" ng-show="loginform.passWord.$valid"><font color="red">{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
								</div>
							</div>
							<div style="text-align: center;padding: 20px;color: #fff;">
								<label for="agreement" style="float: left;    margin-top: 3px;    margin-left: 55px;">
									<input type="checkbox" ng-model="login.checkbox" ng-true-value="true" name="checkbox" id="agreement" class="check-box ng-pristine ng-untouched ng-valid" checked="">
								</label>
									我已阅读并同意遵守
								<a href="/zc" target="_blank" class="server-agreement">《用户协议》</a>
							</div>
							<!-- 登录/注册 按钮 -->
							<div class="sub-box" ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
								<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
							</div>
							<div class="sub-box" ng-if="loginform.$invalid" >
								<input ng-disabled="loginform.$invalid || !login.checkbox" class="sub-btn sub" type="submit" value="立即注册" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- zhong over -->

	<!-- <div class="top">
		<div class="bot" ng-click="focusMobile()">
			<div class="con" ></div>
		</div>
		<div class="bot" style="top: 1600px;" ng-click="focusMobile()">
			<div class="con"></div>
		</div>
	</div> -->
	<div class="cp66-code-wrapper">
		<div class="code">
			<div class="code-box">
				<div class="app-code-icon" style="width: 53%;"><div class="img-box"><img src="/images/activity/newfriend-app.png"></div></div>
				<a class="app-code-icon" style="width: 40%" ng-click="focusMobile()"><p class="to-ze">立即注册</p></a>
			</div>
		</div>
	</div>
</div>