<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=8" />
    <meta content="always" name="referrer"><meta name="theme-color" content="#2932e1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>三重壕礼</title>
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/activity/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/activity/app.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/newapp.css">
    <script type="text/javascript" src="../../vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="../../vendor/lucky-card.min.js"></script>
    <script type="text/javascript" src="../../js/activity/ggkCtrl.js"></script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
</head>
<body class="doublegift-body"  ng-app="someApp">
<div ng-controller="doublegiftCtrl">
    <div class="banner"><img src="../../images/gold/banner-app.png"></div>
    <div class="step"><img src="../../images/gold/step-app.png"></div>
    <div class="mode mode1"><img src="../../images/gold/modeapp-1.png">
        <a class="clickLQ" href="jump://page=4?" ng-if="!login&&!wap">立即领取</a>
        <a class="clickLQ" href="http://www.duorongcf.com/activity/app/newHand?uid={{uid}}&wap={{wap}}" ng-if="login&&!wap">立即领取</a><!--  ng-click="onClick('跳新手页面')" -->
        <a class="clickLQ" href="http://app.duorongcf.com/zhuce" ng-if="!login&&wap">立即领取</a>
        <a ng-click="onClick('立即领取')" ng-if="login&&wap">立即领取</a>
        
        <div ng-cloak class="ggk-mask ng-cloak" ng-show="lijilq">
            <div class="check-img-wrap">
                <span class="tishidl"><p>您已领取，请投资新手标？</p></span>
                <div><p class="back-dl close" ng-click="onClick('关闭弹框')">取消</p></div>
                <div><a class="back-zc" href="http://app.duorongcf.com/newhand?pid=2" ng-if="wap">确定</a></div>
            </div>
        </div>

    </div>
    <div class="mode mode2">
        <img src="../../images/gold/modeapp-2.png">
        <a href="http://app.duorongcf.com/zhuce" ng-if="!login&&wap">立即抢钱</a>
        <a href="http://app.duorongcf.com/bankBillList" ng-if="login&&wap">立即抢钱</a>
        <a href="jump://page=4?" ng-if="!login&&!wap">立即抢购</a>
        <a href="jump://page=2?" ng-if="login&&!wap">立即抢购</a>
    </div>
    <div class="mode modetri">
        <img src="../../images/gold/modeapp-tri.png">
        <a href="http://app.duorongcf.com/bankBillList" ng-if="login&&wap">立即抢钱</a>
        <a href="http://app.duorongcf.com/zhuce" ng-if="!login&&wap">立即抢钱</a>
        <a href="jump://page=4?" ng-if="!login&&!wap">立即抢购</a>
        <a href="jump://page=2?" ng-if="login&&!wap">立即抢购</a>
    </div>
    <div class="mode mode-rule">
        <span class="title">活动规则</span>
        <ul>
            <li><i></i><span>关于“壕礼1”：</span><br>新用户注册即送10000元体验金券，所赠送的体验金券仅限在“新手体验标”中使用1次；使用之后，体验金所得的收益立即发放到客户账户，体验金的本金券由平台收回；</li>
            <li><i></i><span>关于“壕礼2”：</span><br>用户首次投资时，平台同时赠送等额理财金，标的到期后理财金收益归用户，理财金本金由平台收回（本活动仅限新用户参加一次且指定产品）；<br><strong></strong>例如：小明投资10000元，平台即送10000元理财金，此理财金与小明投资的金额一起计算收益，相当于小明投资20000元；</li>
            <li><i></i><span>关于“壕礼3”：</span>价值1588元的红包<br>红包可用于投资时使用，投资生效后将以现金的形式返到您的账户；</li>
            <li><i></i><p>想获得更高的年化收益，请联系<a href="tel:4006-908-896">4006-908-896</a>，同时您也可以等待您的专属理财师电话联系！</p></li>
            <li class="small"><i></i>本次活动最终解释权归多融财富所有；</li>
        </ul>
        <img src="../../images/gold/botappbg.png">
    </div>
    <div class="mode"><img src="../../images/gold/modeapp-4.png"></div>
    <div class="mode"><img src="../../images/gold/modeapp-5.png"></div>
    <div class="mode"><img src="../../images/gold/phone-app.png"></div>
</div>
</body>
<script type="text/javascript">
/*     function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
var xx = getUrlParam('upgrade');
var wap = getUrlParam('wap');
if(wap){
    var el = document.getElementById('clickLQ');
    var el1 = document.getElementById('clickQQ');
    el.setAttribute('href', 'http://app.duorongcf.com/zhuce');
    el1.setAttribute('href', 'http://app.duorongcf.com/bankBillList');
    el.innerHTML = "立即领取";
    el1.innerHTML = "立即抢钱";
}
if(xx >=0){
}else{
    var el = $('.clickLQ');
    var el1 = $('.clickQQ');
    el.attr('href', 'http://www.duorongcf.com/html/activity/2weima.html');
    el1.attr('href', 'http://www.duorongcf.com/html/activity/2weima.html');
    el.html("更新版本参加活动");
    el1.html("更新版本参加活动");
}*/
     
</script>
</html>