<!DOCTYPE html>
<html ng-app="someApp" id='ng-app' xmlns:ng="http://angularjs.org"  lang="zh_CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=8" />
    <meta content="always" name="referrer"><meta name="theme-color" content="#2932e1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title ng-bind="title">618多融理财节</title>
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/newapp.css">
    <script type="text/javascript" src="../../vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="../../vendor/qtip.js"></script>
    <script type="text/javascript" src="../../js/activity/financial.js"></script>
</head>
<body>
<div class="boat-app-wrapper financialapp-wrapper appbody" ng-controller="financialCtrl">
    
    <div class="banner"><img src="../../images/financialapp/banner.png"><div class="top-title">投资即送<span>618</span>元现金红包</div></div>
    
    <div class="package">
        <ul>
            <li>
                <span>8元</span>
                <p>现金红包</p>
            </li>
            <li>
                <span>20元</span>
                <p>现金红包</p>
            </li>
            <li>
                <span>30元</span>
                <p>现金红包</p>
            </li>
            <li>
                <span>40元</span>
                <p>现金红包</p>
            </li>
            <li>
                <span>200元</span>
                <p>现金红包</p>
            </li>
            <li>
                <span>320元</span>
                <p>现金红包</p>
            </li>
        </ul>
        <p class="tip">活动期间投资任意金额（除新手标）即可获取</p>
        <!-- <a href="/dl" class="btn" ng-if="showBtn == true && update == true && login == false">{{redBagText}}</a> -->
        <a href="/bankBillList" class="btn" ng-if="showBtn && update && !wap">{{redBagText}}</a>

        <a href="http://app.duorongcf.com/bankBillList" class="btn" ng-if="showBtn && update && wap">{{redBagText}}</a>

        <a href="" class="btn time" ng-if="showBtn == false && update == true">距离活动开启还有 <span ng-if="day>0">{{day}}天</span>{{hour}}时{{minute}}分{{second}}秒</a>
        <a href="http://www.duorongcf.com/html/activity/2weima.html" class="btn" ng-if="update == false">请更新版本</a>
        <div class="get" ng-if="getRed == true"><div class="geticon">已领取</div></div>
    </div>
    
    <div class="common-wrapper">
        <div class="mode">
            <div class="title"></div>
            <ul class="actrules">
                <li><i></i>活动时间2016年6月17日10点—2016年6月30日18点</li>
                <li><i></i>活动期间，用户投资任意标的（除新手体验标外）即送618元大红包一份（每个用户仅限获取一次），请在“我的账户”中查看；</li>
                <li><i></i>红包使用规则：仅限≥15天产品使用；</li>
                <li class="small">本次活动最终解释权归多融财富所有。</li>
            </ul>
        </div>

        <!-- <div class="mode">
            <div class="title">为什么选择多融</div>
            <div class="content">
                <div class="iconmode">
                    <i class="gqkg"></i>
                    <div>
                        <span>国企控股</span>
                        <p>知名国企控股</p>
                    </div>
                </div>
                <div class="iconmode">
                    <i class="guarantee"></i>
                    <div>
                        <span>本息保障计划</span> 
                        <p>历史到期产品100%本息兑付，安全可靠</p>
                    </div>
                </div>
                <div class="iconmode">
                    <i class="pjcd"></i>
                    <div>
                        <span>票据100%承兑</span>
                        <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
                    </div>
                </div>
                <div class="iconmode">
                    <i class="lszc"></i>
                    <div>
                        <span>顶级律所全程支持</span>
                        <p>顶级律所全程保驾护航</p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="mode">
            <div class="title">公司荣誉</div>
            <table>
                <tr>
                    <td>
                        <img src="/images/honor/honor1.png">
                        <p>荣膺“2016中国最佳诚信示范金融企业”</p>
                    </td>
                    <td>
                        <img src="/images/honor/honor2.png">
                        <p>加入“上海市信息服务业行业协会”</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/honor/honor3.png">
                        <p>加入“上海金融信息行业协会”</p>
                    </td>
                    <td>
                        <img src="/images/honor/honor4.png">
                        <p>荣获“中国信用企业认证体系示范单位”证书</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mode">
            <div class="title">合作单位</div>
            <div class="partners">
                <div class="imgs swiper-container">
                    <table>
                        <tr>
                            <td width="25%"><img src="/images/gua-partner/partner1.png"></td>
                            <td width="25%"><img src="/images/gua-partner/partner2.png"></td>
                            <td width="25%"><img src="/images/gua-partner/partner5.png"></td>
                            <td width="25%"><img src="/images/gua-partner/partner6.png"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->
        
        <img src="../../images/financialapp/line.png">
    </div>
    <!-- <div class="code-wrapper">
        <div class="code">
            <div class="tel">
                <table class="number">
                    <tr>
                        <td>
                            <i class="boat-phone-icon"></i>
                            <div>
                                <span>4006-908-896</span>
                                <p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 -->
</div>
</body>
</html>