<div ng-controller="friendCtrl" class="friend-body">
	<div class="top-bg">
		<div class="center-bg newfriend-centerbg"></div>
	</div>
	<div class="newfriend-gradient-bg"></div>
	<div class="top-share">
		<a href="" class="copy" ng-click="copy()">复制链接</a>
		<div class="icon-share">
			<div class="icons bdsharebuttonbox">
				<a href="" class="newfriend-wechat wechat bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="" class="newfriend-qq qq bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
				<a href="" class="newfriend-sina sina bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			</div>
			<div class="tip"><i class="newfriend-icon"></i>直接发送至QQ好友，更容易邀请到好友哟~</div>
		</div>
		<i class="newfriend-line"></i>
	</div>
	<div class="rules">
		<div class="mode">
			<div class="title">好友投资返利规则</div>
			<div class="title stitle">好友投资返利规则</div>
			<div class="tip">
				<div>好友首次单笔投资<i class="newfriend-triangle"></i></div>
				<div class="rtip">邀请人奖励<i class="newfriend-triangle"></i></div>
			</div>
			<ul>
				<li>
					<div class="invest">500<span>元</span></div>
					<i></i>
					<div class="reward">5<span>元</span></div>
				</li>
				<li>
					<div class="invest">1000<span>元</span></div>
					<i></i>
					<div class="reward">8<span>元</span></div>
				</li>
				<li>
					<div class="invest">2000<span>元</span></div>
					<i></i>
					<div class="reward">15<span>元</span></div>
				</li>
				<li>
					<div class="invest">5000<span>元</span></div>
					<i></i>
					<div class="reward">25<span>元</span></div>
				</li>
				<li>
					<div class="invest">10000<span>元</span></div>
					<i></i>
					<div class="reward">40<span>元</span></div>
				</li>
				<li>
					<div class="invest">50000<span>元</span></div>
					<i></i>
					<div class="reward">180<span>元</span></div>
				</li>
				<li>
					<div class="invest">100000<span>元</span></div>
					<i></i>
					<div class="reward">888<span>元</span></div>
				</li>
			</ul>
			<div class="method">
				<div class="copy-wrap">
					<div class="ltitle">方式1</div>
					<a href="" class="copy" ng-click="copy()">复制链接</a>
				</div>
				<div class="copy-wrap">
					<div class="ltitle">方式2</div>
					<div class="icons bdsharebuttonbox">
						<a href="" class="newfriend-wechat wechat bds_weixin" data-cmd="weixin" title="分享到微信"></a>
						<a href="" class="newfriend-qq qq bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
						<a href="" class="newfriend-sina sina bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					</div>
				</div>
			</div>
		</div>
		<i class="newfriend-beautybg"></i>
	</div>
	<div class="mode smode">
		<div class="title">邀请好友奖励排行榜<span>TOP5</span></div>
		<div class="stitle title">邀请好友奖励排行榜<span>TOP5</span></div>
		<div class="tip">
			<div>排名<i class="newfriend-triangle"></i></div>
			<div>用户名<i class="newfriend-triangle"></i></div>
			<div>奖励金额<i class="newfriend-triangle"></i></div>
		</div>
		<div class="data">
			<div class="num-1 num">1</div>
			<div class="phone">13*******31</div>
			<div class="reward">35700<span>元</span></div>
		</div>
		<div class="data">
			<div class="num-2 num">2</div>
			<div class="phone">13*******49</div>
			<div class="reward">27000<span>元</span></div>
		</div>
		<div class="data">
			<div class="num-3 num">3</div>
			<div class="phone">18*******13</div>
			<div class="reward">22560<span>元</span></div>
		</div>
		<div class="data">
			<div class="num-4 num">4</div>
			<div class="phone">13*******74</div>
			<div class="reward">18360<span>元</span></div>
		</div>
		<div class="data">
			<div class="num-5 num">5</div>
			<div class="phone">13*******08</div>
			<div class="reward">15120<span>元</span></div>
		</div>
		<div class="method">
			<div class="copy-wrap">
				<div class="ltitle">方式1</div>
				<a href="" class="copy" ng-click="copy()">复制链接</a>
			</div>
			<div class="copy-wrap">
				<div class="ltitle">方式2</div>
				<div class="icons bdsharebuttonbox">
					<a href="" class="newfriend-wechat wechat bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					<a href="" class="newfriend-qq qq bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
					<a href="" class="newfriend-sina sina bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="mode smode">
		<div class="title">活动规则</div>
		<ul class="rule-con">
			<li><span>1、</span><div>通过专属链接邀请好友注册并投资理财产品，邀请人可享邀请现金奖励（需被邀请人在注册日起30天内投资），奖励将按照被邀请人首次投资项目期限≥7天的理财产品所对应的现金奖励；<br>例如：小多4月1日邀请小融注册，小融在4月30日前完成首次投资，投资金额100000元（项目期限≥7天），小多可获得小融投资金额对应的邀请现金奖励888元；</div></li>
			<li><span>2、</span><div>邀请现金奖励由系统根据被邀请人首次单笔投资额自动计算生成，邀请人仅限领取一次奖励，获得的邀请奖励可投资或提现，奖励均由多融财富官方补贴。用户可通过“我的账户”查看奖励金额；</div></li>
			<li><span>3、</span><div>奖励发放时间为被邀请人投资后系统直接发放至账户内，可通过“我的账户”查看奖励金额。</div></li>
		</ul>
	</div>
	<div class="code-wrapper">
		<div class="code">
			<div class="appcode">
				<div class="title">手机多融</div>
				<div class="code-box">
					<div class="app-code-icon"><img src="/images/activity/newfriend-app.png"></div>
					<div class="app-code-word">
						<p><i class="newfriend-iphone"></i><span>iPhone</span></p>
						<p><i class="newfriend-android"></i><span>Android</span></p>
					</div>
				</div>
			</div>
			<div class="appcode wechatcode">
				<div class="title">关注公众号</div>
				<div class="code-box">
					<div class="app-code-icon"><img src="/images/activity/newfriend-wechat.png"></div>
				</div>
			</div>
			<div class="tel">
				<div class="title">热线电话</div>
				<div class="number">
					<i class="newfriend-phone"></i>
					<div>
						<span>4006-908-896</span>
						<p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mycopy" ng-if="login == 1"><textarea id="mycopy">https://www.duorongcf.com/zhuce?recommCode={{user.recommCodes}}</textarea></div>
	</div>
</div>
