<!DOCTYPE html>
<html ng-app="someApp" id='ng-app' xmlns:ng="http://angularjs.org"  lang="zh_CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=8" />
    <meta content="always" name="referrer"><meta name="theme-color" content="#2932e1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title >国庆节满标大作战，速来瓜分百万现金</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheets/swiper.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/newapp.css">
    <script type="text/javascript" src="../../vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="../../vendor/swiper.min.js"></script>
    <!-- <script type="text/javascript" src="../../vendor/qtip.js"></script> -->
    <script type="text/javascript" src="../../js/controllers/guoqing.js"></script>
</head>
<body class="guoqing-body">
	<div class="guoqing-app-wrapper" ng-controller="guoqingCtrl">
		<header>
			<div><img src="../../images/guoqing-app/banner.png" alt="国庆"/></div>
		</header>
		<section>
		<!--{{typeof list.investTotal}}-->
			<div class="con-top">
				<h2>全民瓜分百万现金</h2>
				<p>实时投资总额</p>
				<div class="invest-total">
					<span>{{investTotalTexts[0].name}}</span>
					<span>{{investTotalTexts[1].name}}</span>
					<span>{{investTotalTexts[2].name}}</span>
					<i></i>
					<span>{{investTotalTexts[3].name}}</span>
					<span>{{investTotalTexts[4].name}}</span>
					<span>{{investTotalTexts[5].name}}</span>
					<i></i>
					<span>{{investTotalTexts[6].name}}</span>
					<span>{{investTotalTexts[7].name}}</span>
					<span class="no">{{investTotalTexts[8].name}}</span>
				</div>
			</div>
			<div class="cash-bag">
				<ul>
					<li>5万<br>现金红包</li>
					<li>20万<br>现金红包</li>
					<li class="no">100万<br>现金红包</li>
				</ul>
			</div>


			<div class="user-info">
				<table>
					<tr >
						<td width="30%">用户ID</td>
						<td width="30%">金额（元）</td>
						<td width="30%">投资时间</td>
					</tr>
				</table>
				<div class="list">
					<table class='my-list '>
						<tr ng-repeat="tag in list.investList">
							<td width="30%">{{tag.mobilephone | limitTo:3}}****{{tag.mobilephone | limitTo:-4}}</p>
							<td width="30%">{{tag.amount | currency:'':0}}</p>
							<td width="30%">{{tag.investTime | date:'yyyy-MM-dd' }}</p>
						</tr>
					</table>
				</div>
			</div>



			<div class="info">
				<div class="info-left">
					<p class="people">预计参与瓜分人数：{{list.investCount}}人</p>
					<p ng-if="uid!=undefined">我的投资总额：{{list.investTotalUid}}元</p>
					<p ng-if="uid!=undefined" ng-show="list.investTotalUid>=10000">（已参与瓜分）</p>
				</div>
				<!--活动规则弹窗-->
				<span ng-click="onHelp('瓜分投资规则')">活动规则 ></span>
			</div>
			<!--点击瓜分现金-->
			<a href="http://192.168.1.248/bankBillList"  ng-show="uid!=undefined" class='btn'>立即投资瓜分100万现金</a>
			<a href="http://192.168.1.248/dl"  ng-show="uid==undefined" class="btn">立即投资瓜分100万现金</a>
			<!--集字排行榜-->

			<div class="font-list band font-band">
				<div class="title">
					<h3>召唤666元现金红包</h3>
					<p>集字排行榜</p>
				</div>
				<table class="con">
					<tr>
						<td width="33%">排名</td>
						<td width="33%">集字个数</td>
						<td width="33%">手机号码</td>
					</tr>
				</table>
				<table class="my-band">
					<tr ng-repeat="item in list.ranking" >
						<td width="33%">第{{$index+1}}名</td>
						<td width="33%">
							<ul>
								<li ng-class="{true:'active',false:''}[item.giftName.indexOf('23')>=0]">多</li>
								<li ng-class="{true:'active',false:''}[item.giftName.indexOf('24')>=0]">融</li>
								<!--三目写法-->
								<li ng-class="{true:'active',false:''}[item.giftName.indexOf('25')>=0]">财</li>
								<li class="no" ng-class="{true:'active',false:''}[item.giftName.indexOf('26')>=0]">富</li>
							</ul>
						</td>
						<td width="33%">{{item.mobilePhone | limitTo:3}}****{{item.mobilePhone | limitTo:-4}}</td>
					</tr>
				</table>
			</div>
			<!--我的集字-->
			<div class="my-font">
				<h4>我的集字：</h4>
				<p ng-if='uid==undefined'><a href="http://app.duorongcf.com/dl" >登录</a>后查看</p><!--APP登录页面-->
				<ul class="my-list">
					<li ng-class="{true:'active', false:''}[list.word.giftName.indexOf('23')>=0]">
						<span  ng-class="{true:'duoyellow', false:'duo'}[list.word.giftName.indexOf('23')>=0]"></span>
						<i ng-if="list.word.giftName.indexOf('23')>=0">已获得</i>
						<i ng-if="list.word.giftName.indexOf('23')<0 || list.word==undefined ">未获得</i>
					</li>
					<li ng-class="{true:'active', false:''}[list.word.giftName.indexOf('24')>=0]">
						<span  ng-class="{true:'rongyellow', false:'rong'}[list.word.giftName.indexOf('24')>=0]"></span>
						<i ng-if="list.word.giftName.indexOf('24')>=0">已获得</i>
						<i ng-if="list.word.giftName.indexOf('24')<0|| list.word==undefined ">未获得</i>
					</li>
					<li ng-class="{true:'active', false:''}[list.word.giftName.indexOf('25')>=0]">
						<span  ng-class="{true:'caiyellow', false:'cai'}[list.word.giftName.indexOf('25')>=0]"></span>
						<i ng-if="list.word.giftName.indexOf('25')>=0">已获得</i>
						<i ng-if="list.word.giftName.indexOf('25')<0|| list.word==undefined ">未获得</i>
					</li>
					<li ng-class="{true:'active no', false:'no'}[list.word.giftName.indexOf('26')>=0]">
						<span   ng-class="{true:'fuyellow', false:'fu'}[list.word.giftName.indexOf('26')>=0]"></span>
						<i ng-if="list.word.giftName.indexOf('26')>=0">已获得</i>
						<i ng-if="list.word.giftName.indexOf('26')<0|| list.word==undefined ">未获得</i>
					</li>
				</ul>
			</div>
			<!--点击查看召唤666红包活动规则"-->
			<p class="rule-btn"   ng-click="onHelp('集字规则')">活动规则 ></p>
			<a  class="btn" href="http://192.168.1.248/bankBillList"  ng-show="uid!=undefined">立即召唤666元现金</a><!--H5客户投资页面-->
			<a  class="btn" href="http://192.168.1.248/dl " ng-show="uid==undefined">立即召唤666元现金</a> <!--H5登录页面-->
			<div class="activity-info font-list">
				<div class="title">
					<h3 class="info">活动详情</h3>
				</div>
				<ul>
					<li><span></span>活动时间：2016年9月30日—10月7日；</li>
					<li><span class="dian"></span>活动结束后2工作日内页面会公布所有用户瓜分金额和集字中奖名单，5个工作日内多融财富客服人员会以短信的形式通知所有中奖用户；</li>
					<li><span></span>如有疑问，欢迎咨询客服热线4006-908-896；</li>
					<li><span></span>本次活动部分渠道不参加，请谅解，谢谢！</li>
					<li><span></span>本次活动最终解释权归多融财富所有。</li>
				</ul>
			</div>
			<!--集字规则弹窗-->

			<div class="rules-bg" ng-show="aloneJzShow">

				<div class="model-content" ng-show="aloneJzShow">
					<div class="title">
					<h3 class="text">活动规则</h3>
					<span class="icon" ng-click="onHelp('关闭')"></span>
					</div>
					<ul>
						<li class="margin"><span></span>活动期间用户每投资一笔≥1000元定期标（新手标除外）可获得一个字，集齐“多融财富”四个字，即可获得666元现金红包（每位用户每天最多3次集字机会）；</li>
						<li><span></span>活动结束后集字奖励将以红包的形式发放至个人账户，登录后可在“我的账户—优惠红包”中查看。</li>
					</ul>
				</div>
			</div>

			<!--渠道用户弹窗-->
			<div class="rules-bg" ng-show="aloneQdShow">
				<div class="model-content tips" ng-show="aloneQdShow">
					<div class="title">
						<h3 class="text">提示</h3>
					</div>
					<div class="con">
						<p>亲，由于您是渠道VIP用户<br>所以不能参加此次活动，敬请谅解</p>
						<a class="go-back" href="http://192.168.1.248/home" ng-if="wap=='true'">返回首页</a><!--H5首页-->
						<!---->
						<a class="go-back" href="jump://page=1?"  ng-if="wap!='true'">返回首页</a>
					</div>
				</div>
			</div>

		<!--瓜分规则弹窗-->
			<div class="rules-bg" ng-show="aloneGfShow">

				<div class="model-content splice-rule" ng-show="aloneGfShow">
					<div class="title">
					<h3 class="text">活动规则</h3>
					<span class="icon"  ng-click="onHelp('关闭')"></span>
					</div>
					<ul>
						<li><span></span>活动期间，若≥30天的项目累计投资总额达到25,000,000元，则此期间累计投资1万元以上≥30天产品的用户，即可参与瓜分5万元现金红包。项目累计投资总额达到50,000,000元,即可瓜分20万元现金红包，项目累计投资总额达到100,000,000元,即可瓜分100万元现金红包！</li>
						<li><span></span>瓜分收益算法：个人投资收益/总投资收益*瓜分金额；</li>
						<li><span></span>活动期间累计投资1万元以上≥30天产品的用户，即可参与瓜分。若活动期间项目累计投资总额未达到25,000,000以上则不瓜分；</li>
						<li><span></span>活动结束后瓜分奖励将会直接发放至账户余额中，登录后可在“我的账户-资产明细”中查看。</li>
					</ul>
				</div>
			</div>

		</section>

		<!--联系信息-->
		<footer>
				<p class="tel">
					<span class="left-line line"></span>
					<span class="right-line line"></span>
					<i class="icon"></i>
					<strong class="text">4006-908-896</strong>
				</p>
				<p class="time">服务时间08:30-20:30（法定节假日除外）</p>
		</footer>
	</div>
<!-- 	<script>
	var $th = $('.user-info>table').outerHeight(true);
	var $tb = $('.user-info>table').height();
	$('.user-info').height($th+($tb*2));
</script> -->
</body>
</html>