<div class="november-wrapper" ng-controller="novemberCtrl">
  <div class="banner">
    <div class="lamp"></div>
    <div class="giftAll"></div>

    <!-- <div class="giftAllB"></div> -->
  </div>
  <div class="prize-wrapper">
    <h2>投资送壕礼</h2>
    <p class="titleInfoA">活动期间投资≥90天产品，累计年化投资额达到指定的区间即可获得相应的奖品</p>
    <p class="titleInfoB">
      （注此活动不可使用加息券和红包券，如使用任何优惠券则视为用户自动放弃此次参加活动的机会）</p>
    <div class="phoneBox">
      <ul>
        <li>
          <div class="mode modeA">
            <span class="phoneName" style="left: 41px;">Apple iPhone 7 Plus  128G</span>
            <div class="bgbtm"></div>
            <div class="phone prizea"></div>
            <i class="investInfo">累计年化投资额≥250000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>
            <p class="ifGet getYes" ng-if="prize =='Apple iPhone 7 Plus 128G'">可获得</p>
          </div>
        </li>
        <li>
          <div class="mode modeB">
            <span class="phoneName">Apple iPhone 7  32G</span>
            <div class="bgbtm"></div>
            <div class="phone prizeb"></div>
            <i class="investInfo">累计年化投资额≥180000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>
            <p class="ifGet getYes" ng-if="prize =='Apple iPhone 7 32G' || prize =='Apple iPhone 7 Plus 128G'">可获得</p>
          </div>
        </li>
        <li>
          <div class="mode modeC">
            <span class="phoneName spe">Apple iPad mini4  32G</span>
            <div class="bgbtm"></div>
            <div class="phone prizec"></div>
            <i class="investInfo">累计年化投资额≥127000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>
            <p class="ifGet getYes" ng-if="prize =='Apple iPad mini 4  32G' || prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G'">可获得</p>
          </div>
        </li>
        <li>
          <div class="mode modeE">
            <div class="bgbtm"></div>
            <div class="phone prizee"></div>
            <span class="phoneName" style="left: 48px;">Apple  iPad Air 2  32G</span>
            <i class="investInfo">累计年化投资额≥100000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>
            <p class="ifGet getYes" ng-if="prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G'  ">可获得</p>
          </div>
        </li>
        <li>
          <div class="mode modeD">
            <span class="phoneName" style="left: 52px;">Apple Watch  38mm</span>
            <div class="bgbtm"></div>
            <div class="phone prized"  style="left: 70px; "></div>
            <i class="investInfo">累计年化投资额≥74000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>
            <p class="ifGet getYes" ng-if="prize =='Apple WATCH (38mm)'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G'">可获得</p>
          </div>
        </li>
        <li>
          <div class="mode modeF">
            <div class="bgbtm"></div>
            <div class="phone prizef"></div>
            <span class="phoneName">京东E卡     100元-1500元</span>
            <i class="investInfo">累计年化投资额≥5000元起</i>
            <p class="ifGet getNo" ng-if="login==1">未达标</p>

            <p class="ifGet getYes" ng-if="prize =='京东E卡100元'|| prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G' || prize =='Apple WATCH (38mm)' ||prize =='京东E卡1500元' || prize =='京东E卡1000元' || prize =='京东E卡500元' || prize =='京东E卡200元'">可获得京东E卡100元</p>

            <p class="ifGet getYes" ng-if="prize =='京东E卡200元'|| prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G' || prize =='Apple WATCH (38mm)' ||prize =='京东E卡1500元' || prize =='京东E卡1000元' || prize =='京东E卡500元'">可获得京东E卡200元</p>

            <p class="ifGet getYes" ng-if="prize =='京东E卡500元'|| prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G' || prize =='Apple WATCH (38mm)' ||prize =='京东E卡1500元' || prize =='京东E卡1000元'">可获得京东E卡500元</p>

            <p class="ifGet getYes" ng-if="prize =='京东E卡1000元' || prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G' || prize =='Apple WATCH (38mm)' ||prize =='京东E卡1500元'">可获得京东E卡1000元</p>

            <p class="ifGet getYes" ng-if="prize =='京东E卡1500元'|| prize ==' Apple iPad Air 2  32G'|| prize =='Apple iPhone 7 Plus 128G' || prize =='Apple iPhone 7 32G' || prize =='Apple iPad mini 4  32G' || prize =='Apple WATCH (38mm)'">可获得京东E卡1500元</p>
          </div>
        </li>
      </ul>
      <a href="" class="more" ng-click="onClick('奖品清单弹框')">了解更多奖品></a>
    </div>
    <div class="cenLine"></div>
    <div class="btm">
      <a href="" class="investBtn" ng-click="onClick('投资列表弹框')">立即投资</a>
      <p class="countInfo" ng-if="login>0">当前您累计年化投资额为<i style="color: red;">{{userInvest}}</i>元，
          <i ng-hide="userInvest >=250000">还差{{difference | isNumber2}}元</i>
          可获得
          <strong style="color:red;" ng-show="userInvest >=0 && userInvest < 250000">{{prizeNext}}</strong>
          <strong style="color:red;" ng-show="userInvest >= 250000">{{prize}}</strong>奖品
      </p>
      <p class="noLogin" ng-if="login==0">请<a href="" class="loginBtn" ng-click="onClick('登录')">登录</a>查看您的投资金额</p>
      <p class="investRule">年化投资额=投资金额*投资期限/365</p>
      <div class="forExample">举个栗子：投资90天项目100万元的年化投资额为25万元，1000000*90/365=246575.34</div>

    </div>
  </div>
  <!-- ng-show="login==1&&!isJoin" -->
  <!-- 奖品清单弹框 -->
  <div class="prize-tan" ng-if="prizeList">
    <div class="tan">
      <div class="line"></div>
      <h2>
        <span class="listTitle">投资送壕礼奖品清单</span>
        <a href="" class="close" ng-click="onClick('关闭奖品清单')"></a>
      </h2>
      <div class="conBox">
        <div class="content">
          <div class="thead">
            <p>累计年化投资</p>
            <p class="rt">可领取奖品</p>
          </div>
          <div class="scrollBox">
            <div class="thead">
              <p>≥250000元</p>
              <p class="rt">Apple iPhone 7 Plus 128G</p>
            </div>
            <div class="thead">
              <p>≥180000元</p>
              <p class="rt">Apple iPhone 7 32G</p>
            </div >
            <div class="thead">
              <p>≥127000元</p>
              <p class="rt">Apple iPad mini 4  32G</p>
            </div>
            <div class="thead">
              <p>≥100000元</p>
              <p class="rt">Apple iPad Air 2  32G</p>
            </div>
            <div class="thead">
              <p>≥74000元</p>
              <p class="rt">Apple Watch  38mm</p>
            </div>
            <div class="thead">
              <p>≥54000元</p>
              <p class="rt">京东E卡1500元</p>
            </div>
            <div class="thead">
              <p>≥40000元</p>
              <p class="rt">京东E卡1000元</p>
            </div>
            <div class="thead">
              <p>≥21000元</p>
              <p class="rt">京东E卡500元</p>
            </div>
            <div class="thead">
              <p>≥9100元</p>
              <p class="rt">京东E卡200元</p>
            </div>
            <div class="thead">
              <p>≥5000元</p>
              <p class="rt">京东E卡100元</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sureBtn" ng-click="onClick('关闭奖品清单')">确 定</div>
    </div>
  </div>
  <!-- 投资产品弹框 -->


  <div class="investPro-tan" ng-if="investList">
    <div class="tan">
      <h2>投资以下参加活动产品<a href="" class="close" ng-click="onClick('关闭投资列表弹框')"></a></h2>
      <div class="conBox">
      <!-- {{listDatas}} -->
        <div class="investMode" ng-repeat="item in listDatas">
          <span class="lt">{{item.fullName}}</span>
          <div class="day">
            <span>{{item.deadline}}天</span>
            <i>投资期限</i>
          </div>
          <div class="year">
            <span>{{item.rate}}%</span>
            <i>预期年化</i>
          </div>
          <div class="balance">
            <span>{{item.surplusAmount |currency:'':0}}</span>
            <i>剩余金额</i>
          </div>
          <a class="nowInvest" target="_blank" ui-sref="main.billDetail({id:item.id,coupon:false,Interest:false,double:false})
          ">立即投资</a>
        </div>
      </div>
    </div>
  </div>
  <div class="rule">
    <span class="HDGZ titlebg"></span>
    <div>
      <ul>
        <li><i>></i>活动时间：2016年11月16日-11月30日；</li>
        <li><i>></i>活动期间投资≥90天产品，累计年化投资额达到指定的区间即可获得相应的奖品（此活动不可使用加息券和红包券，如使用
          任何优惠券则视为用户自动放弃此次参加活动的机会） ；
        </li>
        <li><i>></i>关于实物奖励： 活动结束后客服将在5个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品，若5个工作日内未能成功与用户取得联系，则视为该用户自动放弃本次获奖奖品（奖品颜色随机发货）；
        </li>
        <li><i>></i>奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
        <li><i>></i>如有疑问，欢迎咨询客服热线4006-908-896；</li>
        <li><i>></i>本次活动最终解释权归多融财富所有。</li>
      </ul>
    </div>
  </div>
  <div class="common-wrapper">
    <div class="mode">
      <div class="title">为什么选择多融</div>
      <div class="content">
        <div class="iconmode">
          <i class="olympiad-gzkg"></i>
          <div>
            <span>国企控股</span>
            <p>大型国企中商沪深控股</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-guarantee"></i>
          <div>
            <span>资金安全保障</span>
            <p>历史到期产品100%本息兑付，安全可靠</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-pjcd"></i>
          <div>
            <span>票据100%承兑</span>
            <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-lszc"></i>
          <div>
            <span>专业律所全程支持</span>
            <p>专业律所全程保驾护航</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mode">
      <div class="title">多融荣誉</div>
      <ul>
        <li>
          <a href="https://www.duorongcf.com/jt/XWXQ?newId=1&t=1" target="_blank">
            <img src="/images/honor/honor1.png">
            <p>多融财富荣膺<br>“2016中国最佳诚信示范金融企业”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/jt/XWXQ?newId=3&t=0" target="_blank">
            <img src="/images/honor/honor2.png">
            <p>多融财富加入<br>“上海市信息服务业行业协会”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/jt/XWXQ?newId=2&t=0" target="_blank">
            <img src="/images/honor/honor3.png">
            <p>多融财富加入<br>“上海金融信息行业协会”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/jt/XWXQ?newId=11&t=1" target="_blank">
            <img src="/images/honor/honor4.png">
            <p>多融财富荣获<br>“中国信用企业认证体系示范单位”证书</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="mode">
      <div class="title">合作单位</div>
      <div class="partners">
        <div class="swiper-button-prev"></div>
        <div class="imgs swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner1.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner2.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner3.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner5.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner6.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner7.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner8.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner9.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner10.png">
            </li>
            <li class="swiper-slide">
              <img src="/images/gua-partner/partner11.png">
            </li>
          </ul>
        </div>
        <!-- <div class="olympiad-right swiper-button-next"></div> -->
      </div>
    </div>
  </div>
  <div class="code-wrapper">
    <div class="code">
      <div class="icon"></div>
      <div class="phonecode"></div>
      <div class="appcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/images/activity/newfriend-app.png"></div>
          <div class="app-code-word">
            <p><i class="olympiad-iphone"></i></p>
          </div>
        </div>
        <div class="title">App下载</div>
      </div>
      <div class="appcode wechatcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/images/activity/newfriend-wechat.png"></div>
        </div>
        <div class="title">关注公众号</div>
      </div>
      <div class="tel">
        <div class="number">
          <i class="olympiad-phone"></i>
          <div>
            <span>4006-908-896</span>
            <p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>