<!DOCTYPE html>
<html ng-app="someApp" id='ng-app' xmlns:ng="http://angularjs.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=8" />
    <meta content="always" name="referrer"><meta name="theme-color" content="#2932e1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title ng-bind="title">多融财富-10月返现活动</title>
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/activity/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheets/newapp.css">
     <script type="text/javascript" src="../../vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="../../vendor/lucky-card.min.js"></script>
    <script type="text/javascript" src="../../js/controllers/octCashBackCtrl.js"></script>
</head>
<body class="octCashBack-body appbody" ng-controller="octCashBackCtrl">
    <div class="banner"><img src="../../images/octCashBack/banner.png" alt=""></div>
    <div class="themeBox">
        <h2>多投多返 上不封顶</h2>
        <div class="themeInfo">
            <span class="icon"></span>
            <span class="icon rt"></span>
            <p class="title">为庆祝多融财富正式跻身国资控股网贷平台行列，特推出投资返现活动！活动期间投资≥30天的产品，根据每日累计投资总额进行返现，多投多返,上不封顶！</p>
            <p class="psText">PS: 此活动可使用加息券、红包哦~<br>年化投资金额=投资金额*产品期限/365</p>
            <ul>
                <li><span>1万元≤当日累计投资总额＜5万元</span></li>
                <li class="sec"><span>5万元≤当日累计投资总额＜10万元</span></li>
                <li class="third"><span class="text">当日累计投资总额≥10万元</span></li>
            </ul>
        </div>
    </div>
    <div class="exampleBox">
        <span class="icon"></span>
        <span class="icon rt"></span>
        <h2>举个栗子</h2>
        <p>本日累计投资120天产品10W元，3日内即可获得<br>返现：200元<br>(100,000*0.6%*120/360=200)<br>
本日累计投资120天产品10W元180天产品10W元<br>3日内即可获得返现：500元(100,000*0.6%*120/360+100,000*0.6%*180/360=500)</p>
    </div>
    <div class="investShow" ng-show="uid!=undefined">
        <span class="icon"></span>
        <span class="icon rt"></span>
        您今日已投：{{investTotal}}元
    </div>
    <a href="http://app.duorongcf.com/bankBillList" ng-show="uid!=undefined" class="investBtn">立即投资</a>
    <a href="http://app.duorongcf.com/dl" class="investBtn" ng-show="uid==undefined" >立即登录</a>
    <div class="ruleBox">
        <h2>活动规则</h2>
        <div class="itemsBox">
            <span class="icon"></span>
            <span class="icon rt"></span>
            <ul>
                <li>1、2016年10月21日--2016年10月25日；</li>
                <li>2、用户投资≥30天以上的产品才可参与返现活动；</li>
                <li>3、返现金额将在投资成功后（3天内）直接发放至个人账户，登录后可在“我的账户—我的资产”中查看；（此返现可与加息券、红包叠加）</li>
                <li>4、如有疑问，欢迎咨询客服热线4006-908-896；</li>
                <li class="circleLi"><i></i>本次活动部分渠道不参加，请谅解，谢谢！</li>
                <li class="circleLi"><i></i>本次活动最终解释权归多融财富所有</li>
            </ul>
        </div>
    </div>
    <div class="whymeBox">
        <h2>为什么选择多融财富</h2>
        <div class="content">
            <span class="icon"></span>
            <span class="icon rt"></span>
            <div class="iconmode">
                <i class="gzkg"></i>
                <div>
                    <span>国企控股</span>
                    <p>大型国企中商沪深控股</p>
                </div>
            </div>
            <div class="iconmode">
                <i class="guarantee"></i>
                <div>
                    <span>资金安全保障</span>
                    <p>历史到期产品100%本息兑付，安全可靠</p>
                </div>
            </div>
            <div class="iconmode">
                <i class="pjcd"></i>
                <div>
                    <span>票据100%承兑</span>
                    <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
                </div>
            </div>
            <div class="iconmode">
                <i class="lszc"></i>
                <div>
                    <span>专业律所全程支持</span>
                    <p>专业律师事务所，全程提供法律支持</p>
                </div>
            </div>
        </div>
    </div>
    <!--渠道用户弹窗-->
    <div class="rules-bg" ng-if="aloneQdShow">
        <div class="model-content tips" ng-if="aloneQdShow">
            <div class="title">
                <h3 class="text">提示</h3>
            </div>
            <div class="con">
                <p>亲，由于您是渠道VIP用户<br>所以不能参加此次活动，敬请谅解</p>
                <a class="go-back" href="jump://page=1?" ng-if="wap!='true'" >返回首页</a> <!--如果是app的用户就跳回app首页-->

                 <a class="go-back" href="http://app.duorongcf.com/home" ng-if="wap=='true'">返回首页</a><!--如果是h5的用户H5首页-->

            </div>
        </div>
    </div>
</body>