html, body{
  padding: 0;
  margin: 0;
  max-width: 750px;
}
.page-wrapper{
  width: 100%;
  background: #F7F7F7;
  .top{
    background: url("./images/top.jpg") center no-repeat;
    background-size: cover;
  }
  .introduce{
    margin: auto;
    border: .00001rem dotted #333;
    color: #333;
  }
  .ace-mark{
    display: inline-block;
    background: url("./images/go-ahead.jpg") center no-repeat;
    background-size: contain;
  }
  .safe-mark{
    display: inline-block;
    background: url("./images/oversee.jpg") center no-repeat;
    background-size: contain;
  }
  .diagram{
    background: url("./images/diagram.jpg") center no-repeat;
    background-size: cover;
  }
  .what-adv{
    background: url("./images/what-adv.png") center no-repeat;
    background-size: cover;
    margin: auto;
  }
  .adv-item{
    display: inline-block;
  }
  .insulate{
    @extend .adv-item;
    background: url("./images/insulate.jpg") center no-repeat;
    background-size: contain;
  }
  .command{
    @extend .adv-item;
    background: url("./images/command.jpg") center no-repeat;
    background-size: contain;
  }
  .exclusive{
    @extend .adv-item;
    background: url("./images/exclusive.jpg") center no-repeat;
    background-size: contain;
  }
  .bank{
    @extend .adv-item;
    background: url("./images/bank.jpg") center no-repeat;
    background-size: contain;
  }
  .background{
    background: url("./images/background.jpg") center no-repeat;
    background-size: cover;
    .item{
      border: 1px dashed #FFF;
      border-radius: .5rem;
      color: #FFF;
      padding: .25rem .4rem;
      font-size: .5rem;
      line-height: 1.1rem;
      span{
        font-size: .8rem;
      }
    }
  }
  .news-report{
    margin: auto;
    background: url("./images/news-report.png") center no-repeat;
    background-size: contain;
  }
  a.link{
    display: inline-block;
    float: left;
  }
  .link-1{
    @extend .link;
    background: url("./images/21cn.jpg") center no-repeat;
    background-size: contain;
  }
  .link-2{
    @extend .link;
    background: url("./images/invest-china.jpg") center no-repeat;
    background-size: contain;
  }
  .line-3{
    @extend .link;
    background: url("./images/hc360.jpg") center no-repeat;
    background-size: contain;
  }
  .qa-title{
    margin: auto;
    background: url("./images/qa.png") center no-repeat;
    background-size: contain;
  }
  .qa-detail {
    width: 100%;
    .tab-row{
      margin-top: 1.5rem;
      width: 100%;
      border-bottom: 1px solid #999;
      .tab-item{
        display: inline-block;
        border-right: 1px solid #CCC;
        padding: 0 .4rem .3rem;
        color: #999;
        font-size: .7rem;
        line-height: .7rem;
      }
      .tab-item:last-child{
        border-right: none;
      }
    }
    .qa-item{
      margin: 1.5rem 0;
      .q{
        color: #E8A22B;
        font-size: .72rem;
        margin-bottom: .3rem;
        span{
          display: inline-block;
          padding: 0 .3rem;
          line-height: 1.1rem;
          font-size: .5rem;
          vertical-align: top;
        }
      }
      p{
        margin-left: 1rem;
        color: #000;
        font-size: .6rem;
        line-height: 1.2rem;
      }
    }
    .qa-item:last-child{
      padding-bottom: 1.5rem;
      margin-bottom: 0;
    }
  }
}