/* line 1, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper {
  width: 100%;
  background: #e3eefa;
  overflow: hidden;
}
/* line 2, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .banner {
  background: url("../../../../images/doubleTwelve/bannerBg.png") center center no-repeat;
  width: 100%;
  height: 685px;
  position: relative;
}
/* line 4, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .banner .bannerText {
  background: url("../../../../images/doubleTwelve/bannerText.png") center center no-repeat;
  width: 921px;
  height: 207px;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 6, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .banner .bannerLenR {
  background: url("../../../../images/doubleTwelve/bannerLenR.png") center no-repeat;
  width: 760px;
  height: 292px;
  position: absolute;
  top: 398px;
  left: 1030px;
}
/* line 8, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .banner .bannerPrize {
  background: url("../../../../images/doubleTwelve/bannerprize.png") center center no-repeat;
  width: 710px;
  height: 258px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 10, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .banner .bannerSnow {
  background: url("../../../../images/doubleTwelve/bannerSnow.png") center center no-repeat;
  width: 100%;
  height: 98px;
  position: absolute;
  bottom: 0;
}
/* line 13, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper {
  background: url("../../../../images/doubleTwelve/conBg.jpg") center center no-repeat;
  width: 100%;
  height: 2231px;
  position: relative;
  z-index: 2;
}
/* line 15, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop {
  background: url("../../../../images/doubleTwelve/conTop.png") center center no-repeat;
  width: 100%;
  height: 269px;
  position: absolute;
  top: 0;
  z-index: 3;
}
/* line 17, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title {
  width: 1200px;
  height: 161px;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 19, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title p.titleCon {
  font-size: 52px;
  line-height: 160px;
  color: #fff;
  text-align: center;
}
/* line 22, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title span.titleNotice {
  width: 307px;
  height: 139px;
  background: #b61d18;
  border: 2px dashed #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  right: 34px;
}
/* line 24, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title span.titleNotice p.sti {
  font-size: 24px;
  height: 68px;
  color: #ffff66;
  line-height: 48px;
  text-align: center;
  margin-top: 5px;
  animation: anfirst 5s;
}
/* line 26, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title span.titleNotice p.sti span {
  font-size: 30px;
}
/* line 30, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .conTop .title span.titleNotice p.stp {
  font-size: 14px;
  color: #ffffcc;
  text-align: center;
}
/* line 36, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox {
  width: 1200px;
  height: 387px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 180px;
  z-index: 0;
}
/* line 38, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPLeft {
  background: url("../../../../images/doubleTwelve/conPriL.png") center center no-repeat;
  width: 479px;
  height: 294px;
  position: absolute;
  top: 0;
}
/* line 40, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPLeft p.SYJH {
  font-size: 18px;
  color: #eee;
  margin-top: 150px;
  text-align: center;
}
/* line 43, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPLeft .dlBtn {
  background: url("../../../../images/doubleTwelve/dlBtn.png") center center no-repeat;
  width: 200px;
  height: 45px;
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
  color: #010101;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
/* line 47, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight {
  background: url("../../../../images/doubleTwelve/conPriR.png") center center no-repeat;
  width: 687px;
  height: 387px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 49, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight p.TZ {
  font-size: 24px;
  color: #ffcc00;
  line-height: 45px;
  margin-top: 170px;
  margin-left: 45px;
  margin-bottom: 10px;
}
/* line 51, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight p.TZ .TZBtn {
  background: url("../../../../images/doubleTwelve/dlBtn.png") center center no-repeat;
  width: 200px;
  height: 45px;
  font-size: 18px;
  color: #010101;
  line-height: 45px;
  text-align: center;
  display: block;
  float: right;
  margin-right: 200px;
  cursor: pointer;
}
/* line 53, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight p.TZ .TZBtn:hover {
  text-decoration: none;
}
/* line 58, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight p.rule {
  font-size: 14px;
  color: #eeeeee;
  line-height: 24px;
  margin-left: 48px;
}
/* line 61, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .JPBox .JPRight a.allPrize {
  font-size: 14px;
  color: #9de3ff;
  line-height: 30px;
  float: right;
  margin-right: 35px;
}
/* line 66, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  top: 190px;
}
/* line 68, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom {
  background: url("../../../../images/doubleTwelve/ZDBgBott.png") center center no-repeat;
  width: 100%;
  height: 308px;
  position: absolute;
  bottom: 0;
}
/* line 70, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom p.title {
  text-align: center;
  margin-top: 130px;
  font-size: 24px;
  color: #fff;
}
/* line 73, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom .person-list {
  width: 1050px;
  height: 44px;
  position: absolute;
  bottom: 63px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
/* line 76, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom .person-list ul li {
  float: left;
  padding-left: 30px;
  height: 20px;
  line-height: 28px;
  color: #ffcccc;
}
/* line 78, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom .person-list ul li .phone {
  width: 160px;
  display: block;
  float: left;
}
/* line 81, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .ZDBottom .person-list ul li .prizename {
  width: 160px;
  display: block;
  float: left;
  text-align: center;
}
/* line 88, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox {
  width: 1200px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  /* .HD{
  	background: url('../../../../images/doubleTwelve/E.png') center center no-repeat;width:243px;height:309px;display:block;float:left;
  	&:hover{
  		background: url('../../../../images/doubleTwelve/EL.png') center center no-repeat;
  	}
  	&:active{
  		background: url('../../../../images/doubleTwelve/ELH.png') center center no-repeat;
  	}
  } */
}
/* line 100, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .egg_list {
  position: relative;
  width: 1200px;
}
/* line 101, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .egg_list li.HD {
  float: left;
  background: url("../../../../images/doubleTwelve/E.png") no-repeat bottom;
  width: 243px;
  height: 309px;
  cursor: pointer;
  position: relative;
  margin-left: 110px;
}
/* line 102, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .egg_list li.current {
  background: url("../../../../images/doubleTwelve/ELH.png") no-repeat bottom;
  cursor: default;
  z-index: 300;
}
/* line 103, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .hammer {
  background: url("../../../../images/doubleTwelve/czz.png") no-repeat;
  width: 500px;
  height: 352px;
  position: absolute;
  text-indent: -9999px;
  z-index: -7;
  left: 23px;
  top: -160px;
}
/* line 104, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .result_tip {
  position: absolute;
  background: #ffc;
  width: 148px;
  padding: 6px;
  z-index: 500;
  top: 200px;
  left: 10px;
  color: #f60;
  text-align: center;
  overflow: hidden;
  display: none;
  z-index: 500;
}
/* line 105, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .DBox .result_tip b {
  font-size: 14px;
  line-height: 24px;
}
/* line 107, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .ZDBox .snow-face {
  background: url("../../../../images/doubleTwelve/snowFace.png") center center no-repeat;
  width: 100%;
  height: 142px;
  position: absolute;
  bottom: 142px;
  z-index: 444;
}
/* line 115, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox {
  width: 1100px;
  height: 125px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 690px;
}
/* line 118, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative {
  position: relative;
  height: 125px;
}
/* line 120, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething {
  display: block;
  float: left;
}
/* line 122, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizeone {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(0px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizeone.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 126, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizeone.cur {
  transform: rotatey(360deg) translateX(0px);
  opacity: 1;
}
/* line 130, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizetwo {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(157px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizetwo.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 134, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizetwo.cur2 {
  transform: rotatey(360deg) translateX(157px);
  opacity: 1;
}
/* line 138, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizethree {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(314px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizethree.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 142, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizethree.cur3 {
  transform: rotatey(360deg) translateX(314px);
  opacity: 1;
}
/* line 146, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizefour {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(471px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizefour.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 150, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizefour.cur4 {
  transform: rotatey(360deg) translateX(471px);
  opacity: 1;
}
/* line 154, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizefive {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(628px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizefive.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 158, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizefive.cur5 {
  transform: rotatey(360deg) translateX(628px);
  opacity: 1;
}
/* line 162, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizesix {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(785px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizesix.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 166, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizesix.cur6 {
  transform: rotatey(360deg) translateX(785px);
  opacity: 1;
}
/* line 170, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizeseven {
  transition: all 1s ease-in-out;
  transform: rotatey(0deg) translateX(942px);
  opacity: 0;
  background: url("../../../../images/doubleTwelve/prizeseven.png") center center no-repeat;
  width: 157px;
  height: 125px;
  position: absolute;
}
/* line 174, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .prizebox .prizerelative .prizething.prizeseven.cur7 {
  transform: rotatey(360deg) translateX(942px);
  opacity: 1;
}
/* line 181, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .giftBox {
  width: 1200px;
  height: 170px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1980px;
  /* .gift{animation: anfirst 5s linear; -moz-animation: anfirst 5s linear;
  -webkit-animation: anfirst 5s linear;
  -o-animation: anfirst 5s linear 2s infinite alternate;} */
}
/* line 183, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .giftBox .gift {
  background: url("../../../../images/doubleTwelve/LW.png") center center no-repeat;
  width: 262px;
  height: 167px;
  position: absolute;
  left: 900px;
}
/* line 186, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .content-wrapper .giftBox .giftD {
  animation: anTwo 3s;
}
/* line 194, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper {
  padding-bottom: 70px;
  overflow: hidden;
  background: #fff;
}
/* line 198, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode {
  width: 1198px;
  margin: 65px auto 0;
  border: 1px solid #87c9df;
  position: relative;
}
/* line 203, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .title {
  width: 162px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  background: #20b2e3;
  font-size: 18px;
  color: #f0f0f0;
  float: left;
  margin: -17px 0 0 30px;
}
/* line 214, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .love-icon {
  position: absolute;
  left: 53px;
  top: 140px;
}
/* line 219, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .content {
  padding: 49px 0 10px 120px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 224, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .content .iconmode {
  width: 529px;
  float: left;
  height: 137px;
  position: relative;
}
/* line 229, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .content .iconmode i {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 234, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .content .iconmode div {
  padding: 14px 0 0 112px;
  font-size: 14px;
  color: #333;
}
/* line 238, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .content .iconmode div span {
  font-size: 26px;
  color: #333;
}
/* line 245, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode ul {
  padding: 40px 0 40px 33px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 250, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode ul li {
  float: left;
  margin-right: 17px;
  width: 271px;
  text-align: center;
}
/* line 255, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode ul li a:hover {
  color: #333;
}
/* line 258, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode ul li p {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding-top: 16px;
}
/* line 266, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners {
  padding: 50px 0 44px 30px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
/* line 271, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .zhongqiu-left {
  float: left;
  margin: 30px 10px 0 0;
  cursor: pointer;
}
/* line 276, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .imgs {
  width: 1099px;
  overflow: hidden;
  float: left;
  height: 78px;
}
/* line 281, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .imgs ul {
  width: 2080px;
  padding: 0;
}
/* line 284, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .imgs ul li {
  float: left;
  width: auto;
  margin: 0 !important;
}
/* line 288, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .imgs ul li img {
  width: 153px;
}
/* line 294, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .common-wrapper .mode .partners .zhongqiu-right {
  float: left;
  margin: 30px 0 0 10px;
  cursor: pointer;
}
/* line 302, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper {
  width: 100%;
  height: 200px;
  background: #20b2e3;
}
/* line 306, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* line 310, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .appcode {
  float: left;
  margin: 41px 0 0 44px;
}
/* line 314, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .wechatcode {
  float: left;
  margin: 41px 0 0 198px;
}
/* line 318, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .tel {
  float: left;
  margin: 76px 0 0 353px;
}
/* line 322, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .tel .number i {
  float: left;
}
/* line 325, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .tel .number div {
  float: left;
  color: #fff;
  padding-left: 13px;
  margin-top: -5px;
}
/* line 330, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .tel .number div span {
  font-size: 32px;
}
/* line 333, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .tel .number div p {
  font-size: 12px;
  margin-top: -3px;
}
/* line 340, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .title {
  font-size: 16px;
  color: #fff;
  padding-top: 6px;
  width: 106px;
  text-align: center;
}
/* line 347, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .code-box {
  overflow: hidden;
}
/* line 349, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .code-box .app-code-icon {
  float: left;
}
/* line 351, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .code-box .app-code-icon img {
  display: block;
  border: 1px solid #008c40;
}
/* line 356, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .code-box .app-code-word {
  float: left;
  padding: 29px 0 0 18px;
}
/* line 361, ../sass/doubleTwelve.scss */
.doubleTwelve-wrapper .code-wrapper .code .code-box .app-code-word p i {
  width: 104px;
  height: 60px;
  background: url("../../../../images/olympiad/appicon.png") center center no-repeat;
  position: absolute;
  top: 67px;
  left: 167px;
}

/* line 370, ../sass/doubleTwelve.scss */
.htmleaf-content {
  font-size: 150%;
  padding: 1em 0;
  min-height: 100vh;
}

/* line 375, ../sass/doubleTwelve.scss */
.snow-canvas {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
}

@keyframes prizeone {
  0% {
    transform: rotate(0deg);
    left: 880px;
    -moz-opacity: 0;
    -webikit-opacity: 0;
    opacity: 0;
  }
  50% {
    transform: rotate(30deg);
    left: 440px;
    -moz-opacity: .5;
    -webikit-opacity: .5;
    opacity: .5;
  }
  100% {
    transform: rotate(0deg);
    left: 0px;
    -moz-opacity: 1;
    -webikit-opacity: 1;
    opacity: 1;
  }
}
@keyframes prizetwo {
  0% {
    transform: rotate(0deg);
    left: 880px;
  }
  50% {
    transform: rotate(30deg);
    left: 550px;
  }
  100% {
    transform: rotate(0deg);
    left: 220px;
  }
}
@keyframes prizethree {
  0% {
    transform: rotate(0deg);
    left: 880px;
  }
  50% {
    transform: rotate(30deg);
    left: 660px;
  }
  100% {
    transform: rotate(0deg);
    left: 440px;
  }
}
@keyframes prizefour {
  0% {
    transform: rotate(0deg);
    left: 880px;
  }
  50% {
    transform: rotate(30deg);
    left: 770px;
  }
  100% {
    transform: rotate(0deg);
    left: 660px;
  }
}
@keyframes anTwo {
  0% {
    transform: rotate(0deg);
    left: 900px;
  }
  25% {
    transform: rotate(20deg);
    left: 600px;
  }
  50% {
    transform: rotate(0deg);
    left: 600px;
  }
  55% {
    transform: rotate(0deg);
    left: 600px;
  }
  70% {
    transform: rotate(0deg);
    left: 600px;
  }
  100% {
    transform: rotate(-360deg);
    left: 900px;
  }
}
@keyframes anfirst {
  0% {
    transform: rotate(0deg);
    font-size: 36px;
  }
  25% {
    transform: rotate(20deg);
    font-size: 36px;
  }
  50% {
    transform: rotate(-20deg);
    font-size: 36px;
  }
  75% {
    transform: rotate(0deg);
    font-size: 36px;
  }
  100% {
    transform: rotate(0deg);
    font-size: 24px;
  }
}
/* line 488, ../sass/doubleTwelve.scss */
.mask-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 8899;
}
/* line 496, ../sass/doubleTwelve.scss */
.mask-wrapper .tan {
  background: url('/images/olympiad-tan.png') center top no-repeat;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  margin-top: -225px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  padding-top: 72px;
  text-align: center;
}
/* line 508, ../sass/doubleTwelve.scss */
.mask-wrapper .tan .olympiad-liangjie {
  background: url('/images/../../../../images/doubleTwelve/liangjie.png?1479714940') center top no-repeat;
  width: 212px;
  height: 50px;
  margin: 0 auto 35px;
}
/* line 514, ../sass/doubleTwelve.scss */
.mask-wrapper .tan span {
  font-size: 24px;
  line-height: 36px;
  color: #333;
  text-align: center;
}
/* line 520, ../sass/doubleTwelve.scss */
.mask-wrapper .tan .olympiad-btn {
  background: url('/images/../../../../images/doubleTwelve/btn.png?1479714940') center top no-repeat;
  width: 126px;
  height: 32px;
  margin: 126px auto 0;
  cursor: pointer;
}
/* line 528, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg {
  background: url('/images/../../../../images/doubleTwelve/tanBg.png?1479988122') center top no-repeat;
  width: 661px;
  height: 497px;
  margin: 0 auto;
  margin-top: -249px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -330px;
  padding-top: 82px;
  text-align: center;
}
/* line 540, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg.tanBgt {
  background: url('/images/../../../../images/doubleTwelve/tanBgt.png?1480485189') center top no-repeat;
}
/* line 543, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 547, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .title span.thankes {
  font-size: 30px;
  color: #fdff3e;
  text-align: center;
  display: block;
}
/* line 550, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .title span.wkstitle {
  font-size: 30px;
  color: #fff600;
  text-align: center;
  display: block;
  font-weight: bold;
}
/* line 554, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .titleBg {
  background: url('/images/../../../../images/doubleTwelve/titleBg.png?1479988105') center top no-repeat;
  width: 508px;
  height: 68px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  padding-left: 30px;
}
/* line 559, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .titleBg span.cz {
  font-size: 18px;
  color: #008dbc;
  display: block;
  text-align: left;
  line-height: 60px;
}
/* line 563, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content {
  width: 445px;
  background: #fff;
  margin: -30px auto 0;
  padding: 40px 30px 0;
  border-radius: 8px;
}
/* line 565, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content.conPL {
  width: 505px;
  padding: 40px 0 30px;
}
/* line 568, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content .over {
  height: 120px;
  margin: 0 auto;
  overflow-y: auto;
}
/* line 570, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content .over.priLi {
  height: 160px;
}
/* line 573, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content .over table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 576, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content .over table td span {
  font-size: 14px;
  color: #008dbc;
  display: block;
  text-align: left;
  padding-left: 20px;
}
/* line 582, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .content .conBottom {
  width: 100%;
  height: 67px;
  margin: 0 auto;
  padding-top: 5px;
  border-top: 1px solid #008dbc;
  text-align: left;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
/* line 586, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .hwks {
  background: url('/images/../../../../images/doubleTwelve/WKS.png?1480040821') center top no-repeat;
  width: 654px;
  height: 304px;
  position: absolute;
  bottom: 93px;
  left: 3px;
  z-index: 44;
}
/* line 590, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .yjs {
  background: url('/images/../../../../images/doubleTwelve/yjs.png?1480039161') center top no-repeat;
  width: 654px;
  height: 304px;
  position: absolute;
  bottom: 93px;
  left: 3px;
}
/* line 594, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .wtz {
  background: url('/images/../../../../images/doubleTwelve/wtz.png?1480040497') center top no-repeat;
  width: 229px;
  height: 231px;
  position: absolute;
  bottom: 173px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 598, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .getx {
  background: url('/images/../../../../images/doubleTwelve/getx.png?1480042617') center top no-repeat;
  width: 156px;
  height: 199px;
  position: absolute;
  bottom: 203px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 602, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .bbtom {
  background: url('/images/../../../../images/doubleTwelve/bbtom.png?1480038955') center top no-repeat;
  width: 654px;
  height: 159px;
  position: absolute;
  bottom: 83px;
  left: 3px;
}
/* line 606, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .btn {
  width: 230px;
  height: 46px;
  background: #ff8400;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
  line-height: 46px;
  margin-top: 15px;
}
/* line 608, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .btn.btnyjs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
/* line 611, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .btn.wksbtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
/* line 614, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .btn.zIndex {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
  z-index: 99999;
  background: none;
}
/* line 618, ../sass/doubleTwelve.scss */
.mask-wrapper .tanBg .btnk {
  width: 230px;
  height: 46px;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
  line-height: 46px;
  position: absolute;
  left: 0;
  right: 0;
  top: 415px;
}
