/* line 1, ../sass/thankGuest.scss */
.bg-wrapper {
  background: #FFF;
  width: 100%;
}
/* line 4, ../sass/thankGuest.scss */
.bg-wrapper .top-bar {
  width: 100%;
  min-width: 1210px;
}
/* line 11, ../sass/thankGuest.scss */
.bg-wrapper .small-sign-title {
  color: #fe9e01;
  font-size: 36px;
}
/* line 15, ../sass/thankGuest.scss */
.bg-wrapper .many-words {
  margin: 0 0 10px 45px;
  color: #000;
  font-size: 24px;
  line-height: 30px;
}
/* line 21, ../sass/thankGuest.scss */
.bg-wrapper .title-mark {
  margin: auto;
  height: 68px;
  width: 461px;
  padding: 60px 0 20px;
}
/* line 27, ../sass/thankGuest.scss */
.bg-wrapper .part-top {
  width: 1210px;
  margin: 0 auto;
}
/* line 31, ../sass/thankGuest.scss */
.bg-wrapper .part-top .row-1 .desc {
  display: inline-block;
  width: 460px;
}
/* line 34, ../sass/thankGuest.scss */
.bg-wrapper .part-top .row-1 .desc .words {
  color: #000;
  font-size: 18px;
  line-height: 30px;
}
/* line 40, ../sass/thankGuest.scss */
.bg-wrapper .part-top .row-1 .video-box {
  display: inline-block;
  padding-top: 50px;
  position: relative;
}
/* line 44, ../sass/thankGuest.scss */
.bg-wrapper .part-top .row-1 .video-box .video {
  position: absolute;
  top: 90px;
  left: 30px;
}
/* line 52, ../sass/thankGuest.scss */
.bg-wrapper .part-middle {
  background: #F6F6FF;
  width: 100%;
}
/* line 55, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-title {
  color: #fe9e01;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
/* line 61, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-container {
  width: 1210px;
  margin: auto;
}
/* line 65, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-container .op-btn, .bg-wrapper .part-middle .album-container .l-btn, .bg-wrapper .part-middle .album-container .r-btn {
  display: inline-block;
  height: 571px;
  width: 65px;
  cursor: pointer;
}
/* line 71, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-container .l-btn {
  background: url("../../../../images/thank-guest-pc/l.png") center no-repeat;
  background-size: contain;
}
/* line 76, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-container .r-btn {
  background: url("../../../../images/thank-guest-pc/r.png") center no-repeat;
  background-size: contain;
}
/* line 81, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .album-container .photo-box {
  position: relative;
  display: inline-block;
  background: url("../../../../images/thank-guest-pc/album-bg.png") center no-repeat;
  background-size: contain;
  width: 1003px;
  height: 571px;
  margin: auto;
  padding: 44px 25px;
}
/* line 92, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bar {
  height: 547px;
  width: 100%;
  background: url("../../../../images/thank-guest-pc/bar-asset-verify.jpg") center no-repeat;
  background-size: contain;
}
/* line 98, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container {
  width: 1210px;
  margin: -20px auto 0;
}
/* line 101, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .trim-left {
  margin-left: 0;
}
/* line 104, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .appealing-area {
  padding: 30px 0 60px;
  border-bottom: 1px solid #dbdbf0;
}
/* line 107, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .appealing-area .item-sign-box {
  display: inline-block;
  margin: 0 4px;
}
/* line 111, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .appealing-area .item-desc {
  vertical-align: top;
  display: inline-block;
  padding: 10px 26px 10px 0;
  color: #666;
}
/* line 116, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .appealing-area .item-desc .title {
  font-size: 20px;
  line-height: 30px;
}
/* line 120, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .appealing-area .item-desc .detail {
  font-size: 14px;
  line-height: 20px;
}
/* line 126, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-title {
  margin: 36px 0 35px 10px;
  border-left: 8px solid #fe7634;
  padding-left: 15px;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}
/* line 134, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 1042px;
  height: 337px;
}
/* line 139, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bill-box, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bank-bill, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .biz-bill {
  display: inline-block;
  border: 1px solid #D1D1D1;
  background: #FFF;
  padding: 10px;
  width: 47%;
  height: 100%;
}
/* line 146, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bill-box ul, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bank-bill ul, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .biz-bill ul {
  margin-bottom: 15px;
  position: relative;
  left: 15px;
}
/* line 151, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bill-box ul li, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bank-bill ul li, .bg-wrapper .part-middle .bill-invest-container .bill-sample-container .biz-bill ul li {
  color: #999;
  font-size: 18px;
  list-style-type: disc;
}
/* line 157, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container img {
  cursor: pointer;
}
/* line 160, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container .bank-bill {
  float: left;
}
/* line 164, ../sass/thankGuest.scss */
.bg-wrapper .part-middle .bill-invest-container .bill-sample-container .biz-bill {
  clear: left;
  position: relative;
  left: 5%;
}
/* line 173, ../sass/thankGuest.scss */
.bg-wrapper .part-bottom {
  background: #FFF;
  width: 100%;
}
/* line 176, ../sass/thankGuest.scss */
.bg-wrapper .part-bottom .content-wrapper {
  width: 1210px;
  margin: 0 auto;
  padding-bottom: 46px;
}
/* line 182, ../sass/thankGuest.scss */
.bg-wrapper .footer-container {
  width: 100%;
  height: 200px;
  background: url("../../../../images/thank-guest-pc/footer-bar.jpg") center no-repeat;
  background-size: cover;
}
/* line 187, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area {
  width: 1106px;
  height: 162px;
  margin: 0 auto;
  padding: 38px 50px 0 44px;
}
/* line 192, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area .qrcd, .bg-wrapper .footer-container .content-area .mb-os {
  display: inline-block;
  width: 106px;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  line-height: 30px;
}
/* line 200, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area .mb-os {
  vertical-align: top;
  width: 106px;
  height: 104px;
  margin-left: 20px;
  background: url("../../../../images/thank-guest-pc/icon-mbos.png") center no-repeat;
  background-size: contain;
}
/* line 209, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area .phone-mark {
  display: inline-block;
  vertical-align: top;
  margin: 32px 12px 0 332px;
  width: 65px;
  height: 62px;
  background: url("../../../../images/thank-guest-pc/icon-phone.png") center no-repeat;
  background-size: contain;
}
/* line 218, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area .phone-detail {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
  width: 240px;
  color: #FFF;
  font-size: 12px;
  line-height: 28px;
}
/* line 226, ../sass/thankGuest.scss */
.bg-wrapper .footer-container .content-area .phone-detail h3 {
  font-size: 34px;
  font-weight: bold;
}
