{# 新手宝 #}
<div class="newhandZX" style="height: 180px;">
    <div class="left-list" style="border: 1px solid #e9e9e9;">
        <div class="section clearfix">
            <div class="title">
                新手宝
            </div>
            <ul class="clearfix newh" style="height: 86px;margin-top: 10px;">
                <li class="rate" style="padding-right:15px;">
                    <em>{{current.rate}}<span>%</span></em>
                    <p>历史年化收益率</p>
                </li>
                <li class="deadline" style="border-right: 1px solid #f4f4f4;padding-right:25px;">
                    <b style="color: #ff7200;"><span style="font-size: 24px;">+</span><span style="font-size: 30px;">{{current.extraRate}}</span><span style="font-size: 24px;">%</span></b>
                    <p>{{current.extraRateDays}}天额外收益</p>
                </li>
                <li class="info" style="padding-right:40px;">
                    <b style="font-size: 24px;">随时可退</b>
                    <p>新手专享，仅限一次</p>
                </li>
                <li class="submit info" style="padding-left:33px;">
                    <a class="btn hvr-bounce-to-left nohover" style="margin-top: 0;" href="{{http}}/billDetail/newhand.html">立即转入</a>
                </li>
            </ul>
            <div class="tag" style="padding: 8px 0; border-top: 1px solid #f4f4f4;">
                <span data-tips="新手宝前7天额外增加5%的收益" class="yellow tag-tips">新手奖励</span>
            </div>
        </div>
    </div>
    <div class="right-aside">
        <div class="tagname" ></div>
        <div class="ad hvr-grow"><a href="{{http}}/other/noviceOnlyEnjoy.html" target="_blank"><img src='../images/home/ad.jpg'></a></div>
    </div>
</div>