<div class="user-info-data">
    <div class="middle">
        <ul>
            <li>
                <i class="home-icons-record-money"></i>
                累计投资额<em>{{investCumulative}}</em>元
            </li>
            <li>
                <i class="home-icons-record-profit"></i>
                累计用户收益<em>{{profitCumulative}}</em>元
            </li>
            <li>
                <i class="home-icons-record-user"></i>
                累计平台用户<em>{{regCount}}</em>人
            </li>
            <li class="out">
                <a :href="linkUrl" target="_blank">查看运营报告</a>
            </li>
        </ul>
    </div>
</div>
