
<div class="christmas-wrapper">
  <!-- <div class='money'><i class='bg bg1'></i></div> -->
<!--     <div  id='coindropZone'></div>
    <audio controls="controls" autoplay="autoplay">
        <source src="audio/test.mp3" type="audio/mp3">
    </audio> -->
   <!-- 活动还没开始 弹窗 -->
  <div class="pop-bg" ng-cloak ng-show="activityStatus==1">
    <div class="pop noready-pop">
   <!--    <div class="prizename">京东卡100元</div>
      <div class="cost">需消耗50000金币</div> -->
      <div class="text noready">活动尚未开始</div>
      <div class="text">敬请期待</div>
      <a href="" class="close" href="http://www.duorongcf.com/main/home" target="_self"></a>
      <!-- <p class="notenough">您的金币不足</p> -->
      <a class="sureBtn" href="http://www.duorongcf.com/main/home" target="_self">返回首页</a>
    </div>
  </div>

  <!-- 抽奖机会不足，请前去投资 弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='lotterychanceNotEnough==true'>
    <div class="pop form-pop lotterychanceNotEnough-pop">
      <div class="form-mode">
      	<a class="close" href="" ng-click=popStatus('关闭抽奖机会不足')></a>
      	<div class="go-account">抱歉，您的抽奖机会不足</div>
      </div>
      <a class="sureBtn done" href="http://www.duorongcf.com/main/bankBillList" target="_blank" >请前去投资</a>
    </div>
  </div>

  <div class="pop-bg" style="display: none;">
    <div class="pop form-pop">
      <div class="form-mode">
        <a class="close" href=""></a>
        <div class="info">奖品兑换</div>
        <div class="line"></div>
        <div class="go-account">奖品已发你账户，请前去使用</div>
      </div>
      <div class="sureBtn done">前去投资</div>
    </div>
  </div>

  <!-- 兑换成功， 填写收货地址 弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='exchangeSuccessGoAddress==true'>
    <div class="pop form-pop exchangeSuccessGoAddress-pop">
      <div class="form-mode">
      	<a class="close" href="" ng-click=popStatus('关闭确认成功提示填写收货地址弹窗')></a>
      	<div class="info">奖品兑换</div>
      	<div class="line"></div>
      	<div class="success">兑换成功！</div>
      	<p>兑换奖品将于活动兑换结束后15个工作日内发放</p>
      	<p style="top: 226px;left: 125px;">会提前与您联系，期间请保持手机畅通</p>
      </div>
      <div class="sureBtn done" ng-click=popStatus('关闭兑换成功打开填写收货地址')>填写收货地址</div>
    </div>
  </div>

  <!-- 收货地址弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='fillInAddress==true'>
    <div class="pop form-pop fillinaddress-pop">
      <form class="form-mode" method="post" action='' id='form'>
        <a class="close" href="" ng-click=popStatus('关闭收货地址弹窗')></a>
        <div class="info">奖品兑换</div>
        <div class="line"></div>
        <!-- <div class="go-account">奖品已发你账户，请前去使用</div> -->
        <div class="form-box" >
          <div class="ipt-mode">
            <label for='username'>联系人姓名</label>
            <input type="text"  id='username' required="required" />
            <span ng-cloak ng-if='userError'>请输入有效的联系人</span>
          </div>
          <div class="ipt-mode">
            <label for="telephone">联系人电话</label>
            <input type="text" id='telephone' required="required" />
            <span ng-cloak ng-if='phoneError'>手机号码有误，请重填</span>
          </div>
          <div class="ipt-mode">
            <label for='address'>联系人地址</label>
            <input type="text"  id='address'  required="required" />
            <span ng-cloak ng-if='addressError'>请填写正确有效的地址</span>
          </div>
        </div>
        <div class="checkinfo">活动结束后客服也会致电进行确认</div>
        <input class="sureBtn submit" ng-click=popStatus('向后台传数据') type="button" value="完成" id="send">
      </form>
      <!-- <div class="sureBtn done">前去投资</div> -->
    </div>
  </div>


    <!-- 渠道用户 弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='channelUser==true'>
    <div class="pop form-pop channel-pop">
      <div class="form-mode">
        <a class="close" href="http://www.duorongcf.com/main/home"  target="_self" ng-click=popStatus('关闭渠道弹窗')></a>
        <div class="text" style="top:100px;font-size: 48px;font-weight: bold;left:220px;">敬请谅解！</div>
        <div class="go-account" style="top:200px;">亲，由于您是渠道VIP用户，</div>
        <div class="go-account" style="top:238px;left:140px;">所以不能参加此次活动，敬请谅解！</div>
      </div>
      <a class="sureBtn done" href="http://www.duorongcf.com/main/home" target="_self">返回首页</a>
    </div>
  </div>

      <!-- 首次点击 温馨提示 弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='warmtips'>
    <div class="pop form-pop warmtip-pop">
      <div class="form-mode">
        <a class="close" href="" ng-click=popStatus('关闭首次点击温馨提示')></a>
        <div class="text" style="top:64px;font-size: 30px;left:260px;">温馨提示！</div>
        <div class="go-account" style="top:145px;font-size: 18px;left:100px;">1、投资30天以下产品，不参加本次活动</div>
        <div class="go-account" style="top:195px;font-size: 18px;left:100px;">2、投资90天及以上期限产品，可额外获得一笔金币；投资多少，</div>
        <div class="go-account" style="top:215px;font-size: 18px;left:128px;">即获得多少金币</div>
        <div class="go-account" style="top:245px;font-size: 18px;left:100px;font-weight: bold;" >3、投资产品期限越长，摇到1万，100万金币的概率就越高</div>
        <div class="go-account" style="top:275px;font-size: 18px;left:100px;">4、金币可以在兑换区兑换超值大礼</div>
      </div>
      <a class="sureBtn done" href="http://www.duorongcf.com/main/bankBillList" target="_blank" ng-click=popStatus('关闭首次点击温馨提示')>知道了，去投资</a>
    </div>
  </div>


  <!-- 确认兑换弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='coinsExchangeConfirm'>
    <div class="pop form-pop confirm-pop">
      <div class="form-mode">
      	<a class="close" href="" ng-click=popStatus('关闭金币兑换弹窗')></a>
      	<div class="info">奖品兑换</div>
      	<div class="line"></div>
      	<div class="costed">{{exchangePopValue}}</div>
      </div>
      <div class="sureBtn done" ng-click=popStatus('关闭金币兑换弹窗是实物就提示兑换成功',prizeType)>确认兑换</div>
    </div>
  </div>

    <!-- 登录弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='goLogin'>
    <div class="pop form-pop goLogin-pop">
      <div class="form-mode">
        <a class="close" href="" ng-click=popStatus('关闭登录弹窗')></a>
        <div class="info">未登录</div>
        <div class="line"></div>
        <div class="costed" style='left:202px'>您未登录，请前去登录</div>
      </div>
      <div class="sureBtn done" ng-click=popStatus('登录')>登录</div>
    </div>
  </div>

  <!-- 金币不足无法兑换弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='coinsNotEnough'>
    <div class="pop form-pop notenough-pop">
      <div class="form-mode">
        <a class="close" href="" ng-click=popStatus('关闭金币不足弹窗')></a>
        <div class="info">奖品兑换</div>
        <div class="line"></div>
        <div class="costed">真遗憾，金币不足无法兑换</div>
      </div>
      <a class="sureBtn done"  target="_blank" href='http://www.duorongcf.com/main/bankBillList' ng-click=popStatus('关闭金币不足弹窗')>获取金币</a>
    </div>
  </div>

    <!-- 非实物兑换弹窗 -->
  <div class="pop-bg" ng-cloak ng-show='notObjectSuccess'>
    <div class="pop form-pop notobject-pop">
      <div class="form-mode">
        <a class="close" href="" ng-click=popStatus('关闭非实物兑换成功弹窗')></a>
        <div class="info">奖品兑换</div>
        <div class="line"></div>
        <div class="costed">兑换成功，优惠券已发送至您的账户  </div>
      </div>
      <a class="sureBtn done"  target="_blank" href='http://www.duorongcf.com/main/myAccount/myCoupon'>前去查看</a>
    </div>
  </div>

    <!-- 奖品已经兑换完了 -->
  <div class="pop-bg" ng-cloak ng-show='exchangedOver'>
    <div class="pop form-pop exchanged-pop">
      <div class="form-mode">
        <a class="close" href="" ng-click=popStatus('关闭奖品兑换完了弹窗')></a>
        <div class="info">奖品兑换</div>
        <div class="line"></div>
        <div class="costed" style="width:600px;left:50%;margin-left: -300px;">抱歉，您兑换的{{prizeName}},已被抢兑一空！</div>
        <div class="costed" style="left: 183px;top: 222px;">工作人员正在加紧补货中。</div>
      </div>
      <a class="sureBtn done" href="" ng-click=popStatus('关闭奖品兑换完了弹窗')>确认</a>
    </div>
  </div>


  <!-- 十次后掉落金币弹窗    掉落金币弹窗 -->
  <div class="pop-bg coins-bg" ng-cloak ng-show='tenTimesCoinsDrop==true'>
    <div class="pop coins-pop tenTimesCoinsDrop-pop">
     <a class="clo-coins" href="" ng-click=popStatus('关闭十次金币掉落弹窗')></a>
     <p class="addcoins">+{{addcoin}}金币</p>
     <p class="tentimes">以上为玩10次后获得的金币总数</p>
     <a class="coins-details" href="" ng-click=popStatus('打开金币明细')>金币明细></a>
   </div>
 </div>

  <!-- 一次后掉落金币弹窗    掉落金币弹窗 -->
  <div class="pop-bg coins-bg" ng-cloak ng-show='oneTimesCoinsDrop==true'>
    <div class="pop coins-pop oneTimesCoinsDrop-pop">
     <a class="clo-coins" href="" ng-click=popStatus('关闭一次金币掉落弹窗')></a>
     <p class="addcoins">+{{addcoin}}金币</p>
   </div>
 </div>


 <!-- 金币明细 翻页弹窗 -->
 <div class="pop-bg" ng-cloak ng-show='coinsDetails==true'>
    <div class="pop form-pop coinsdetails-pop">
      <div class="form-mode details-mode">
         <a class="close" href="" ng-click=popStatus('关闭金币明细')></a>
         <div class="info" style="font-size: 18px;" ng-click=popStatus('关闭金币明细')><返回</div>
         <div class="coins-title">金币明细</div>
      </div>
      <div class="list-mode coinsdetails-mode" style="padding: 0;padding-bottom: 10px;">
          <div class="title-mode">
              <div class="in tab active" ng-click='changePageState("income");'>金币获取记录</div>
              <div class="out tab" ng-click='changePageState("expenses");'>金币支出记录</div>
          </div>
          <div class="tab-body">
              <div class="getrecord-tab tab" style="display: block;">
                  <div class="piece" style="margin-bottom: 0;margin-top: 10px;padding-left: 55px;"ng-repeat='items in rows'>
                     <div class="items">{{items.Opt}}</div>
                     <div class="numbers">+{{items.count}}</div>
                     <div class="time">{{items.updateTime}}</div>
                  </div>
              </div>
              <div class="outrecord-tab tab" style="display: none;">
                  <div class="piece" style="margin-bottom: 0;margin-top: 10px;padding-left: 55px;"ng-repeat='items in rows'>
                     <div class="items">{{items.name}}</div>
                     <div class="numbers">-{{items.needGoldCoin}}</div>
                     <div class="time">{{items.updateTime}}</div>
                  </div>
              </div>
          </div>
     </div>
     <div class="pages">
       <a class="prev" href="" ng-click="onClickPage('prevPage',aaaaaaa,state)" >上一页</a>
       <ul>
         <li class="list-item" ng-click="onClickPage('currentPage',a,state)" ng-repeat="a in pageCurrent" >
           <a class="btn" href="" ng-class="{{a}} == aaaaaaa ? 'now' : '' ">{{a}} </a>
         </li>
       </ul>
       <a class="next" href="" ng-click="onClickPage('nextPage',aaaaaaa,state)" >下一页</a>
     </div>
      <div class="total-pages">共{{totalPage}}页</div>
    </div>
 </div>


 <!-- 我的兑换记录 翻页弹窗 -->
 <div class="pop-bg" ng-cloak ng-show='exchangeRecord==true'>
    <div class="pop form-pop exchangerecord-pop">
      <div class="form-mode details-mode">
         <a class="close" href="" ng-click=popStatus('关闭兑换记录')></a>
         <div class="info" style="font-size: 18px;" ng-click=popStatus('关闭兑换记录')><返回</div>
         <div class="coins-title">我的兑换记录</div>
      </div>
      <div class="list-mode">
          <div class="piece" ng-repeat='items in rows'>
             <div class="items">{{items.name}}</div>
             <div class="numbers">-{{items.needGoldCoin}}金币</div>
             <div class="time">{{items.updateTime}}</div>
          </div>
     </div>
     <div class="pages">
       <a class="prev" href="" ng-click="onClickPage('prevPage',aaaaaaa)" >上一页</a>
       <ul>
         <li class="list-item" ng-click="onClickPage('currentPage',a)" ng-repeat="a in pageCurrent" >
           <a class="btn" href="" ng-class="{{a}} == aaaaaaa ? 'now' : '' "> {{a}} </a>
         </li>
       </ul>
       <a class="next" href="" ng-click="onClickPage('nextPage',aaaaaaa)" >下一页</a>
     </div>
      <div class="total-pages">共{{totalPage}}页</div>
  </div>
</div>


<div class="banner">
  <div class="banner-btm"></div>
</div>
<div class="con-wrapper">
  <div class="info-mode">
   <div class="tips">
    <p><i></i> &nbsp每天1次<b>免费</b>机会{{prizelist[0].type}}</p>
    <p class="longer"><i></i> &nbsp抽中"双旦"送<b>100万</b>金币</p>
    <p><i></i> &nbsp抽中"圣诞""元旦"送<b>1万</b>金币</p>
  </div>
</div>
<div class="rockHappy-mode">
 <p class="login" ng-cloak ng-show='activityStatus==2 && login==0'>我的剩余机会：请<a href="" class="login-btn" ng-click=popStatus('登录')>登录</a>后查看</p>
 <p class="login" ng-cloak ng-show='activityStatus==2 && login==1'>我的剩余机会：{{showChance}}次</p>
 <p class="login" ng-cloak ng-show='activityStatus==3' style="left:468px;">我的剩余机会：0次</p>

 <div class="rock-box" ng-cloak ng-show='activityStatus==2'>
  <div class="rock-bg">
    <div class="rock-list-wrap">
      <ul class="rock-img">
        <li class="prize-img"></li>
        <li class="prize-img bg2"></li>
        <li class="prize-img bg3"></li>
        <li class="prize-img bg4"></li>
        <li class="prize-img bg5"></li>
        <li class="prize-img bg6"></li>
        <li class="prize-img bg7"></li>
      </ul>
    </div>
  </div>
</div>
<div class="once" ng-class="activityStatus==3?'once over':'once'">玩一次</div>
<div class="ten-times" ng-class="activityStatus==3?'ten-times over':'ten-times'">玩十次</div>
<div class="game-over" ng-cloak ng-show='activityStatus==3'>谢谢关注，本次活动已结束！</div>
<p class="rule-tip">投资单笔满1000元，即获得1次机会，摇出相同图案可随机掉落金币，金币可在下方兑换区兑换超值大礼哟！
  <a class="rule-btn" id='#rule' ng-click=ruleHash()>详细规则></a>
</p>
<p class="more-invest">投资产品期限越长，摇到双蛋几率越高</p>
<a href="" class="invest" ng-click=popStatus('首次点击投资') ng-cloak ng-show='onOff==0'>立即投资</a>
<a href="http://www.duorongcf.com/main/bankBillList" class="invest" ng-cloak target="_blank" ng-show='onOff==1'>立即投资</a>
</div>
<div class="total-info" >我的累计金币:
    <span ng-cloak ng-show='login==0'>请<a href="" class="login-btn"  ng-click=popStatus('登录')>登录</a>后查看</span>
    <span ng-cloak ng-show='login==1'>{{remainCoins}}个</span>
    <a href="" class="details" ng-click=popStatus('打开金币明细')>金币明细></a>
</div>
</div>
<div class="introdution-mode">
  <div class="exchange-box">
   <div class="title-mode">
    <div class="redbag tab active">红包专区</div>
    <div class="coupons tab">加息券专区</div>
    <div class="superprize tab">超值大礼</div>
    <a class="record" href="" ng-click=popStatus('打开兑换记录')>兑换记录></a>
   </div>
  <div class="tab-body">
    <div class="list-box redbag-mode">
        <div class="bag"  ng-repeat='list in redBagList'>
            <div class="imgs">
                <div class="rmb">{{list.amount}}元</div>
                <div class="redbag">红包</div>
            </div>
            <div class="coins-num">{{list.needGoldCoin}}金币</div>
            <a ng-class="{true:'huibtn',false:'exchange-btn'}[hui == true]" href="" ng-click=popStatus('打开金币兑换弹窗',list.giftName+'，需消耗'+list.needGoldCoin+'金币',list.remainCount,list.giftName,list.type,list.needGoldCoin,list.id)>兑换</a>
        </div>
    </div>
    <div class="list-box redbag-mode" >
        <div class="bag" ng-repeat='list in addCouponsList'>
            <div class="imgs">
                <div class="rmb">{{list.raisedRates}}%</div>
                <div class="redbag">加息券</div>
            </div>
            <div class="coins-num">{{list.needGoldCoin}}金币</div>
            <a ng-class="{true:'huibtn',false:'exchange-btn'}[hui == true]" href="" ng-click=popStatus('打开金币兑换弹窗',list.giftName+'，需消耗'+list.needGoldCoin+'金币',list.remainCount,list.giftName,list.type,list.needGoldCoin,list.id)>兑换</a>
        </div>
    </div>
    <div class="list-box superprize-mode" >
        <div class="bag" ng-repeat='list in realPrizeList'>
            <div class="imgs prize{{list.id}} prize">
                <div class="redbag">{{list.giftName}}</div>
            </div>
            <div class="coins-num" style="font-size: 12px;">{{list.needGoldCoin}}金币</div>
            <a ng-class="{true:'huibtn',false:'exchange-btn'}[hui == true]" href=""ng-click=popStatus('打开金币兑换弹窗',list.giftName+'，需消耗'+list.needGoldCoin+'金币',list.remainCount,list.giftName,list.type,list.needGoldCoin,list.id)>兑换</a>
        </div>
    </div>
  </div>
</div>

</div>

<div class="rule-mode"  id='rule'>
  <span class="title">活动规则</span>
  <ul>
    <li><i class="arrow"></i>活动时间：2016年12月20号-2017年1月5号</li>
    <li class="mr">30天以下投资期限产品不参加本次活动；</li>
    <li style="font-weight: bold;"><i class="arrow"></i>摇摇乐摇奖：</li>
    <li><i></i>活动期间，每天免费1次机会；单笔投资满1000元（除30天以下产品），再获1次摇摇乐机会；如单笔满2000元，即获得2次机会，</li>
    <li class="mr">以此类推；</li>
    <li><i></i>摇出3个相同的“双蛋”图案，直接获得100万金币，圣诞树或元旦日历图案，直接获得1万金币，其他图案，随机获得50-1000金币；</li>
    <li class="mr">摇出3个图案不相同，获得10金币；</li>
    <li><i></i>累计每玩60次，必出“圣诞树”，得1万金币；</li>
    <li style="font-weight: bold;"><i class="arrow"></i>投资得金币：</li>
    <li class="mr">投资90天及以上期限产品，可额外获得一笔金币，投资多少，即获得多少金币，如：投资1000元得1000金币，以此类推；</li>
    <li class="mr" style="font-weight: bold;">投资产品期限越长，摇到1万，100万金币的概率就越高</li>
    <li style="font-weight: bold;"><i class="arrow"></i>金币换壕礼：</li>
    <li><i></i>奖品兑换可通过首页顶部广告进入页面进行兑换，兑换时间顺延到2017年1月13号，请在此期间进行兑换，逾期作废；</li>
    <li><i></i>优惠券奖品兑换后即时发放至您的账户，登录后可在”我的账户—优惠券”中查看”。实物奖品将于活动兑换结束后15个工作日内联系获</li>
    <li style="padding-left: 23px;">奖用户，核对用户信息和奖品信息后发放奖品，若15个工作日内未能成功与用户取得联系，则视为该用户自动放弃本次获奖奖品</li>
    <li style="padding-left: 23px;">（奖品颜色随机发货）；</li>
      <li><i class="bigCircle"></i>奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
      <li><i class="bigCircle"></i>如有疑问，欢迎咨询客服热线4006-908-896；</li>
      <li><i class="bigCircle"></i>本次活动最终解释权归多融财富所有。</li>
    </ul>
  </div>
  <div class="common-wrapper">
    <div class="mode">
      <div class="title">为什么选择多融</div>
      <div class="content">
        <div class="iconmode">
          <i class="olympiad-gzkg"></i>
          <div>
            <span>国企控股</span>
            <p>大型国企中商沪深控股</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-guarantee"></i>
          <div>
            <span>资金安全保障</span>
            <p>历史到期产品100%本息兑付，安全可靠</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-pjcd"></i>
          <div>
            <span>票据100%承兑</span>
            <p>所有票据来源于银行与大型国企，100%无条件承兑</p>
          </div>
        </div>
        <div class="iconmode">
          <i class="olympiad-lszc"></i>
          <div>
            <span>专业律所全程支持</span>
            <p>专业律所全程保驾护航</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mode">
      <div class="title">多融荣誉</div>
      <ul>
        <li>
          <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=1&t=1" target="_blank">
            <img src="/main/images/honor/honor1.png">
            <p>多融财富荣膺<br>“2016中国最佳诚信示范金融企业”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=3&t=0" target="_blank">
            <img src="/main/images/honor/honor2.png">
            <p>多融财富加入<br>“上海市信息服务业行业协会”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=2&t=0" target="_blank">
            <img src="/main/images/honor/honor3.png">
            <p>多融财富加入<br>“上海金融信息行业协会”</p>
          </a>
        </li>
        <li>
          <a href="https://www.duorongcf.com/main/jt/XWXQ?newId=11&t=1" target="_blank">
            <img src="/main/images/honor/honor4.png">
            <p>多融财富荣获<br>“中国信用企业认证体系示范单位”证书</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="mode">
      <div class="title">合作单位</div>
      <div class="partners">
        <div class="swiper-button-prev"></div>
        <div class="imgs swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide" style="margin-left: 30px;">
              <img src="/main/images/gua-partner/partner1.png">
            </li>
            <li class="swiper-slide">
              <img src="/main/images/gua-partner/partner2.png">
            </li>
            <li class="swiper-slide">
              <img src="/main/images/gua-partner/partner3.png">
            </li>
            <li class="swiper-slide">
              <img src="/main/images/gua-partner/partner4.png">
            </li>
            <li class="swiper-slide">
              <img src="/main/images/gua-partner/partner5.png">
            </li>
            <li class="swiper-slide">
              <img src="/main/images/gua-partner/partner11.png">
            </li>
          </ul>
        </div>
        <!-- <div class="olympiad-right swiper-button-next"></div> -->
      </div>
    </div>
  </div>
  <div class="code-wrapper">
    <div class="code">
      <div class="icon"></div>
      <div class="phonecode"></div>
      <div class="appcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/main/images/activity/newfriend-app.png"></div>
          <div class="app-code-word">
            <p><i class="olympiad-iphone"></i></p>
          </div>
        </div>
        <div class="title">App下载</div>
      </div>
      <div class="appcode wechatcode">
        <div class="code-box">
          <div class="app-code-icon"><img src="/main/images/activity/newfriend-wechat.png"></div>
        </div>
        <div class="title">关注公众号</div>
      </div>
      <div class="tel">
        <div class="number">
          <i class="olympiad-phone"></i>
          <div>
            <span>4006-908-896</span>
            <p>服务时间 08:30 - 20:30 （法定节假日除外）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>