<div class="cp079-dlog-listbox">
	<h1>每周中奖名单</h1>
	<div class="cp079-body">
		<h1>-------- {{mDatetitle}} --------</h1>
		<table class="cp079-list" ng-if="listLs.investList.length > 0">
			<tr>
				<th>名次</th>
				<th>手机号码</th>
				<th>投资金额</th>
			</tr>
			<tr ng-repeat="item in listLs.investList" >
				<td>第{{$index+1}}名</td>
				<td>{{item.mobilePhone | limitTo:3}}****{{item.mobilePhone | limitTo:-4}}</td>
				<td>{{item.total}}元</td>
			</tr>
		</table>
		<div ng-if="listLs.investList.length < 1" class="cp079-noData">暂无数据</div>
	</div>
	<div class="cp079-page">
		<ul>
			<li><a ng-click="goPage('上一周')">上一页</a></li>
			<li>{{zpageNum}}</li>
			<li><a ng-click="goPage('下一周')">下一页</a></li>
			<li>共{{zpageTotle}}页</li>
		</ul>
	</div>
</div>