<div class="body-wrapper">
    <div class="banner" style='position: relative;'>
        <div class="btn"> 
         <a ng-click='loginReturn()'  style='display: block;width:100%;height:100%;'></a>
        </div>
         <a  class='tabActive' style='display: inline-block;left:50%;margin-left:-470px;cursor: pointer;' ng-click='loginReturn()'>每日佣金奖励</a>
         <a  class='tab' style='display: inline-block;left:50%;margin-left:-130px;cursor: pointer;' ng-click='goMonth()'>当月返现奖励</a>
         <a  class='tab' style='display: inline-block;left:50%;margin-left:230px;cursor: pointer;' ng-click='goTask()'>邀请任务奖励</a>   
    </div>
    <div class="inviteTitle"></div>
    <p class='what'>即日起，每成功邀请一位新用户注册并投资平台任意产品（除新手宝），即可获得佣金奖励。佣金奖励的多少，与邀请人投资待收、被邀请人投资待收、被邀请人数量有关。邀请的用户越多，投资待收金额越大，可获得的佣金就越多。佣金每日发放，无上限。
    </p>
    <div class='example'>
      <p>* 2017-08-31之前的邀请的好友，不享受任何邀请佣金奖励。</p>
      <p>* 待收指待回款的产品的本金，可至【账户】→【我的资产】查看</p>
    </div>
    <div class="content1">
        <div class="content">
            <ul>
               <!--  <li class="liIcon">佣金奖励获取条件
                <ul>
                    <li class="littleIcon" style='margin-top: 25px;'>邀请人自身账户【待收本金总额】不低于5000元 (成立日期开始算，收益中的产品)</li>
                   <li class="littleIcon">所有被邀请人账户【待收本金总额】之和不为零</li>
                   </ul>
                </li> -->
                <li class="liIcon">每日佣金的计算方法
                <ul>
                    <li class="littleIcon" style='margin-top: 25px;' >佣金奖励计算公式
                    <div class="rate"></div>
                    </li>
                    <li class="littleIcon" style='margin-top: 25px; clear:both;'>佣金奖励利率
                       <div class="myAccount">
                           <div class="myAccountLeft" style='width:360px'>我的待收（元）</div>
                           <div class="myAccountLeft" style='width:265px;float:right'>奖励佣金率</div>
                           <ul>
                               <li>
                                   <div class="daishou">待收＜5000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.0%</div>
                               </li> 
                               <li>
                                   <div class="daishou">5000≤待收＜10000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.4%</div>
                               </li> 
                               <li>
                                   <div class="daishou">10000≤待收＜20000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.5%</div>
                               </li> 
                               <li>
                                   <div class="daishou">20000≤待收＜50000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.6%</div>
                               </li>
                                 <li>
                                   <div class="daishou">50000≤待收＜100000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.7%</div>
                               </li>
                                 <li>
                                   <div class="daishou">100000≤待收＜200000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.8%</div>
                               </li>
                                 <li>
                                   <div class="daishou">200000≤待收＜500000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">0.9%</div>
                               </li>  
                               <li>
                                   <div class="daishou" style="margin-bottom: 85px;">待收≥500000</div>
                                   <div class="jian">&gt;</div>
                                   <div class="yongjinRate">1.0%</div>
                               </li>
                           </ul>
                       </div>
                    </li>
                </ul>
                </li>
               <!--  <li class="liIcon" style='clear:both'>佣金发放
               <ul>
                   <li class="littleIcon" style='margin-top: 25px;'>佣金奖励每日23:59按当天待收情况计算，并于次日1:00统一发放到邀请人的多融账户。如当日不满足获取佣金奖励的条件，则次日佣金奖励为0。</li>
               </ul>
               </li>
               <li class="liIcon">邀请有效期：永久</li> -->
            </ul>
        </div>
    </div>
    <div class="content2" style='clear: both;margin-top: 85px;'>
        <div class="contentTitle"></div>
        <div class="progress"></div>
        <div class='progressContent'>* 如上一日不满足获取佣金奖励的条件（见上述规则），则当日佣金为0</div>
    </div>
  <!--   <div class="content3">
      <div class="contentTitle"></div>
      <p  class="three">被邀请人的奖励</p>
      <div class="img">
         <div class="zu1 zu"><div style='padding-top: 20px;height:30px;'>10,000元</div><span style='color:#fff;font-size: 22px'>体验金</span></div>
         <div class="haoli">轻松体验，收益归您</div> 
      </div> 
      <div class="img">
         <div class="zu2 zu">
             <div style='padding-top: 30px'>翻倍券</div>   
         </div> 
         <div class="haoli">享受翻倍大礼</div> 
      </div> 
      <div class="img">
         <div class="zu4 zu">
             <div style='padding-top: 30px'>2%加息券</div>
         </div> 
          <div class="haoli">获取更多收益</div> 
      </div>
      <div class="img">
         <div class="zu3 zu">
             <div style='padding-top: 30px'>1588红包</div>
         </div> 
          <div class="haoli" style='margin-left: 25px'>专享礼包，福利升级</div> 
      </div>
  </div> -->
    <div class="footer" style='margin-top: -60px;'>
        <div class="btn">
         <a ng-click='loginReturn()'  style='display: block;width:100%;height:100%;'></a></div>
    </div>
</div>
<script>
  
</script>
