/* line 1, ../sass/bankRegulators.scss */
.bankRegulators-wrapper {
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}
/* line 3, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .banner {
  background: url("../../../../images/bankRegulators/banner.jpg") center center no-repeat;
  width: 100%;
  height: 350px;
  position: relative;
}
/* line 7, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box {
  width: 1200px;
  margin: 0 auto;
}
/* line 9, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .ptitle {
  font-size: 36px;
  color: #333333;
  text-align: center;
}
/* line 11, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .ptitle.stitle {
  font-size: 18px;
}
/* line 14, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .ptitle.htitle {
  font-size: 18px;
  color: #e8a22b;
  text-align: left;
  padding: 54px;
}
/* line 17, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .ptitle.ltitle {
  font-size: 14px;
  color: #333333;
  text-align: center;
}
/* line 22, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentFrist {
  padding: 45px 0;
}
/* line 24, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentFrist .con {
  background: url("../../../../images/bankRegulators/firstBg.png") center center no-repeat;
  width: 1091px;
  height: 141px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 29, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentTwo {
  padding: 45px 0;
  background: #f8f8f8;
}
/* line 31, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentTwo .conTwo {
  background: url("../../../../images/bankRegulators/conTwo.jpg") center center no-repeat;
  width: 100%;
  height: 342px;
}
/* line 36, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentThree {
  padding: 45px 0;
}
/* line 39, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentThree .conThree table {
  width: 1200px;
  margin-top: 70px;
}
/* line 42, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentThree .conThree table .icon.iconOne {
  background: url("../../../../images/bankRegulators/iconOne.png") center center no-repeat;
  width: 110px;
  height: 110px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
}
/* line 45, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentThree .conThree table .icon.iconTwo {
  background: url("../../../../images/bankRegulators/iconTwo.png") center center no-repeat;
  width: 110px;
  height: 110px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
}
/* line 48, ../sass/bankRegulators.scss */
.bankRegulators-wrapper .content-box .content.contentThree .conThree table .icon.iconThree {
  background: url("../../../../images/bankRegulators/iconThree.png") center center no-repeat;
  width: 110px;
  height: 110px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
}
