<style>
.ngdialog-content .ngdialog-close {
    display: none;
}
</style>
<div class="account-home-wrap" ng-controller="AccountaccountHomeCtrl">
    <div class="title">
        <div class="msg"><b>{{accuntHome.unReadMsg}}</b><a href="{{hrefUrl}}main/myAccount/myMsg">封未读信息</a><i class="my-msg"></i></div>
        <div ng-if="accuntHome.realName != undefined" class="hello">您好，{{accuntHome.realName}} {{accuntHome.sex | isSex}}！
        </div>
        <div ng-if="accuntHome.realName == undefined" class="hello">您好，{{accuntHome.mobilephone | limitTo:3}}*****{{accuntHome.mobilephone | limitTo:-3}}！
        </div>
        <!--<div class="icons" ui-sref="main.myAccount.security">-->
        <div class="icons">
            <!--<a href="javascript:void(0)" ui-sref="main.myAccount.security">
        <i data-tips='.user-tips' ng-class="{1:'my-card-set',0:'my-no-card'}[accuntHome.realVerify]"></i>
      </a>-->
            <a ng-if="isRas == true" href="javascript:void(0)" ui-sref="main.myAccount.security">
        <i data-tips='.card-tips' ng-class="{true:'my-bank-set',false:'my-no-bank'}[isRas]"></i>
      </a>
            <a ng-if="isRas == false" href="javascript:void(0)" ui-sref="main.createEscrowAccount">
        <i data-tips='.card-tips' ng-class="{true:'my-bank-set',false:'my-no-bank'}[isRas]"></i>
      </a>
            <!--<a href="" ui-sref="main.myAccount.security">
        <i data-tips='.tel-tips' ng-class="{1:'my-phone-set',0:'my-no-phone'}[accuntHome.mobileVerify]"></i>
      </a>-->
        </div>
        <!-- 积分 -->
        <div class="hello" style="cursor: pointer;" ng-click="$state.go('main.pointMall')">
            <i data-tips='#' class="my-point"></i> 积分： <span style="color:#fc763f;">{{user.pointValue | currency : '' : 0}}</span>
        </div>
        <!-- VIP等级 -->
        <div class='hello' >
            <a href="#" style="text-decoration: none;">
        <i data-tips='#account-vip' class="my-vip"></i>
      </a> VIP等级： <span style="color: #fc763f; cursor: pointer;" ng-click="$state.go('main.myAccount.vipAbout')">{{currentVipVal}}</span>
        </div>
       
        <div class="vip-detail-wrapper" ng-click="$state.go('main.myAccount.vipAbout')">
            <div class="detail-content">
                <div class="experience">
                    <!--<span style="float: left">{{lastExpVal}}点</span>-->
                    <span style="float: left">{{lastExpVal > 0 ? lastExpVal : 0 }}点</span>
                    <span ng-if="nextExpVal > 0" style="float: right">{{nextExpVal}}点</span>
                </div>
                <div class="progress-whole" ng-mouseover="showUserExperience($event)">
                    <div class="progress-current"></div>
                </div>
                <div class="vip-value">
                    <!--<span style="float: left; color: #EFBF62;">VIP{{lastVipVal}}</span>-->
                    <!--<span ng-if="nextVipVal > 0" style="float: right; color: #E2E2E2;">VIP{{nextVipVal}}</span>-->
                    <span style="float: left; color: #EFBF62;">{{lastVipName}}</span>
                    <span ng-if="nextExpVal > 0" style="float: right; color: #E2E2E2;">{{nextVipName}}</span>
                </div>
            </div>
        </div>
                <!-- 风险测评测试 start -->
      <div style='float: right;margin-right: 10px;'>
         <a ng-click='showRiskEvaluation()' style="cursor:pointer;">风险测评:</a><a style="color: #fc763f; cursor: pointer;" ng-click="$state.go('main.myAccount.riskEvaluation')" ng-show='accuntHome.isRisk==0' target="_blank">未测评</a>
         <a style="color: #fc763f; cursor: pointer;" ng-click="showRiskEvaluation()" ng-show='accuntHome.isRisk!=0' target="_blank">{{riskEvaluationType}}</a>
     </div> 
          <!-- 风险测评测试 end -->
    </div>
    <!-- 紧急通告 -->
    <div>
        <marquee style="color: red">{{GGContents}}</marquee>
    </div>

    <div class="content-wrap">
        <!--<div class="escrow-adjoin-banner"></div>-->
        <div class="show-mode">
            <!-- 武倩倩修改  <a style="float: right;color:#fe7634;padding-top:40px;font-size: 20px;" ng-if="isCanBillNew" ui-sref="main.billNewhand({ id: newUser.id })">您有万元体验金，请尽快使用！</a>-->
            <div class="mode-title" style="height: inherit;margin-right: 180px;float: left;">
                我的资产
                <br>
                <!--  +accuntHome.xsInvestSum  新手产品中的待收本金-->
                <span class="total-num">{{( accuntHome.investSum + accuntHome.free + accuntHome.balance) | currency:''}}
        </span>
            </div>
            <div class="mode-title" style="height: inherit; font-weight: normal;">
                累计已收收益
                <br>
                <span class="total-num" style=" font-weight: normal;">{{accuntHome.profit | currency:''}}
        </span>

      </div>
      <div class="list-wrap" style="padding-bottom: 25px;">
        <ul class="show-list">
          <li>
            <p>理财产品</p>
            <b>{{ (accuntHome.investSum ) | currency:''}}</b>
          </li>
          <li style="border-right: 0;">
            <p>冻结资金</p>
            <b>{{accuntHome.free | currency:''}}</b>
          </li>
          <li>
            <p>　</p>
            <b><a href="/main/myAccount/myInvest" style="font-size: 14px;color: #2892d9;">查看明细</a></b>
          </li>
        </ul>
      </div>
      <div class="btn-wrap">
        <div class="rest">账户可用余额：<b>{{accuntHome.balance | currency:''}}</b>元</div>
        <a ng-click="onClickRecharge()" class="recharge-btn" style="cursor: pointer;">充值</a>
        <a ng-click="onClickWithdraw()" class="get-btn" style="cursor: pointer;">提现</a>
      </div>
    </div>
    <!-- 新手宝   start -->
    <div class="show-mode" ng-show="currentInfo.isShow==1">
    <style>
      .lan{width:139px;line-height: 35px;text-align: center;color: #ffffff;background: #1cabea;border-radius: 5px;float: left;margin-left: 45px;font-size: 16px;cursor: pointer;}
      .hui{width:139px;line-height: 35px;text-align: center;color: #ffffff;background: #878788;border-radius: 5px;float: left;margin-left: 45px;font-size: 16px;cursor: pointer;}
    </style>
      <div class="list-wrap" style="float: none;">
        <div ng-if="currentInfo.redeemStatus==1" style="font-size: 14px;line-height: 35px;color: #565656;float: left;">新手宝余额：<b>0.00</b>元</div>
        <div ng-if="currentInfo.redeemStatus==0 || currentInfo.redeemStatus==2" style="font-size: 14px;line-height: 35px;color: #565656;float: left;">新手宝余额：<b >{{currentInfo.redeemAmount | currency:''}}</b>元</div>
        <div ng-if="currentInfo.redeemStatus == 0" class="lan" ng-click="onClick('转出')">转出至账户</div>
        <div ng-if="currentInfo.redeemStatus == 2 || currentInfo.redeemStatus == 1" class="hui">转出至账户</div>
        <div ng-if="currentInfo.redeemStatus == 1" style="font-size: 14px;line-height: 35px;color: #565656;float: left;margin-left: 45px;">转出中：{{currentInfo.redeemAmount | currency:''}}元，预计到账时间：{{currentInfo.predictTime}}</div>
        <div ng-if="currentInfo.redeemStatus == 2" style="font-size: 12px;line-height: 35px;color: red;float: left;margin-left: 10px;">* 投资当天，不能赎回</div>
      </div>
      <ul class="show-list">
        <li>
          <p>昨日收益<i data-tips=".zrsy-tips" style="width: 13px;height: 13px;background: url('../main/imagess/common/jg.png') no-repeat;margin-left: 5px; cursor: pointer;"></i></p>
          <b style="float: left;">{{currentInfo.yesterdayProfit | currency:''}}</b><i style="padding-top: 10px;padding-left: 10px;color: #9399a3;">{{currentInfo.yesterday}}</i>
        </li>
        <li style="border-right: 0;">
          <p>累计收益</p>
          <b>{{currentInfo.totalProfit | currency:''}}</b>
        </li>
      </ul>
    </div>
    <!-- 新手宝   end -->
    <div class="show-mode">
      <div class="mode-title">
        <!--<a href="/main/myAccount/myInvest" class="more">更多</a>我的投资产品-->
        <a href="/main/myAccount/myInvest" class="more">更多</a>投资中的产品
      </div>
      <table class="show-table">
        <tr>
          <th width="20%" class="first">产品名称</th>
          <!--<th width="20%">预期年化收益率</th>-->
          <th width="20%">历史年化收益率</th>
          <th width="20%">投资期限</th>
          <th width="20%">购买金额</th>
          <th width="20%">待收收益</th>
        </tr>
        <!-- PC前端优化需求 - 投资中的产品去除‘已到期’产品 Start -->
        <tr ng-if="myInvesting.length == 0">
          <td colspan="5"><span style="font-size: 110%;">暂无投资中产品，快去抢购赚取收益吧！</span> </td>
        </tr>
        <!--<tr ng-repeat="item in investList">-->
        <tr ng-repeat="item in myInvesting">
        <!-- PC前端优化需求 - 投资中的产品去除‘已到期’产品 End   -->
          <td class="first next" ng-if='item.type == 6 || item.type == 7'>
              <a style="color:#258FB8" href="/billDetail/billDetal_html_{{item.pid}}.html" target="_blank">
                  {{item.fullName}}
              </a>
          </td>
          <td class="first next" ng-if='item.type == 8'>
              <a style="color:#258FB8" href="/billDetail/newhand.html" target="_blank">
              {{item.fullName}}
          </a>
          </td>
          <td class="first next" ng-if='item.type !== 8 &&item.type !== 6 && item.type !== 7 && item.pid != 2'>
              <a style="color:#258FB8" href="/billDetail/pjDetal_html_{{item.pid}}.html" target="_blank">
                 {{item.fullName}}
              </a>
          </td>
          <td class="first next" ng-if='item.type !== 6 && item.type !== 7 && item.pid == 2'>{{item.fullName}}</td>
          <!-- <td class="first next" style='text-decoration: none' ng-if='item.type==5'>{{item.fullName}}</td> -->
          <td><b>{{item.rate}}</b>%</td>
          <td ng-if="item.type!=8"><b>{{item.deadline}}</b>天</td>
          <td ng-if="item.type==8"><b>--</b></td>
          <td><b>{{item.amount | currency:'￥'}}</b></td>
          <td ng-if="item.type==8"><b>--</b><i data-tips=".dssy-tips" style="width: 13px;height: 13px;background: url('../main/imagess/common/jg.png') no-repeat;margin-left: 5px; cursor: pointer;"></i></td>

          <!-- PC前端优化需求 - story-view-248 Start -->
          <!--<td ng-if="item.type!=8 && item.status==0"><b>{{item.interest | currency:''}}</b>元</td>-->
          <!--<td ng-if="item.type!=8 && item.status!=0"><b>{{item.factInterest | currency:''}}</b>元</td>-->
          <td ng-if="item.type!=8"><b>{{item.interest | currency:''}}</b>元</td>
          <!-- PC前端优化需求 - story-view-248 End   -->
        </tr>
      </table>
    </div>
    <div class="show-mode">
      <div class="mode-title">
        <a href="/main/myAccount/myAssets" class="more">更多</a>资金记录
      </div>
      <table class="data-table">
        <tr>
          <th width="10%" class="first">记录号</th>
          <th width="15%">记录类别</th>
          <th width="15%">涉及金额</th>
          <th width="20%">操作时间</th>
          <th width="20%">操作状态</th>
          <th width="20%">操作后资金余额</th>
        </tr>
        <tr ng-repeat="item in fundsRecord">
          <td class="first" ng-bind="$index+1"></td>
          <td>{{item.tradeType | investListTradeType}}</td>
          <td>{{item.amount | currency:''}} 元</td>
          <td>{{item.addTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <!--<td><span ng-if="item.status == 1">处理中</span><span ng-if="item.status == 2">失败</span><span ng-if="item.status == 3">成功</span><span ng-if="item.status == 4">募集中</span></td>-->
          <td><span ng-if="item.status == 1 && item.tradeType != 2">处理中</span><span ng-if="item.status == 1 && item.tradeType == 2">处理成功</span><span ng-if="item.status == 2">失败</span><span ng-if="item.status == 3">成功</span><span ng-if="item.status == 4">募集中</span><span ng-if="item.status == 5">赎回中</span><span ng-if="item.status == 6">赎回成功</span></td>
          <td>{{item.balance | currency:''}} 元</td>
        </tr>
      </table>
    </div>
    <div class="show-mode">
      <div class="mode-title">
        产品推荐
      </div>
      <div class="pro-recommend">
        <ul ng-repeat="item in infoList">
          <li class="bill-name" >{{item.fullName}}
            <span style="width: 140px;" class="honour-tip" ng-if="item.accept !=undefined">
              <i class="common-honour-icon"></i>{{item.accept}}
            </span>
          </li>
          <li class="rate-box">
            <span class="rate"><b>{{item.rate}}</b>%</span>
            <!--<p>预期年化收益率</p>-->
            <p>历史年化收益率</p>
          </li>
          <li>
            <span>{{item.leastaAmount}}</span>
            <p>起投金额</p>
          </li>
          <li>
            <span>{{item.deadline}}天</span>
            <p>投资期限</p>
          </li>
          <li>
            <span>{{item.amount | currency:'￥':0}}</span>
            <p>产品总额</p>
          </li>
          <li class="invest-btn-box" >
            <a  class="invest-btn" ng-if='item.type == 6 || item.type == 7' href="/billDetail/billDetal_html_{{item.id}}.html" target='_self'>{{(item.status | isProductType).cnvalue}}</a>
              <a  class="invest-btn" ng-if='item.type !== 6 && item.type !== 7 && item.pid != 2' href="/billDetail/pjDetal_html_{{item.id}}.html" target='_self'>{{(item.status | isProductType).cnvalue}}</a>
              <a href="" class="invest-btn" ng-if='item.type !== 6 && item.type !== 7 && item.pid == 2'>{{(item.status | isProductType).cnvalue}}</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- user tips -->
    <div class="user-tips tips">
        <div class="my-jian"></div>
        <div ng-if='accuntHome.realVerify > 0'>
            <p>您已通过实名认证
                <br><a href='/main/myAccount/security'>查看详情</a></p>
        </div>
        <div ng-if='accuntHome.realVerify <= 0'>
            <p>未完成实名认证，
                <!--<br><a href='/main/myAccount/security'>立即认证</a></p>-->
                <br><a href='/main/createEscrowAccount'>立即认证</a></p>
        </div>
    </div>
    <!-- user tips -->
    <!-- user tips -->
    <div class="card-tips tips">
        <div class="my-jian"></div>
        <div ng-if='isRas==true'>
            <!--<p>您已绑卡成功-->
            <p>您已开通存管账户
                <br><a href='/main/myAccount/security'>查看详情</a></p>
        </div>
        <div ng-if='isRas==false'>
            <!--<p>未完成实名认证，-->
            <p>未开通，
                <!--<br><a href='/main/myAccount/security'>立即认证</a></p>-->
                <br><a href='/main/createEscrowAccount'>立即开通</a></p>
        </div>
    </div>
    <!-- user tips -->
    <!-- user tips -->
    <div class="tel-tips tips">
        <div class="my-jian"></div>
        <p>您已绑定手机
            <br><a href='/main/myAccount/security'>查看详情</a></p>
    </div>
    <!-- user tips -->
    <!-- zrsy tips -->
    <div class="zrsy-tips tips">
        <div class="my-jian"></div>
        <p>新手宝将于D+1起息，D+2发放，
            <br>每日收益将于次日凌晨发放</p>
    </div>
    <!-- zrsy tips -->
    <!-- dssy tips -->
    <div class="dssy-tips tips">
        <div class="my-jian"></div>
        <p>此产品收益方式为每日收益到账</p>
    </div>
    <!-- dssy tips -->
    <!-- vip tips -->
    <div ng-if="currentVipVal > 0" id='account-vip' class="tips">
        <div class="my-jian"></div>
        <p>您已成为VIP用户</p>
        <p>
            <a href='/main/jt/XWXQ?newId=71&t=1'>详情</a>
        </p>
    </div>
    <div id='current-experience' class="tips">
        <div class="my-jian"></div>
        <p>您本月经验值：{{currentExpVal}}</p>
    </div>
    <!--<div class="account-home-pop" ng-show='vip'>
    <div class="bg"></div>
    <div class="cnt my-pop">
      <div class="close" ng-click='vip = false'></div>
      <a class="btn" href='/main/jt/XWXQ?newId=71&t=1'></a>
    </div>
  </div>-->
    <!-- end vip tips -->
    <style>
    .mask {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0px;
        left: 0px;
        z-index: 999;
    }

    .hqBillTan {
        background: #ffffff;
        animation: openMove 0.5s forwards;
        width: 500px;
        height: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -140px;
        margin-top: -250px;
    }

    .hqBillTan2 {
        background: #ffffff;
        width: 500px;
        height: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -140px;
        margin-top: -250px;
        display: none;
    }

    .body {
        text-align: center;
        font-size: 18px;
        color: #333333;
    }

    .body span {
        color: #fe7634;
    }

    .body p {
        padding: 25px 0 25px;
    }

    .body p.info {
        padding: 38px 90px 35px 60px;
        text-align: left;
    }

    .body p.infoa {
        padding: 38px 60px 35px 60px;
        text-align: center;
    }

    .body a {
        float: right;
        padding-right: 30px;
        padding-top: 10px;
        font-size: 14px;
        color: #0ca5d3;
        cursor: pointer;
    }

    .body input.mm {
        width: 270px;
        height: 45px;
        padding-left: 15px;
        font-size: 18px;
        margin: 0 auto;
    }

    .top {
        line-height: 50px;
        font-size: 18px;
        color: #010101;
        border-bottom: 1px solid #dcdcdc;
    }

    .top span {
        padding-left: 20px;
    }

    .newMouth {
        width: 150px;
        line-height: 40px;
        background: #fe7634;
        border-radius: 5px;
        margin: 0 auto;
        color: #ffffff;
        cursor: pointer;
        margin-top: 20px;
        border: none;
        font-size: 16px;
    }

    .close {
        float: right;
        margin-right: 15px;
        margin-top: 18px;
        width: 18px;
        height: 17px;
        background: url('../main/imagess/common/close.png') no-repeat;
        cursor: pointer;
    }
    .riskEvaluationTan{
        background: #ffffff;
        animation: openMove 0.5s forwards;
        width: 584px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -292px;
        margin-top: -250px;
    }
   .body .recordImg{
        background: url("../main/images/task/icons8-inspection.png");
        width:64px;
        height:88px;
        margin:35px auto;
    }
    .body .recordCon{
      text-align: center;
      font-size: 18px;
      color: #333;
      font-family: "PingFangSC-Regular";
      line-height: 30px;
    }
   .body .button{
        width:245px;
        height:45px;
        border-radius: 8px;
        background:#FE7634;
        color:#fff;
       /* margin:70px auto 0;*/
        text-align:center;
        line-height: 45px;
        font-size:18px;
        cursor:pointer;
        position: absolute;
        bottom:50px;
        left:50%;
        margin-left: -123px;
    }
    </style>
    <div class="mask" ng-if="zctan">
        <div class="hqBillTan2">
            <div class="top"><span>转出结果</span><i class="close" ng-click="onClick('close')"></i></div>
            <div class="body">
                <p class="info" ng-if="zhaunchusuccess">转出金额：{{currentInfo.redeemAmount | currency : '' : 0}}元申请已提交，预计1-2个工作日到账</p>
                <p class="infoa" ng-if="!zhaunchusuccess">{{error}}</p>
                <div class="newMouth" ng-click="onClick('iknow')">我知道了</div>
            </div>
        </div>
        <div class="hqBillTan">
            <div class="top"><span>输入交易密码</span><i class="close" ng-click="onClick('close')"></i></div>
            <div class="body">
                <p>转出金额：<span>{{currentInfo.redeemAmount | currency : '' : 0}}元</span></p>
                <form name="jy" ng-model="user">
                    <div>
                        <input class="mm" type="password" ng-pattern="/^\d{6}$/" ng-model="user.jymm" placeholder="请输入6位交易密码" name="jymm" required autocomplete="off">
                    </div>
                    <div>
                        <input type="submit" ng-disabled="jy.$invalid" class="newMouth sub" value="确认转出" ng-click="onClick('sureOut')"></input>
                    </div>
                </form>
                <a ng-click="onClick('forgetWord')">忘记密码？</a>
            </div>
        </div>
    </div>
  <!--   风险测评弹框  -->
     <div class="mask" ng-show='isShowRisk' ng-click='closeRiskEvaluation()'>
        <div class="riskEvaluationTan">
            <div class="body">
            <i class="close" ng-click='closeRiskEvaluation()'></i>
            <div class='recordImg'></div>
         <div class='recordCon'>
             恭喜您完成测评<br>您的风险偏好为<span id='leixing'>{{riskEvaluationType}}</span>
         </div>
         <a ui-sref='main.myAccount.riskEvaluation'  style='display: block' class='button' style='margin:0 auto;'  target="_blank">重新测试</a>
            </div>
        </div>
    </div>
    <!--   风险测评弹框  -->
</div>
