<div class="account-security-wrap" id="ngSection" ng-controller="securityCtrl">
<style>
    .set-trigger{ border-bottom: 0!important; }
    .account-security-wrap .set-wrap{ overflow:hidden; }
</style>
	<div class="account-common-title">安全认证</div>
	<div class="account-common-con">
		<div class="set-box">

            <!-- 绑定手机 -->
            <!--<div class="set-wrap set-phone">
                <div class="set-trigger">
                    <p class="icon mysafety-bind-phone"></p>
                    <p class="title">手机号码</p>
                    <p class="info">{{member.mobilePhone}}</p>
                    <p class="btn"><span class="true-name-btn">已认证</span></p>
                </div>
            </div>-->
            <!-- 绑定手机（结束） -->

            <!-- 身份认证 -->
            <!--<div class="set-wrap set-truename">
                <div class="set-trigger">
                    <p class="icon mysafety-truename"></p>
                    <p class="title">身份认证</p>
                    <p class="info" ng-hide="truenameset">未认证</p>
                    &lt;!&ndash;已认证的情况 &ndash;&gt;
                    <p class="info" ng-show="truenameset"><span>姓名：{{member.realName}}</span><span>身份证号：{{member.idCards}}</span></p>
                    &lt;!&ndash;<p class="btn"><a ng-hide="truenameset" ng-click="showSetMod($event)" class="true-name-btn" href="javascript:;">认证</a><span ng-show="truenameset">已认证</span></p>&ndash;&gt;
                    <p class="btn"><a ng-hide="truenameset" ng-click="$state.go('main.createEscrowAccount')" class="true-name-btn" href="javascript:;">认证</a><span ng-show="truenameset">已认证</span></p>
                </div>
                <div class="set-mod" id="set-truename" ng-hide="truenameset">
                    <form name="trueNameForm" novalidate ng-submit="submitForm(trueNameForm.$valid, $event, 'trueNameForm')" autocomplete="off">
                        <input style="display:none">
                        <input type="password" style="display:none">
                        <div class="tip">用户身份认证后才能购买平台产品，请填写个人真实信息</div>
                        <div class="form-wrap">
                            <div class="input-box">
                                <p>真实姓名：</p>
                                <div class="input-mod">
                                    <input type="text" name="truename" id="truename" placeholder="请输入您的姓名" ng-model="user.truename" required ng-pattern="/^[\u4E00-\u9FA5]+$/" autocomplete="off">
                                    &lt;!&ndash; 验证通过显示对勾勾 &ndash;&gt;
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[trueNameForm.truename.$valid]" ng-show="trueNameForm.truename.$dirty"></i>
                                    <span class="error" ng-show="trueNameForm.truename.$error.pattern">请输入正确的姓名</span>
                                    <span class="error" ng-show="trueNameForm.truename.$dirty && trueNameForm.truename.$error.required">请输入真实姓名</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>身份证号码：</p>
                                <div class="input-mod">
                                    <input type="text" name="idcard" id="idcard" ng-model="user.idcard" placeholder="请输入您的身份证号码" required ng-minlength="15" ng-maxlength="18" ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/" autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[trueNameForm.idcard.$valid]" ng-show="trueNameForm.idcard.$dirty"></i>
                                    <span class="error" ng-show="trueNameForm.idcard.$error.pattern">请输入正确的身份证号码</span>
                                    <span class="error" ng-show="trueNameForm.idcard.$dirty && trueNameForm.idcard.$error.required">请输入身份证号码</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>选择银行：</p>
                                <div class="input-mod">
                                    <style type="text/css">
                                        .dropdown dt{ width: 290px; margin:0px; padding:0px; }
                                        .dropdown dd, .dropdown ul { width: 300px; margin:0px; padding:0px; }
                                        .dropdown dd { position:relative; z-index: 99; }
                                        .dropdown, .dropdown:visited { color:#666666; text-decoration:none; outline:none; }
                                        .dropdown a:hover { color:#5d4617; }
                                        .dropdown dt{ border: 1px solid #dbdbdb; padding-right: 10px; }
                                        .dropdown dt span { display: block; background: url(../main/images/bank/arrow.png) no-repeat scroll right center; cursor:pointer; padding-left: 10px;}
                                        .dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #dbdbdb; color:#C5C0B0; display:none; left:0px; padding:5px 0px; position:absolute; top:2px; min-width:170px; list-style:none; height: 212px; overflow-y: scroll; }
                                        .dropdown span.value { display:none; }
                                        .dropdown dd ul li { padding:5px; display:block; }
                                        .dropdown dd ul li:hover { background-color:#f2f2f2; }
                                        .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
                                    </style>
                                    <dl class="dropdown bankname">
                                        <dt><span>请选择银行</span></dt>
                                        <dd>
                                            <ul>
                                                <li ng-repeat="item in bankInfo" ng-click="onClickBank($event,item)"><img class="flag" src="../main/images/bankBK/{{$index+1}}.jpg" alt="" /><span class="value">{{item.parentBankId}}</span></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="input-box">
                                <style type="text/css">
                                    .dropdown2 dt{ width: 290px; margin:0px; padding:0px; }
                                    .dropdown2 dd { position:relative; z-index: 99; }
                                    .dropdown2, .dropdown2:visited { color:#666666; text-decoration:none; outline:none; }
                                    .dropdown2 a:hover { color:#5d4617; }
                                    .dropdown2 dt{ border: 1px solid #dbdbdb; padding-right: 10px; }
                                    .dropdown2 dt span { display: block; background: url(../main/images/bank/arrow.png) no-repeat scroll right center; cursor:pointer; padding-left: 10px;}
                                    .dropdown2 dd .areabox { width: 350px; background:#f8fcff; border:1px solid #d4eefd; color:#666666; display:none; left:0px; padding:5px 10px 15px; position:absolute; top:2px; min-width:170px; list-style:none; }
                                    .dropdown2 dd .areabox span.title { color: #333; display: block; border-bottom: 1px solid #dddddd; margin-bottom: 10px; }
                                    .dropdown2 dd .areabox .save { line-height: 24px; display: block; float: left; position: relative;}
                                    .dropdown2 dd .areabox .save .aa { background-color:#4bacfd; color: #fff;  }
                                    .dropdown2 dd .areabox .save .bb { background-color:#4bacfd;}
                                    .dropdown2 dd .areabox .save span.savename{ display: block; float: left; padding: 5px 6px;}
                                    .dropdown2 dd .areabox .save .city{border: 1px solid #4bacfd;  padding: 5px 6px; background: #fff; z-index: 8; }
                                    .dropdown2 dd .areabox .save .city span { display: block; float:
                                        left; padding: 5px 6px;}
                                    .dropdown2 dd .areabox .save .city span:hover { background-color:#4bacfd; color: #fff;}
                                    .dropdown2 dd .areabox .save .city{ width: 200px; max-height: 200px;overflow-y: scroll; position: absolute; line-height: 24px; padding: 5px 6px;}
                                    .dropdown2 dd .areabox .save span.savename:hover { background-color:#4bacfd; color: #fff; }
                                    .dropdown2 img.flag { border:none; vertical-align:middle; margin-left:10px; }
                                </style>
                                <p>开户行所在地：</p>
                                <div class="input-mod">
                                    <dl class="dropdown2 userdropdown2">
                                        <dt><span>省</span></dt>
                                        <dd>
                                            <div class="areabox">
                                                <span class="title">请选择开户行所在地：</span>
                                                <div class="save">
                                                    <span class="savename" ng-repeat="tool in save" ng-click="onClickMenuItem($event,tool)">{{tool.province}}
                                                    </span>
                                                    <div class="city" ng-show="showlala" >
                                                        <span ng-repeat="item in investList" ng-click="cityClick($event,item)">{{item.city}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <script type="text/javascript">
                                        $('.userdropdown2').ready(function() {
                                            $(".userdropdown2 dt").click(function() {
                                                $(".userdropdown2 dd .areabox").toggle();
                                            });
                                            $('.userdropdown2').bind('click', function(e) {
                                                var $clicked = $(e.target);
                                                if (! $clicked.parents().hasClass("userdropdown2"))
                                                    $(".userdropdown2 dd .areabox").hide();
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="input-box banknum-box">
                                <p>充值/提现银行卡号：</p>
                                <span class="bank-tip" ng-show="trueNameForm.bankcardno.$pristine">仅支持借记卡</span>
                                <div class="input-mod">
                                    <input type="text" name="bankcardno" id="bankcardno" ng-model="user.bankcardno" placeholder="请输入您充值和提现的银行卡号" required valbankcardno autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[trueNameForm.bankcardno.$valid]" ng-show="trueNameForm.bankcardno.$dirty"></i>
                                    <span class="error" ng-show="trueNameForm.bankcardno.$error.valbankcardno">请输入正确的银行卡号</span>
                                    <span class="error" ng-show="trueNameForm.bankcardno.$dirty && trueNameForm.bankcardno.$error.required">请输入您充值和提现的银行卡号</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>银行预留手机号：</p>
                                <div class="input-mod">
                                    <input type="text" name="bankphone" id="bankphone" ng-model="user.bankphone" placeholder="请输入您的银行预留手机号" required ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[trueNameForm.bankphone.$valid]" ng-show="trueNameForm.bankphone.$dirty"></i>
                                    <span class="error" ng-show="trueNameForm.bankphone.$error.pattern">请输入正确的手机号码</span>
                                    <span class="error" ng-show="trueNameForm.bankphone.$dirty && trueNameForm.bankphone.$error.required">请输入银行预留手机号</span>
                                </div>
                            </div>
                            <div class="input-box getphonecode-box">
                                <p>短信验证码：</p>
                                <div class="input-mod">
                                    <input type="text" class="phonecode" name="phonecode" id="phonecode" ng-model="user.phonecode" placeholder="请输入短信验证码" required onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" autocomplete="off">
                                    <a class="getphonecode" href="javascript:;" ng-class="{'getcode-disabled': trueNameForm.truename.$invalid || trueNameForm.idcard.$invalid || trueNameForm.bankcardno.$invalid || trueNameForm.bankphone.$invalid || user.isGetCode || user.isGetVoice}" ng-click="getPhoneCode(user.bankphone, user.bankcardno, $event, user)">{{user.getCodeText}}</a>
                                    <div class="phonecodemsg">
                                        <i class="common-form-error" ng-show="trueNameForm.phonecode.$dirty && (bankPhoneCodeError || trueNameForm.phonecode.$invalid)"></i>
                                        <span class="error" ng-show="trueNameForm.phonecode.$dirty && trueNameForm.phonecode.$error.required">请输入短信验证码</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <input class="realname-sub" ng-disabled="trueNameForm.$invalid" value="提交" type="submit">
                            </div>
                        </div>
                    </form>
                    <div class="newtips">
                        <p>友情提示：</p>
                        <p>1. 浦发银行/邮储银行/上海银行 需要开通银联无卡支付，开通地址：<a target="_blank" href="https://online.unionpay.com/portal/open/init.do?entry=open">https://online.unionpay.com/portal/open/init.do?entry=open</a>，<a href="https://www.duorongcf.com/main/jt/YLKT" target="_blank">查看开通演示</a>；</p>
                        <p>2. 认证前，请确认“您填写银行预留的手机号”与您的银行卡预留的手机号码一致，如果您尚未在银行预留手机号码，建议你去银行柜面进行信息补充；</p>
                        <p>3. 银行卡快捷充值支付额度请 <a href="https://www.duorongcf.com/main/jt/ZFED" target="_blank">点击查看</a> 。</p>
                    </div>
                </div>
            </div>-->
            <!-- 身份认证（结束） -->

            <!-- 银行信息 -->
            <div class="set-wrap set-bankinfo">
                <div class="set-trigger">
                    <p class="icon mysafety-truename"></p>
                    <!--<p class="title">银行信息</p>
                    <p class="info" ng-hide="truenameset">未绑定</p>-->
                    <p class="title">存管开户</p>
                    <p class="info" ng-hide="truenameset">未开通</p>
                    <!-- 已认证的情况 -->
                    <!--<p class="info" ng-show="truenameset"><img src="/main/images/bank/{{member.bankCode}}.jpg">尾号<b>{{member.bankNum}}</b></p>-->
                    <p class="info" ng-show="truenameset"><img src="{{member.bankUrl}}">尾号<b>{{member.bankNum}}</b></p>
                    <!--<p class="btn"><a ng-hide="truenameset" ng-click="showSetMod($event)" class="true-name-btn" href="javascript:;">绑定</a><span ng-show="truenameset">已绑定</span></p>-->
                    <p class="btn"><a ng-hide="truenameset" ng-click="$state.go('main.createEscrowAccount')" class="true-name-btn" href="javascript:;">开通</a><span ng-show="truenameset">已开通</span></p>
                </div>
                <div class="set-mod" id="set-bankinfo" ng-hide="truenameset">
                    <form name="bankInfoForm" novalidate ng-submit="submitForm(bankInfoForm.$valid, $event, 'bankInfoForm')" autocomplete="off">
                        <input style="display:none">
                        <input type="password" style="display:none">
                        <div class="tip">用户身份认证后才能购买平台产品，请填写个人真实信息</div>
                        <div class="form-wrap">
                            <div class="input-box">
                                <p>真实姓名：</p>
                                <div class="input-mod">
                                    <input type="text" name="truename" placeholder="请输入您的姓名" ng-model="bank.truename" required ng-pattern="/^[\u4E00-\u9FA5]+$/" autocomplete="off">
                                    <!-- 验证通过显示对勾勾 -->
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[bankInfoForm.truename.$valid]" ng-show="bankInfoForm.truename.$dirty"></i>
                                    <span class="error" ng-show="bankInfoForm.truename.$error.pattern">请输入正确的姓名</span>
                                    <span class="error" ng-show="bankInfoForm.truename.$dirty && bankInfoForm.truename.$error.required">请输入真实姓名</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>身份证号码：</p>
                                <div class="input-mod">
                                    <input type="text" name="idcard" ng-model="bank.idcard" placeholder="请输入您的身份证号码" required ng-minlength="15" ng-maxlength="18" ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/" autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[bankInfoForm.idcard.$valid]" ng-show="bankInfoForm.idcard.$dirty"></i>
                                    <span class="error" ng-show="bankInfoForm.idcard.$error.pattern">请输入正确的身份证号码</span>
                                    <span class="error" ng-show="bankInfoForm.idcard.$dirty && bankInfoForm.idcard.$error.required">请输入身份证号码</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>选择银行：</p>
                                <div class="input-mod">
                                    <dl class="dropdown bankarea">
                                        <dt><span>请选择银行</span></dt>
                                        <dd>
                                            <ul>
                                                <li ng-repeat="item in bankInfo" ng-click="onClickBank2($event,item)"><img class="flag" src="/main/images/bankBK/{{$index+1}}.jpg" alt="" /><span class="value">{{item.parentBankId}}</span></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>开户行所在地：</p>
                                <div class="input-mod">
                                    <dl class="dropdown2 bankdropdown2">
                                        <dt><span>省</span></dt>
                                        <dd>
                                            <div class="areabox">
                                                <span class="title">请选择开户行所在地：</span>
                                                <div class="save">
                                                    <span class="savename" ng-repeat="tool2 in save" ng-click="onClickMenuItem($event,tool2)">{{tool2.province}}
                                                    </span>
                                                    <div class="city" ng-show="showlala" >
                                                        <span ng-repeat="item2 in investList" ng-click="cityClick2($event,item2)">{{item2.city}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <script type="text/javascript">
                                    $('.bankdropdown2').ready(function() {
                                        $(".bankdropdown2 dt").click(function() {
                                            $(".bankdropdown2 dd .areabox").toggle();
                                        });
                                        $('.bankdropdown2').bind('click', function(e) {
                                            var $clicked = $(e.target);
                                            if (! $clicked.parents().hasClass("bankdropdown2"))
                                                $(".bankdropdown2 dd .areabox").hide();
                                        });
                                    });
                                </script>
                            </div>
                            <div class="input-box banknum-box">
                                <p>充值/提现银行卡号：</p>
                                <span class="bank-tip" ng-show="bankInfoForm.bankcardno.$pristine">仅支持借记卡</span>
                                <div class="input-mod">
                                    <input type="text" name="bankcardno" ng-model="bank.bankcardno" placeholder="请输入您充值和提现的银行卡号" required valbankcardno autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[bankInfoForm.bankcardno.$valid]" ng-show="bankInfoForm.bankcardno.$dirty"></i>
                                    <span class="error" ng-show="bankInfoForm.bankcardno.$error.valbankcardno">请输入正确的银行卡号</span>
                                    <span class="error" ng-show="bankInfoForm.bankcardno.$dirty && bankInfoForm.bankcardno.$error.required">请输入您充值和提现的银行卡号</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>银行预留手机号：</p>
                                <div class="input-mod">
                                    <input type="text" name="bankphone" ng-model="bank.bankphone" placeholder="请输入您的银行预留手机号" required ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" autocomplete="off">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[bankInfoForm.bankphone.$valid]" ng-show="bankInfoForm.bankphone.$dirty"></i>
                                    <span class="error" ng-show="bankInfoForm.bankphone.$error.pattern">请输入正确的手机号码</span>
                                    <span class="error" ng-show="bankInfoForm.bankphone.$dirty && bankInfoForm.bankphone.$error.required">请输入银行预留手机号</span>
                                </div>
                            </div>
                            <div class="input-box getphonecode-box">
                                <p>短信验证码：</p>
                                <div class="input-mod">
                                    <input type="text" class="phonecode" name="phonecode" ng-model="bank.phonecode" placeholder="请输入短信验证码" required onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" autocomplete="off">
                                    <a class="getphonecode" href="javascript:;" ng-class="{'getcode-disabled': bankInfoForm.truename.$invalid || bankInfoForm.idcard.$invalid || bankInfoForm.bankcardno.$invalid || bankInfoForm.bankphone.$invalid || bank.isGetCode || bank.isGetVoice}" ng-click="getPhoneCode(bank.bankphone, bank.bankcardno, $event, bank, false)">{{bank.getCodeText}}</a>
                                    <div class="phonecodemsg">
                                        <i class="common-form-error" ng-show="bankInfoForm.phonecode.$dirty && (bankPhoneCodeError || bankInfoForm.phonecode.$invalid)"></i>
                                        <span class="error" ng-show="bankInfoForm.phonecode.$dirty && bankInfoForm.phonecode.$error.required">请输入短信验证码</span>
                                    </div>
                                </div>
                            </div>


                            <div class="sub-wrap">
                                <input class="realname-sub" ng-disabled="bankInfoForm.$invalid" value="提交" type="submit">
                            </div>
                        </div>
                    </form>
                    <div class="newtips">
                        <p>友情提示：</p>
                        <p>1. 浦发银行/邮储银行/上海银行 需要开通银联无卡支付，开通地址：<a target="_blank" href="https://online.unionpay.com/portal/open/init.do?entry=open">https://online.unionpay.com/portal/open/init.do?entry=open</a>，<a href="https://www.duorongcf.com/main/jt/YLKT" target="_blank">查看开通演示</a>；</p>
                        <p>2. 认证前，请确认“您填写银行预留的手机号”与您的银行卡预留的手机号码一致，如果您尚未在银行预留手机号码，建议你去银行柜面进行信息补充；</p>
                        <p>3. 银行卡快捷充值支付额度请 <a href="https://www.duorongcf.com/main/jt/ZFED" target="_blank">点击查看</a> 。</p>
                    </div>
                </div>
                <div class="addCityId" ng-show="member.realFlag == 1&&member.isBankOfDeposit == 0">
                    <style>
                        .notice{ margin:0 0 20px 43px; color: #333; font-size: 14px; line-height: 33px; width: 400px; padding-left:  20px; background: #f1f1f1; }
                        .dropdown2 dt{font-size: 18px;}
                        .dropdown2 .sub{ display: block; width: 98px; line-height: 40px; border-radius: 5px; background: #fd9927; color: #fff; font-size: 18px; text-align: center; position: absolute; top: 0; left: 205px; }
                        .dropdown2 dt span.sheng{ color: #999;}
                        .addend , .addend2{ margin-top:3px; margin-left: 230px; font-size: 14px; color: #666; margin-bottom: 10px; }
                    </style>
                    <div class="notice">为配合存管工作，您需要完善以下信息：</div>
                    <div class="input-box" style="display: inline-block;height: auto;">
                        <p>开户行所在地：</p>
                        <div class="input-mod">
                            <dl class="dropdown2 userdropdown3">
                                <dt style="width: 135px"><span class="sheng">省</span></dt>
                                <span class="sub" ng-click="subCityId()">提交</span>
                                <dd id="auto">
                                    <div class="areabox" style="font-size: 16px;">
                                        <span class="title">请选择开户行所在地：</span>
                                        <div class="save">
                                            <span class="savename" ng-repeat="tool in save" ng-click="onClickMenuItem($event,tool)">{{tool.province}}
                                            </span>
                                            <div class="city" ng-show="showlala" >
                                                <span ng-repeat="item in investList" ng-click="cityClick3($event,item)">{{item.city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <script type="text/javascript">
                                $('.userdropdown3').ready(function() {
                                    $(".userdropdown3 dt").click(function() {
                                        document.getElementById("auto").style.height = "220px";
                                        $(".userdropdown3 dd .areabox").toggle();
                                    });
                                    $('.userdropdown3').bind('click', function(e) {
                                        var $clicked = $(e.target);
                                        if (! $clicked.parents().hasClass("userdropdown3"))
                                            $(".userdropdown3 dd .areabox").hide();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="addend" style="display: none;">开户行所在地：{{text}}</div>
                <div ng-show="member.isBankOfDeposit == 1" class="addend2">开户行所在地：{{member.province}}--{{member.city}}</div>
            </div>
            <!-- 银行信息（结束） -->

            <!-- 重置密码 -->
            <div class="set-wrap set-passwd">
                <div class="set-trigger">
                    <p class="icon mysafety-passwd"></p>
                    <p class="title">登录密码</p>
                    <p class="info">已设置</p>
                    <p class="btn"><a class="true-name-btn reset-passwd-btn" ng-click="showSetMod($event)" href="javascript:;">修改</a></p>
                </div>
                <div class="set-mod" id="set-passwd">
                    <form name="passwdFrom" novalidate ng-submit="submitForm(passwdFrom.$valid, $event, 'passwdFrom')" autocomplete="off">
                        <input type="password" style="display:none">
                        <div class="tip">为了您的账户安全，请定期更改登录密码，并确保登录密码设置与交易密码不同。</div>
                        <div class="form-wrap">
                            <div class="input-box usedpasswd-box">
                                <p>原始密码：</p>
                                <div class="input-mod special-mod">
                                    <input type="password" name="usedpasswd" ng-model="passwd.usedpasswd" required placeholder="请输入原始登录密码" autocomplete="off" maxlength="18">
                                    <a href="#" ng-click="$state.go('main.resetPasswd')">忘记密码？</a>
                                    <div class="errormsg" ng-show="passwdFrom.usedpasswd.$dirty && passwdFrom.usedpasswd.$error.required">
                                        <i class="common-form-error"></i>
                                        <span class="error">请输入原始登录密码</span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>新密码：</p>
                                <div class="input-mod">
                                    <input name="newpasswd" class="prevpasswd" id="newpasswd" type="password" required placeholder="6-18位字母、数字" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-model="passwd.newpasswd" autocomplete="off" maxlength="18">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[passwdFrom.newpasswd.$valid]" ng-show="passwdFrom.newpasswd.$dirty"></i>
                                    <span class="error" ng-show="passwdFrom.newpasswd.$error.pattern">密码格式不正确</span>
                                    <span class="error" ng-show="passwdFrom.newpasswd.$dirty && passwdFrom.newpasswd.$error.required">请输入新密码</span>
                                </div>
                            </div>
                            <div class="input-box">
                                <p>确认新密码：</p>
                                <div class="input-mod">
                                    <input name="repasswd" type="password" required match="newpasswd" placeholder="请再次输入您的新密码" ng-model="passwd.repasswd" autocomplete="off" maxlength="18">
                                    <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[passwdFrom.repasswd.$valid]" ng-show="passwdFrom.repasswd.$dirty"></i>
                                    <span class="error" ng-show="passwdFrom.repasswd.$error.match && !passwdFrom.repasswd.$error.required">两次输入的密码不符</span>
                                    <span class="error" ng-show="passwdFrom.repasswd.$dirty && passwdFrom.repasswd.$error.required">请再次输入您的新密码</span>
                                </div>
                            </div>
                            <div class="sub-wrap">
                                <input type="submit" value="提交" ng-disabled="passwdFrom.$invalid">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="set-success" id="set-passwd-success">
                    <i class="common-success-icon"></i>
                    <p>恭喜您，登录密码修改成功。</p>
                </div>
            </div>
            <!-- 重置密码（结束） -->

            <!-- 重置交易密码 -->
            <div class="set-wrap set-tradecode">
                <div class="set-trigger">
                    <p class="icon mysafety-tradepasswd"></p>
                    <p class="title">交易密码</p>
                    <!--<p class="info" ng-show="tpwdset">已设置</p>-->
                    <p class="info" ng-show="tpwdset">已设置<span class="comment">交易密码为您平台投资时候输入的密码。</span></p>
                    <p class="info" ng-hide="tpwdset">未设置<span class="comment">交易密码为您平台投资时候输入的密码。</span></p>
                    <p class="btn"><a class="trade-code-btn" href="javascript:;" ng-click="showSetMod($event)"></a></p>
                    <!-- <p class="btn"><a class="true-name-btn" href="javascript:;" ng-click="showSetMod($event)" ng-hide="tpwdset">设置</a></p> -->
                </div>
                <div class="set-mod" id="set-tradecode">
                	<div class="set-trade-box">

                        <div class="tip">为了您的账户安全，请定期更改交易密码，并确保登录密码设置与交易密码不同。</div>

                            <!-- 第一次设置交易密码的结构 -->
                            <div class="form-wrap" ng-hide="tpwdset">
                                <form name="tpwdSetForm" novalidate ng-submit="submitForm(tpwdSetForm.$valid, $event, 'tpwdSetForm')" autocomplete="off">
                                    <input type="password" style="display:none">
                                    <div class="input-box">
                                        <p>交易密码：</p>
                                        <div class="input-mod">
                                            <input type="password" name="tpasswd" id="tpasswd" placeholder="6位数字" required ng-pattern="/^\d{6}$/" ng-model="trade.tpasswd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')"/>
                                            <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[tpwdSetForm.tpasswd.$valid]" ng-show="tpwdSetForm.tpasswd.$dirty"></i>
                                            <span class="error" ng-show="tpwdSetForm.tpasswd.$error.pattern">交易密码格式不正确</span>
                                            <span class="error" ng-show="tpwdSetForm.tpasswd.$dirty && tpwdSetForm.tpasswd.$error.required">请输入交易密码</span>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <p>确认交易密码：</p>
                                        <div class="input-mod">
                                            <input type="password" name="retpasswd" placeholder="请再次输入您的交易密码" required ng-model="trade.retpasswd" match="tpasswd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" />
                                            <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[tpwdSetForm.retpasswd.$valid]" ng-show="tpwdSetForm.retpasswd.$dirty"></i>
                                            <span class="error" ng-show="tpwdSetForm.retpasswd.$error.match && !tpwdSetForm.retpasswd.$error.required">两次输入的交易密码不符</span>
                                            <span class="error" ng-show="tpwdSetForm.retpasswd.$dirty && tpwdSetForm.retpasswd.$error.required">请再次输入您的交易密码</span>
                                        </div>
                                    </div>
                                    <div class="sub-wrap">
                                        <input type="submit" value="提交" ng-disabled="tpwdSetForm.$invalid"/>
                                    </div>
                                </form>
                            </div>
                            <!-- 第一次设置交易密码的结构（结束） -->

                            <!-- 已设置过交易密码的结构 -->
                            <div class="form-wrap" ng-show="tpwdset">
                                <form name="changetpwdForm" novalidate ng-submit="submitForm(changetpwdForm.$valid, $event, 'changetpwdForm')" autocomplete="off">
                                    <input type="password" style="display:none">
                                    <div class="input-box usedpasswd-box">
                                        <p>原交易密码：</p>
                                        <div class="input-mod special-mod">
                                            <input type="password" name="usedtpasswd" placeholder="6位数字" required ng-model="trade.usedtpasswd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
                                            <a class="forget-btn" href="javascript:;" ng-click="getCodeByMsg($event)">忘记交易密码？</a>
                                            <div class="errormsg" ng-show="changetpwdForm.usedtpasswd.$dirty && changetpwdForm.usedtpasswd.$error.required">
                                                <i class="common-form-error"></i>
                                                <span class="error">请输入原交易密码</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <p>新交易密码：</p>
                                        <div class="input-mod">
                                            <input type="password" name="newtpasswd" id="newtpasswd" placeholder="6位数字" required ng-pattern="/^\d{6}$/" ng-model="trade.newtpasswd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
                                            <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[changetpwdForm.newtpasswd.$valid]" ng-show="changetpwdForm.newtpasswd.$dirty"></i>
                                            <span class="error" ng-show="changetpwdForm.newtpasswd.$error.pattern">交易密码格式不正确</span>
                                            <span class="error" ng-show="changetpwdForm.newtpasswd.$dirty && changetpwdForm.newtpasswd.$error.required">请输入新交易密码</span>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <p>确认新交易密码：</p>
                                        <div class="input-mod">
                                            <input type="password" name="retpasswd" placeholder="请再次输入您的新密码" required ng-model="trade.retradepasswd" match="newtpasswd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
                                            <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[changetpwdForm.retpasswd.$valid]" ng-show="changetpwdForm.retpasswd.$dirty"></i>
                                            <span class="error" ng-show="changetpwdForm.retpasswd.$error.match && !changetpwdForm.retpasswd.$error.required">两次输入的交易密码不符</span>
                                            <span class="error" ng-show="changetpwdForm.retpasswd.$dirty && changetpwdForm.retpasswd.$error.required">请再次输入您的新交易密码</span>
                                        </div>
                                    </div>
                                    <div class="sub-wrap">
                                        <input type="submit" value="提交" ng-disabled="changetpwdForm.$invalid">
                                    </div>
                                </form>
                            </div>
                            <!-- 已设置过交易密码的结构（结束） -->

                    </div>

                    <div class="reset-trade-box">

                    	<!-- 验证手机号 -->
                        <form class="set-before form-mod" name="phonecodeForm" novalidate ng-submit="submitForm(phonecodeForm.$valid, $event, 'phonecodeForm')" autocomplete="off">
                            <input style="display:none">
                            <input type="password" style="display:none">
                            <div class="step-wrap">
                                <p class="mysafety-stepo"></p>
                                <ul>
                                    <li>验证手机号</li>
                                    <li>设置新交易密码</li>
                                    <li>修改成功</li>
                                </ul>
                            </div>
                            <div class="form-wrap">
                                <div class="input-box">
                                    <p>手机号码：</p>
                                    <div class="input-mod">{{member.mobilePhone}}</div>
                                </div>
                                <div class="input-box getphonecode-box">
                                    <p>手机验证码：</p>
                                    <div class="input-mod special-mod">
                                        <input class="phone-code phonecode" type="text" name="phonecode" placeholder="请输入验证码" ng-model="trade.phonecode" required onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" autocomplete="off">
                                        <a href="" class="getphonecode" ng-class="{'getcode-disabled': trade.isGetVoice}" ng-click="getPhoneCode('', '', $event, trade, false)">{{trade.getCodeText}}</a>
                                        <div class="phonecodemsg">
                                            <i class="common-form-error" ng-show="phonecodeForm.phonecode.$dirty && (bankPhoneCodeError || phonecodeForm.phonecode.$invalid)"></i>
                                            <span class="error" ng-show="phonecodeForm.phonecode.$dirty && phonecodeForm.phonecode.$error.required">请输入短信验证码</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-wrap">
                                    <input type="submit" value="提交" ng-disabled="phonecodeForm.$invalid">
                                </div>
                            </div>
                        </form>

                        <!-- 设置新手机号 -->
                        <form class="set-new form-mod" name="setnewtpwdForm" novalidate ng-submit="submitForm(setnewtpwdForm.$valid, $event, 'setnewtpwdForm')" autocomplete="off">
                            <input type="password" style="display:none">
                            <div class="step-wrap">
                                <p class="mysafety-stept"></p>
                                <ul>
                                    <li>验证手机号</li>
                                    <li>设置新交易密码</li>
                                    <li>修改成功</li>
                                </ul>
                            </div>
                            <div class="form-wrap">
                                <div class="input-box">
                                    <p>新交易密码：</p>
                                    <div class="input-mod">
                                        <input type="password" name="newtpwd" id="newtpwd" placeholder="6位数字" required ng-pattern="/^\d{6}$/" ng-model="trade.newtpwd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
                                        <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[setnewtpwdForm.newtpwd.$valid]" ng-show="setnewtpwdForm.newtpwd.$dirty"></i>
                                        <span class="error" ng-show="setnewtpwdForm.newtpwd.$error.pattern">交易密码格式不正确</span>
                                        <span class="error" ng-show="setnewtpwdForm.newtpwd.$dirty && setnewtpwdForm.newtpwd.$error.required">请输入新交易密码</span>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <p>确认交易密码：</p>
                                    <div class="input-mod">
                                        <input type="password" name="retpwd" placeholder="请再次输入您的新交易密码" required ng-model="trade.retpwd" match="newtpwd" autocomplete="off" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">
                                        <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[setnewtpwdForm.retpwd.$valid]" ng-show="setnewtpwdForm.retpwd.$dirty"></i>
                                        <span class="error" ng-show="setnewtpwdForm.retpwd.$error.match && !setnewtpwdForm.retpwd.$error.required">两次输入的交易密码不符</span>
                                        <span class="error" ng-show="setnewtpwdForm.retpwd.$dirty && setnewtpwdForm.retpwd.$error.required">请再次输入您的新交易密码</span>
                                    </div>
                                </div>
                                <div class="sub-wrap">
                                    <input type="submit" value="提交" ng-disabled="setnewtpwdForm.$invalid">
                                </div>
                            </div>
                        </form>

                        <!-- 设置成功 -->
                        <div class="set-success change-trade-success">
                            <i class="common-success-icon"></i>
                            <p>恭喜您，交易密码修改成功。</p>
                        </div>
                    </div>
                </div>
            </div>
			<!-- 重置交易密码（结束） -->
      <!-- 重置存管提现密码 -->
      <div class="set-wrap" ng-show="truenameset">
        <div class="set-trigger">
          <p class="icon mysafety-escrowpasswd"></p>
          <p class="title">存管提现密码</p>
          <p class="info">已设置<span class="comment">存管提现密码为银行卡提现时输入的密码。</span></p>
          <p class="btn"><a class="true-name-btn reset-passwd-btn" ng-click="resetEscrowPassword()" href="javascript:;">重置</a></p>
        </div>
        <form action="" id="hiddenFormResetpwd" target="_blank">
          <input type="hidden" class="mchnt_cd" name="mchnt_cd">
          <input type="hidden" class="mchnt_txn_ssn" name="mchnt_txn_ssn">
          <input type="hidden" class="login_id" name="login_id">
          <input type="hidden" class="busi_tp" name="busi_tp">
          <input type="hidden" class="signature" name="signature">
            <input type="hidden" class="back_url" name="back_url">
        </form>
      </div>
      <!-- 重置存管提现密码（结束） -->
        <!-- 收货地址start -->
        <div class="set-wrap set-address">
            <div class="set-trigger">
                <p class="icon mysafety-address"></p>
                <p class="title">收货地址</p>
                <!-- 没有填收货地址 -->
                <p class="info" ng-show='isConsignee == 0'>暂无</p>
                <p class="info" ng-show='isConsignee == 1'><span ng-bind='member.consignee' style='display: inline-block;margin-right: 15px;width:100px;line-height: 30px;'></span><span ng-bind='member.region' style='display: inline-block;width: 100px;line-height: 30px;height:60px;margin-right: 15px;'></span><span  ng-bind='member.nowAddress' style='display: inline-block;width: 140px;line-height: 30px;height:30px;'></span><span ng-bind='member.phone' style='display: inline-block;margin-right: 0px'></span></p>
                <p class="btn"><a ng-click='showAddressBox()' class="true-name-btn addressBtn" style='cursor: pointer' ></a></p>
            </div>
        </div>
        <!-- 收货地址end -->

        </div>
	</div>
    <!-- 底部弹框 -->
     <div class="mask" ng-show='isShow' >
    <div class="kong" style='width: 100%;
    height: 100%;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.6);
     background:#000\9;
    filter:alpha(opacity=60);
    top: 0;
    left: 0;'></div>
   <!--  中间内容部分 -->
      <div class="tanRenzheng">
            <div class="titleTop">
                <div class="image"></div>
                <p>认证成功</p>
            </div>
            <div class="title">恭喜你获得</div>
            <div class="content" ng-repeat="item in taskInfo.taskAwardList">
                <div class="cont" ng-show='item.gainedPoints != 0'><span class="col" >+{{item.gainedPoints}}</span>积分</div>
                <div class="cont" ng-show='item.gainedEXP != 0'><span class="col">+{{item.gainedEXP}}</span>经验</div>
            </div>
            <div class="button">
                <a class="btnleft" ui-sref="main.pointMall" target="_blank">积分兑换</a>
                <a class="btnright" ng-click="close()" target="_blank">确定</a>
            </div>
      </div>
      <div class="close" ng-click="close()"></div>
      </div>
    <!-- 收货地址start -->
    <style>

        ._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; }
        ._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
        ._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0;background: #fff; }
        ._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
        .citySel { background-color: #56b4f8; color: #fff !important; }
        ._citys1 { width: 100%; display: inline-block; padding: 10px 0;background: #fff }
        ._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
        ._citys1 a:hover { color: #fff; background-color: #56b4f8; }
        .AreaS { background-color: #56b4f8 !important; color: #fff !important; }
    </style>
    <div class="mask"   ng-show='isShowAddress' style='z-index: 2'>
        <div class="kong" style='width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
     background:#000\9;
    filter:alpha(opacity=60);
    top: 0;
    left: 0;' ng-click='close()' ></div>
        <div class="addressContent"  style='z-index: 3;margin-top: -335px;'>
            <!-- 地址顶部 -->
            <div class="addressTop" style='padding-top: 10px;'>
                <div class="titleBig">添加收货地址</div>
                <div class="titleLittle">为了方便参与活动实物派奖，请填写你的收货地址</div>
                <div class="colse" ng-click='close()'>×</div>
            </div>
            <div class="addressMain">
                <div class="adressTitle">地址信息</div>
                <form name='addressForm' ng-submit="submitForm(addressForm.$valid, $event, 'addressForm')">
                    <div class="titleLittle">
                        <span class="star">*</span>收货人
                    </div>
                    <div class="addressCon">
                        <input type="text" name='userName' ng-model='userName' id='user' style="padding-left: 10px;padding-right:35px;" maxlength="20" required>
                    </div>
                    <!-- 所在区域 -->
                    <div class="titleLittle">
                        <span class="star">*</span>所在区域
                    </div>
                    <div class="addressCon">
                        <input type="text"  id='city' style="padding-left: 10px;padding-right:35px;background-image: url(../main/images/mysafety/selected.png);background-position: right center;background-repeat: no-repeat" name='address' ng-model='address' required >
                    </div>
                    <!-- 详细地址 -->
                    <div class="titleLittle">
                        <span class="star">*</span>详细地址
                    </div>
                    <div class="addressCon">
                        <input type="text" name='addressXiangxi' style="padding-left: 10px;padding-right:35px;" ng-model='addressXiangxi' required maxlength="20">
                    </div>
                    <!--  联系电话 -->
                    <div class="titleLittle">
                        <span class="star">*</span>联系电话
                    </div>
                    <div class="addressCon">
                        <input type="text" name='addressTelephone' style="padding-left: 10px;padding-right:35px;" ng-model='addressTelephone' maxlength='11' minlength="11" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" required>
                    </div>
                    <!-- 提交按钮 -->
                    <div class="button" >
                        <!-- 提交 -->

                        <input type='submit' value="提交" class="button" disabled="disabled" ng-show='(userName == null) || (address == null) || (addressXiangxi == null) || (addressTelephone == null)' style='border:0px'>

                        <input type="submit" value='提交' class="btnColor"  ng-show='(userName !=null) && (address!=null) && (addressXiangxi !=null) && (addressTelephone !=null)' style='border:0px;outline: none'>
                    </div>
                    <p style='color:red'>{{errormsg}}</p>
                </form>
            </div>
        </div>
    </div>
    <!-- 收货地址end -->
</div>
