<div ng-cloak class='ng-scope ng-cloak newhand-detail' ng-controller="billDetailCtrl">
  <div class="bread-nav-wrapper new-bread-wrapper">
    <div class="bread-nav">
      <div class="bread-box"><span ng-repeat="item in path"><a href="{{item.url}}">{{item.pathName}}</a> > </span>{{title}}</div>
    </div>
  </div>
  <div class="bill-detail-wrap">
    <div class="bill-detail-content">
      <div class="bill-detail-box">
        <div class="bill-detail">
          <div class="detail-box">
            <div class="title">
              <i class="bill-newhand"></i>
              <div class="feature-box">
                <p class="feature">
                  <span class="ng-binding" style="color:#bfd1e2; top: -10px;">投资成功次日计息</span>
                </p>
                <b>
					新手体验标
					<span class="bubiaoBox"><span class="bubiao">新手奖励</span></span>
				</b>
              </div>
              <i class="bill-detail-bao"></i>
            </div>
            <div class="list-wrap">
              <ul>
                <li class="rate-mod" style="width: 195px;">
                  <div class="rate">
                    <b>12%</b>
                  </div>
                  <!--<p>预期年化收益率</p>-->
                  <p>历史年化收益率</p>
                </li>
                <li class="deadline" style="width: 274px;">
                  <div><b>1</b><span>天</span></div>
                  <p>投资期限</p>
                </li>
                <li style="border-right: 0;width: 274px;">
                  <div><b>10,000</b><span> 元</span></div>
                  <p class="home-icons-expgold"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bill-form-wrap">
            <div class="rest-wrap">
                <div class="rest-box">
                  <i class="bill-ing"></i>
                </div>
            </div>
            <div style="padding-left: 24px;margin-top: 35px;">
                <p style="line-height: 40px;font-size: 16px;color: #666;">投资金额：　　10000元</p>
                <p style="line-height: 40px;font-size: 16px;color: #666;">体验金金额：　10000元</p>
                <p style="line-height: 40px;font-size: 16px;color: #666;">预期收益：　　3.28元</p>
                <div id="newBillbtn" class="btn" style="text-align: center;width: 300px;line-height: 42px;color: #fff;background: #fc763f;font-size: 22px;margin-top: 35px;border-radius: 6px;" ng-click="onClick('newbill')"></div>
            </div>
        </div>
      </div>
    </div>
    <div class="newhand-detail-info">
        <style>
            p.info{ font-size: 42px;line-height: 70px;margin-top: 40px;}
            span.spaninfo{ color: #fc763f; }
        </style>
      <div class="newhand-mode pro">
        <div class="newhand-con">
          <div class="newhand-title">国资背景</div>
          <p class="info">大型国企<span class="spaninfo">中商沪深</span>控股
            <br>亿元注册资本</p>
          <i></i>
      </div>
      <div class="newhand-mode good">
        <div class="newhand-con">
          <div class="newhand-title">产品介绍</div>
          <p class="info">银行国企票据<span class="spaninfo">100%</span>本息兑付<br>短期、高收益、低风险</p>
          <i style="top:322px;"></i>
        </div>
      </div>
      <div class="newhand-mode benxi">
        <div class="newhand-con">
          <div class="newhand-title">本息还款</div>
          <p class="info">次日计息 到期<span class="spaninfo">兑付本息</span>
            <br>充值提现急速到账</p>
          <i></i>
        </div>
      </div>
      <div class="newhand-mode bank">
        <div class="newhand-con">
          <div class="newhand-title">安全保障</div>
          <p class="info"><span class="spaninfo">同卡进出</span>保障资金安全<br>专业律所服务提供法律保障</p>
          <i></i>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    .mask{width: 100%;height: 100%;position: fixed;background-color: rgba(0, 0, 0, 0.6);top: 0px;left: 0px;z-index: 999;}
    .newBillTan{
        background:url('../main/images/newHand.png') no-repeat;    animation: openMove 1s forwards; width: 529px;height:558px; position: absolute; top: 50%;left: 50%;margin-left: -265px;margin-top: -279px;}
    .body{ width: 285px; margin: 0 auto; margin-top:263px; text-align: center; font-size: 24px; color: #fff; }
    .info{ margin: 20px 0; font-size: 18px; padding-top: 5px; border-top: 1px dashed #fff; }
    .newMouth{ width: 207px; line-height: 45px; background: #fffd5d; border-radius: 5px; margin: 0 auto; color: #fa2a3a; cursor: pointer; }
    .close{ float: right;margin-right: 15px; margin-top: 10px; width: 48px; height: 48px; cursor: pointer; }
</style>
<div class="mask" ng-if="isShowTS">
    <div class="newBillTan">
        <div class="close" ng-click="isShowTS=false"></div>
        <div class="body">
            <p>恭喜您获得</p>
            <p><span style="font-size: 30px; color: #fcff01;">3.28元</span>体验金收益</p>
            <div class="info">您可以用于投资12%新手专享月标</div>
            <div class="newMouth" ng-click="$state.go('main.home')">立即投资</div>
        </div>
    </div>
</div>
