<!--<div class="escrow-account-topbar">-->
  <!--&lt;!&ndash;<div class="center-area">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="btn">&ndash;&gt;-->
      <!--&lt;!&ndash;<a href="{{a|webIE8}}other/escrowAccount.html" target="_blank">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="../main/images/escrow-account/btn-demo-openacct.png">&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<div class="escrow-account-bg">
  <div class="form-wrapper">
    <form name="theForm">
      <div class="content">
        <div class="block-title">用户信息</div>
        <div class="block-detail">
          <div class="elem-row">
            <div class="label">真实姓名：</div>
            <div class="input-wrapper">
              <input name="truename" id="truename" class="text" type="text" placeholder="请输入姓名" ng-model="ctrl.truename" required ng-pattern="/^[\u4E00-\u9FA5]+$/" autocomplete="off" required ng-disabled="ctrl.oldinfo != undefined && ctrl.oldinfo.hasOwnProperty('name')">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.truename.$valid]" ng-show="theForm.truename.$dirty"></i>
              <span class="error" ng-show="theForm.truename.$error.pattern">请输入正确的姓名</span>
              <span class="error" ng-show="theForm.truename.$dirty && theForm.truename.$error.required">请输入真实姓名</span>
            </div>
          </div>
          <div class="elem-row">
            <div class="label">身份证号：</div>
            <!--<div class="input-wrapper">-->
              <!--<input name="idcardno" id="idcardno" class="text" type="text" placeholder="请输入身份证号" ng-model="ctrl.idcardno" ng-minlength="15" ng-maxlength="18" ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/" required autocomplete="off" ng-disabled="ctrl.oldinfo != undefined && ctrl.oldinfo.hasOwnProperty('idCard')">-->
              <!--<i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.idcardno.$valid]" ng-show="theForm.idcardno.$dirty"></i>-->
              <!--<span class="error" ng-show="theForm.idcardno.$error.pattern">请输入正确的身份证号码</span>-->
              <!--<span class="error" ng-show="theForm.idcardno.$dirty && theForm.idcardno.$error.required">请输入身份证号码</span>-->
            <!--</div>-->
            <div ng-if="ctrl.oldinfo != undefined && ctrl.oldinfo.hasOwnProperty('idCard')" class="input-wrapper">
              <input name="idcardno" id="idcardno" class="text" type="text" value="{{ctrl.idcardno | secureMask : 'idcard'}}" disabled>
            </div>
            <div ng-if="ctrl.oldinfo == undefined || !ctrl.oldinfo.hasOwnProperty('idCard')" class="input-wrapper">
              <input ng-show="ctrl.editIdcardno" name="idcardno" id="idcardno" class="text" type="text" placeholder="请输入身份证号" ng-model="ctrl.idcardno" ng-minlength="15" ng-maxlength="18" ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/" required autocomplete="off" ng-blur="ctrl.onIdcardnoBlur()">
              <input ng-hide="ctrl.editIdcardno" id="format-idcardno" class="text" type="text" readonly ng-click="ctrl.onFmtIdcardnoClick()">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.idcardno.$valid]" ng-show="theForm.idcardno.$dirty"></i>
              <span class="error" ng-show="theForm.idcardno.$error.pattern">请输入正确的身份证号码</span>
              <span class="error" ng-show="theForm.idcardno.$dirty && theForm.idcardno.$error.required">请输入身份证号码</span>
            </div>
          </div>
        </div>
        <div class="block-title">银行信息</div>
        <div class="block-detail">
          <div class="elem-row">
            <div class="label">银行卡号：</div>
            <!--<div class="input-wrapper">
              <input name="bankcardno" id="bankcardno" class="text" type="text" placeholder="请输入银行卡号（仅支持借记卡）" ng-model="ctrl.bankcardno" required valbankcardno autocomplete="off" ng-disabled="ctrl.oldinfo != undefined && ctrl.oldinfo.hasOwnProperty('bankCard')">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.bankcardno.$valid]" ng-show="theForm.bankcardno.$dirty"></i>
              <span class="error" ng-show="theForm.bankcardno.$error.valbankcardno">请输入正确的银行卡号</span>
              <span class="error" ng-show="theForm.bankcardno.$dirty && theForm.bankcardno.$error.required">请输入您充值和提现的银行卡号</span>
            </div>-->
            <div ng-if="ctrl.oldinfo != undefined && ctrl.oldinfo.hasOwnProperty('idCard')" class="input-wrapper">
              <input name="bankcardno" id="bankcardno" class="text" type="text" value="{{'尾号' + ctrl.bankcardno.slice(-4)}}" disabled>
            </div>
            <div ng-if="ctrl.oldinfo == undefined || !ctrl.oldinfo.hasOwnProperty('idCard')" class="input-wrapper">
              <!--！！！！！！！！！！！！！！！！！！！！！！！！！！为了测试暂时注掉 valbankcardno ！！！！！！！！！！！！！！！！！！！！！！！！ 开始-->
              <input ng-show="ctrl.editBankcardno" name="bankcardno" id="bankcardno" class="text" type="text" placeholder="请输入银行卡号（仅支持借记卡）" ng-model="ctrl.bankcardno" required valbankcardno autocomplete="off" ng-blur="ctrl.onBankcardnoBlur()">
              <!--<input name="bankcardno" id="bankcardno" class="text" type="text" placeholder="请输入银行卡号（仅支持借记卡）" ng-model="ctrl.bankcardno" required autocomplete="off">-->
              <!--！！！！！！！！！！！！！！！！！！！！！！！！！！为了测试暂时注掉 valbankcardno ！！！！！！！！！！！！！！！！！！！！！！！！ 结束-->
              <input ng-hide="ctrl.editBankcardno" id="format-bankcardno" class="text" type="text" readonly ng-click="ctrl.onFmtBankcardnoClick()">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.bankcardno.$valid]" ng-show="theForm.bankcardno.$dirty"></i>
              <span class="error" ng-show="theForm.bankcardno.$error.valbankcardno">请输入正确的银行卡号</span>
              <span class="error" ng-show="theForm.bankcardno.$dirty && theForm.bankcardno.$error.required">请输入您充值和提现的银行卡号</span>
            </div>
          </div>
          <div class="elem-row">
            <div class="label">选择银行：</div>
            <div class="input-wrapper">
              <style type="text/css">
                .dropdown dt , .dropdown2 dt{ margin:0px; border: 1px solid #dbdbdb; padding-right: 10px;width: 248px;height: 24px;line-height: 24px;padding: 7px 10px;-moz-border-radius: 1px;-webkit-border-radius: 1px;font-size: 14px;color: #555; }
                .dropdown dd, .dropdown ul { width: 300px; margin:0px; padding:0px; }
                .dropdown dd { position:relative; z-index: 99; }
                .dropdown, .dropdown:visited { color:#666666; text-decoration:none; outline:none; }
                .dropdown a:hover { color:#5d4617; }
                .dropdown dt span { display: block; background: url(../main/images/bank/arrow.png) no-repeat scroll right center; cursor:pointer; }
                .dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #dbdbdb; color:#C5C0B0; display:none; left:0px; padding:5px 0px; position:absolute; top:2px; min-width:170px; list-style:none; height: 212px; overflow-y: scroll; }
                .dropdown span.value { display:none; }
                .dropdown dd ul li { padding:5px; display:block; }
                .dropdown dd ul li:hover { background-color:#f2f2f2; }
                .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
              </style>
              <dl class="dropdown bankname">
                <dt><span>请选择银行</span></dt>
                <dd>
                  <ul>
                    <li ng-repeat="item in ctrl.bankInfo" ng-click="ctrl.onClickBank($event,item)"><img class="flag" src="../main/images/bankBK/{{$index+1}}.jpg" alt="" /><span class="value">{{item.parentBankId}}</span></li>
                  </ul>
                </dd>
              </dl>
              <script type="text/javascript">
                  $('.bankname').ready(function() {
//                      /*$(".bankname dt").click(function() {
//                          $(".bankname dd ul").toggle();
//                      });*/
                      $(".bankname dt").click(function() {
                          if ($(".bankname dt").hasClass("frozen")) return false;
                          $(".bankname dd ul").toggle();
                      });
                      $('.bankname').bind('click', function(e) {
                          var $clicked = $(e.target);
                          if (! $clicked.parents().hasClass("bankname"))
                              $(".bankname dd ul").hide();
                      });
                  });
              </script>
            </div>
          </div>
          <div class="elem-row">
            <div class="label">开户行所在地：</div>
            <div class="input-wrapper">
              <style type="text/css">
                .dropdown2 dd { position:relative; z-index: 99; }
                .dropdown2, .dropdown2:visited { color:#666666; text-decoration:none; outline:none; }
                .dropdown2 a:hover { color:#5d4617; }
                .dropdown2 dt span { display: block; background: url(../main/images/bank/arrow.png) no-repeat scroll right center; cursor:pointer;}
                .dropdown2 dd .areabox { width: 380px; background:#f8fcff; border:1px solid #d4eefd; color:#666666; display:none; left:0px; padding:5px 10px 15px; position:absolute; top:2px; min-width:170px; list-style:none; }
                .dropdown2 dd .areabox span.title { color: #333; display: block; border-bottom: 1px solid #dddddd; margin-bottom: 10px; }
                .dropdown2 dd .areabox .save { line-height: 24px; display: block; float: left; position: relative;}
                .dropdown2 dd .areabox .save .aa { background-color:#4bacfd; color: #fff;  }
                .dropdown2 dd .areabox .save .bb { background-color:#4bacfd;}
                .dropdown2 dd .areabox .save span.savename{ display: block; float: left; padding: 5px 6px;}
                .dropdown2 dd .areabox .save .city{border: 1px solid #4bacfd;  padding: 5px 6px; background: #fff; z-index: 8; }
                .dropdown2 dd .areabox .save .city span { display: block; float:
                    left; padding: 5px 6px;}
                .dropdown2 dd .areabox .save .city{ width: 200px; max-height: 200px;overflow-y: scroll; position: absolute; line-height: 24px; padding: 5px 6px;}
                .dropdown2 dd .areabox .save span.savename:hover { background-color:#4bacfd; color: #fff; }
                .dropdown2 img.flag { border:none; vertical-align:middle; margin-left:10px; }
              </style>
              <dl class="dropdown2 userdropdown2">
                <dt><span>省</span></dt>
                <dd>
                  <div class="areabox" style="font-size: 16px;">
                    <span class="title">请选择开户行所在地：</span>
                    <div class="save">
                      <span class="savename" ng-repeat="tool in ctrl.saves" ng-click="ctrl.onClickMenuItem($event,tool)">{{tool.province}}
                      </span>
                      <div class="city" ng-show="ctrl.showlala" >
                        <span ng-repeat="item in ctrl.investList" ng-click="ctrl.cityClick($event,item)">{{item.city}}</span>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <script type="text/javascript">
                  $('.userdropdown2').ready(function() {
                      $(".userdropdown2 dt").click(function() {
                          $(".userdropdown2 dd .areabox").toggle();
                      });
                      $('.userdropdown2').bind('click', function(e) {
                          var $clicked = $(e.target);
                          if (! $clicked.parents().hasClass("userdropdown2"))
                              $(".userdropdown2 dd .areabox").hide();
                      });
                  });
              </script>
            </div>
          </div>
        </div>
        <div ng-if="ctrl.oldinfo == undefined">
          <div class="block-title">设置交易密码</div>
          <div class="block-detail">
            <div class="elem-row">
              <div class="label">交易密码：</div>
              <div class="input-wrapper">
                <input name="passwd" id="passwd" class="text" type="password" placeholder="6位数字组合" ng-pattern="/^\d{6}$/" ng-model="ctrl.password" maxlength="6" minlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" required autocomplete="off">
                <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.passwd.$valid]" ng-show="theForm.passwd.$dirty"></i>
                <span class="error" ng-show="theForm.passwd.$error.pattern">交易密码格式不正确</span>
                <span class="error" ng-show="theForm.passwd.$dirty && theForm.passwd.$error.required">请输入交易密码</span>
              </div>
            </div>
            <div class="elem-row">
              <div class="label">确认交易密码：</div>
              <div class="input-wrapper">
                <input name="confirmpass" id="confirmpass" class="text" type="password" placeholder="再次输入交易密码" ng-model="ctrl.confirmpass" match="passwd" autocomplete="off" minlength="6" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" required autocomplete="off">
                <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.confirmpass.$valid]" ng-show="theForm.confirmpass.$dirty"></i>
                <span class="error" ng-show="theForm.confirmpass.$error.match && !theForm.confirmpass.$error.required">两次输入的交易密码不符</span>
                <span class="error" ng-show="theForm.confirmpass.$dirty && theForm.confirmpass.$error.required">请再次输入您的交易密码</span>
              </div>
            </div>
          </div>
      </div>
      <div ng-if="ctrl.oldinfo !=undefined">
        <div class="block-title">设置提现密码</div>
        <div class="block-detail">
          <div class="elem-row">
            <div class="label">提现密码：</div>
            <div class="input-wrapper">
              <input name="passwd" id="passwd" class="text" type="password" placeholder="6位数字组合" ng-pattern="/^\d{6}$/" ng-model="ctrl.password" maxlength="6" minlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" required autocomplete="off">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.passwd.$valid]" ng-show="theForm.passwd.$dirty"></i>
              <span class="error" ng-show="theForm.passwd.$error.pattern">提现密码格式不正确</span>
              <span class="error" ng-show="theForm.passwd.$dirty && theForm.passwd.$error.required">请输入提现密码</span>
            </div>
          </div>
          <div class="elem-row">
            <div class="label">确认提现密码：</div>
            <div class="input-wrapper">
              <input name="confirmpass" id="confirmpass" class="text" type="password" placeholder="再次输入提现密码" ng-model="ctrl.confirmpass" match="passwd" autocomplete="off" minlength="6" maxlength="6" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" required autocomplete="off">
              <i ng-class="{true: 'common-form-ok', false: 'common-form-error'}[theForm.confirmpass.$valid]" ng-show="theForm.confirmpass.$dirty"></i>
              <span class="error" ng-show="theForm.confirmpass.$error.match && !theForm.confirmpass.$error.required">两次输入的提现密码不符</span>
              <span class="error" ng-show="theForm.confirmpass.$dirty && theForm.confirmpass.$error.required">请再次输入您的提现密码</span>
            </div>
          </div>
          <p class="about-withdraw-pwd">* 若您之前没有设置过交易密码，设置提现密码会同时设置为您投资时的交易密码。</p>
        </div>
      </div>
      <div class="submit-wrapper">
        <div class="btn-line">
          <div ng-if="ctrl.submitting == false" ng-class="['submit', theForm.$invalid || ctrl.hasUnSelect ? 'inactive' : '']" ng-click="theForm.$invalid || ctrl.hasUnSelect || ctrl.submit()">提交</div>
          <div ng-if="ctrl.submitting == true" class="submit inactive" style="width: 196px;">正在提交...</div>
          <!--<div ng-if="ctrl.skipOk" class="skip" ng-click="ctrl.skip()">暂时跳过</div>-->
          <div ng-if="ctrl.skipOk && ctrl.submitting == false" class="skip" ng-click="ctrl.skip()">暂时跳过</div>
        </div>
        <!--<p ng-click="ctrl.onClickAccord()">《多融财富投资服务协议》</p>-->
        <p><a href="/cgxy" target="_blank" style="text-decoration: none;">《资金存管三方协议》</a></p>
      </div>
    </form>
  </div>
</div>