<div ng-cloak class='ng-scope ng-cloak' ng-controller="cpaCtrl">
	<div class="bread-nav-wrapper new-bread-wrapper">
		<div class="bread-nav">
			<div class="bread-box"><span ng-repeat="item in path"><a href="{{item.url}}">{{item.pathName}}</a> > </span>{{title}}</div>
		</div>
	</div>

	<div class="bill-detail-wrap new-detail-wrap">
		<div class="bill-detail-content">
			<div class="bill-detail-box">
				<div class="bill-detail">
					<div class="detail-box">
						<div class="title">
							<b>{{product.fullName}}</b>
							<p class="feature">
                                <span class="ng-binding">投资成功次日起息</span>
								<i class="bill-detail-bao"></i>
                            </p>
						</div>
						<div class="list-wrap" ng-class="{6: 'end-list',7: 'end-list',8: 'end-list',9: 'end-list'}[product.status]"> 
							<ul>
								<li class="rate-mod">
									<div class="rate"><b>{{product.rate}}</b><span>%</span></div>
									<!--<p>预期年化收益率</p>-->
									<p>历史年化收益率</p>
								</li>
								<li class="date-mod">
									<div><b>{{product.deadline}}</b><span>天</span></div>
									<p>投资期限</p>
								</li>
								<li>
									<div><b>{{product.leastaAmount | isNumber2}}</b><span> 元</span></div>
									<p>起投金额</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="bill-form-wrap">
					<div class="form-box">
						<i class="bill-hot-icon"></i>
						<form>
							<div class="recharge-box">
								<div class="my-rest">账户余额：<b ng-hide="isHideNowNum">{{account.balance| isNumber2}} </b>元</div>
								<a ng-show="(a | isRegister).register" target="_blank" href="/main/myAccount/recharge" class="recharge-btn">充值</a>
							</div>
							<div class="input-box">
								<ul>
									<li ng-show="(a | isRegister).register" ng-click="onClick('cut')"><span ng-class="{true:'cut',false:'cut nouse'}[product.nowNum > product.leastaAmount]">-</span></li>
									<li><input ng-disabled="!(a | isRegister).register" ng-blur="onClick('keyUpBalance',$event,amount)" class="text" type="text" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " ng-model="product.nowNum" name="amount" autocomplete="off"/></li>
									<li ng-show="(a | isRegister).register" ng-click="onClick('add')"><span ng-class="{true:'add',false:'add nouse'}[product.nowNum < product.maxAmount]">+</span></li>
								</ul>
							</div>
							 <span class="error" style="color:red;position: absolute;" ng-show="(product.nowNum-product.leastaAmount)%product.increasAmount != 0 && !(product.nowNum<product.leastaAmount) && !(product.nowNum>product.maxAmount)">注意：输入金额应该是{{product.increasAmount}}的倍数</span>

							<div class="profit" style="margin-top: 2px;">预计利息收益：<b>{{(product.rate/100 / 365 * product.nowNum * product.deadline) | isNumber2}}</b> 元</div>
							<div class="sub-box">
								<!-- <input type="submit" ng-if="XQ.tpwdFlag && (a | isRegister).register" ng-click="onClick('立即投资')" class="sub invest-btn" />
								
								<input type="submit" ng-if="(account.balance < product.leastaAmount)||(account.balance - product.nowNum < 0)" ng-click="onClick('余额不足')" class="sub invest-btn" ng-value="余额不足" /> -->
								<input type="submit" ng-if="XQ.tpwdFlag && (a | isRegister).register && (product.type == 1) == isNewGay" ng-disabled="!playSound || (account.balance < product.leastaAmount)||(product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount || (account.balance - product.nowNum < 0)) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0" ng-click="onClick('跳转投资')" class="sub invest-btn" ng-value="{true:'余额不足',false:'立即去官网投资'}[(account.balance < product.leastaAmount)||(account.balance - product.nowNum < 0)]" />
								
								<input type="submit" ng-if="!XQ.tpwdFlag && (a | isRegister).register" class="sub invest-btn" value="交易密码未设置" ng-click="onClick('密码未设')"/>
								
								<input type="submit" ng-if="!(a | isRegister).register" ng-click="onClick('注册')"  class="sub invest-btn" value="请注册后投资" />
							</div>
							<div class="checkbox-mod">
								<label><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="playSound"  />我已阅读并同意<a href="/qy" target="_blank" >《权益转让及受让协议》</a>
							</label>
							</div>
						</form>
					</div>
					<div class="fin-box" ng-if="product.status == 6 || item.status == 7 || product.status == 8 || product.status == 9">
						<div class="fin-data">
							<div class="data">
								<b>{{investList.length}}</b>
								<p>已投资人数</p>
							</div>
							<div class="data date" ng-if="item.status == 7 || product.status == 8 || product.status == 9">
								<b>{{product.expireDate | date:'y-MM-d'}} </b>
								<p>预计回款日期</p>
							</div>
							<div class="data date" ng-if="product.status == 6 ">
								<b>待计息 </b>
								<p>预计回款日期</p>
							</div>
						</div>
						<span ng-class="{6: 'bill-detail-end',7: 'bill-detail-end',8: 'bill-detail-ing',9: 'bill-detail-fin'}[product.status]"></span>
					</div>	
				</div>
			</div>
			<div class="cpa-bg"></div>
		</div>

	</div>
</div>