<div class="pointMall">
    <div class="point-wrap">
      <div class="bread-nav-wrapper new-bread-wrapper" style="position: relative; left: -30px;">
        <div class="bread-nav">
          <div class="bread-box"><span ng-repeat="item in ctrl.path"><a href="{{item.url}}">{{item.pathName}}</a> > </span>{{ctrl.title}}</div>
        </div>
      </div>
      <div class="detail-wrapper">
        <!--  详情页顶部 -->
        <div class="detailTop clearfix">
          <div class="goodsImg">
            <!--<p class="value"><span>2</span>%</p>
            <p class="goodsName">加息券</p>-->
          </div>
          <div class="mainArea">
            <!--  加息券名称 -->
            <div class="top">
              <p class="goodsName">{{ctrl.goodsInfo.name}}</p>
              <p class="newValue">价格：<span>{{ctrl.goodsInfo.realPoints | currency : '' : 0}}</span><span>积分</span></p>
              <p ng-show="ctrl.goodsInfo.originalPoints" class="oldValue">原价：{{ctrl.goodsInfo.originalPoints | currency : '' : 0}}积分</p>
            </div>
            <!-- 兑换 -->
            <div class="bottom">
              数量：
              <ul>
                <li><div class="letter" ng-click="ctrl.onQuantity(false)">&minus;</div></li>
                <li><div class="letter" style="font-size: 20px; font-weight: normal;"><span ng-bind="ctrl.quantity"></span></div> </li>
                <li><div class="letter" ng-click="ctrl.onQuantity(true)">&plus;</div></li>
              </ul>
              <p class="rongliang number">库存：<span>{{ctrl.goodsInfo.storeDesc}}</span></p>
            </div>
            <div class="exchangeBtn">
              <div class="btn" ng-click="ctrl.popConfirm()">立即兑换</div><span ng-if="ctrl.goodsInfo.exchangeCount == 0" class="tishi">*本商品每个用户只允许兑换1次*</span>
            </div>

          </div>

        </div>
        <!-- 商品说明 -->
        <div class="description">
          <div class="titleline"></div>
          <div class="title">商品说明</div>
          <div ng-if="ctrl.goodsInfo.type == 1" class="use-condition">
            <p ng-if="ctrl.goodsInfo.hasOwnProperty('deadline')">有效日期：兑换后{{ctrl.goodsInfo.deadline}}天内有效</p>
            <p ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount') || ctrl.goodsInfo.hasOwnProperty('maxAmount') || ctrl.goodsInfo.hasOwnProperty('productDeadline') || ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">
              使用条件：<span ng-if="ctrl.goodsInfo.hasOwnProperty('productDeadline') == false && ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">投资期限≤</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">{{ctrl.goodsInfo.maxProductDeadline}}天</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxProductDeadline') && ctrl.goodsInfo.hasOwnProperty('productDeadline')">≥</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('productDeadline')">投资期限≥{{ctrl.goodsInfo.productDeadline}}天</span>且可用现金红包
              <span ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount') == false && ctrl.goodsInfo.hasOwnProperty('maxAmount')">投资金额≤</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxAmount')">{{ctrl.goodsInfo.maxAmount | currency : '' : 0}}元</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxAmount') && ctrl.goodsInfo.hasOwnProperty('enableAmount')">≥</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount')">投资金额≥{{ctrl.goodsInfo.enableAmount | currency : '' : 0}}元</span>
            </p>
          </div>
          <div ng-if="ctrl.goodsInfo.type == 2" class="use-condition">
            <p ng-if="ctrl.goodsInfo.hasOwnProperty('deadline')">有效日期：兑换后{{ctrl.goodsInfo.deadline}}天内有效</p>
            <p ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount') || ctrl.goodsInfo.hasOwnProperty('maxAmount') || ctrl.goodsInfo.hasOwnProperty('productDeadline') || ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">
              使用条件：<span ng-if="ctrl.goodsInfo.hasOwnProperty('productDeadline') == false && ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">投资期限≤</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxProductDeadline')">{{ctrl.goodsInfo.maxProductDeadline}}天</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxProductDeadline') && ctrl.goodsInfo.hasOwnProperty('productDeadline')">≥</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('productDeadline')">投资期限≥{{ctrl.goodsInfo.productDeadline}}天</span>且可用加息券
              <span ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount') == false && ctrl.goodsInfo.hasOwnProperty('maxAmount')">投资金额≤</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxAmount')">{{ctrl.goodsInfo.maxAmount | currency : '' : 0}}元</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('maxAmount') && ctrl.goodsInfo.hasOwnProperty('enableAmount')">≥</span><span ng-if="ctrl.goodsInfo.hasOwnProperty('enableAmount')">投资金额≥{{ctrl.goodsInfo.enableAmount | currency : '' : 0}}元</span>
            </p>
          </div>
          <div ng-if="ctrl.goodsInfo.type == 2" class="content">
            <p class="contentTitle">加息券的使用方法？</p>
            <p> 加息券可在平台带有“加息券”提示的项目上使用，但每次投资只能使用一券。 </p>
            <p>兑换成功后，在“我的优惠券”中就可以看到您获得的加息券啦。</p>
            <p>如有疑问请联系在线客服或拨打4006-908-896。</p>
          </div>
          <div ng-if="ctrl.goodsInfo.type == 5" class="content">
            <p class="contentTitle">温馨提示：</p>
            <p> 积分兑换实物奖品，将在每月月初前15个工作日内统一发放上月奖品。</p>
          </div>
          <div ng-if="ctrl.goodsInfo.type == 1" class="content">
            <p class="contentTitle">红包的使用方法？</p>
            <p> 红包可在平台带有“现金红包”提示的项目上使用，但每次投资只能使用一个。 </p>
            <p>兑换成功后，在“我的优惠券”中就可以看到您获得的红包啦。</p>
            <p>如有疑问请联系在线客服或拨打4006-908-896。</p>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/ng-template" id="myConfirmModal.html">
  <div class="common-modal-close" onClick="document.body.firstElementChild.click()"></div>
  <div class="confirm-exg-modal-header">
    <span>确认兑换</span>
  </div>
  <div  class="confirm-exg-modal-detail">
    <table>
      <thead>
      <tr>
        <td width="165">商品名称</td>
        <td width="225">价格</td>
        <td width="180">数量</td>
        <td width="200">总计</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{$ctrl.goods.name}}</td>
        <td>{{$ctrl.goods.price}}</td>
        <td>{{$ctrl.goods.qty}}</td>
        <td>{{$ctrl.goods.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="confirm-exg-modal-total">
    支付总额 : <span>{{$ctrl.goods.total}}</span>积分
  </div>
  <div class="confirm-exg-btn" ng-click="$ctrl.onOk()"><span>确认兑换</span></div>
</script>

<script type="text/ng-template" id="myNotifyModal.html">
  <div class="common-modal-close" onClick="document.body.firstElementChild.click()"></div>
  <div class="notify-modal-content">
    <h3>{{$ctrl.title}}</h3>
    <span ng-if="$ctrl.detail != ''" class="confirm-exg-modal-detail">
      {{$ctrl.detail}}
    </span>
  </div>
  <div class="notify-modal-btn" ng-click="$ctrl.forward()"><span>{{$ctrl.btnName}}</span></div>
</script>
